{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div>
        <div class="heading mw">
            <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
                <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
            </div>
            <div class="menu-mob">
                <input id="menu-checkbox" type="checkbox"/><span class="burger__bg burger__bg-js"></span><span class="burger__element"></span>
                <ul class="menu">
                    <li><a href="#travel" class="burger__link">ПРОГРАМА ТУРУ</a></li>
                    <li><a href="#place" class="burger__link">ФОТО</a></li>
                    <li><a href="#order" class="burger__link">ВАРТІСТЬ</a></li>
                    <li><a href="#order" class="burger__link">ЗАМОВИТИ</a></li>
                </ul>
            </div>
        </div>
        <div class="hero">
            <div class="hero__container">
                <div class="hero__menu">
                    <div class="menu">
                        <div class="menu__container">
                            <ul class="menu__list">
                                <li><a href="#place">Фото</a></li>
                                <li><a href="#travel">Програма туру</a></li>
                                <li><a href="#order">Придбати квитки</a></li>
                            </ul>
                            <ul class="menu__list">
                                <li><a href="/">Iнші семінари</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hero__content">
                    <p class="hero__date">5–11 травня 2020 р.</p>
                    <div class="hero__text">
                        <p class="hero__title">Країна тюльпанів –<br/><span>Нідерланди</span></p>
                    </div>
                    <div class="hero__btn"><a href="#order" class="btn">ЗАМОВИТИ</a></div>
                </div>
            </div>
        </div>
        <div id="place" class="place">
            <div class="place__container">
                <div class="caption">Амстердам – <br/><span>квітка Європи</span>
                </div>
                <div class="place__block">
                    <div class="place__item">
                        <picture><img src="{{ link }}/img1-min.jpg" alt="amsterdam"/>
                            <source srcset="{{ link }}/img1.webp" type="image/webp"/>
                        </picture>
                        <div class="place__text">
                            <p>Весняна подорож<br/>у країну краси</p>
                        </div>
                    </div>
                    <div class="place__item">
                        <picture><img src="{{ link }}/img2-min.jpg" alt="amsterdam"/>
                            <source srcset="{{ link }}/img2.webp" type="image/webp"/>
                        </picture>
                        <div class="place__text">
                            <p>Тур європейськими<br/>столицями</p>
                        </div>
                    </div>
                    <div class="place__item">
                        <picture><img src="{{ link }}/img3-min.jpg" alt="amsterdam"/>
                            <source srcset="{{ link }}/img3.webp" type="image/webp"/>
                        </picture>
                        <div class="place__text">
                            <p>Фантастичне<br/>свято квітів</p>
                        </div>
                    </div>
                </div>
                <div class="place__btn"><a href="#tour" class="btn">Подробиці</a></div>
            </div>
        </div>
        <div id="travel" class="travel">
            <div class="travel__container">
                <div class="caption"><span>Найочікуваніший</span> проект року!
                </div>
                <div class="travel__block">
                    <div class="travel__item travel__item--amsterdam">
                        <picture><img src="{{ link }}/img4-min.jpg" alt="amsterdam"/>
                            <source srcset="{{ link }}/img4.webp" type="image/webp"/>
                        </picture>
                        <div class="travel__text travel__text--right"><b>Загадковий Амстердам</b>
                            <p>Ми проведемо три незабутні дні в Амстердамі – в місті, яке вражає з першого погляду! Його дивовижної краси вулички, канали та площі, танцюючі будинки і шалена різнобарвність тюльпанів – це неперевершено!</p>
                        </div>
                    </div>
                    <div class="travel__item travel__item--warsawa">
                        <picture><img src="{{ link }}/warsawa-min.jpg" alt="warsawa"/>
                            <source srcset="{{ link }}/warsawa.webp" type="image/webp"/>
                        </picture>
                        <div class="travel__text travel__text--left"><b>Пані Варшава</b>
                            <p>Нас чекає столиця Польщі з кольоровим і романтичним Старим Ринком, затишними кав'ярнями і сувенірними крамничками. Познайомимося з історією, архітектурою та традиціями красуні-Варшави.</p>
                        </div>
                    </div>
                    <div class="travel__item travel__item--berlin">
                        <picture><img src="{{ link }}/img6-min.jpg" alt="berlin"/>
                            <source srcset="{{ link }}/img6.webp" type="image/webp"/>
                        </picture>
                        <div class="travel__text travel__text--right"><b>Величний Берлін</b>
                            <p>Мегаполіс, в якому буде здаватися, що ми подорожуємо в машині часу. Тут можна потрапити в майбутнє і опинитися в минулому, а прогулюючись розкішними вулицями, ми зможемо побачити сучасне.</p>
                        </div>
                    </div>
                    <div class="travel__item travel__item--ganover">
                        <picture><img src="{{ link }}/img7-min.jpg" alt="ganover"/>
                            <source srcset="{{ link }}/img7.webp" type="image/webp"/>
                        </picture>
                        <div class="travel__text travel__text--left"><b>Старовинний Ганновер</b>
                            <p>Столиця Нижньої Саксонії зачаровує зеленими парковими ансамблями, маленькими, майже ляльковими типовими німецькими будинками і вуличками Старого міста.</p>
                        </div>
                    </div>
                </div>
                <div class="travel__btn"><a href="https://7eminar.com/files/presentation__amsterdam05052020.pdf" target="_blank" class="btn">ДЕТАЛІ ТУРУ</a></div>
            </div>
        </div>
        <div id="tour" class="tour">
            <div class="tour__container">
                <div class="caption"><span>У вартість</span> туру входить
                </div>
                <div class="include">
                    <div class="include__item">
                        <ul class="include__list include__list--left">
                            <li>
                                <div class="include__text"><b>Трансфер автобусом за маршрутом:</b>
                                    <p>Львів – Варшава – Берлін – Амстердам – <br/>Ганновер – Вроцлав – Львів
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="include__text"><b>Харчування:</b>
                                    <p>сніданки в готелях</p>
                                </div>
                            </li>
                            <li>
                                <div class="include__text"><b>Депозит:</b>
                                    <p>61 євро на додаткові екскурсії</p>
                                </div>
                            </li>
                            <li>
                                <div class="include__text"><b>Супровід:</b>
                                    <p>протягом всього туру – гід та <br/>керівник групи від 7eminar.com
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="include__item">
                        <ul class="include__list include__list--right">
                            <li>
                                <div class="include__text"><b>Проживання в готелях:</b>
                                    <p>6 ночей (три з них в Амстердамі)</p>
                                </div>
                            </li>
                            <li>
                                <div class="include__text"><b>Екскурсії:</b>
                                    <p>Варшава, Берлін, Амстердам, <br/>Ганновер, Вроцлав
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="include__text"><b>Безпека:</b>
                                    <p>страховий поліс на час подорожі</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="accompaniment">
                    <picture class="accompaniment__img"><img src="{{ link }}/mn.jpg" alt="mn"/></picture>
                    <div class="accompaniment__text">
                        <p>Безмежна турбота під час подорожі<br/>від івент-директора компанії – <br/><span>Марини Нікуліної.</span>
                        </p>
                        <p>Пізнавайте світ з 7eminar.com!</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="order" class="order">
            <div class="order__container">
                <div id="timer-custom" class="order__timer">
                    <div class="caption">Залишилося лише<br/> <span>4 квитки</span>
                    </div>
                </div>
                <div class="order__packages">
                    <div class="order__package  package package--club">
                        <div class="package__body  package__body--club">
                            <p class="package__format">Вартість туру для учасників 7eminar.club</p>
                            <p class="package__old-price">
                                <s> {{shop_price('тур-11052020_Амстердам_ЧК','line')}}<</s>
                            </p>
                            <p class="package__price  package__price--club"> {{shop_price('тур-11052020_Амстердам_ЧК','site')}}<span>грн</span>
                            </p>
                            <p class="package__presents">Подарунок</p>
                            <ul class="package__list package__list--footer">
                                <div class="present">
                                    <p>Доступ до <a href="https://7eminar.ua/" target="_blank" class="js-banner-link">Бухгалтерської відеоплатформи №1</a><br/>протягом трьох місяців
                                    </p>
                                </div>
                            </ul>
                            <div class="package__btn">
                                <form method="post" action="?new=1" data-validate="ajax">
                                    <input type="hidden" name="product" value="тур-11052020_Амстердам_ЧК"/>
                                    <button type="submit" rel="order" class="btn">Хочу в тур</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="order__package  package package--no-club">
                        <div class="package__body  package__body--no-club">
                            <p class="package__format">Вартість туру за одного <br>  учасника </p>
                            <p class="package__old-price">
                                <s> {{shop_price('тур-11052020_Амстердам','site')}}<</s>
                            </p>
                            <p class="package__price  package__price--no-club"> {{shop_price('тур-11052020_Амстердам','site')}}<span>грн</span>
                            </p>
                            <p class="package__presents">Подарунок</p>
                            <ul class="package__list package__list--footer">
                                <div class="present">
                                    <p>Доступ до <a href="https://7eminar.ua/" target="_blank" class="js-banner-link">Бухгалтерської відеоплатформи №1</a><br/>протягом трьох місяців
                                    </p>
                                </div>
                            </ul>
                            <div class="package__btn">
                                <form method="post" action="?new=1" data-validate="ajax">
                                    <input type="hidden" name="product" value="тур-11052020_Амстердам"/>
                                    <button type="submit" rel="order" class="btn">Хочу в тур</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="info__container">
                <div class="info__frame">
                    <div class="info__title">Важлива інформація</div>
                    <ul>
                        <li>Сплачувати виїзні заходи можна частинами. 100% оплати повинні надійти не пізніше ніж за 7 днів до початку туру.</li>
                        <li>У разі відмови від туру: за 14 днів – утримується 60% оплати, менш ніж за 13 днів – утримується 100% оплати.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="video" class="video">
            <div id="bar-1" class="video__content">
                <div class="slider">
                    <div class="slide">
                        <div class="caption"><span>Відкривайте світ</span><br/>  з нами
                        </div>
                        <div class="video__player"><a href="https://youtu.be/YaAwSaMYDyU" class="video__link">
                                <picture><img src="https://i.ytimg.com/vi/YaAwSaMYDyU/maxresdefault.jpg" alt="Тетяна Мойсеєнко" class="video__media"/></picture></a>
                            <button aria-label="play" class="video__button">
                                <svg>
                                    <path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="video__button-shape"></path>
                                    <path d="M 45,24 27,14 27,34" class="video__button-icon"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video__btn"><a href="#order" target="_blank" class="btn">Замовити</a></div>
        <div class="partners">
            <div class="container partners__container">
                <ul class="partners__list">
                    <li><a href="https://7eminar.com/" target="_blank"><img src="/modules/seminars/images/logos/kbs.png" width="145" height="38" alt="Київська Бухгалтерська Служба"/></a></li>
                    <li><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></li>
                    <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></li>
                </ul>
                <ul class="partners__list">
                    <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></li>
                    <li><a href="https://kraft.net.ua" target="_blank" class="logonoclik"><img style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" class="img_partners1"/></a></li>
                </ul>
            </div>
        </div>
        <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
            <div role="document" class="modal-dialog">
                <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
                <div class="modal-content">
                    <div class="player"></div>
                </div>
            </div>
        </div>
        <div id="loader-page" class="loader-page">
            <div class="dots">
                <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
            </div>
        </div>
    </div>
</div>