{% set link_platform = "https://7eminar.ua/?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=vrs_21012021_button_tabl_tsin" %}
{% set link_platform_video = "https://7eminar.ua/?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=vrs_21012021_button_video" %}

{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
        <div class="menu-mob">
            <input id="menu-checkbox" type="checkbox"/><span class="burger__bg burger__bg-js"></span><span class="burger__element"></span>
            <ul class="menu">
                <li><a href="#lectors" class="burger__link js-scroll-to">Лектори</a></li>
                <li><a href="#info" class="burger__link js-scroll-to">Про що дізнаєтесь</a></li>
                <li><a href="#profession" class="burger__link js-scroll-to">Для кого</a></li>
                <li><a href="#themes" class="burger__link js-scroll-to">теми</a></li>
                <li><a href="#order" class="burger__link js-scroll-to">ПРИДБАТИ</a></li>
            </ul>
        </div>
    </div>

    <div class="hero">
        <div class="hero__container container">
            <div class="menu ">
                <div class="menu__container">
                    <ul class="menu__list">
                        <li><a class="js-scroll-to" href="#lectors">Лектори</a></li>
                        <li><a class="js-scroll-to" href="#themes">теми</a></li>
                        <li><a class="js-scroll-to" href="#order">ПРИДБАТИ</a></li>
                    </ul>
                </div>
            </div>
            <div class="hero__top-container dk-show-flex">
                <a class="hero__logo-dk" href="https://dtkt.ua/about" target="_blank">
                    <img src="{{ link }}/logo-dk.png" width="200" height="52" alt="«Дебет-Кредит» | Бухгалтерський сервіс №1 в Україні">
                </a>
                <a class="hero__logo-seminar" href="https://7eminar.com/" target="_blank">
                    <img src="{{ link }}/7minar_logo_color.png" width="186" height="42" alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
                </a>
            </div>
            <div class="hero__content">
                <p class="hero__date">21 січня <span>2021 року</span></p>
                <p class="hero__title">
                   <span>Великий</span>  <br>
                   <b>Річний</b>  <br>
                   Online-семінар
                </p>
                <div class="hero__incline">
                    <p class="hero__sub-title">Допоможемо з річною звітністю <br>
                        та розберемо важливі новації</p>

                    <p class="hero__lectors-name">В. Величко, М. Кавин, Т. Алієв, Т. Мойсеєнко, С. Дробоття</p>
                </div>



                <p class="hero__btn">
                    <a href="#video" class="btn">Детальніше ></a>
                </p>
            </div>


        </div>
    </div>

    <div class="video" id="video">
        <div class="video__container container">
            <h2 class="video__title">Наочікуваніша online-подія січня</h2>
            <div class="video__content">
                <div class="video__item video__item--video">
                    <div class="slider">
                        <iframe src="https://www.youtube.com/embed/3tYZCT5lfkU?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
                <div class="video__item video__item--text" >
                    <div class="video__text">
                        <p> Початок року у бухгалтера асоціюється з річною звітністю
                            та «приємними» подарунками під ялинку від законодавців.
                            І 2021-й не є виключенням. Ми допоможемо вам пережити
                            цей період спокійно. </p>
                        <p> Величезну кількість змін детально розберуть ТОПові лектори
                            на семінарі 21 січня, а також підкажуть, як не потрапити
                            в розставлені пастки під час складання звітності.</p>
                        <p>Ви отримаєте відповіді на найгостріші питання, фахові поради
                            експертів та знання, що вбережуть компанію від штрафів.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>





    <div class="info"  id="info">
        <div class="info__container container">
            <div class="info__title">ПРО ЩО <br> ВИ ДІЗНАЄТЕСЯ?</div>
            <div class="info__content">
                <ul>
                    <li><b>Розрахунок середньої зарплати:</b>  <br>нові правила за Порядком № 100</li>
                    <li><b>ПДФО та ЄСВ:</b><br> нарахування і звітність</li>
                    <li><b>Робота з готівкою: </b>  <br> оприбуткування, використання РРО, звітування</li>
                </ul>

                <ul>
                    <li><b>Податок на прибуток:</b><br>  як заповнити декларацію-2020</li>
                    <li><b>Розрахунок коригування: </b><br>як впливає на ПДВ-звітність і реєстраційний ліміт</li>
                    <li><b>Єдиний податок та ЄСВ ФОПа:</b><br>  особливості звітування за 2020 рік і новації 2021 року</li>
                </ul>
            </div>
        </div>
    </div>


    <div id="profession" class="profession">
       <div class="profession__container">
           <h2 class="profession__title">для кого буде корисний семінар?  </h2>
           <div class="profession__content">
               <ul class="profession__list">
                   <li>
                       <b> ФОП</b>
                       <p>Ви самостійно ведете
                           бухоблік, і важливо
                           робити це без помилок</p>
                   </li>
                   <li>
                       <b> Головний
                           бухгалтер</b>
                       <p>Ви вже багато що знаєте,
                           практично все,
                           але прагнете бути в курсі
                           змін податкового
                           законодавства
                       </p>
                   </li>
                   <li>
                       <b>
                           Бухгалтер</b>
                       <p>Ви стежите
                           за нововведеннями
                           та бажаєте стати
                           головним бухгалтером</p>
                   </li>
                   <li>
                       <b>Аудитор</b>
                       <p>Ви перевіряєте податкову та фінансову документації і повинні знати всі нюанси змін законодавства для якісного виправлення знайдених помилок</p>
                   </li>

               </ul>
           </div>
           <p class="profession__btn">
               <a href="#order" class="btn js-scroll-to">Детальніше ></a>
           </p>
       </div>
    </div>

    <div id="lectors" class="lectors">
        <div class="lectors__container">
            <div class="lectors__title"> Лектори</div>
            <div class="lectors__content">
                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            <source srcset="{{ link }}/lec_tm.webp" type="image/webp"/>
                            <img src="{{ link }}/lec_tm-min.jpg" alt="Тетяна мойсеєнко"/>
                        </picture>
                    </div>

                    <div class="lectors__footer">
                        <b>Тетяна Мойсеєнко</b>
                        <p>Шеф-редактор 7eminar.com, експерт з трудового права та кадрового обліку</p>
                    </div>
                </div>

                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lec_ta.webp" type="image/webp"/>
                            <img src="{{ link }}/lec_ta-min.jpg" alt="Тимур Алієв"/>
                        </picture>
                    </div>

                    <div class="lectors__footer">
                        <b> Тимур Алієв</b>
                        <p>Консультант з питань бухгалтерського обліку та оподаткування</p>
                    </div>
                </div>




                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            <source srcset="{{ link }}/lec_mk.webp" type="image/webp"/>
                            <img src="{{ link }}/lec_mk-min.jpg" alt="Мар’яна Кавин"/>
                        </picture>
                    </div>

                    <div class="lectors__footer">
                        <b>  Мар’яна Кавин</b>
                        <p>Податковий консультант CAP/СІРА, АССА DipIFR, IFA</p>
                    </div>
                </div>

                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lec_vv.webp" type="image/webp"/>
                            <img src="{{ link }}/lec_vv-min.jpg" alt=" Вікторія Величко"/>
                        </picture>
                    </div>
                    <div class="lectors__footer">
                        <b> Вікторія Величко</b>
                        <p>Сертифікований тренер, практикуючий консультант з питань оподаткування</p>
                    </div>
                </div>



                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lec_sd.webp" type="image/webp"/>
                            <img src="{{ link }}/lec_sd-min.jpg" alt="Сергій Дробоття"/>
                        </picture>
                    </div>
                    <div class="lectors__footer">
                        <b> Сергій Дробоття</b>
                        <p>Консультант з питань оподаткування з багаторічним досвідом роботи в органах ДПС</p>
                    </div>
                </div>
            </div>
            <p class="lectors__btn">
                <a href="#order" class="btn js-scroll-to">Хочу дивитися ></a>
            </p>
        </div>
    </div>

    <div id="themes" class="themes">
        <div class="themes__container">
            <div class="themes__title">регламент</div>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                         <div class="themes__info">
                            <div>
                                <p class="themes__time">10:00–10:45</p>
                                <p class="themes__lector-name"> Сергій Дробоття
                                </p>
                            </div>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">ПДВ: вплив РК на показники податкової звітності та реєстраційний ліміт</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson1" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">

                                <li class="themes__more-list-item"><p>Як позбутися зайвої ПН без негативних наслідків </p>
                                    {# <ul class="themes__more-sub-list">
                                           <li>платники ПДВ за наявності об’єкту оподаткування;  </li>
                                           <li>платники ПДВ за окремими операціями, зокрема фізичні особи-підприємці на спрощеній системі оподаткування 1, 2, 3 груп (за ставкою 5%).</li>
                                       </ul>#}
                                </li>


                                <li class="themes__more-list-item"><p>Списання заборгованостей і СЕА ПДВ </p>
                                </li>
                                <li class="themes__more-list-item"><p>Дата реєстрації в ЄРПН «зменшуючого» РК і реєстраційний ліміт </p></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                         <div class="themes__info">
                             <div>
                                 <p class="themes__time">10:45–11:45</p>
                                 <p class="themes__lector-name">  Тетяна Мойсеєнко
                                 </p>
                             </div>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Зарплатні зміни та звітність</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson2" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">

                                <li class="themes__more-list-item"><p>ПДФО-нарахування та звітність: матеріальні та інші допомоги, заповнення форми № 1 ДФ. Приклади
                                    </p>
                                </li>
                                <li class="themes__more-list-item"><p>ЄСВ-нарахування: доплата до мінімальної зарплати, перехідні виплати  </p></li>

                                <li class="themes__more-list-item"><p>Зміни у розрахунку середньої зарплати для відпускних, днів відрядження, служби в армії тощо: приклади та особливості </p></li>

                                <li class="themes__more-list-item"><p>Нова (стара) зарплатна звітність: що і як зміниться  </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">11:45–12:45</p>
                                <p class="themes__lector-name"> Вікторія Величко
                                </p>
                            </div>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Прибуток і фінзвітність: річна звітність по-новому. Податкові різниці  </p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson3" aria-expanded="false" aria-controls="#lesson3" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson3" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Порядок подання фінансової звітності </p>
                                </li>
                                <li class="themes__more-list-item"><p>Декларація з податку на прибуток: склад і терміни подання для різних платників </p></li>
                                <li class="themes__more-list-item"><p>Додаток РІ: обов’язкове і добровільне подання </p></li>

                                <li class="themes__more-list-item"><p>Різниці, пов’язані з нарахуванням амортизації:  </p>
                                     <ul class="themes__more-sub-list">
                                           <li>вплив бухгалтерського і податкового обліку основних засобів, НМА </li>
                                           <li>як правильно розрахувати різниці </li>
                                           <li>додаток АМ: що змінилося в новій формі </li>
                                           <li>різниці, пов’язані з ліквідацією основних засобів  </li>
                                           <li>відображення ремонтів основних засобів у різницях </li>
                                           <li>використання виробничого методу нарахування амортизації та відображення у різницях </li>
                                           <li>скорочення терміну корисного використання для окремих видів основних засобів і відображення у різницях </li>
                                       </ul>
                                </li>

                                <li class="themes__more-list-item"><p>Додаток ПП і збитки минулих років: приклади (не)відображення  </p></li>
                                <li class="themes__more-list-item"><p>Додаток ПН  </p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">12:45–13:15</p>
                                <p class="themes__lessons-titel">ПЕРЕРВА</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">13:15–14:15 </p>
                                <p class="themes__lector-name"> Мар’яна Кавин
                                </p>
                            </div>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Єдиний податок та ЄСВ: звітування ФОПів. Облік доходів і витрат ФОПів по-новому: як уникнути помилок </p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson4" aria-expanded="false" aria-controls="#lesson4" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson4" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Декларація з єдиного податку та декларація про майно і доходи: строки подання та ключові моменти заповнення</p>
                                </li>
                                <li class="themes__more-list-item"><p>Податковий борг як підстава для анулювання платника єдиного податку ― аналіз норми, яка протягом 2020 року змінювалася тричі </p></li>
                                <li class="themes__more-list-item"><p>Якими мають бути первинні документи ФОПа </p></li>
                                <li class="themes__more-list-item"><p>Відповідальність за відсутність первинки </p></li>
                                <li class="themes__more-list-item"><p>Книга обліку доходів / доходів і витрат – як виглядатиме з 1 січня 2021 року </p></li>

                                <li class="themes__more-list-item"><p>Як підприємцеві відзвітувати за ЄСВ за 2020 рік:  </p>
                                    <ul class="themes__more-sub-list">
                                        <li>Як скористатися ЄСВ карантинним звільненням і правильно відзвітуватися за 2020 рік </li>
                                        <li>Як заповнити звіт з ЄСВ при зміні систем оподаткування посеред року  </li>
                                        <li>Ув’язка показників між книгою, декларацією про майно і доходи та звітом з ЄСВ (форма Д5) </li>
                                        <li>Особливості подання звітності особами, які набули статус пенсіонера  </li>
                                        <li>Строки подання, відповідальність за несвоєчасне подання та помилки, допущені при заповненні </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">14:15–15:00 </p>
                                <p class="themes__lector-name"> Тимур Алієв
                                </p>
                            </div>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Готівкові розрахунки, касові операції: новації та зміни. РРО і ПРРО: відмінності роботи  </p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson5" aria-expanded="false" aria-controls="#lesson5" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson5" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Оприбуткування готівки ФОП: щоденно чи помісячно? </p>
                                </li>
                                <li class="themes__more-list-item"><p>Оприбуткування готівки відокремленими підрозділами: як вирішити проблему електронних Z-звітів </p></li>
                                <li class="themes__more-list-item"><p>Штраф за неоприбуткування готівки: є чи нема?  </p></li>
                                <li class="themes__more-list-item"><p>Купівля металобрухту за готівку: на що орієнтуватися </p></li>
                                <li class="themes__more-list-item"><p>Інкасація готівки: що свідчить про здавання виручки </p></li>

                                <li class="themes__more-list-item">
                                    <p>Залізо або гаджет? Як визначитися із засобом реєстрації розрахункових операцій </p>
                                </li>
                                <li class="themes__more-list-item">
                                    <p>Ідентифікація касира: відмінність РРО від ПРРО </p>
                                </li>
                                <li class="themes__more-list-item">
                                    <p>Звичний режим РРО = онлайн/офлайн-режим ПРРО? </p>
                                </li>
                                <li class="themes__more-list-item">
                                    <p>Службові операції РРО = службові операції ПРРО? </p>
                                </li>
                                <li class="themes__more-list-item">
                                    <p>Z-звіт: відмінність РРО від ПРРО </p>
                                </li>
                                <li class="themes__more-list-item">
                                    <p>Неробота, крадіжка пристрою: РРО/ПРРО-наслідки </p>
                                </li>
                                

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="questions">
                <p>індивідуальні консультації від кожного з лекторів</p>
                <span>Відповіді на ваші запитання надішлемо вже 22 січня разом з відеозаписом семінару.</span>
            </div>
            <p class="themes__btn">
                <a href="#order" class="btn js-scroll-to">приєднатися ></a>
            </p>
        </div>
    </div>


    <div id="advantages" class="advantages">
        <div class="advantages__container">
            <p class="advantages__title">що ви отримаєте</p>
            <div class="advantages__content">
                <div class="advantages__item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0C115 0 0 115.1 0 256c0 141 115.1 256 256 256 141 0 256-115.1 256-256C512 115 396.9 0 256 0zm0 482C131.4 482 30 380.6 30 256S131.4 30 256 30s226 101.4 226 226-101.4 226-226 226z" /><path d="M181 404l222-148-222-148v296zm30-240l138 92-138 92V164z"/></svg>
                    <p>Online <br> та запис <br>семінару</p>
                </div>
                <div class="advantages__item">
                    <svg height="512" viewBox="0 0 510 510" width="512" xmlns="http://www.w3.org/2000/svg"><path d="M510 .986H0v390h270v118.027l60-40 60 40V390.986h120zM324.195 375.7C294.215 372.908 270 347.393 270 315.986c0-33.084 26.916-60 60-60s60 26.916 60 60c0 35.151-30.31 63.123-65.805 59.714zM360 452.959l-30-20-30 20v-52.076c19.239 6.802 40.809 6.785 60 0zm120-91.973h-72.082c7.68-13.246 12.082-28.618 12.082-45 0-49.626-40.374-90-90-90s-90 40.374-90 90c0 16.382 4.402 31.754 12.082 45H30v-330h450z"/><path d="M90 60.986h330v30H90zM90 120.986h330v30H90zM90 180.986h150v30H90zM90 240.986h105v30H90zM90 300.986h90v30H90z"/></svg>
                    <p>Сертифікат</p>
                </div>
                <div class="advantages__item">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve"><style></style><path d="M144.6 19.1v104.2H0v270.6h64.3V493l109.2-99.1h194v-85.4l88.4 80.2v-99.1H512V19.1H144.6zm192.8 344.8H161.8l-67.6 61.3v-61.3H30V153.3h307.4v210.6zM482 259.6h-56.2V321l-58.4-53V123.3H174.6V49.1H482v210.5z" fill="#fff"/><path d="M63.2 211.5h241v30h-241v-30zM95.3 275.7H272v30H95.3v-30z"/></svg>
                    <p>Відповіді <br>на запитання</p>
                </div>
                <div class="advantages__item">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 569 569" xml:space="preserve"><style></style><path d="M66.2 66.3v492.9c0 5.2 4.2 9.5 9.5 9.5h360.2c5.2 0 9.5-4.2 9.5-9.5V161.1c0-.2-.1-.4-.1-.6 0-.8-.2-1.7-.5-2.4l-.3-.9c-.5-1-1.1-2-1.9-2.8l-94.8-94.8c-.8-.8-1.7-1.4-2.8-1.9l-.9-.3c-.8-.3-1.6-.4-2.5-.5-.2 0-.3-.1-.5-.1H75.7c-5.2.1-9.5 4.3-9.5 9.5zM413 151.7h-62.4V89.2l62.4 62.5zM85.2 75.8h246.4v85.3c0 5.2 4.2 9.5 9.5 9.5h85.3v379.1H85.2V75.8z"/><path  d="M464.3 492.9v19h28.4c5.2 0 9.5-4.2 9.5-9.5V9.5c0-5.2-4.2-9.5-9.5-9.5H132.6c-5.2 0-9.5 4.2-9.5 9.5v28.4h19V19h341.2v473.9h-19z"/><path  d="M142 189.6h227.5v19H142v-19zM142 132.7h75.8v19H142v-19zM142 246.4h151.7v19H142v-19zM312.7 246.4h56.9v19h-56.9v-19zM142 303.3h227.5v19H142v-19zM142 417.1h227.5v19H142v-19zM227.4 360.2h142.2v19H227.4v-19zM142 360.2h66.3v19H142v-19zM142 473.9h38v19h-38v-19zM198.9 473.9h170.6v19H198.9v-19z"/></svg>
                    <p>Презентації <br>лекторів</p>
                </div>
            </div>
            <div class="advantages__gift">


                <div class="gifts">
                    <p class="gifts__title">ВІДЕОКУРС У ПОДАРУНОК</p>
                    <p class="gifts__name">Податок на прибуток: <br>
                        податкова та фінансова звітність <br>
                        <br>
                        <span>  (складається з 7 уроків)</span></p>
                    <div class="gifts__button"><a data-toggle="collapse" data-target="#gifts2" aria-expanded="false" aria-controls="#gifts2" class="gifts__more-btn">Детальніше</a></div>
                    <div id="gifts2" class="gifts__more collapse">
                        <div class="gifts__more-body">
                            {#  <p class="gifts__modul">МОДУЛЬ 1. СТАНДАРТИ Й БУХГАЛТЕРСЬКИЙ ОБЛІК (16 УРОКІВ)</p>#}
                            <ul class="gifts__more-list">
                                <li class="gifts__more-list-item"><p>Декларація з податку на прибуток: періодичність подання, структура, показники</li>
                                <li class="gifts__more-list-item"><p>Податкові різниці: загальні правила. Різниці за ОЗ та НА</p> </li>
                                <li class="gifts__more-list-item"><p>Податкові різниці за забезпеченнями (резервами). Операції з нерезидентами</p></li>

                                <li class="gifts__more-list-item"><p>Податкові різниці: безкоштовні передачі, штрафи, зміна системи оподаткування, цінні папе</p></li>
                                <li class="gifts__more-list-item"><p>Збитки та пільги в декларації. Авансовий внесок. Доходи нерезидентів</p></li>
                                <li class="gifts__more-list-item"><p>Фінзвітність: доходи, витрати, заборгованість, фінрезультат. Виправлення помилок у декларації</p></li>
                                <li class="gifts__more-list-item"><p>Відповіді на запитання</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="advantages__btn">
                <a href="#order" class="btn js-scroll-to">стати учасником ></a>
            </p>
        </div>
    </div>

  {#  <div id="order" class="order">
        <div class="order__container">

            <div id="timer-custom" class="order__timer">
                <p class="order__title">пропозиція діє ще</p>
                <div class="pricing-timer" data-timer-2="{{ page.options['timer']|default('') }}">
                    <div class="pricing-timer__inner">
                        <div class="pricing-timer__box"><span class="days">00</span>дні</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="hours">00</span>год</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
                    </div>
                </div>
            </div>
            <div class="order__packages">
                <div class="order__package package package--gold">
                    <div class="package__head package__head--gold-more">
                        <p class="package__header package__header--gold">стандарт</p>
                        <p class="package__price package__price-platform"></p>
                        <p class="package__price package__price--gold">{{shop_price('онлайн-210121БГС_ст','site')}} <br /><span>грн</span></p>
                        <p class="package__old-price">
                            <s>{{shop_price('онлайн-210121БГС_ст','line')}}грн</s>
                        </p>
                        <p></p>
                        <div class="package__btn"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-210121BGS/standart" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-210121БГС_ст" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                    <div class="package__body package__body--gold">
                        <div class="package__platform"></div>
                        <ul class="package__list">
                            <li>online-трансляція</li>
                            <li>відеозапис</li>
                            <li>відповіді на запитання</li>
                            <li>презентації лекторів</li>
                            <li>сертифікат учасника</li>
                        </ul>
                    </div>
                    <div class="package__footer package__footer--gold">
                        <p class="package__presents">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31">
                                <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" fill="#1a34c7"></path>
                            </svg>Подарунок:
                        </p>
                        <ul class="package__list package__list--footer">
                            <li class="is-inactive">Відеокурс <br>«Податок на прибуток»</li>
                        </ul>
                        <div class="package__btn--footer"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-210121BGS/standart" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-210121БГС_ст" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="order__package package package--gold">
                    <div class="package__head package__head--standart">
                        <p class="package__header ">GOLD</p>
                        <p class="package__price package__price-platform"></p>
                        <p class="package__price package__price--gold">{{shop_price('онлайн-210121БГС_голд','site')}} <br /><span>грн</span></p>
                        <p class="package__old-price">
                            <s>{{shop_price('онлайн-210121БГС_голд','line')}}грн</s>
                        </p>
                        <p></p>
                        <div class="package__btn"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-210121BGS/Gold" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-210121БГС_голд" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                    <div class="package__body package__body--gold">
                        <div class="package__platform"></div>
                        <ul class="package__list">
                            <li>online-трансляція</li>
                            <li>відеозапис</li>
                            <li>відповіді на запитання</li>
                            <li>презентації лекторів</li>
                            <li>сертифікат учасника</li>
                        </ul>
                    </div>
                    <div class="package__footer package__footer--gold">
                        <p class="package__presents">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31">
                                <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" fill="#1a34c7"></path>
                            </svg>Подарунок:
                        </p>
                        <ul class="package__list package__list--footer">
                            <li>Відеокурс <br> <a href="/pnp_finzvitnist2020" target="_blank"> «Податок на прибуток»</a></li>
                        </ul>
                        <div class="package__btn--footer"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-210121BGS/Gold" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-210121БГС_голд" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="order__package package package--gold-plus">
                    <div class="package__head package__head--gold-plus">
                        <p class="package__header package__header--platform">БУХГАЛТЕРСЬКА ВІДЕОПЛАТФОРМА №1</p>
                        <p class="price-platform-js">{{ shop_price('онлайн-platform_price','month') }} <br /><span>грн/міс.</span></p>
                        <p class="package__old-price">
                            <s> {{ shop_price('онлайн-platform_price','line') }} грн/міс.</s>
                        </p>
                        <div class="package__btn"><a class="btn btn--Sale js-platform-link js-banner-link" href="{{ link_platform }}" target="_blank">оплатити <br /><span>рахунок/картою</span></a></div>
                    </div>
                    <div class="package__body package__body--gold-plus">
                        <div class="package__platform"></div>
                        <ul class="package__list">
                            <li class="is-platform"><b>Доступ до цього відеопроєкту </b>, а також ще до <b>{{ shop_price('онлайн-platform_price','courses') }}+</b> відеокурсів, вебінарів та трансляцій на усі найважливіші бухгалтерські теми <b>за супервигідною ціною</b></li>
                        </ul>
                    </div>
                    <div class="package__footer package__footer--gold-plus">
                        <p class="package__presents">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31">
                                <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" fill="#1a34c7"></path>
                            </svg>Подарунок:
                        </p>
                        <ul class="package__list package__list--footer">
                            <li >Відеокурс <br> <a href="/pnp_finzvitnist2020" target="_blank"> «Податок на прибуток»</a></li>
                        </ul>
                        <div class="package__btn--footer"><a class="btn btn--Sale js-platform-link js-banner-link" href="{{ link_platform }}" target="_blank">оплатити <br /><span>рахунок/картою</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>#}

    <div id="reviews" class="reviews">
        <div class="reviews__container">
            <p class="reviews__title">Відгуки про навчання в 7eminar.com від ваших колег</p>
            <div class="reviews__content reviews-slider">
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img3.png" alt="отзывы"/>
                    </picture>
                    <p> Дуже допомагають такі семінари зі звітністю. Цих змін у законодавстві «понапридумують» стільки, що тільки ваші експерти й взмозі розібратися і донести нам.</p>
                    <b>Світлана, головний бухгалтер</b>

                </div>
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img2.png" alt="отзывы"/>
                    </picture>
                    <p> З вами вже 5-й рік і ні хвилини не пожалкував. Бо коли сам на себе працюєш, то треба вміти і документацію вести, і з податками не накрутити, і до перевірок готовим бути.</p>
                    <b>  Максим, ФОП</b>
                </div>
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img4.png" alt="отзывы"/>
                    </picture>
                    <p> Ваші лектори вже як рідні для мене! Щодня їх слухаю і навчаюсь, питань в роботі стає все менше. Як і штрафів і доган від шефа)))</p>
                    <b> Марія, бухгалтер</b>
                </div>
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img1.png" alt="отзывы"/>
                    </picture>
                    <p>Ходив на ваші заходи у зали, а тепер онлайн дивлюсь – окреме ДЯКУЮ за такі ВЕЛИКІ семінари! Море потрібної інформації за один ефір – те, що треба для економії часу!</p>
                    <b> Артем, аудитор</b>
                </div>
            </div>
        </div>
    </div>



    <div id="free-video" class="free-video">
        <div class="free-video__container container">
            <div class="free-video__content">
                <p class="free-video__title">Всі корисні відеоматеріали в одному місці!</p>
                <p class="free-video__subtitle">бухгалтерська відеоплатформа №1</p>
                <div class="free-video__block">
                    <div class="free-video__text">
                        <p>Хочете зекономити свої кошти та отримати доступ до цього відеопроєкту, а також ще до {{ shop_price('онлайн-platform_price','courses') }}+ відеокурсів, вебінарів та трансляцій на усі найважливіші бухгалтерські теми?</p>
                        <p>Передплатіть Бухгалтерську Відеоплатформу №1.</p><a href="{{ link_platform_video }}" target="_blank" class="js-banner-link">Детальніше про відеоплатформу</a>
                    </div>
                    <div class="free-video__video">
                        <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
                <div class="free-video__buttons"> <a  href="{{ link_platform_video }}" target="_blank" class="free-video__btn js-banner-link">Передплатити зі знижкою<i aria-hidden="true" class="fa fa-chevron-right"></i></a></div>

            </div>
        </div>
    </div>

    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
                <li><a href="https://www.otpbank.com.ua/smb/products-financing/" target="_blank" rel="nofollow"><img src="{{ link }}/logo_otp.svg"  width="170" alt="otpbank" /></a></li>
                <li><a class="logonoclik" href="https://7eminar.com/" target="_blank"><img class="img_partners1" style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" /></a></li>
                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит" /></a></li>
               {# <li><a href=" https://medoc.ua" target="_blank" rel="nofollow"><img src="/storage/pages/241_14042020/images/logo-medoc@4x.png" height="95" alt="medoc" /></a></li>#}
            </ul>
          {#  <ul class="partners__list">

                <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком" /></a></li>
                <li><a class="logonoclik" href="https://kraft.net.ua" target="_blank"><img class="img_partners1" style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" /></a></li>
            </ul>#}
        </div>
    </div>

   {# <div id="map" class="map">
        <a href="https://goo.gl/maps/xB3Dj658ott1qo969" target="_blank">
            <div class="map__container">
                <div class="map__item">
                    <p>м. Київ, конгрес-хол «Mercure»</p>
                    <p><span>вул. Вадима Гетьмана, 6</span></p>
                </div>
            </div>

        </a>
    </div>#}

    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>

    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>

