<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">

    <div class="wrapper wrapper_hero">
        <div class="contents">
            <div class="block-hero">
                <div class="block-hero__menu">
                    <div class="b-menu">
                        <ul class="b-menu__list b-menu__list--left">
                            <li class="b-menu__item"><a href="https://7eminar.ua/" target="_blank" class="b-menu__link link-js-dealer">Придбати</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block-hero__wrap">
                    <span class="block-hero__info">Відтепер Щотижня!</span>
                    <h1 class="block-hero__title">online-відповіді<br/>на запитання</h1>
                    <p class="block-hero__text">Для передплатників<br/>Бухгалтерської Відеоплатформи №1</p>
                    <div class="block-hero__order hero-order"><a href="https://7eminar.ua/" target="_blank" class="hero-order__btn link-js-dealer">Передплатити</a></div>
                </div>
                <div class="vidModal">
                    <button type="button" data-toggle="modal" data-target="#myModal" data-vidId="LOHtuZD_zP0" class="but pulse"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper__new">
        <div class="contents">
            <div class="new-block">
                <div class="new-block__item--bg">
                    <div class="puls puls_one"></div>
                    <div class="puls puls_two"></div>
                    <div class="puls puls_three"></div>
                </div>
                <div class="new-block__item">
                    <div class="new-block__title">СПЕЦПРОПОЗИЦІЯ!</div>
                    <div class="new-block__text">Тільки для передплатників Бухгалтерської Відеоплатформи №1: можливість задати свої питання та отримати на них відповіді від найкращих лекторів України.</div>
                    <div class="new-block__text">Бухгалтерська Відеоплатформа №1 – це понад {{ shop_price('онлайн-platform_price','courses') }} курсів та вебінарів, які доступні для перегляду прямо зараз.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper__lectors">
        <div class="content">
        </div>
    </div>



    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>29 вересня </p><span>Питання приймаються до 24 вересня</span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li>ПДФО;</li>
                                        <li>ЄСВ;</li>
                                        <li>зарплата;</li>
                                        <li>трудове право;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>кадровий облік;</li>
                                        <li>каса та РРО;  </li>
                                        <li>відрядження.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Шеф-редактор 7eminar.com, експерт із трудового права та кадрового обліку. Щодня професійно консультує ТОП-10 компаній України.</p>
                            <p>Досвід лекторської роботи – понад 15000 годин, у тому числі в online-семінарах, вебінарах, уроках для бухгалтерів і кадровиків.</p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/tm.png" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Тетяна Мойсеєнко </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>6 жовтня </p><span>Питання приймаються до 29 вересня </span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li> заробітна плата;</li>
                                        <li>ПДФО;</li>
                                        <li>кадровий облік;</li>
                                        <li>трудове право;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>відрядження;</li>
                                        <li>РРО;  </li>
                                        <li>інтернет-торгівля.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Консультант із питань бухгалтерського обліку та оподаткування. Експерт із трудового права та оплати праці, фахівець з управлінського обліку та бюджетування.
                                Автор понад тисячі публікацій у спеціалізованих виданнях, а також численних запитів в офіційні органи. Кадровий аудитор.  </p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/ta.jpg" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Тимур Алієв </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>13 жовтня  </p><span>Питання приймаються до 6 жовтня </span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li>податкова звітність;</li>
                                        <li>єдиний податок;</li>
                                        <li>основні засоби;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>витрати;</li>
                                        <li>МСФЗ;  </li>
                                        <li>ФОП.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Практикуючий бухгалтер та податковий консультант CAP/СІРА, АССА DipIFR, IFA. Лектор за спеціалізацією «Податки та бухоблік». </p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/mk.png" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Мар’яна Кавин  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>20 жовтня </p><span>Питання приймаються до 13 жовтня</span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li>ПДФО;</li>
                                        <li>ЄСВ;</li>
                                        <li>зарплата;</li>
                                        <li>трудове право;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>кадровий облік;</li>
                                        <li>каса та РРО;  </li>
                                        <li>відрядження.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Шеф-редактор 7eminar.com, експерт із трудового права та кадрового обліку. Щодня професійно консультує ТОП-10 компаній України.</p>
                            <p>Досвід лекторської роботи – понад 15000 годин, у тому числі в online-семінарах, вебінарах, уроках для бухгалтерів і кадровиків.</p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/tm.png" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Тетяна Мойсеєнко </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>3 листопада </p><span>Питання приймаються до 27 жовтня </span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li> заробітна плата;</li>
                                        <li>ПДФО;</li>
                                        <li>кадровий облік;</li>
                                        <li>трудове право;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>відрядження;</li>
                                        <li>РРО;  </li>
                                        <li>інтернет-торгівля.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Консультант із питань бухгалтерського обліку та оподаткування. Експерт із трудового права та оплати праці, фахівець з управлінського обліку та бюджетування.
                                Автор понад тисячі публікацій у спеціалізованих виданнях, а також численних запитів в офіційні органи. Кадровий аудитор.  </p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/ta.jpg" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Тимур Алієв </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p> 10 листопада </p><span>Питання приймаються до 3 листопада </span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li>податок на прибуток;</li>
                                        <li>ПДФО, ВЗ, ЄСВ;</li>
                                        <li>паливний акциз;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>єдиний податок;</li>
                                        <li>ФОП;  </li>
                                        <li>ПРРО, РРО та каса;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>бухоблік згідно П(С)БО;</li>
                                        <li>МСФЗ;</li>
                                        <li>фінзвітність.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Експерт з податкового та бухгалтерського обліку. </p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/ig.jpg" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Ірина Губіна</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>17 листопада </p><span>Питання приймаються до 10 листопада </span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li>податкова звітність;</li>
                                        <li>єдиний податок;</li>
                                        <li>основні засоби;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>витрати;</li>
                                        <li>МСФЗ;  </li>
                                        <li>ФОП.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Практикуючий бухгалтер та податковий консультант CAP/СІРА, АССА DipIFR, IFA. Лектор за спеціалізацією «Податки та бухоблік». </p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/mk.png" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Мар’яна Кавин  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>24 листопада  </p><span>Питання приймаються до 17 листопада  </span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li> заробітна плата;</li>
                                        <li>ПДФО;</li>
                                        <li>кадровий облік;</li>
                                        <li>трудове право;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>відрядження;</li>
                                        <li>РРО;  </li>
                                        <li>інтернет-торгівля.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Консультант із питань бухгалтерського обліку та оподаткування. Експерт із трудового права та оплати праці, фахівець з управлінського обліку та бюджетування.
                                Автор понад тисячі публікацій у спеціалізованих виданнях, а також численних запитів в офіційні органи. Кадровий аудитор.  </p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/ta.jpg" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Тимур Алієв </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p> 1 грудня </p><span>Питання приймаються до 24 листопада </span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li>податок на прибуток;</li>
                                        <li>ПДВ;</li>
                                        <li>облік витрат;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>основні засоби та МНМА;</li>
                                        <li>облік доходів;  </li>
                                        <li>валютні операції;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>ЗЕД;</li>
                                        <li>податкова звітність;</li>
                                        <li>бухгалтерський облік.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Головний спеціаліст АФ «Контракти-Аудит», аудитор, податковий консультант, фахівець з оподаткування прибутку підприємств. </p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/lt.jpg" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Людмила Тимофеєва </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>8 грудня </p><span>Питання приймаються до 1 грудня </span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li>податок на прибуток;</li>
                                        <li>ПДФО, ВЗ, ЄСВ;</li>
                                        <li>паливний акциз;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>єдиний податок;</li>
                                        <li>ФОП;  </li>
                                        <li>ПРРО, РРО та каса;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>бухоблік згідно П(С)БО;</li>
                                        <li>МСФЗ;</li>
                                        <li>фінзвітність.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Експерт з податкового та бухгалтерського обліку. </p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/ig.jpg" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Ірина Губіна</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>15 грудня </p><span>Питання приймаються до 8 грудня  </span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li>податковий контроль;</li>
                                        <li>податкові спори; </li>
                                        <li>податковий запит; </li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>договірна діяльність; </li>
                                        <li>перевірки Держпраці. </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Адвокат, податковий консультант, керівник юридичного центру «Смирнов і Партнери». Спеціалізація – податкові конфлікти, легальна оптимізація оподаткування, захист бізнесу і посадових осіб від неправомірних дій контролюючих органів.</p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/os.jpg" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Олександр Смирнов </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>22 грудня </p><span>Питання приймаються до 15 грудня </span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li>ПДФО;</li>
                                        <li>ЄСВ;</li>
                                        <li>зарплата;</li>
                                        <li>трудове право;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>кадровий облік;</li>
                                        <li>каса та РРО;  </li>
                                        <li>відрядження.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Шеф-редактор 7eminar.com, експерт із трудового права та кадрового обліку. Щодня професійно консультує ТОП-10 компаній України.</p>
                            <p>Досвід лекторської роботи – понад 15000 годин, у тому числі в online-семінарах, вебінарах, уроках для бухгалтерів і кадровиків.</p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/tm.png" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Тетяна Мойсеєнко </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>29 грудня </p><span>Питання приймаються до 22 грудня</span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li>ПДВ;</li>
                                        <li>витрати;</li>
                                        <li>податкова звітність;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>собівартість;</li>
                                        <li>РРО-розрахунки;  </li>
                                        <li>касові операції. </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Незалежний практикуючий консультант із питань оподаткування та бухгалтерського обліку, сертифікований тренер бізнес-програм, фахівець з питань податкового та фінансового планування.  </p>
                            <p>Має понад 18 000 годин публічних виступів, з яких 12 000 годин – семінари-практикуми та тренінги.</p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/vw.png" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Вікторія Величко  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper__lectors">
        <div class="contents">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>26 січня </p><span>Питання приймаються до 19 січня </span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li>податкова звітність;</li>
                                        <li>єдиний податок;</li>
                                        <li>основні засоби;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>витрати;</li>
                                        <li>МСФЗ;  </li>
                                        <li>ФОП.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Практикуючий бухгалтер та податковий консультант CAP/СІРА, АССА DipIFR, IFA. Лектор за спеціалізацією «Податки та бухоблік». </p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="{{ page.url('/images') }}/new/mk.png" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Мар’яна Кавин  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

   {# <a href="https://7eminar.ua/" target="_blank" class="btn_new link-js-dealer">Передплатити</a>#}
    <div class="wrapper wrapper_video">
        <div class="contents">
            <div id="question" class="block-video">
                <div class="block-video__container">
                    <p class="b-title b-title--video">Детальнiше про Бухгалтерську Відеоплатформу №1
                    </p>
                    <div class="block-video__player">
                        <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
                <div class="video__btn--wrap"><a href="https://7eminar.ua?utm_source=answers7eminar_rectangle_peredplata&amp;utm_medium=button&amp;utm_campaign=peredplata_7eminar.ua" target="_blank" class="video__btn js-banner-link link-js-dealer">Дізнатися більше про платформу</a>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" tabindex="-1" role="dialog" class="modal fade">
        <div role="document" class="modal-dialog">
            <p id="closeModal" data-dismiss="modal" class="close-modal"></p>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
</div>