{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
 {#   <div class="slider" id="slider1" data-count="0" data-timeout="5">
        <div class="viewport">
            <a class="slider-next"></a>
            <a class="slider-prev"></a>
            <ul class="items">
                {% for slide in slides('seminars_main') %}
                    <li class="slide {{ slide.options['classes'] ?? ''}}">
                        <a href="{{ slide.link }}" target="_blank">
                            <img src="{{ slide.cover }}">
                        </a>
                    </li>

                {% endfor %}
            </ul>
        </div>
        <div class="labels">
            {% for slide in slides('seminars_main') %}
            <a class="slider-view"></a>
            {% endfor %}
        </div>
    </div>#}
</div>

{#
<div class="cards" id="offline">
    <span class="sem-offline  training-title">Семінари та практикуми</span>
    <ul>
        {% for slide in slides('seminars_offline') %}
            <li class="card">
                <a href="{{ slide.link }}" target="_blank" class="c">
                    <div class="cover {{ slide.options['classes'] ?? ''}}" style="background-image:url('{{ slide.cover }}')"></div>
                </a>
                <p>
                    <a href="{{ slide.link }}" target="_blank">детальніше</a>
                    <span class="price-descr"> {{ slide.options['minprice'] ?? ''}}</span>
                </p>
            </li>
        {% endfor %}
    </ul>
    <div class="cf"></div>
</div>

<div class="cards" id="online">
    <span class="sem-online  training-title">Трансляції та онлайн-уроки</span>
    <ul>
        {% for slide in slides('seminars_online') %}

        <li class="card">
            <a href="{{ slide.link }}" target="_blank" class="c">
                <div class="cover {{ slide.options['classes'] ?? ''}}" style="background-image:url('{{ slide.cover }}')"></div>
            </a>
            <p>
                <a href="{{ slide.link }}" target="_blank">детальніше</a>
                <span class="price-descr"> {{ slide.options['minprice'] ?? ''}}</span>

            </p>
        </li>
        {% endfor %}
    </ul>
    <div class="cf"></div>
</div>

<div class="cards" id="gift">
    <span class="sem-gift  training-title">Книги, брошури, чек-листи безкоштовно</span>
    <ul>
        {% for slide in slides('seminars_gift') %}
        <li class="card">
            <a href="{{ slide.link }}" target="_blank" class="c">
                <div class="cover {{ slide.options['classes'] ?? ''}}" style="background-image:url('{{ slide.cover }}')"></div>
            </a>
            <p>
                <a href="{{ slide.link }}" target="_blank">детальніше</a>

                <span class="price-descr">{{ slide.options['minprice'] ?? ''}}</span>
            </p>
        </li>
        {% endfor %}
    </ul>
    <div class="cf"></div>
</div>

#}

