{% set link_platform = "https://7eminar.ua/subscribe?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=BKadrS_Zp_25_26112020_button_tabl_tsin" %}
{% set link_platform_video = "https://7eminar.ua/subscribe?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=BKadrS_Zp_25_26112020_button_video" %}

{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
  <div class="heading mw">
    <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
      <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/subscribe" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
    </div>
    <div class="menu-mob">
      <input id="menu-checkbox" type="checkbox"/><span class="burger__bg burger__bg-js"></span><span class="burger__element"></span>
      <ul class="menu">
        <li><a href="#lectors" class="burger__link js-scroll-to">Лектори</a></li>
        <li><a href="#info" class="burger__link js-scroll-to">Про що дізнаєтесь</a></li>
        <li><a href="#profession" class="burger__link js-scroll-to">Для кого</a></li>
        <li><a href="#themes" class="burger__link js-scroll-to">теми</a></li>
        <li><a href="#order" class="burger__link js-scroll-to">ПРИДБАТИ</a></li>
      </ul>
    </div>
  </div>

  <div class="hero">
    <div class="hero__container container">
      <div class="menu ">
        <div class="menu__container">
          <ul class="menu__list">
            <li><a class="js-scroll-to" href="#lectors">Лектори</a></li>
            <li><a class="js-scroll-to" href="#info">Про що дізнаєтесь</a></li>
            <li><a class="js-scroll-to" href="#profession">ДЛЯ КОГО</a></li>
            <li><a class="js-scroll-to" href="#themes">теми</a></li>
            <li><a class="js-scroll-to" href="#order">ПРИДБАТИ</a></li>
          </ul>
        </div>
      </div>
      <div class="hero__top-container dk-show-flex">
        <a class="hero__logo-dk" href="https://dtkt.ua/about" target="_blank">
          <img src="{{ link }}/logo-dk.png" width="200" height="52" alt="«Дебет-Кредит» | Бухгалтерський сервіс №1 в Україні">
        </a>
        <a class="hero__logo-seminar" href="https://7eminar.com/" target="_blank">
          <img src="{{ link }}/7minar_logo_color.png" width="186" height="42" alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
        </a>
      </div>
      <div class="hero__content">
        <p class="hero__date"> <span>Відеозапис</span></p>
        <div class="hero__title">Великий</div>
        <div class="hero__sub-title"><span>Зарплатно</span>- <br><span>Кадровий</span></div>
        <p class="hero__online">Online-Семінар</p>
        <p class="hero__btn">
          <a href="#info" class="btn">Детальніше ></a>
        </p>
        {#<button type="button" aria-label="Open modal video" data-toggle="modal" data-target="#modal-video" data-vidId="WpBzHU1PiJ8" class="hero__controls-modal-btn"></button>#}
      </div>
      <ul class="hero__lectors">
        <li>
          <picture>
            <source srcset="{{ link }}/hero_os.webp" type="image/webp"/>
            <img src="{{ link }}/hero_os-min.png" alt="олександр смирнов"/>
          </picture>
          <p> <span>олександр</span> <br> смирнов</p>
        </li>
        <li>
          <picture>
            <source srcset="{{ link }}/hero_vv.webp" type="image/webp"/>
            <img src="{{ link }}/hero_vv-min.png" alt="вікторія величко"/>
          </picture>
          <p> <span>вікторія</span> <br> величко</p>
        </li>
        <li>
          <picture>
            <source srcset="{{ link }}/hero_sz.webp" type="image/webp"/>
            <img src="{{ link }}/hero_sz-min.png" alt="софія заріцька"/>
          </picture>
          <p> <span>софія </span> <br> заріцька</p>
        </li>
      </ul>
      <div class="hero__lector">
        <picture>
          <source srcset="{{ link }}/hero_tm.webp" type="image/webp"/>
          <img src="{{ link }}/hero_tm-min.png" alt="тетяна мойсеєнко"/>
        </picture>
        <p> <span>тетяна</span> <br> мойсеєнко</p>
      </div>
    </div>
  </div>

  <div class="info"  id="info">
    <div class="info__container container">
      <div class="info__title">ПРО ЩО ВИ ДІЗНАЄТЕСЯ?</div>
      <div class="info__content">
        <ul>
          <li><p>Карантин вихідного дня: <span> як оформити та оплатити</span></p></li>
          <li><p>Планові перевірки Держпраці – 2021: <span> коли, як і що перевірятимуть </span></p></li>
          <li><p>Робочий час – 2021: <span>норма, облік, графіки змінності</span></p></li>
          {#<li><p>Середня зарплата:<span>  нюанси розрахунку для відпускних, відряджень, лікарняних</span></p></li>#}
          <li><p>Страховий стаж:<span> як обчислити і коли враховувати</span></p></li>
          <li><p>Тимчасова непрацездатність та самоізоляція: <span> як врахувати карантинні особливості</span></p></li>

          <li><p>Єдина зарплатна звітність та єдиний рахунок:<span>  які новації чекають у 2021 році</span></p></li>
        </ul>
      </div>
    </div>
  </div>


  <div id="profession" class="profession">
    <div class="profession__container">
      <p class="profession__title">для кого буде корисний семінар?  </p>
      <div class="profession__content">
        <ul class="profession__list">
          <li>
            <picture>
              <source srcset="{{ link }}/auditor-mob.svg" media="(max-width: 767.98px)" type="image/webp">
              <img src="{{ link }}/auditor.svg" alt="auditor"/>
            </picture>
            <p> аудитор</p>
          </li>
          <li  class="big">
            <picture>
              <source srcset="{{ link }}/accountant-mob.svg" media="(max-width: 767.98px)" type="image/webp">
              <img src="{{ link }}/accountant.svg" alt="бухгалтер"/>
            </picture>
            <p> бухгалтер</p>
          </li>
          <li  class="big">
            <picture>
              <source srcset="{{ link }}/hr-mob.svg" media="(max-width: 767.98px)" type="image/webp">
              <img  src="{{ link }}/hr.svg" alt="" >
            </picture>
            <p> кадровик</p>
          </li>
          <li>
            <picture>
              <source srcset="{{ link }}/businessman-mob.svg" media="(max-width: 767.98px)" type="image/webp">
              <img src="{{ link }}/businessman.svg" alt="ФОП"/>
            </picture>
            <p> ФОП <br>
              із найманими <br>
              працівниками</p>
          </li>
          <li>
            <picture>
              <source srcset="{{ link }}/legal-mob.svg" media="(max-width: 767.98px)" type="image/webp">
              <img src="{{ link }}/legal.svg" alt="юрист"/>
            </picture>
            <p> юрист</p>
          </li>
        </ul>
      </div>
      <p class="profession__btn">
        <a href="#order" class="btn js-scroll-to">Детальніше ></a>
      </p>

    </div>
  </div>

  <div id="lectors" class="lectors">
    <div class="lectors__container">
      <div class="lectors__title"> Лектори</div>
      <div class="lectors__content">
        <div class="lectors__item">
          <p class="lectors__name">Тетяна Мойсеєнко</p>
          <p class="lectors__regalia">Шеф-редактор 7eminar.com, експерт із трудового права та кадрового обліку. Щодня професійно консультує
            <br> ТОП-10 компаній України. Досвід лекторської роботи – понад 15000 годин, у тому числі в online-семінарах,<br> вебінарах, уроках для бухгалтерів і кадровиків.</p>
          <div class="lectors__img">

            <picture>
              <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >
              <source srcset="{{ link }}/lectors_tm.webp" type="image/webp"/>
              <img src="{{ link }}/lectors_tm-min.png" alt="Тетяна мойсеєнко"/>
            </picture>
          </div>
        </div>

        <div class="lectors__item">
          <p class="lectors__name">Олександр Смирнов</p>
          <p class="lectors__regalia">Адвокат. Спеціалізація – податкові конфлікти, легальна оптимізація оподаткування, захист бізнесу
            <br>                     і посадових осіб від неправомірних дій контролюючих органів. Досвід роботи – понад 14 років.</p>
          <div class="lectors__img">

            <picture>
              <source srcset="{{ link }}/lectors_os_mob.png" media="(max-width: 767.98px)" >
              <source srcset="{{ link }}/lectors_os.webp" type="image/webp"/>
              <img src="{{ link }}/lectors_os-min.png" alt="Олександр Смирнов"/>
            </picture>
          </div>
        </div>

        <div class="lectors__item">
          <p class="lectors__name">Вікторія Величко</p>
          <p class="lectors__regalia">Незалежний практикуючий консультант із питань оподаткування та бухгалтерського обліку, сертифікований
            <br> тренер бізнес-програм, фахівець з питань податкового та фінансового планування. Має понад 18000 годин
            <br> публічних виступів, з яких 12000 годин – семінари-практикуми та тренінги. </p>
          <div class="lectors__img">

            <picture>
              <source srcset="{{ link }}/lectors_vv_mob.png" media="(max-width: 767.98px)" >
              <source srcset="{{ link }}/lectors_vv.webp" type="image/webp"/>
              <img src="{{ link }}/lectors_vv-min.png" alt="Вікторія Величко"/>
            </picture>
          </div>
        </div>

        <div class="lectors__item">
          <p class="lectors__name">Софія Заріцька</p>
          <p class="lectors__regalia">Юрист, експерт з питань трудового права.</p>
          <div class="lectors__img">

            <picture>
              <source srcset="{{ link }}/lectors_sz_mob.png" media="(max-width: 767.98px)" type="image/webp">
              <source srcset="{{ link }}/lectors_sz.webp" type="image/webp"/>
              <img src="{{ link }}/lectors_sz-min.png" alt="Софія Заріцька"/>
            </picture>
          </div>
        </div>

        <p class="lectors__btn">
          <a href="#order" class="btn js-scroll-to">Детальніше ></a>
        </p>
      </div>
    </div>
  </div>

  <div id="themes" class="themes">
    <div class="themes__container">
      <div class="themes__title">Теми</div>
      <div class="themes__days themes__days-one">
        <p class="themes__day">День 1.</p>
        <p class="themes__caption"><span>[</span>Великий Кадровий Online-Семінар<span>]</span></p>
        <div class="theme">
          <div class="theme__header">
            <p class="theme__info"> Олександр Смирнов</p>
            <p class="theme__title">Планові перевірки Держпраці – 2021</p>
            <a data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="theme__more-btn">Детальніше</a>
          </div>
          <ul id="lesson1" class="theme__list collapse">
            <li class="theme__list-item">Аналіз плану перевірок Держпраці на 2021 рік.
              {#  <ul class="theme__sub-list">
                            <li>Аналіз плану перевірок Держпраці на 2021 рік.</li>
                        </ul>#}
            </li>
            <li class="theme__list-item">Що може перевіряти Держпраці в рамках планового контролю.  </li>
            <li class="theme__list-item">В яких випадках можна не допустити до планової перевірки. </li>
            <li class="theme__list-item">Як має проходити планова перевірка: з початку до кінця. </li>
            <li class="theme__list-item">Документи та пояснення, які слід надати під час планової перевірки. </li>
            <li class="theme__list-item">Наслідки планової перевірки: попередження, припис, штраф. </li>


          </ul>
        </div>

        <div class="theme">
          <div class="theme__header">
            <p class="theme__info"> Тетяна Мойсеєнко </p>
            <p class="theme__title">Карантин вихідного дня вже діє! Дії кадровика. <br>
              Нове у КЗпП незабаром: до чого готуватися? <br>
              Робочий час: види та облік
            </p>
            <a data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="theme__more-btn">Детальніше</a>
          </div>
          <ul id="lesson2" class="theme__list collapse">
            <li class="theme__list-item">Як спланувати роботу та які документи оформити працівникам в умовах карантину вихідного дня. </li>
            <li class="theme__list-item">Правила внутрішнього трудового розпорядку та графіки відпусток: обов'язковість буде скасовано. </li>
            <li class="theme__list-item">Строкові трудові договори: нові умови та строк укладання в проєкті змін до КЗпП… та ще багато інших новацій.</li>
            <li class="theme__list-item">Норма робочого часу на 2021 рік: затверджуємо за наказом керівника.
              <ul class="theme__sub-list">
                <li>Локальні документи роботодавця щодо робочого часу на підприємстві: правила ВТР, положення про робочий час тощо. </li>
                <li>Як визначається норма часу при роботі змінами. </li>
                <li>Чи може бути норма робочого часу індивідуальною для окремих працівників (меншою чи більшою)? </li>
              </ul>
            </li>
            <li class="theme__list-item">Види робочого часу: відмінності та випадки їх застосування. Робочі дні, робочі зміни: їх відмінності та порівняння. Чого не може бути при змінній роботі.</li>
            <li class="theme__list-item">Графіки змінності.
              <ul class="theme__sub-list">
                <li>Види, порядок складання та роботи за графіками змінності. Приклади складання графіків. </li>
                <li>Заміни в графіках змінності. Поширені помилки роботодавців.  </li>
                <li>Чи вносяться до графіка змінності відпустки, які заплановано у графіку відпусток? </li>
                <li>Відповідальність за порушення складання графіків змінності.  </li>
              </ul>
            </li>
            <li class="theme__list-item">Облік робочого часу в Табелі.
              <ul class="theme__sub-list">
                <li>Порядок складання, умови дотримання і недотримання типової форми Табеля. </li>
                <li>Відображення відпрацьованих змін в годинах за днями, святкові дні у змінах, вихідні, початок і кінець місяця, нічні години, переведення годинників. </li>
              </ul>
            </li>
            <li class="theme__list-item">Підсумований облік: варіанти облікового періоду, підрахунок годин, звільнення та прийняття працівників у середині облікового періоду. </li>
            <li class="theme__list-item">Неповний робочий час: його види й документальне оформлення. Випадки, в яких може бути встановлено неповний робочий час. </li>
            {#  <li class="theme__list-item"Графіки змінності.
                        <ul class="theme__sub-list">
                            <li>Види, порядок складання та роботи за графіками змінності. Приклади складання графіків. </li>
                            <li>Заміни в графіках змінності. Поширені помилки роботодавців.  </li>
                            <li>Чи вносяться до графіка змінності відпустки, які заплановано у графіку відпусток? </li>
                            <li>Відповідальність за порушення складання графіків змінності.  </li>
                        </ul>
                    </li>
                    <li class="theme__list-item">Облік робочого часу в Табелі.
                        <ul class="theme__sub-list">
                            <li>Порядок складання, умови дотримання і недотримання типової форми Табеля. </li>
                            <li>Відображення відпрацьованих змін в годинах за днями, святкові дні у змінах, вихідні, початок і кінець місяця, нічні години, переведення годинників. </li>
                        </ul>
                    </li>
                    <li class="theme__list-item">Підсумований облік: варіанти облікового періоду, підрахунок годин, звільнення та прийняття працівників у середині облікового періоду. </li>
                    <li class="theme__list-item">Неповний робочий час: його види й документальне оформлення. Випадки, в яких може бути встановлено неповний робочий час. </li>#}
          </ul>
        </div>

        <div class="theme">
          <div class="theme__header">
            <p class="theme__info"> Софія Заріцька </p>
            <p class="theme__title">Страховий стаж для лікарняних</p>
            <a data-toggle="collapse" data-target="#lesson3" aria-expanded="false" aria-controls="#lesson3" class="theme__more-btn">Детальніше</a>
          </div>
          <ul id="lesson3" class="theme__list collapse">
            <li class="theme__list-item">Страховий стаж: визначення та які періоди (не)включають.</li>
            <li class="theme__list-item">Інформація про страховий стаж: якими документами підтвердити.</li>
            <li class="theme__list-item">Довідки з Пенсійного фонду: ОК-5, ОК-7 та додаток 9, їх відмінності й особливості. Хто та як отримує довідки. </li>
            <li class="theme__list-item">Чи гарантує сплата ЄСВ зарахування страхового стажу для оплати лікарняних.</li>
            <li class="theme__list-item">Як страховий стаж впливає на розмір лікарняних.</li>
            <li class="theme__list-item">Неправильне обчислення страхового стажу: які штрафи загрожують роботодавцю. </li>
          </ul>
        </div>


        <div class="theme">
          <div class="theme__header">
            <p class="theme__info"> Тетяна Мойсеєнко </p>
            <p class="theme__title">Відповіді на запитання </p>
          </div>
        </div>
      </div>

      <div class="themes__days themes__days--two">
        <p class="themes__day themes__day--two">День 2. </p>
        <p class="themes__caption themes__caption--two"><span>[</span>Великий Online-Семінар із Заробітної Плати<span>]</span></p>
        <div class="theme">
          <div class="theme__header">
            <p class="theme__info theme__info--two"> Вікторія Величко </p>
            <p class="theme__title">Середня зарплата. Лікарняні листки з COVID-19 <br> (самоізоляція чи хвороба) </p>
            <a data-toggle="collapse" data-target="#lesson4" aria-expanded="false" aria-controls="#lesson4" class="theme__more-btn theme__more-btn--two">Детальніше</a>
          </div>
          <ul id="lesson4" class="theme__list collapse">
            <li class="theme__list-item">Розрахунок середньої заробітної плати ― спільне та відмінне
              <ul class="theme__sub-list">
                <li>для оплати заробітної плати в дні відрядження </li>
                <li>для оплати лікарняних </li>
                <li>для оплати відпустки</li>
              </ul>
            </li>
            <li class="theme__list-item">Все про розрахунок лікарняних-2020
              <ul class="theme__sub-list">
                <li>алгоритм розрахунку лікарняних: правила </li>
                <li>визначення кількості відпрацьованих днів для обчислення розміру середньої зарплати </li>
                <li>вплив карантинних обмежень, простоїв та відпусток без збереження зарплати на розрахунковий період </li>
                <li>лікарняні за час простою: на що звернути увагу </li>
                <li>врахування одноразових виплат під час розрахунку лікарняних </li>
                <li>сторновані суми: періоди врахування зарплати та невідпрацьованих днів, лікарняні, за період самоізоляції </li>
                <li>помилки в розрахунку лікарняних та наслідки від ФСС </li>
                <li>удосконалення процедури подання інформації до ФСС </li>
                <li>новий порядок перевірок лікарняних ФСС </li>
              </ul>
            </li>



          </ul>
        </div>

        <div class="theme">
          <div class="theme__header">
            <p class="theme__info theme__info--two"> Тетяна Мойсеєнко </p>
            <p class="theme__title">ЄСВ, ПДФО, ВЗ, тести на COVID-19, індексація, страховий стаж, <br> нова зарплатна звітність та єдиний рахунок з 2021 року </p>
            <a data-toggle="collapse" data-target="#lesson5" aria-expanded="false" aria-controls="#lesson5" class="theme__more-btn theme__more-btn--two">Детальніше</a>
          </div>
          <ul id="lesson5" class="theme__list collapse">
            <li class="theme__list-item">Нова чи стара звітність ЄСВ і ПДФО у 2021 році: з чим працювати</li>
            <li class="theme__list-item">Єдиний рахунок для сплати ЄСВ, ПДФО, ВЗ з 01.01.2021
              <ul class="theme__sub-list">
                <li>скільки платіжних доручень готувати для сплати зарплатних податків </li>
                <li>як бути з контрольованою банком 1/5 частини при сплаті ЄСВ </li>
                <li>нормативні та законодавчі акти (закони № 190 та № 559, постанова КМУ № 321, наказ Мінфіну № 238) </li>
                <li>вільно обрати чи обов’язково перейти на ЄР? </li>
                <li>як почати працювати з ЄР </li>
                <li>як відмовитися від використання ЄР, скільки та як це можливо </li>
              </ul>
            </li>
            <li class="theme__list-item">Індексація: зміни (закон № 831)
              <ul class="theme__sub-list">
                <li>аліменти у твердій сумі – відтепер щорічна індексація! Хто розраховує суму індексації та коли </li>
                <li>заробітна плата: як уникати індексації (про безпомилкове підвищення посадових окладів для уникнення нарахування індексації надалі) </li>
              </ul>
            </li>

            <li class="theme__list-item">Тестування працівників на COVID-19: що з ПДФО
              <ul class="theme__sub-list">
                <li>благо чи неоподатковувана допомога: відмінності в документальному оформленні для (не)оподаткування ПДФО, ВЗ </li>
                <li>які податки виникають та як тестувати працівників на COVID-19 без податків </li>
              </ul>
            </li>
            <li class="theme__list-item">ЄСВ-нарахування, доплата ЄСВ, перехідні виплати «грудень/січень»
              <ul class="theme__sub-list">
                <li>правила нарахування ЄСВ на різні доходи в різних періодах: приклади </li>
                <li>перехідні виплати «грудень/січень»: відпускні, вагітність та пологи </li>
                <li>доплата ЄСВ на прикладах, відображення у звітності </li>
                <li>звіт з ЄСВ на практичних прикладах заповнення </li>
              </ul>
            </li>
            <li class="theme__list-item">Страховий стаж для лікарняних: документи та розрахунок. Типові помилки бухгалтерії </li>

          </ul>
        </div>




        <div class="theme">
          <div class="theme__header theme__header--last">
            <p class="theme__info theme__info--two"> Тетяна Мойсеєнко </p>
            <p class="theme__title">Відповіді на запитання </p>
          </div>
        </div>

        {#<div class="questions">
          <p>Індивідуальні консультації для всіх!</p>
          <span>На запитання глядачів відповідатиме Тетяна Мойсеєнко в ефірі <br> та експерти 7eminar.com у чатах трансляцій</span>
        </div>#}
      </div>
    </div>
  </div>


  <div id="advantages" class="advantages">
    <div class="advantages__container">
      <p class="advantages__title">що ви отримаєте</p>
      <div class="advantages__content">
        <div class="advantages__certificate">
          <picture>
            <img src="{{ link }}/certificate_on_page.jpg" alt="certificate" >
          </picture>
        </div>

        <div class="advantages__item">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0C115 0 0 115.1 0 256c0 141 115.1 256 256 256 141 0 256-115.1 256-256C512 115 396.9 0 256 0zm0 482C131.4 482 30 380.6 30 256S131.4 30 256 30s226 101.4 226 226-101.4 226-226 226z" /><path d="M181 404l222-148-222-148v296zm30-240l138 92-138 92V164z"/></svg>
          <p> Запис <br>семінару</p>
        </div>
        <div class="advantages__item">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve"><style></style><path d="M144.6 19.1v104.2H0v270.6h64.3V493l109.2-99.1h194v-85.4l88.4 80.2v-99.1H512V19.1H144.6zm192.8 344.8H161.8l-67.6 61.3v-61.3H30V153.3h307.4v210.6zM482 259.6h-56.2V321l-58.4-53V123.3H174.6V49.1H482v210.5z" fill="#fff"/><path d="M63.2 211.5h241v30h-241v-30zM95.3 275.7H272v30H95.3v-30z"/></svg>
          <p>Відповіді <br>на запитання</p>
        </div>

        <div class="advantages__item">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 569 569" xml:space="preserve"><style></style><path d="M66.2 66.3v492.9c0 5.2 4.2 9.5 9.5 9.5h360.2c5.2 0 9.5-4.2 9.5-9.5V161.1c0-.2-.1-.4-.1-.6 0-.8-.2-1.7-.5-2.4l-.3-.9c-.5-1-1.1-2-1.9-2.8l-94.8-94.8c-.8-.8-1.7-1.4-2.8-1.9l-.9-.3c-.8-.3-1.6-.4-2.5-.5-.2 0-.3-.1-.5-.1H75.7c-5.2.1-9.5 4.3-9.5 9.5zM413 151.7h-62.4V89.2l62.4 62.5zM85.2 75.8h246.4v85.3c0 5.2 4.2 9.5 9.5 9.5h85.3v379.1H85.2V75.8z"/><path  d="M464.3 492.9v19h28.4c5.2 0 9.5-4.2 9.5-9.5V9.5c0-5.2-4.2-9.5-9.5-9.5H132.6c-5.2 0-9.5 4.2-9.5 9.5v28.4h19V19h341.2v473.9h-19z"/><path  d="M142 189.6h227.5v19H142v-19zM142 132.7h75.8v19H142v-19zM142 246.4h151.7v19H142v-19zM312.7 246.4h56.9v19h-56.9v-19zM142 303.3h227.5v19H142v-19zM142 417.1h227.5v19H142v-19zM227.4 360.2h142.2v19H227.4v-19zM142 360.2h66.3v19H142v-19zM142 473.9h38v19h-38v-19zM198.9 473.9h170.6v19H198.9v-19z"/></svg>
          <p>Презентації <br>лекторів</p>
        </div>

        {#<div class="advantages__item">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M511.6 94.9h-148c5.8-9.5 9.1-20.6 9.1-32.5 0-34.4-28-62.4-62.4-62.4h-7c-19 0-36 8.5-47.4 21.9C244.4 8.5 227.4 0 208.5 0h-12.3C164.6 0 139 25.6 139 57.1v5.3c0 11.9 3.3 23 9.1 32.5H.4v111.3h35.7V512H476V206.2h35.7V94.9h-.1zm-273.3 81.3v-51.3h35.3v51.3h-35.3zm65-146.2h7c17.9 0 32.4 14.5 32.4 32.4s-14.5 32.4-32.4 32.4h-39.4V62.4c0-17.8 14.5-32.4 32.4-32.4zM169 57.1c0-14.9 12.1-27.1 27.1-27.1h12.3c17.9 0 32.4 14.5 32.4 32.4v32.4h-39.4c-17.9 0-32.4-14.5-32.4-32.4v-5.3zM30.4 124.9h177.9v51.3H30.4v-51.3zM445.9 482H66.1V206.2H446V482h-.1zm35.7-305.8H303.7v-51.3h177.9v51.3z" /><path d="M205.5 394.2c20.9 19.3 41.5 32.7 42.3 33.3l8.2 5.3 8.2-5.3c.9-.6 21.5-14 42.3-33.3 29.9-27.7 45.1-53.3 45.1-76.1 0-33-26.8-59.8-59.8-59.8-12.6 0-25.2 4.7-35.8 13.1-10.6-8.4-23.2-13.1-35.8-13.1-33 0-59.8 26.8-59.8 59.8 0 22.8 15.2 48.4 45.1 76.1zm14.7-105.9c8.5 0 17.4 5 23.8 13.5l12 15.9 12-15.9c6.4-8.5 15.3-13.5 23.8-13.5 16.4 0 29.8 13.4 29.8 29.8 0 13.6-12.5 32.8-35.2 53.8-11.4 10.6-23 19.4-30.4 24.7-7.5-5.4-19-14.2-30.4-24.7-22.7-21-35.2-40.2-35.2-53.8 0-16.4 13.4-29.8 29.8-29.8z" /></svg>
          <p>Корисні <br>подарунки</p>
        </div>#}
      </div>
     {# <div class="advantages__gift">
        <div class="gifts">
          <p class="gifts__title">ВІДЕОКУРС У ПОДАРУНОК</p>
          <p class="gifts__name">Кадровий облік в 1С ЗУП 8.3<br>
            <span>(складається з 6 модулів, 39 уроків та відповідей на запитання)</span></p>
          <div class="gifts__button"><a data-toggle="collapse" data-target="#gifts1" aria-expanded="false" aria-controls="#gifts1" class="gifts__more-btn">Детальніше</a></div>
          <div id="gifts1" class="gifts__more collapse">
            <div class="gifts__more-body">
              #}{#  <p class="gifts__modul">МОДУЛЬ 1. СТАНДАРТИ Й БУХГАЛТЕРСЬКИЙ ОБЛІК (16 УРОКІВ)</p>#}{#
              <ul class="gifts__more-list">
                <li class="gifts__more-list-item"><p>Знайомство з конфігурацією 1С ЗУП 8.3</li>
                <li class="gifts__more-list-item"><p> Початкове заповнення інформаційної бази. Штатний розпис</p> </li>
                <li class="gifts__more-list-item"><p>Норма робочого часу та графіки роботи</p></li>
                <li class="gifts__more-list-item"><p>Кадровий облік співробітників організації</p></li>
                <li class="gifts__more-list-item"><p>Облік відпусток та неявок. Табель обліку робочого часу</p></li>
                <li class="gifts__more-list-item"><p> Кадрова звітність</p></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="gifts">
          <p class="gifts__title">ВІДЕОКУРС У ПОДАРУНОК</p>
          <p class="gifts__name">Зарплатний облік в 1С ЗУП 8.3<br>
            <span>(складається з 3 модулів, 24 уроків та відповідей на запитання)</span></p>
          <div class="gifts__button"><a data-toggle="collapse" data-target="#gifts2" aria-expanded="false" aria-controls="#gifts2" class="gifts__more-btn">Детальніше</a></div>
          <div id="gifts2" class="gifts__more collapse">
            <div class="gifts__more-body">
              #}{#  <p class="gifts__modul">МОДУЛЬ 1. СТАНДАРТИ Й БУХГАЛТЕРСЬКИЙ ОБЛІК (16 УРОКІВ)</p>#}{#
              <ul class="gifts__more-list">
                <li class="gifts__more-list-item"><p>Загальні налаштування бази</li>
                <li class="gifts__more-list-item"><p>Нарахування та виплати заробітку</p> </li>
                <li class="gifts__more-list-item"><p>Зарплатна звітність</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>#}
      <p class="advantages__btn">
        <a href="#order" class="btn js-scroll-to">Детальніше ></a>
      </p>
    </div>
  </div>

  <div id="order" class="order">
    <div class="order__container">

      <div id="timer-custom" class="order__timer">
        <p class="order__title">Акційні ціни діють ще</p>
        <div class="pricing-timer" data-timer-2="{{ page.options['timer']|default('') }}">
          <div class="pricing-timer__inner">
            <div class="pricing-timer__box"><span class="days">00</span>дні</div>
            <div class="pricing-timer__box"><span class="separate">:</span></div>
            <div class="pricing-timer__box"><span class="hours">00</span>год</div>
            <div class="pricing-timer__box"><span class="separate">:</span></div>
            <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
            <div class="pricing-timer__box"><span class="separate">:</span></div>
            <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
          </div>
        </div>
      </div>
      <div class="order__packages">
        <div class="order__package package package--gold">
          <div class="package__head package__head--gold-more">
            <p class="package__header package__header--gold">2 дні</p>
            <p class="package__subheader">Великий Зарплатно-<br> Кадровий Online-Семінар</p>
            <p class="package__price package__price-platform"></p>
            <p class="package__price package__price--gold">{{shop_price('онлайн-25112020БКадрС_БЗПС','site')}} <br /><span>грн</span></p>
            <p class="package__old-price">
              <s>{{shop_price('онлайн-25112020БКадрС_БЗПС','line')}}грн</s>
            </p>
            <p></p>
            <div class="package__btn"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-bszptakadru/standart" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
              <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                <input type="hidden" name="product" value="онлайн-25112020БКадрС_БЗПС" />
                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
              </form>
            </div>
          </div>
          <div class="package__body package__body--gold">
            <div class="package__platform"></div>
            <ul class="package__list">
              <li>відеозапис семінару та <br>
                відповідей на запитання</li>
              <li>презентації лекторів</li>
              <li>сертифікат учасника</li>
            </ul>
          </div>
          <div class="package__footer package__footer--gold">

            <div class="package__btn--footer"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-bszptakadru/standart" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
              <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                <input type="hidden" name="product" value="онлайн-25112020БКадрС_БЗПС" />
                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
              </form>
            </div>
          </div>
        </div>
        <div class="order__package package package--gold">
          <div class="package__head package__head--standart">
            <p class="package__header ">день 1 <br /></p>
            <p class="package__subheader">Великий Кадровий <br> Online-Семінар</p>
            <p class="package__price package__price-platform"></p>
            <p class="package__price package__price--gold">{{shop_price('онлайн-25112020БКадрС_ст','site')}} <br /><span>грн</span></p>
            <p class="package__old-price">
              <s>{{shop_price('онлайн-25112020БКадрС_ст','line')}}грн</s>
            </p>
            <p></p>
            <div class="package__btn"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-25112020BKadrS" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
              <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                <input type="hidden" name="product" value="онлайн-25112020БКадрС_ст" />
                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
              </form>
            </div>
          </div>
          <div class="package__body package__body--gold">
            <div class="package__platform"></div>
            <ul class="package__list">
              <li>відеозапис семінару та <br>
                відповідей на запитання</li>
              <li>презентації лекторів</li>
              <li>сертифікат учасника</li>
            </ul>
          </div>
          <div class="package__footer package__footer--gold">
            <div class="package__btn--footer"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-25112020BKadrS" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
              <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                <input type="hidden" name="product" value="онлайн-25112020БКадрС_ст" />
                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
              </form>
            </div>
          </div>
        </div>
        <div class="order__package package package--gold">
          <div class="package__head package__head--standart">
            <p class="package__header">день 2</p>
            <p class="package__subheader">Великий Online-Семінар<br> із Заробітної Плати</p>
            <p class="package__subheader package__header--gold"></p>
            <p class="package__price package__price-platform"></p>
            <p class="package__price package__price--gold">{{shop_price('онлайн-26112020БЗПС_ст','site')}} <br /><span>грн</span></p>
            <p class="package__old-price">
              <s>{{shop_price('онлайн-26112020БЗПС_ст','line')}}грн</s>
            </p>
            <p></p>
            <div class="package__btn"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-26112020bszp/standart" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
              <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                <input type="hidden" name="product" value="онлайн-26112020БЗПС_ст" />
                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
              </form>
            </div>
          </div>
          <div class="package__body package__body--gold">
            <div class="package__platform"></div>
            <ul class="package__list">
              <ul class="package__list">
                <li>відеозапис семінару та <br>
                  відповідей на запитання</li>
                <li>презентації лекторів</li>
                <li>сертифікат учасника</li>
              </ul>
            </ul>
          </div>
          <div class="package__footer package__footer--gold">
            <div class="package__btn--footer"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-26112020bszp/standart" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
              <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                <input type="hidden" name="product" value="онлайн-26112020БЗПС_ст" />
                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
              </form>
            </div>
          </div>
        </div>
        <div class="order__package package package--gold-plus">
          <div class="package__head package__head--gold-plus">
            <p class="package__header package__header--platform">БУХГАЛТЕРСЬКА ВІДЕОПЛАТФОРМА №1</p>
            <p class="price-platform-js">{{ shop_price('онлайн-platform_price','month') }} <br /><span>грн/міс.</span></p>
            <p class="package__old-price">
              <s> {{ shop_price('онлайн-platform_price','line') }} грн/міс.</s>
            </p>
            <div class="package__btn"><a class="btn btn--Sale js-platform-link js-banner-link" href="{{ link_platform }}" target="_blank">оплатити <br /><span>рахунок/картою</span></a></div>
          </div>
          <div class="package__body package__body--gold-plus">
            <div class="package__platform"></div>
            <ul class="package__list">
              <li class="is-platform"><b>Доступ до цього відеопроєкту <span>(2 дні)</span></b>, а також ще до <b>{{ shop_price('онлайн-platform_price','courses') }}+</b> відеокурсів, вебінарів та трансляцій на усі найважливіші бухгалтерські теми <b>за супервигідною ціною</b></li>
            </ul>
          </div>
          <div class="package__footer package__footer--gold-plus">

            <div class="package__btn--footer"><a class="btn btn--Sale js-platform-link js-banner-link" href="{{ link_platform }}" target="_blank">оплатити <br /><span>рахунок/картою</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {#<div id="video" class="video">
        <div id="bar-1" class="video__content">
            <div class="slider">
                <div class="slide">
  #}{# <p class="video__sub-title">Вікторія Величко запрошує</p>#}{#
  <p class="video__title">Вікторія Величко <br> запрошує</p>
  <div class="video__player"><a href="https://youtu.be/pf2x3WxcH3s" class="video__link">
          <picture><img src="https://i.ytimg.com/vi/pf2x3WxcH3s/maxresdefault.jpg" alt="Вікторія Величко" class="video__media"/></picture></a>
      <button aria-label="play" class="video__button">
          <svg>
              <path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="video__button-shape"></path>
              <path d="M 45,24 27,14 27,34" class="video__button-icon"></path>
          </svg>
      </button>
  </div>
</div>
</div>
</div>
</div>#}

  <div id="free-video" class="free-video">
    <div class="free-video__container container">
      <div class="free-video__content">
        <p class="free-video__subtitle">бухгалтерська відеоплатформа №1</p>
        <p class="free-video__title">Всі корисні відеоматеріали в одному місці!</p>
        <div class="free-video__block">
          <div class="free-video__text">
            <p>Хочете зекономити свої кошти та отримати доступ до {{ shop_price('онлайн-platform_price','courses') }}+ відеокурсів, вебінарів та трансляцій на усі найважливіші бухгалтерські теми?</p>
            <p>Передплатіть Бухгалтерську Відеоплатформу №1.</p><a href="{{ link_platform_video }}" target="_blank" class="js-banner-link">Детальніше про відеоплатформу</a>
          </div>
          <div class="free-video__video">
            <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
        <div class="free-video__buttons"> <a  href="{{ link_platform_video }}" target="_blank" class="free-video__btn js-banner-link">Передплатити зі знижкою<i aria-hidden="true" class="fa fa-chevron-right"></i></a></div>

      </div>
    </div>
  </div>

  <div class="partners">
    <div class="container partners__container">
      <ul class="partners__list">
        <li><a href="https://www.otpbank.com.ua/smb/products-financing/" target="_blank" rel="nofollow"><img src="{{ link }}/logo_otp.svg"  width="170" alt="otpbank" /></a></li>
        <li><a class="logonoclik" href="https://7eminar.com/" target="_blank"><img class="img_partners1" style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" /></a></li>
        <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит" /></a></li>
        {# <li><a href=" https://medoc.ua" target="_blank" rel="nofollow"><img src="/storage/pages/241_14042020/images/logo-medoc@4x.png" height="95" alt="medoc" /></a></li>#}
      </ul>
      {#  <ul class="partners__list">

                <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком" /></a></li>
                <li><a class="logonoclik" href="https://kraft.net.ua" target="_blank"><img class="img_partners1" style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" /></a></li>
            </ul>#}
    </div>
  </div>

  {# <div id="map" class="map">
        <a href="https://goo.gl/maps/xB3Dj658ott1qo969" target="_blank">
            <div class="map__container">
                <div class="map__item">
                    <p>м. Київ, конгрес-хол «Mercure»</p>
                    <p><span>вул. Вадима Гетьмана, 6</span></p>
                </div>
            </div>

        </a>
    </div>#}

  <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
    <div role="document" class="modal-dialog">
      <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
      <div class="modal-content">
        <div class="player"></div>
      </div>
    </div>
  </div>

  <div id="loader-page" class="loader-page">
    <div class="dots">
      <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
  </div>
</div>

