<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="wrapper wrapper_hero">
        <div class="content">
            <div class="block-hero">
                <div class="block-hero__menu">
                    <div class="b-menu">
                        <ul class="b-menu__list b-menu__list--left">
                            <li class="b-menu__item"><a href="#lector" class="b-menu__link">Лектор</a></li>
                            <li class="b-menu__item"><a href="#les1" class="b-menu__link">Урок 1</a></li>
                            <li class="b-menu__item"><a href="#les2" class="b-menu__link">Урок 2</a></li>
                            <li class="b-menu__item"><a href="#les3" class="b-menu__link">Урок 3</a></li>
                            <li class="b-menu__item"><a href="#order" class="b-menu__link">Придбати</a></li>
                        </ul>
                        <ul class="b-menu__list b-menu__list--right">
                            <li class="b-menu__item"><a href="/" class="b-menu__link">Iнші семінари</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block-hero__wrap">
                    <div class="block-hero__info">
                        <div class="hero-info">
                            <h1 class="hero-info__title">Бухгалтерський облік<span>як основа для системи</span>фінансового менеджменту</h1>
                        </div>
                    </div>
                    <p class="block-hero__sub-title">Три відеоуроки  та відповіді на запитання</p>
                    <div class="block-hero__order hero-order"><a href="#order" class="hero-order__btn">Замовити</a></div>
                </div>
                <div class="vidModal">
                    <button type="button" data-toggle="modal" data-target="#myModal" data-vidId="8plt2ajcJ40" class="but pulse"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="content">
            <div class="block-advantages clearfix">
                <div class="block-advantages__about about">
                    <h2 class="about__head">Про що ви дізнаєтесь?</h2>
                    <ul class="about__list">
                        <li class="about__item">Як легко будувати управлінські звіти на основі стандартного бухобліку</li>
                        <li class="about__item">Як розробляти і контролювати бюджети прямо в 1С:Бухгалтерії</li>
                        <li class="about__item">Як прогнозувати рух грошових коштів, розраховувати КРІ і робити план-фактний аналіз</li>
                    </ul>
                </div>
                <div class="block-advantages__got got">
                    <h2 class="got__head">ВИ ОТРИМАЄТЕ:</h2>
                    <div data-animated="flipInX" class="got__item one">
                        <p>Три</p>
                        <p>відеоуроки</p>
                    </div>
                    <div data-animated="flipInX" class="got__item two">
                        <p>Сертифікат</p>
                        <p>учасника</p>
                    </div>
                    <div data-animated="flipInX" class="got__item three">
                        <p>Презентації</p>
                        <p>лектора</p>
                    </div>
                    <div data-animated="flipInX" class="got__item four">
                        <p>Відповіді</p>
                        <p>на запитання</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="content">
            <div id="lector" class="block-section">
                <p class="b-title b-title--lector">ЛЕКТОР <span>Костянтин Єрохін</span>
                </p>
                <div class="block-section__lector">
                    <p class="lector-regalia">Кандидат економічних наук, СІМА, фінансовий директор ІT-компанії, автор статей і книжок про фінанси, облік, оподаткування і економіку.</p>
                </div>
                <p class="b-title b-title--themes">Теми і дати уроків:</p>
                <div class="block-section__lessons lessons">
                    <div id="les1" data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="lessons__item lesson">
                        <p class="lesson__title"><span>Урок 1.</span> Бухоблік як основа для управлінського обліку
                        </p>
                        <button type="button" class="lesson__btn">Детальніше</button>
                    </div>
                    <div id="lesson1" class="lessons__themes collapse">
                        <div class="program">
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Як налаштувати план рахунків і звітність максимально ефективно для надання інформації внутрішнім користувачам.</p>
                                </div>
                            </div>
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Як відкрити субрахунки, налаштувати аналітику, робити проводки для планових показників і рахувати відхилення.</p>
                                </div>
                            </div>
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Структура управлінської звітності та її відмінності від бухгалтерських форм.</p>
                                </div>
                            </div>
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Що таке управлінський баланс і чим він відрізняється від бухгалтерського.</p>
                                </div>
                            </div>
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Практичний кейс на базі 1С:Бухгалтерія.</p>
                                </div>
                            </div>
                            <div class="program__item program__item--centered program__item--date">
                                <div class="program__item--text">
                                    <p>Тривалість уроку: <b>90 хвилин</b>
                                    </p><a href="#order" class="program__btn">Замовити</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="les2" data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="lessons__item lesson">
                        <p class="lesson__title"><span>Урок 2.</span> Управління грошовими коштами на основі даних на бухгалтерських рахунках
                        </p>
                        <button type="button" class="lesson__btn">Детальніше</button>
                    </div>
                    <div id="lesson2" class="lessons__themes collapse">
                        <div class="program">
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Бюджет руху грошових коштів, оперативний cash-flow календар, робота з заявками на оплату.</p>
                                </div>
                            </div>
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Бюджетування на основі плану рахунків.</p>
                                </div>
                            </div>
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Аналіз план-фактних відхилень.</p>
                                </div>
                            </div>
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Практичний кейс на базі 1С:Бухгалтерія.</p>
                                </div>
                            </div>
                            <div class="program__item program__item--centered program__item--date">
                                <div class="program__item--text">
                                    <p>Тривалість уроку: <b>90 хвилин</b>
                                    </p><a href="#order" class="program__btn">Замовити</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="les3" data-toggle="collapse" data-target="#lesson3" aria-expanded="false" aria-controls="#lesson3" class="lessons__item lesson">
                        <p class="lesson__title"><span>Урок 3.</span> Звіт про фінансові результати як частина стратегічного управління фінансами
                        </p>
                        <button type="button" class="lesson__btn">Детальніше</button>
                    </div>
                    <div id="lesson3" class="lessons__themes collapse">
                        <div class="program">
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Що потрібно зробити, щоб ефективно використовувати дані бухобліку для управління фінансами.</p>
                                </div>
                            </div>
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Як отримувати всі фінансові показники на основі плану рахунків.</p>
                                </div>
                            </div>
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Розрахунок КРІ на прикладах.</p>
                                </div>
                            </div>
                            <div class="program__item">
                                <div class="program__item--text">
                                    <p>Практичний кейс на базі 1С:Бухгалтерія.</p>
                                </div>
                            </div>
                            <div class="program__item program__item--centered program__item--date">
                                <div class="program__item--text">
                                    <p>Тривалість уроку: <b>90 хвилин</b>
                                    </p><a href="#order" class="program__btn">Замовити</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="les8" data-toggle="collapse" data-target="#lesson8" aria-expanded="false" aria-controls="#lesson8" class="lessons__item lesson">
                        <p class="lesson__title">Письмові відповіді на запитання</p>
                        <button type="button" class="lesson__btn">Детальніше</button>
                    </div>
                    <div id="lesson8" class="lessons__themes collapse">
                        <div class="program">
                            <div class="program__item program__item--centered">
                                <div class="program__item--text">Змога задати питання лектору завчасно.</div>
                            </div>
                            <div class="program__item program__item--centered">
                                <div class="program__item--text">Гарантоване отримання відповіді на запитання.</div>
                            </div>
                            <div class="program__item program__item--centered">
                                <div class="program__item--text">Можливість дізнатися відповіді на актуальні запитання від ваших колег.</div>
                            </div>
                            <div class="program__item program__item--centered program__item--date">
                                <div class="program__item--text program__item--text"><b>Лектор відповідатиме на питання письмово у чаті</b><a href="#order" class="program__btn">Замовити</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div id="order" class="content"></div>
    </div>
    <div id="timer-custom" class="wrapper">
        <div class="content">
            <div id="time" class="block-timer">
                <div class="timer-custom">
                    <h3>ЦІНА ДІЄ ДО <span id="timer-title">{{ page.options['date']|default('') }}</span>
                    </h3>
                    <div class="pricing-timer" data-timer="{{ page.options['timer']|default('') }}">
                        <div class="pricing-timer__inner">
                            <div class="pricing-timer__box"><span class="days">00</span>дні</div>
                            <div class="pricing-timer__box"><span class="separate">:</span></div>
                            <div class="pricing-timer__box"><span class="hours">00</span>год</div>
                            <div class="pricing-timer__box"><span class="separate">:</span></div>
                            <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
                            <div class="pricing-timer__box"><span class="separate">:</span></div>
                            <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_orders">
        <div class="block-orders content">
            <div class="block-orders__wrap">
                <div class="tarif">
                    <div class="tarif__head">
                        <h3>ВИ ОТРИМАЄТЕ:</h3>
                    </div>
                    <ul class="tarif__list">
                        <li class="tarif__item ok">три відеоуроки</li>
                        <li class="tarif__item ok">презентації лектора</li>
                        <li class="tarif__item ok">сертифікат учасника</li>
                        <li class="tarif__item ok">відповіді на запитання</li>
                    </ul>
                    <div class="tarif__wrong">{{shop_price('курс-080119Бухобл','line')}}</div>
                    <p class="tarif__price">{{shop_price('курс-080119Бухобл','site')}} грн</p>
                    <div class="tarif__btn">
                        <a class="btn"  href="https://7eminar.ua/checkout/k-080119Bukhobl" target="_blank" >Замовити</a>
                      {#  <form id="form5" method="post" action="?new=1" data-validate="ajax">
                            <input type="hidden" name="product" value="курс-080119Бухобл"/>
                            <button type="submit" rel="order" class="btn">ЗАМОВИТИ</button>
                        </form>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_video">
        <div class="content">
            <div class="block-video">
                <div class="block-video__container">
                    <p class="b-title b-title--video">Костянтин Єрохін запрошує
                    </p>
                    <div class="block-video__player">
                        <iframe src="https://www.youtube.com/embed/8plt2ajcJ40?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_partners">
        <div class="content">
            <div class="partners">
                <table>
                    <tr>
                        <td><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></td>
                        <td><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></td>
                        <td><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></td>
                    </tr>
                </table>
                {#<table>
                    <tr>
                        <td><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></td>
                        <td><a href="https://kraft.net.ua" target="_blank" class="logonoclik"><img style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" class="img_partners1"/></a></td>
                    </tr>
                </table>#}

            </div>
        </div>
    </div>
    <div id="myModal" tabindex="-1" role="dialog" class="modal fade">
        <div role="document" class="modal-dialog">
            <p id="closeModal" data-dismiss="modal" class="close-modal">Х</p>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
</div>