{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>Н</span>овини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
    </div>
    <div class="hero">
        <div class="hero__container">
            <div class="hero__content">
                <p class="hero__title">Оптимістичний гороскоп<br/>бухгалтера та кадровика</p>
                <p class="hero__sub-title">Що чекає на вас цього літа?</p>
            </div>
        </div>
    </div>
    <div class="horoskop">
        <div class="horoskop__container">
            <div class="horoskop__content">
                <div class="horoskop__item">
                    <div class="horoskop__header"><img alt="oven" data-src="{{ link }}/01.gif" class="horoskop__image"/>
                        <div class="horoskop__title">
                            <p>Якщо ви народилися  в період з <b>01 січня по 20 лютого</b>, то ваш знак «СТІЛ»
                            </p>
                        </div>
                    </div>
                    <div class="horoskop__body">
                        <p class="horoskop__text">Вже цього літа ви станете ключовою фігурою у всіх застіллях. Вас чекають приємні спільні трапези з вашими друзями. Однак за святами не забувайте про роботу, щоб невідкладні справи і важливі документи не завалили вас з головою. Круглий стіл – це символ мудрості, любові, розуміння, а значить ці три важливих якості будуть з вами все літо і принесуть вам удачу і щастя.</p><b> 7eminar.com наголошує</b>
                        <p class="horoskop__text">А ще більше щастя ви отримаєте від користування <a href="https://7eminar.ua/subscribe?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=platform&amp;utm_content=link_horoscope" target="_blank" class="link-js">Бухгалтерською відеоплатформою №1</a>, тим більше на стіл треба викласти зараз всього {{ shop_price('онлайн-platform_price','month') }} грн за місяць користування.<br/><a href="https://7eminar.ua/subscribe?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=platform&amp;utm_content=link_horoscope" target="_blank" class="link-js">Отримати щастя</a>
                        </p>
                    </div>
                </div>
                <div class="horoskop__item">
                    <div class="horoskop__header"><img alt="oven" data-src="{{ link }}/02.gif" class="horoskop__image"/>
                        <div class="horoskop__title">
                            <p>Якщо ви народилися  в період з <b>21 лютого по 10 березня</b>, то ваш знак «СТІЛЕЦЬ»
                            </p>
                        </div>
                    </div>
                    <div class="horoskop__body">
                        <p class="horoskop__text">Вже цього літа ваша цінність в очах начальства виросте до цін на антикваріат. Ваше становище покращиться, з'явиться можливість поміняти стілець простого бухгалтера/кадровика на крісло головного або на трон фінансового директора / директора з кадрових питань. Для вас вже настав сприятливий час починати нові справи, тому що всі ваші починання будуть успішними.</p><b> 7eminar.com наголошує</b>
                        <p class="horoskop__text">А стовідсотковий успіх вам гарантує участь у <a href="https://7eminar.ua/april-may2020?utm_source=7eminar.com&utm_medium=referral&utm_campaign=vbm3&utm_content=link_horoscope" target="_blank" class="link-js">Великому Бухгалтерському Online-марафоні</a>, тим більше вийшов вже третій сезон: поради, нове законодавство, майстер-класи для бухгалтерів і кадровиків.<br/><a href="https://7eminar.ua/april-may2020?utm_source=7eminar.com&utm_medium=referral&utm_campaign=vbm3&utm_content=link_horoscope" target="_blank" class="link-js">Зареєструватися на марафон</a>
                        </p>
                    </div>
                </div>
                <div class="horoskop__item">
                    <div class="horoskop__header"><img alt="oven" data-src="{{ link }}/03.gif" class="horoskop__image"/>
                        <div class="horoskop__title">
                            <p>Якщо ви народилися  в період з <b>11 березня по 20 квітня</b>, то ваш знак «ШАФА»
                            </p>
                        </div>
                    </div>
                    <div class="horoskop__body">
                        <p class="horoskop__text">Цього літа на вас чекає матеріальне благополуччя. Якщо ви будете більш відкритими і щедрими з оточуючими, то з скромного кута вас переставлять на чільне місце, що значно збільшить ваші доходи. А якщо у вашій шафі є свої скелети, то скористайтеся радою Бернарда Шоу: «Якщо не можете позбутися від скелета у шафі – змусьте його танцювати», і удача буде завжди на вашому боці.</p><b> 7eminar.com наголошує</b>
                        <p class="horoskop__text">Та пошукайте у шафі дуже актуальний матеріал <a href="/automatization2020?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=automatization&amp;utm_content=link_horoscope" target="_blank" class="link-js">«Автоматизація обліку»</a> – серія навчальних відеокурсів про роботу в 1С та ЕКПП.<br/><a href="/automatization2020?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=automatization&amp;utm_content=link_horoscope" target="_blank" class="link-js">Обрати відеокурс</a>
                        </p>
                    </div>
                </div>
                <div class="horoskop__item">
                    <div class="horoskop__header"><img alt="oven" data-src="{{ link }}/04.gif" class="horoskop__image"/>
                        <div class="horoskop__title">
                            <p>Якщо ви народилися  в період з <b>21 квітня по 20 травня</b>, то ваш знак «КОМП'ЮТЕР»
                            </p>
                        </div>
                    </div>
                    <div class="horoskop__body">
                        <p class="horoskop__text">Влітку не захоплюйтеся роботою, щоб не зависнути. Краще ставитеся до життя як до гри, тоді ви вийдете на новий рівень у відносинах з оточуючими, що значно зміцнить ваші ділові та дружні зв'язки. Приділіть увагу своєму здоров'ю, щоб захиститися від всіх вірусів. Ваші віртуальні мрії обов'язково стануть реальністю.</p><b> 7eminar.com наголошує</b>
                        <p class="horoskop__text">А якщо шеф вирішив придбати не тільки комп але й авто, то вам стануть дуже корисними 7 відеоуроків <a href="/avto2020?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=avto&amp;utm_content=link_horoscope" target="_blank" class="link-js">«Авто на підприємстві, облік та податки у 2020 р.»</a>
                        </p>
                    </div>
                </div>
                <div class="horoskop__item">
                    <div class="horoskop__header"><img alt="oven" data-src="{{ link }}/05.gif" class="horoskop__image"/>
                        <div class="horoskop__title">
                            <p>Якщо ви народилися  в період з <b>21 травня по 20 червня</b>, то ваш знак «КСЕРОКС»
                            </p>
                        </div>
                    </div>
                    <div class="horoskop__body">
                        <p class="horoskop__text">Для вас літо пройде під девізом «Плодіться і розмножуйтеся». Цей девіз підійде не тільки вам, але і вашим близьким, а також домашнім тваринам. Гроші в гаманці будуть множитися зі швидкістю світла. Одним словом, це літо буде для вас багатим і плідним.</p><b> 7eminar.com наголошує</b>
                        <p class="horoskop__text">Тому обирайте для відрядження якусь чарівну країну. А дізнатись, як це правильно оформити можна на відеоуроках <a href="/vidryadzhennya2020?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=vidryadzhennya&amp;utm_content=link_horoscope" target="_blank" class="link-js">«Все про відрядження: оформлення, оплата, оподаткування, облік»</a>
                        </p>
                    </div>
                </div>
                <div class="horoskop__item">
                    <div class="horoskop__header"><img alt="oven" data-src="{{ link }}/06.gif" class="horoskop__image"/>
                        <div class="horoskop__title">
                            <p>Якщо ви народилися  в період з <b>21 червня по 10 серпня</b>, то ваш знак «ТЕЛЕФОН»
                            </p>
                        </div>
                    </div>
                    <div class="horoskop__body">
                        <p class="horoskop__text">Завдяки вашій мобільності влітку у вас з'являться нові міжнародні зв'язки та контакти. Підзарядку радимо провести на Мальдівах, адже доходів для цього буде достатньо. Будьте доступні для друзів та родичів, блокуйтесь від стресів і ваш рахунок обов'язково поповниться.</p><b> 7eminar.com наголошує</b>
                        <p class="horoskop__text">А ще гарний привід зателефонувати та замовити спілкування з найкращими лекторами України на online-конференції <a href="https://7eminar.ua/13052020?utm_source=7eminar.com&utm_medium=referral&utm_campaign=conference1305&utm_content=link_horoscope" target="_blank" class="link-js">«Бухгалтерське життя під час та після карантину: запізнілі документи, ПДВ та ПН, перевірки, зарплата та кадри»
                            </a>. Реєстрація вже відкрита, тож переходьте <a href="https://7eminar.ua/13052020?utm_source=7eminar.com&utm_medium=referral&utm_campaign=conference1305&utm_content=link_horoscope" target="_blank" class="link-js">за посиланням</a>
                        </p>
                    </div>
                </div>
                <div class="horoskop__item">
                    <div class="horoskop__header"><img alt="oven" data-src="{{ link }}/07.gif" class="horoskop__image"/>
                        <div class="horoskop__title">
                            <p>Якщо ви народилися  в період з <b>11 серпня по 20 вересня</b>, то ваш знак «ЛАМПА»
                            </p>
                        </div>
                    </div>
                    <div class="horoskop__body">
                        <p class="horoskop__text">У новому році ваша потужність досягне 1000 Вт. Перспективні ідеї захоплять вас з головою і принесуть вам удачу і благополуччя. Але, щоб не перегоріти, вирушайте вчасно у відпустку. А повернувшись з відпустки, приділіть увагу рідним і близьким, поділіться з ними своїм теплом, і все буде в абажурі, тобто в ажурі.</p><b> 7eminar.com наголошує</b>
                        <p class="horoskop__text">А під яскравою лампою дуже комфортно дивитись вебінар <a href="https://7eminar.ua/april2020?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=vbm2&amp;utm_content=link_horoscope" target="_blank" class="link-js">«ФОПівське життя в умовах карантину»</a>.<br/>Реєструйтеся вже зараз <a href="https://7eminar.ua/april2020?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=vbm2&amp;utm_content=link_horoscope" target="_blank" class="link-js">тут</a> і переглядайте.
                        </p>
                    </div>
                </div>
                <div class="horoskop__item">
                    <div class="horoskop__header"><img alt="oven" data-src="{{ link }}/08.gif" class="horoskop__image"/>
                        <div class="horoskop__title">
                            <p>Якщо ви народилися  в період з <b>21 вересня по 10 листопада</b>, то ваш знак «КАЛЬКУЛЯТОР»
                            </p>
                        </div>
                    </div>
                    <div class="horoskop__body">
                        <p class="horoskop__text">Ваше вміння все правильно розрахувати принесе вам удачу. Помножте відпочинок, відніміть роботу, зведіть у квадрат зарплату і ваша формула успішного літа готова! Кнопка ± запросто нейтралізує будь-які негативні впливи, перевівши всі мінуси у плюси, а проста функція округлення додасть вам благополуччя.</p><b> 7eminar.com наголошує</b>
                        <p class="horoskop__text">А взявши калькулятор в руки, ви легко вирахуєте фантастичну економію, якщо зараз передплатите <a href="https://7eminar.ua/subscribe?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=platform&amp;utm_content=link_horoscope" target="_blank" class="link-js">Бухгалтерську відеоплатформу</a> всього за {{ shop_price('онлайн-platform_price','month') }} грн/міс.<br/><a href="https://7eminar.ua/subscribe?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=platform&amp;utm_content=link_horoscope" target="_blank" class="link-js">Обрати період передплати</a>
                        </p>
                    </div>
                </div>
                <div class="horoskop__item">
                    <div class="horoskop__header"><img alt="oven" data-src="{{ link }}/09.gif" class="horoskop__image lazy"/>
                        <div class="horoskop__title">
                            <p>Якщо ви народилися  в період з <b>11 листопада по 31 грудня</b>, то ваш знак «ЧАЙНИК»
                            </p>
                        </div>
                    </div>
                    <div class="horoskop__body">
                        <p class="horoskop__text">Влітку ви будете кип'ятитись, але вміння вчасно відключитися врятує вас від перевантажень. Все літо ви будете варитися в любові. Вас чекає багато амурних радощів і купа гарячих шанувальників. Занурившись в підбадьорливу та освіжаючу відпустку, ви наберетеся нових сил, завдяки чому все літо буде для вас насиченим, повним цікавих подій і бурхливих вражень.</p><b> 7eminar.com наголошує</b>
                        <p class="horoskop__text">А найбільше враження ви отримаєте від відеокурсу <a href="/zarplata2020?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=zarplata&amp;utm_content=link_horoscope" target="_blank" class="link-js">«Зарплата-2020: нарахування, податки, звітність»</a> , бо його веде неперевершена Тетяна Мойсеєнко.<br/><a href="/zarplata2020?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=zarplata&amp;utm_content=link_horoscope" target="_blank" class="link-js">Детальніше про курс</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="free-video" class="free-video">
        <div class="free-video__container">
            <div class="free-video__content">
                <p class="free-video__title">Оптимістична порада та рекомендація від 7eminar.com</p>
                <div class="free-video__block">
                    <div class="free-video__text">
                        <p>Оформіть передплату на Бухгалтерську відеоплатформу №1 за акційною ціною всього {{ shop_price('онлайн-platform_price','month') }} грн/міс. вже зараз!</p>
                        <p class="free-video__sub-text">Отримайте безкоштовний доступ до понад {{ shop_price('онлайн-platform_price','courses') }} актуальних курсів, вебінарів та трансляцій і ще 50+ нових відеопроєктів вже у 2020 році на всі гарячі бухгалтерські теми.</p>
                        <!--a(href="https://7eminar.ua" target="_blank") Детальніше про відеоплатформу-->
                    </div>
                    <div class="free-video__video">
                        <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div><a href="https://7eminar.ua/subscribe?utm_source=7eminar.com&amp;utm_medium=referral&amp;utm_campaign=platform&amp;utm_content=link_horoscope" target="_blank" class="free-video__btn">Передплатити за {{ shop_price('онлайн-platform_price','month') }} грн/міс.</a>
                <p class="free-video__text-ps">P.S. Читайте правильні гороскопи! :)</p>
            </div>
        </div>
    </div>
    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
    <div id="modal-present" tabindex="-1" role="dialog" class="modal-present modal fade">
        <div role="document" class="modal-dialog">
            <div data-dismiss="modal" class="close-modal"></div>
            <div class="modal-content">
                <div class="modal-present__content"></div>
            </div>
        </div>
    </div>
    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>