{% set link_platform_order = "/?utm_campaign=bbs_09072020_platform&utm_content=knopka_tabl_tsin&utm_medium=refferal&utm_source=7eminar.ua" %}
{% set link_platform_info = "/?utm_campaign=bbs_09072020_platform&utm_content=link_shapka&utm_medium=refferal&utm_source=7eminar.ua" %}
{% set action = page.url('/images') %}
{% set link_program = "https://7eminar.com/files/program__09072020.pdf" %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">

        <div class="hero__container container">
            <div class="menu ">
                <div class="menu__container">
                    <ul class="menu__list">
                        <li><a href="#profession">ДЛЯ КОГО</a></li>
                        <li><a href="#lectors">Лектори</a></li>
                        <li><a href="#themes">теми</a></li>
                        <li><a href="#gifts">Подарунки</a></li>
                        <li><a href="#advantages">ЩО ОТРИМАЄТЕ</a></li>
                        <li><a href="#order">ПРИДБАТИ</a></li>
                    </ul>
                </div>
            </div>
            <div class="hero__info skewX">

                    <div class="hero__free "><p class="skew-norma">відеозапис</p></div>

            </div>
            <p class="hero__title">великий бухгалтерський</p>
            <p class="hero__sub-title">Online-семінар</p>
            <div class="hero__content">

                <div class="hero__item ">
                      <div  class="hero__item  form-wr">
                         <div class="form" id="form">
                             <div class="form__body">
                                 <div class="form__title">ВВЕДІТЬ СВОЇ ДАНІ ТА ОТРИМАЙТЕ ПОДАРУНОК</div>
                                 <form  class="free-demo" >
                                     <div class="form-group">
                                         <input  name="name" type="text" placeholder="Ім’я" maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                                     </div>

                                     <div class="form-group">
                                         <input  name="email" type="email" placeholder="Email" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                                     </div>

                                     <div class="form-group">
                                         <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Моб. телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                                     </div>
                                     <input class="article"  type="hidden" value="онлайн-09072020ББС_demo"/>
                                     <input class="utm" name="options[utm]" type="hidden" value=""/>
                                     <input class="dealer" name="dealer" type="hidden" value="4"/>
                                     <div class="form__btn">
                                         <button type="submit" class="btn btn-default">зареєструватися </button>
                                     </div>
                                 </form>
                                 <div class="timer">
                                     <p class="timer__title">РЕЄСТРАЦІЯ ДІЄ ЩЕ</p>
                                     <div class="timer__block">
                                         <div class="timer__box">
                                             <div class="timer__mins">00</div><span> хв</span>
                                         </div><span class="timer__separate">:</span>
                                         <div class="timer__box">
                                             <div class="timer__secs">00 </div><span> сек</span>
                                         </div>
                                     </div>

                                 </div>
                             </div>
                             <div class="form__footer">
                                 <div class="gift">
                                     <p class="gift__title">Подарунок за реєстрацію:</p>
                                     <p class="gift__sub-title">Універсальна таблиця
                                         <br>
                                         нових штрафів </p>
                                 </div>
                             </div>

                         </div>
                 </div>
                </div>
                <div class="hero__item">
                    <div class="hero__lectors">
                        <div class="hero__lectors-photo"></div>

                    </div>
                </div>


            </div>
        </div>
    </div>
   {# <p  class="arrow"><span></span><span></span><span></span></p>#}



   {# <div class="info"  id="info">
        <div class="info__container ">
            <div class="info__content">
                <div class="info__item skewX">
                    <p class="info__number skew-norma">3</p>
                    <p class="info__text skew-norma">потоки <br>
                        одночасно</p>

                </div>
                <div class="info__item skewX">
                    <p class="info__number skew-norma">6</p>
                    <p class="info__text skew-norma">експертів- <br>
                        практиків</p>

                </div>
                <div class="info__item skewX">
                    <p class="info__number skew-norma">12</p>
                    <p class="info__text skew-norma">годин <br>
                        практичного <br>
                        матеріалу</p>
                </div>
                <div class="info__item skewX info__item--online">
                    <p class="info__text skew-norma"> <span>ONLINE</span>
                        БЕЗКОШТОВНО</p>

                </div>
            </div>
            <a href="#order" class="info__btn">Замовити участь</a>

        </div>
    </div>#}

    <div class="knowledges" id="knowledges">
        <div class="knowledges__container">
            <p class="knowledges__sub-title">основні тезиси</p>
            <p class="knowledges__title">про що дізнаєтеся</p>
            <div class="knowledges__content">
                <ul class="knowledges__list">
                    <li class="knowledges__item skewX">
                        <p class="knowledges__text skew-norma">Податкові перевірки за новими правилами.</p>
                        <p class="knowledges__text skew-norma">Перевірки Держпраці як «карантинні» пастки</p>
                    </li>

                    <li class="knowledges__item skewX">
                        <p class="knowledges__text skew-norma">Зміни в реєстрації ПН, ризики  </p>
                        <p class="knowledges__text skew-norma">«збиткового» експорту тощо</p>
                    </li>

                    <li class="knowledges__item skewX">
                        <p class="knowledges__text skew-norma">ФОП-зміни: (не)сплата ЄП та ЄСВ.</p>
                        <p class="knowledges__text skew-norma">   Приховані ризики для ФОПів в обліку <br> доходів та витрат</p>
                    </li>
                </ul>
                <ul class="knowledges__list">
                    <li class="knowledges__item skewX">
                        <p class="knowledges__text skew-norma">Нове в ПДФО, ВЗ, ЄСВ: звітність, штрафи, <br> перевірки.</p>
                        <p class="knowledges__text skew-norma"> Як нарахувати лікарняні та декретні</p>
                    </li>

                    <li class="knowledges__item skewX">
                        <p class="knowledges__text skew-norma">З 1 серпня – нові вимоги застосування РРО <br> і нові реалії фінансової відповідальності</p>
                    </li>

                    <li class="knowledges__item skewX">
                        <p class="knowledges__text skew-norma">Податкові новації в обліку основних <br> засобів, методи амортизації</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div id="profession" class="profession">
       <div class="profession__container">
           <p class="profession__sub-title">Основні посади</p>
           <p class="profession__title">КОМУ ЦЕ БУДЕ ЦІКАВО?</p>

           <ul class="profession__list">
               <li class="profession__item">

                   <p class="profession__name">фопУ</p>
               </li>
               <li class="profession__item">

                   <p class="profession__name">Бухгалтеру <br>
                       за напрямом</p>
               </li>
               <li class="profession__item">

                   <p class="profession__name">головному <br>
                       Бухгалтеру</p>
               </li>
               <li class="profession__item">

                   <p class="profession__name">Аудитору</p>
               </li>
           </ul>

           <a href="#order" class="profession__btn js-scroll-to">Детальніше</a>
       </div>
    </div>

    <div id="lectors" class="lectors">
        <div class="lectors__container">
            <p class="lectors__sub-title">справжні профі</p>
            <p class="lectors__title">лектори семінару</p>
            <div class="lectors__content">
                <div class="lectors__item">
                    <p class="lectors__name">Тетяна <br>
                        мойсеєнко</p>
                    <p class="lectors__text">Шеф-редактор 7eminar.com, експерт <br> із трудового права та кадрового обліку.</p>
                    <p class="lectors__text">  Щодня професійно консультує ТОП-10 компаній <br> України.</p>
                    <p class="lectors__text">Досвід лекторської роботи – понад 15000 годин,<br> у тому числі в online-семінарах, вебінарах,
                        <br> уроках для бухгалтерів і кадровиків</p>

                </div>

                <div class="lectors__item">
                    <p class="lectors__name">МАР’ЯНА
                        <br>
                        КАВИН</p>
                    <p class="lectors__text">     Незалежний податковий консультант і практикуючий бухгалтер. Лекторська робота за спеціалізацією «Податки та бухоблік» з 2010 року.</p>

                    <p class="lectors__text">   Публікації у професійних бухгалтерських виданнях. Здобула сертифікати: САР, СІРА, АССА DipIFR, IFA-внутрішній аудит</p>
                </div>


                <div class="lectors__item">
                    <p class="lectors__name">ВІКТОРІЯ  <br>
                        ВЕЛИЧКО</p>
                    <p class="lectors__text">  Незалежний практикуючий консультант з питань оподаткування та бухгалтерського обліку, сертифікований тренер бізнес-програм, фахівець з питань податкового та фінансового планування.</p>
                    <p class="lectors__text">  Має понад 18000 годин публічних виступів, з них 12000 годин семінарів-практикумів і тренінгів</p>
                </div>


                <div class="lectors__item">
                    <p class="lectors__name">ОЛЕКСАНДР
                        <br>
                        СМИРНОВ</p>
                    <p class="lectors__text">   Адвокат. Спеціалізація – податкові конфлікти, легальна оптимізація оподаткування, захист бізнесу і посадових осіб від неправомірних дій контролюючих органів. Досвід роботи – понад 14 років.</p>
                    <p class="lectors__text">   Проводить авторські семінари для керівників, бухгалтерів, юристів з 2012 року</p>

                </div>

                <div class="lectors__item">
                    <p class="lectors__name">ТИМУР
                        <br>
                        АЛІЄВ</p>
                    <p class="lectors__text"> Консультант з питань бухгалтерського обліку та оподаткування.</p>
                    <p class="lectors__text"> Експерт з трудового права та оплати праці, фахівець з управлінського обліку та
                        бюджетування.</p>
                    <p class="lectors__text"> Автор понад тисячі публікацій в спеціалізованих  виданнях, а також численних запитів в офіційні
                        органи. <br>  Кадровий аудитор</p>
                </div>

                <div class="lectors__item">
                    <p class="lectors__name">СЕРГІЙ
                        <br>
                        ДРОБОТТЯ</p>
                    <p class="lectors__text">  Відомий експерт-консультант із питань оподаткування, спеціалізація – ПДВ, ТЕД, ЗЕД.</p>
                    <p class="lectors__text"> Ексредактор газети «Бухгалтерія», має багаторічний досвід роботи у ДПАУ (10 років) на посаді начальника відділу ПДВ. Автор численних статей і публікацій із питань оподаткування</p>
                </div>
            </div>
            <a href="#order" class="lectors__btn js-scroll-to">ДІЗНАТИСЯ ВАРТІСТЬ</a>
        </div>
    </div>

    <div id="themes" class="themes">
        <div class="themes__container">
            <p class="themes__sub-title">програма</p>
            <p class="themes__title">Теми семінару</p>
        </div>
        <div class="themes__main">
            <div class="themes__container themes__container--main">
                <div class="themes__main-item">
                   {# <div class="themes__time">
                        10:00–10:55
                    </div>#}
                    <div class="themes__text">
                        <p class="themes__topic">Зміни у податкових перевірках. Податкові запити</p>
                        <p class="themes__lector">Олександр Смирнов</p>
                    </div>
                </div>

                <div class="themes__main-item">
                   {# <div class="themes__time">
                        10:55–11:50
                    </div>#}
                    <div class="themes__text">
                        <p class="themes__topic">Зміни з ЄСВ, ПДФО, ВЗ. Звітність</p>
                        <p class="themes__lector">Тетяна Мойсеєнко</p>
                    </div>
                </div>

                <div class="themes__main-item">
                    {#<div class="themes__time">
                        11:50–12:30
                    </div>#}
                    <div class="themes__text">
                        <p class="themes__topic">ПДВ-зміни</p>
                        <p class="themes__lector">Сергій Дробоття</p>
                    </div>
                </div>

               {# <div class="themes__main-item">
                   #}{# <div class="themes__time">
                        12:30–13:00
                    </div>#}{#
                    <div class="themes__text themes__text--last">
                        <p class="themes__pause">Перерва</p>

                    </div>
                </div>#}
            </div>

        </div>
        <div class="themes__section">

            <div class="themes__item">
                <div class="themes__header skewX">
                    <p class="skew-norma">Секція 1: РРО, лікарняні</p>
                </div>
                <div class="themes__body">
                    <ul class="themes__list">
                        <li>
                            <div class="themes__top">
                              {#  <div class="themes__time themes__time--section">
                                    13:00–14:00
                                </div>#}
                                <p class="themes__lector themes__lector--section">
                                    Тимур Алієв
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                РРО-зміни: покрокові дії  та поради
                            </p>
                        </li>
                     {#   <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:00–14:30
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Тимур Алієв
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:30–15:00
                                </div>
                                <p class="themes__pause themes__pause--section">
                                    Перерва
                                </p>
                            </div>
                        </li>#}
                        <li>
                            <div class="themes__top">
                               {# <div class="themes__time themes__time--section">
                                    15:00–15:45
                                </div>#}
                                <p class="themes__lector themes__lector--section">
                                    Тетяна Мойсеєнко
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Лікарняні: розрахунок, виплата,
                                оподаткування, звітність
                            </p>
                        </li>
                     {#   <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    15:45–17:00
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Тетяна Мойсеєнко
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>#}
                    </ul>


                </div>
            </div>

            <div class="themes__item">
                <div class="themes__header skewX">
                    <p class="skew-norma">Секція 2: ФОП, ПДВ</p>
                </div>
                <div class="themes__body">
                    <ul class="themes__list">
                        <li>
                            <div class="themes__top">
                              {#  <div class="themes__time themes__time--section">
                                    13:00–14:00
                                </div>#}
                                <p class="themes__lector themes__lector--section">
                                    Мар’яна Кавин
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                ФОП-зміни: єдиний податок,
                                ЄСВ, земельний податок
                            </p>
                        </li>
                      {#  <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:00–14:30
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Мар’яна Кавин
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:30–15:00
                                </div>
                                <p class="themes__pause themes__pause--section">
                                    Перерва
                                </p>
                            </div>
                        </li>#}
                        <li>
                            <div class="themes__top">
                               {# <div class="themes__time themes__time--section">
                                    15:00–15:45
                                </div>#}
                                <p class="themes__lector themes__lector--section">
                                    Сергій Дробоття
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                ПДВ і реєстраційний ліміт.
                                Штрафи з ПДВ
                            </p>
                        </li>
                       {# <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    15:45–17:00
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Сергій Дробоття
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>#}
                    </ul>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__header skewX">
                    <p class="skew-norma">Секція 3: ОЗ, перевірки Держпраці</p>
                </div>
                <div class="themes__body">
                    <ul class="themes__list">
                        <li>
                            <div class="themes__top">
                               {# <div class="themes__time themes__time--section">
                                    13:00–14:00
                                </div>#}
                                <p class="themes__lector themes__lector--section">
                                    Вікторія Величко
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Основні засоби та амортизація:
                                зміни в податковому
                                законодавстві
                            </p>
                        </li>
                       {# <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:00–14:30
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Вікторія Величко
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:30–15:00
                                </div>
                                <p class="themes__pause themes__pause--section">
                                    Перерва
                                </p>
                            </div>
                        </li>#}
                        <li>
                            <div class="themes__top">
                               {# <div class="themes__time themes__time--section">
                                    15:00–15:45
                                </div>#}
                                <p class="themes__lector themes__lector--section">
                                    Олександр Смирнов
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Перевірки Держпраці:
                                зміни та поради
                            </p>
                        </li>
                    {#    <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    15:45–17:00
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Олександр Смирнов
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>#}
                    </ul>
                </div>
            </div>
        </div>
        {#<div class="themes__container">
            <div class="bonus skewX">

                <div class="bonus__content skew-norma">
                    <p class="bonus__gig-text">
                        БОНУС:
                    </p>
                    <p class="bonus__text">
                        додаткові відповіді на запитання <br>
                        від експертів-практиків письмово у&nbsp;чаті
                    </p>

                </div>
            </div>
            <a href="{{ link_program }}" target="_blank" class="themes__btn ">Детальна програма</a>
        </div>#}

    </div>


    <div id="gifts" class="gifts">
        <div class="gifts__container">
           {# <p class="gifts__sub-title">Під час online-трансляції</p>#}
            <p class="gifts__title">ПОДАРУНКИ</p>
            <div class="gifts__item">
                <ul class="gifts__list">
                    <li>  Універсальна таблиця нових штрафів</li>
                    <li>Алгоритм відмінностей та обліку ОС та МНМА</li>
                    <li>  Авторська брошура Тетяна Мойсеєнко «Кадровий аудит»</li>
                    <li> Таблиця штрафів з РРО</li>
                    <li> Зразок заповнення протоколу комісії соцстраху</li>
                    <li> Чек-лист «Зміни в обліку ОЗ»</li>
                    <li> Універсальна таблиця доходів ФОПа-єдиноподатника</li>
                    <li>Зразки заповнення податкових накладних та розрахунків коригувань  </li>
                    <li>  Зразок письмової відповіді на запит ДПС</li>
                    <li> Чек-лист «10 довідників-таблиць для нарахування зарплати»</li>
              {#      <li>  Відеокурс «Дебітори і Кредитори в 1С»</li>
                    <li> Відеокурс «Електронний кабінет страхувальника на сайті ПФУ»</li>#}
                </ul>

            </div>
            <a href="#order" class="gifts__btn js-scroll-to">ЗАМОВИТИ</a>
        </div>
    </div>

    <div id="advantages" class="advantages">
        <div class="advantages__container">
              <p class="advantages__sub-title">переваги</p>
            <p class="advantages__title">що ви отримаєте?</p>
            <div class="certificate">
                <picture>
                    <source srcset="{{ action }}/certificate_on_page.webp" type="image/webp" />
                    <img src="{{ action }}/certificate_on_page-min.jpg" alt="certificate" >
                </picture>
            </div>
            <div class="advantages__content">
                <div class="advantages__item skewX">
                    <div class="advantages__block skew-norma">
                        <div class="advantages__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 27.667v350h512v-350H0zm202.667 253.775V123.891l136.443 78.775-136.443 78.776zM300.531 422.333c-6.276-18.58-23.86-32-44.531-32s-38.255 13.42-44.531 32H0v30h211.469c6.276 18.58 23.86 32 44.531 32s38.255-13.42 44.531-32H512v-30H300.531z"/></svg>
                        </div>
                        <div class="advantages__text">Відеозапис
                            <br/> семінару</div>
                    </div>

                </div>
             {#   <div class="advantages__item skewX">
                    <div class="advantages__block skew-norma">
                        <div class="advantages__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M437.02 74.98C388.667 26.629 324.38 0 256 0S123.333 26.629 74.98 74.98C26.629 123.333 0 187.62 0 256c0 45.105 11.836 89.231 34.286 128.041L0 512l127.959-34.286C166.769 500.164 210.895 512 256 512c68.38 0 132.667-26.629 181.02-74.98C485.371 388.667 512 324.38 512 256s-26.629-132.667-74.98-181.02zM271 383.5h-30v-30h30v30zm40.892-130.002L271 299.229V323.5h-30v-35.729l48.533-54.276A44.909 44.909 0 00301 203.5c0-24.813-20.187-45-45-45s-45 20.187-45 45h-30c0-41.355 33.645-75 75-75s75 33.645 75 75a74.872 74.872 0 01-19.108 49.998z"/></svg>
                        </div>
                        <div class="advantages__text">Відповіді
                           <br>
                            на запитання
                        </div>
                    </div>
                </div>#}
                <div class="advantages__item skewX">
                    <div class="advantages__block skew-norma">
                        <div class="advantages__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.003 512.003"><path d="M512 425.543V116.485H0v309.058h240.792v24.48h-65.383v30.417h161.183v-30.417h-65.383v-24.48H512zm-390.688-59.617c-40.843-6.52-73.183-38.86-79.703-79.704h79.703v79.704zm0-110.121H41.609c6.521-40.843 38.86-73.183 79.703-79.703v79.703zm30.417 110.121V176.102c45.799 7.311 80.911 47.086 80.911 94.912 0 47.825-35.113 87.6-80.911 94.912zM416.45 190.103h53.941v34.244H416.45v-34.244zm0 64.661h53.941v97.162H416.45v-97.162zm-74.219-35.176h53.941v34.243h-53.941v-34.243zm0 64.66h53.941v67.677h-53.941v-67.677zm-74.219-35.175h53.941v34.243h-53.941v-34.243zm0 102.852v-38.193h53.941v38.193h-53.941zM0 31.563h512.003v54.508H0z"/></svg>
                        </div>
                        <div class="advantages__text">презентації
                             <br>
                            лекторів</div>
                    </div>
                </div>
                <div class="advantages__item skewX">
                    <div class="advantages__block skew-norma">
                        <div class="advantages__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M272.696 280.342h183.118V512H272.696zM56.186 280.342h183.118V512H56.186zM398.762 94.432a63.52 63.52 0 007.772-30.521C406.535 28.67 377.864 0 342.624 0c-26.065 0-52.735 13.468-73.168 36.951A130.25 130.25 0 00256 55.511a130.25 130.25 0 00-13.456-18.56C222.111 13.468 195.442 0 169.376 0c-35.24 0-63.911 28.671-63.911 63.911a63.512 63.512 0 007.772 30.521H26.2v152.519h213.104V94.432h33.391v152.519H485.8V94.432h-87.038zm-229.386 0c-16.828 0-30.52-13.692-30.52-30.521s13.692-30.52 30.52-30.52c30.299 0 59.106 30.993 67.489 61.04h-67.489zm173.248 0h-67.489c8.383-30.048 37.19-61.04 67.489-61.04 16.828 0 30.52 13.692 30.52 30.52-.001 16.829-13.692 30.52-30.52 30.52z"/></svg>
                        </div>
                        <div class="advantages__text">Корисні
                            <br/>подарунки</div>
                        </div>
                </div>
            </div>

            <a href="#order" class="advantages__btn js-scroll-to">Стати учасником
                {#<i aria-hidden="true" class="fa fa-chevron-right"></i>#}</a>
        </div>
    </div>

    <div id="order" class="order">
        <div class="order__container container">
           {# <p class="order__sub-title">зручність</p>
            <p class="order__title">оберіть тип перегляду</p>#}
            <div id="timer-custom" class="order__timer">
                <p class="order__title">Акційні ціни
                    діють ще</p>
                <div class="pricing-timer" data-timer-2="{{ page.options['timer']|default('') }}">
                    <div class="pricing-timer__inner">
                        <div class="pricing-timer__box skewX"><span class="days">00</span>дні</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box skewX"><span class="hours">00</span>год</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box skewX"><span class="minuts">00</span>хв</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box skewX"><span class="seconds">00</span>сек</div>
                    </div>
                </div>
            </div>
            <div class="order__packages">
                {#<div class="order__package package order__package--gold">
                    <div class="package__head">
                        <p class="package__header  ">ONLINE</p>
                    </div>
                    <div class="package__body">
                        <ul class="package__list"><li>Online-трансляція</li><li>Відповіді на запитання</li><li >Сертифікат учасника</li><li >Подарунки від лекторів</li><li class="is-inactive">Відеозапис</li></ul>
                        <p class="package__price  package__price--gold">Безкоштовно</p>
                    </div>
                    <div class="package__footer">
                        <div class="package__presents--wr"></div>
                        <div class="package__btn--footer js-btn-hidden is-hidden">
                            <a href="#form"  class="btn">реєстрація</a>
                        </div>
                    </div>
                </div>#}
                 <div class="order__package package order__package--standart ">
                     <div class="package__head">
                         <p class="package__header  "> запис</p>
                     </div>
                     <div class="package__body">

                         <ul class="package__list">{#<li>Online-трансляція</li><li>Відповіді на запитання</li>#}<li >Сертифікат учасника</li><li >Подарунки від лекторів</li><li >Відеозапис</li></ul>
                         <p class="package__price  package__price--standart "><span>{{ shop_price('онлайн-09072020ББС_495') }} грн</span></p>
                         <p class="package__old-price  "><s>{{ shop_price('онлайн-09072020ББС_495','line') }} грн</s></p>
                     </div>
                     <div class="package__footer">
                         <div class="package__presents--wr"></div>
                         <div class="package__btn--footer">
                                 <a href="shop/invoice?article=онлайн-09072020ББС_495" target="_blank" class="btn">ЗАМОВИТИ</a>
                         </div>
                     </div>
                 </div>
                <div class="order__package package order__package--platform ">
                    <div class="package__head">
                        <p class="package__header  "> Бухгалтерська
                            <br>
                            відеоплатформа №1</p>
                    </div>
                    <div class="package__body">
                        <p class="package__format"></p>

                        <ul class="package__list"><li > <b>Доступ до цього
                                відеопроєкту</b>, а також
                            ще до <b>{{ shop_price('онлайн-platform_price','courses') }}+</b>  відеокурсів,
                            вебінарів та трансляцій
                            на усі найважливіші
                            бухгалтерські теми
                            <b> за супервигідною ціною</b></li></ul>
                        <p class="package__price  package__price--platform "><span>{{ shop_price('онлайн-platform_price','month') }} грн/міс.</span></p>
                        <p class="package__old-price"><s>{{ shop_price('онлайн-platform_price','line') }} грн/міс.</s></p>
                    </div>
                    <div class="package__footer">
                        <div class="package__presents--wr"></div>
                        <div class="package__btn--footer">
                            <a href="{{ link_platform_order }}" target="_blank" class="btn">ЗАМОВИТИ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div id="video" class="video">
       <div id="bar-1" class="video__content">
           <div class="slider">
               <div class="slide">
                   <p class="video__sub-title">БУХГАЛТЕРСЬКА ВІДЕОПЛАТФОРМА №1</p>
                   <p class="video__title">ВСІ КОРИСНІ ВІДЕОМАТЕРІАЛИ В ОДНОМУ МІСЦІ!</p>
                   <div class="video__player"><a href="https://youtu.be/LOHtuZD_zP0" class="video__link">
                           <picture><img src="https://i.ytimg.com/vi/LOHtuZD_zP0/maxresdefault.jpg" alt="Тетяна Мойсеєнко" class="video__media"/></picture></a>
                       <button aria-label="play" class="video__button">
                           <svg>
                               <path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="video__button-shape"></path>
                               <path d="M 45,24 27,14 27,34" class="video__button-icon"></path>
                           </svg>
                       </button>
                   </div>
               </div>
           </div>
       </div>
   </div>


    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
                <li><a href="https://www.otpbank.com.ua/smb/products-financing/" target="_blank" rel="nofollow"><img src="{{ action }}/logo_otp.svg"  width="170" alt="otpbank" /></a></li>
                <li><a class="logonoclik" href="https://7eminar.com/" target="_blank"><img class="img_partners1" style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" /></a></li>
                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит" /></a></li>
            </ul>
            <ul class="partners__list">
                <li><a class="logonoclik" href="https://art-zvit.com.ua/" target="_blank"><img class="img_partners1" style="width: 175px;" src="{{ action }}/logoAZ.png" alt="art-zvit" /></a></li>
                <li><a href="https://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком" /></a></li>
            </ul>
        </div>
    </div>
    <div class="social">
        <div class="container social__container">
            <p class="social__title">Приєднуйтесь до нас у соцмережах!</p>
            <ul class="social__list">
                <li><a href="https://www.youtube.com/channel/UCctwZMxIcNTDrcHx597kwbg?sub_confirmation=1&amp;feature=iv&amp;src_vid=hw1bDtxtZs8" target="_blank" class="yt"></a></li>
                <li><a href="https://www.facebook.com/7eminar/" target="_blank" class="fb"></a></li>
                <li><a href="https://www.instagram.com/7eminar/" target="_blank" class="in"></a></li>
            </ul>
        </div>
    </div>
    <div class="loader-backdrop">
        <div class="loader-backdrop__btn">Реєстрація
            <div class="dots">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>

