{% set link_platform = "https://7eminar.ua/subscribe?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=valiuta_zed_17122020_button_tabl_tsin" %}
{% set link_platform_video = "https://7eminar.ua/subscribe?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=valiuta_zed_17122020_button_video" %}


{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
        <div class="menu-mob">
            <input id="menu-checkbox" type="checkbox"/><span class="burger__bg burger__bg-js"></span><span class="burger__element"></span>
            <ul class="menu">
                <li><a href="#lectors" class="burger__link js-scroll-to">Лектор</a></li>
                <li><a href="#info" class="burger__link js-scroll-to">Про що дізнаєтесь</a></li>
                <li><a href="#profession" class="burger__link js-scroll-to">Для кого</a></li>
                <li><a href="#themes" class="burger__link js-scroll-to">теми</a></li>
                <li><a href="#order" class="burger__link js-scroll-to">ПРИДБАТИ</a></li>
            </ul>
        </div>
    </div>

    <div class="hero">
        <div class="hero__container container">
            <div class="menu ">
                <div class="menu__container">
                    <ul class="menu__list">
                        <li><a class="js-scroll-to" href="#lectors">Лектор</a></li>
                        <li><a class="js-scroll-to" href="#info">Про що дізнаєтесь</a></li>
                        <li><a class="js-scroll-to" href="#profession">ДЛЯ КОГО</a></li>
                        <li><a class="js-scroll-to" href="#themes">теми</a></li>
                        <li><a class="js-scroll-to" href="#order">ПРИДБАТИ</a></li>
                    </ul>
                </div>
            </div>
            <div class="hero__top-container dk-show-flex">
                <a class="hero__logo-dk" href="https://dtkt.ua/about" target="_blank">
                    <img src="{{ link }}/logo-dk.png" width="200" height="52" alt="«Дебет-Кредит» | Бухгалтерський сервіс №1 в Україні">
                </a>
                <a class="hero__logo-seminar" href="https://7eminar.com/" target="_blank">
                    <img src="{{ link }}/7minar_logo_color.png" width="186" height="42" alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
                </a>
            </div>
            <div class="hero__content">
                <div class="hero__item">
                    <div class="hero__seminar"><p>Відеозапис  <span> семінару</span></p></div>
                    <h1 class="hero__title">Облік у ЗЕД <br>2020<span>/</span>2021</h1>
                    <p class="hero__subtitle">Валютні операції</p>
                   {# <div class="hero__date">17 грудня<span>2020 року</span></div>#}
                    <div class="hero__button"><a href="#info" class="hero__btn js-scroll-to">Детальніше <i aria-hidden="true" class="fa fa-chevron-right"></i>
                        </a></div>

                  {#  <button type="button" aria-label="Open modal video" data-toggle="modal" data-target="#modal-video" data-vidId="nSA2iax7RDI" class="hero__controls-modal-btn"></button>#}
                </div>

                <div class="hero__item">
                    <div class="hero__lector">
                        <picture {#class="visible-lg-block"#}>
                            <source srcset="{{ link }}/lector_tab.webp" media="(max-width: 1200.98px)" type="image/webp">
                            <source srcset="{{ link }}/lector_tab-min.png" media="(max-width: 1200.98px)" type="image/jpeg">
                            <source srcset="{{ link }}/lector.webp" type="image/webp">
                            <img src="{{ link }}/lector-min.png" alt="Вікторія Величко"/>
                        </picture>
                       {# <picture class="hidden-lg">
                            <source srcset="{{ link }}/hero__lector-tab.webp" type="image/webp">
                            <img src="{{ link }}/hero__lector-tab-min.png" alt="Галина Морозовська"/>
                        </picture>#}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="info"  id="info">
        <div class="info__container container">
            <div class="info__title"><span> Про що <br>
                дізнаєтеся</span></div>
            <div class="info__content">
                <div class="info__item">
                    <p><b>Імпорт/експорт:</b> документи, підтвердження, облікові помилки </p>
                    <p> <b>Курсові різниці:</b> як розрахувати і вести облік </p>
                    <p><b>Операції з нерезидентами:</b> збитки, штрафи, валютний контроль </p>
                </div>
                <div class="info__item">
                    <p><b>ПДВ при експорті/імпорті:</b> податковий кредит, зобов’язання, пільги </p>
                </div>
                <div class="info__item">
                    <p>Податок на прибуток: <br> контрольовані операції, коригування, доходи нерезидентів </p>
                    <p>Кредити та займи від нерезидента: податкові різниці, дисконтування </p>
                </div>
            </div>
        </div>
    </div>

    <div id="profession" class="profession">
       <div class="profession__container">
           <p class="profession__sub-title">кому це буде корисно</p>
           <div class="profession__content">
               <ul class="profession__list">
                   <li class="profession__item">
                       <div class="profession__img">
                           <picture>
                               <img src="{{ link }}/buhalter.jpg" alt="Головному бухгалтеру"/>
                           </picture>
                       </div>
                       <p class="profession__name">бухгалтеру </p>
                   </li>
                   <li class="profession__item">
                       <div class="profession__img">
                           <picture>
                               <img src="{{ link }}/gl_buhalter.jpg" alt="бухгалтеру"/>
                           </picture>
                       </div>
                       <p class="profession__name">Головному <br> бухгалтеру </p>
                   </li>
                   <li class="profession__item">
                       <div class="profession__img">
                           <picture>
                               <img src="{{ link }}/auditor.jpg" alt="аудитору"/>
                           </picture>
                       </div>
                       <p class="profession__name"> аудитору</p>
                   </li>

               </ul>
           </div>
           <a href="#order" class="profession__btn js-scroll-to">приєднатися
               <i aria-hidden="true" class="fa fa-chevron-right"></i>
           </a>
       </div>
    </div>

    <div id="lectors" class="lectors">
        <div class="lectors__container">
            <div class="lectors__sub-title"> Лектор семінару</div>
            <div class="lectors__content">
                <div class="lectors__item">
                    <div class="lectors__text">
                        <p class="lectors__name">Вікторія величко<span>></span></p>
                        <p class="lectors__regalia">Незалежний практикуючий консультант із питань оподаткування та бухгалтерського обліку, сертифікований тренер бізнес-програм, фахівець з питань податкового та фінансового планування.</p>
                        <p class="lectors__regalia"> Має понад 18000 годин публічних виступів, з яких 12000 годин – семінари-практикуми та тренінги.</p>
                    </div>
                    <picture>
                        <img src="{{ link }}/lector-min.jpg" alt="Вікторія величко"/>
                    </picture>
                </div>
            </div>
            <a href="#order" class="lectors__btn js-scroll-to">приєднатися
                <i aria-hidden="true" class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <div id="themes" class="themes">
        <div class="themes__container">
            <div class="themes__title"><span>теми<br>
                семінару</span></div>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                       {# <div class="themes__info">
                            <div>
                                <p class="themes__time">10:00–11:00</p>
                            </div>
                        </div>#}
                        <div class="themes__text">
                            <p class="themes__lessons-titel"> Розрахунки в валюті, курсові різниці. Імпорт товарів </p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson1" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">

                                <li class="themes__more-list-item"><p>Розрахунки в валюті, курсові різниці та вплив на фінансовий результат. </p>
                                      {# <ul class="themes__more-sub-list">
                                           <li>платники ПДВ за наявності об’єкту оподаткування;  </li>
                                           <li>платники ПДВ за окремими операціями, зокрема фізичні особи-підприємці на спрощеній системі оподаткування 1, 2, 3 груп (за ставкою 5%).</li>
                                       </ul>#}
                                </li>


                                <li class="themes__more-list-item"><p>Імпорт товарів: </p>
                                     <ul class="themes__more-sub-list">
                                           <li>первісна вартість імпортних товарів: які витративключаються та за яким курсом валют; </li>
                                           <li>помилки в первісних документах: як відобразити операції у разі невідповідності ВМД, інвойса, договору.</li>
                                       </ul>
                                </li>
                                <li class="themes__more-list-item"><p>Безоплатний імпорт: бухгалтерський та податковий облік.</p></li>
                                <li class="themes__more-list-item"><p>Імпорт без ввезення: нюанси оформлення документації та податкового обліку. </p></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                       {# <div class="themes__info">
                            <div>
                                <p class="themes__time">11:00–12:00</p>
                            </div>
                        </div>#}
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Операції з ризиковими контрагентами. ПДВ </p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson2" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">

                                <li class="themes__more-list-item"><p>Операції з ризиковими контрагентами (придбання товарів, робіт, послуг, необоротних активів):
                                    </p>
                                    <ul class="themes__more-sub-list">
                                        <li>ризик виникнення контрольованих операцій;  </li>
                                        <li>30 % коригування фінансового результату за підсумками року; </li>
                                        <li>як уникнути коригування. </li>

                                    </ul></li>
                                <li class="themes__more-list-item"><p>Виплати нерезидентам без ділової мети та наслідки  </p></li>

                                <li class="themes__more-list-item"><p>Штрафні санкції та відшкодування збитків нерезиденту  </p></li>

                                <li class="themes__more-list-item"><p>Визначення податкового кредиту та коригування ПДВ: </p>
                                    <ul class="themes__more-sub-list">
                                        <li>дата визначення податкового кредиту;  </li>
                                        <li>порядок включення в Декларацію з ПДВ;  </li>
                                        <li>оподаткування ПДВ операцій з придбання послуг у нерезидента; </li>
                                        <li>експорт товарів; </li>
                                        <li>експорт без вивозу.  </li>

                                    </ul>
                                </li>
                                <li class="themes__more-list-item"><p>Операції з ризиковими контрагентами (реалізація товарів, робіт, послуг, необоротних активів): </p>
                                    <ul class="themes__more-sub-list">
                                        <li>ризик виникнення контрольованих операцій;  </li>
                                        <li>30% коригування фінансового результату за підсумками року; </li>
                                        <li>як уникнути коригування. </li>
                                    </ul>
                                </li>
                                <li class="themes__more-list-item"><p>ПДВ при експорті:  </p>
                                    <ul class="themes__more-sub-list">
                                        <li>дата визначення податкових зобов’язань; </li>
                                        <li>база оподаткування операції з експорту; </li>
                                        <li>пільгові експортні операції. </li>
                                    </ul>
                                </li>
                                <li class="themes__more-list-item"><p>Оподаткування доходів з джерелом походження з України: </p>
                                    <ul class="themes__more-sub-list">
                                        <li>нарахування та сплата податку на прибуток; </li>
                                        <li>застосування міжнародних договорів про уникнення подвійного оподаткування; </li>
                                        <li>визначення кінцевих бенефіціарів; </li>
                                        <li>правила отримання та легалізації Довідки; </li>
                                        <li>рекомендації щодо заповнення Додатку ПН. </li>
                                    </ul>
                                </li>

                                <li class="themes__more-list-item"><p>Облік кредитів і займів, отриманих від нерезидента:</p>
                                    <ul class="themes__more-sub-list">
                                        <li>нарахування відсотків; </li>
                                        <li>вплив курсових різниць на фінансовий результат; </li>
                                        <li>розрахунок різниці, що збільшує фінансовий результат при нарахуванні відсотків на займи від нерезидента. </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

           {# <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">12:00–12:30</p>
                                <p class="themes__lessons-titel">ПЕРЕРВА</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        {#<div class="themes__info">
                            <div>
                                <p class="themes__time">12:30–14:00</p>
                            </div>
                        </div>#}
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Дисконтування. Кредити від нерезидентів. Валютний нагляд </p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson3" aria-expanded="false" aria-controls="#lesson3" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson3" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Дисконтування валютних кредитів і займів </p>
                                </li>
                                <li class="themes__more-list-item"><p>Валютний нагляд: що змінилосяу 2020 році  </p></li>
                                <li class="themes__more-list-item"><p>Штрафні санкції за порушення валютного законодавства </p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


          {#  <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">14:00–14:15</p>
                                <p class="themes__lessons-titel">ПЕРЕРВА</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}

            {#<div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">14:15–16:00 </p>
                                <p class="themes__lessons-titel">Онлайн–відповіді на запитання</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}
        </div>
    </div>

    {#<div id="gifts" class="gifts">
        <div class="gifts__container">
            <p class="gifts__title">ПОДАРУНОК</p>
            <div class="gifts__item">
                <div class="gifts__box">
                    <div class="gifts__header">
                        <div class="gifts__info">
                            <p class="gifts__lector-name">Відеокурс</p>
                            <p class="gifts__lessons-titel"> <b> ПДВ в 1С</b> <br>(складається з 12 уроків та відповідей на запитання)</p>
                        </div>
                        <svg width="65" height="65" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M467 120h-61.041C415.397 107.456 421 91.871 421 75c0-41.355-33.645-75-75-75-24.911 0-43.28 8.925-57.809 28.087C276.036 44.119 267.148 66.503 256 94.785c-11.148-28.283-20.036-50.666-32.191-66.698C209.28 8.925 190.911 0 166 0c-41.355 0-75 33.645-75 75 0 16.871 5.603 32.456 15.041 45H45c-24.813 0-45 20.187-45 45v30c0 19.555 12.541 36.228 30 42.42V467c0 24.813 20.187 45 45 45h362c24.813 0 45-20.187 45-45V237.42c17.459-6.192 30-22.865 30-42.42v-30c0-24.813-20.187-45-45-45zm-183.466-13.26C306.513 48.442 315.249 30 346 30c24.813 0 45 20.187 45 45s-20.187 45-45 45h-67.713c1.838-4.615 3.591-9.058 5.247-13.26zM166 30c30.751 0 39.487 18.442 62.466 76.74 1.656 4.202 3.409 8.645 5.247 13.26H166c-24.813 0-45-20.187-45-45s20.187-45 45-45zm30 452H75c-8.271 0-15-6.729-15-15V240h136v242zm0-272H45c-8.271 0-15-6.729-15-15v-30c0-8.271 6.729-15 15-15h151v60zm90 272h-60V150h60v332zm166-15c0 8.271-6.729 15-15 15H316V240h136v227zm30-272c0 8.271-6.729 15-15 15H316v-60h151c8.271 0 15 6.729 15 15v30z"></path>
                        </svg>
                        <div class="gifts__button"><a data-toggle="collapse" data-target="#gifts1" aria-expanded="false" aria-controls="#gifts1" class="gifts__more-btn">Детальніше</a></div>
                    </div>
                    <div id="gifts1" class="gifts__more collapse">
                        <div class="gifts__more-body">
                            <ul class="gifts__more-list">
                                <li class="gifts__more-list-item"><p>Попередні ПДВ налаштування</li>
                                <li class="gifts__more-list-item"><p>Облік податкового зобов’язання (очікуваний ПДВ – перша подія реалізація товарів)</p> </li>
                                <li class="gifts__more-list-item"><p>Облік податкового зобов’язання (очікуваний ПДВ – перші події оплата авансом та повернення товару від покупця)</p></li>
                                <li class="gifts__more-list-item"><p>Облік податкового зобов’язання, коли оплата за товари/послуги надходить бюджетними коштами</p></li>
                                <li class="gifts__more-list-item"><p>Податкова накладна: створення 3-ма способами, заповнення, вивантаження, друк (підтверджений ПДВ)</p></li>
                                <li class="gifts__more-list-item"><p>Розрахунок коригування до помилкової податкової накладної та РК при поверненні товарів від покупця</p></li>
                                <li class="gifts__more-list-item"><p>Облік податкового кредиту: очікуваний ПДВ (операції з надходження товарів та при оплаті авансом постачальнику), підтверджений ПДВ (вхідна ПН)</p></li>

                                <li class="gifts__more-list-item"><p>Облікові механізми ПДВ: бухгалтерські рахунки обліку 6412, 6431, 6432, 6441, 6442, 315 (оборотно-сальдові відомості, картки рахунків)</li>
                                <li class="gifts__more-list-item"><p>Засоби контролю облікових даних із ПДВ – регістри накопичення</p> </li>
                                <li class="gifts__more-list-item"><p>Реєстр виданих та отриманих податкових накладних як механізм внутрішнього контролю</li>
                                <li class="gifts__more-list-item"><p>Податкова декларація з ПДВ: формування, заповнення, вивантаження, друк. Перерахування суми ПДВ до бюджету. Закриття оборотів по рах. 6412</p> </li>
                                <li class="gifts__more-list-item"><p>ЄДРПН та Податкова декларація з ПДВ в Електронному кабінеті платника податків</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#order" class="gifts__btn js-scroll-to">приєднатися
                <i aria-hidden="true" class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>#}

    <div id="advantages" class="advantages">
        <div class="advantages__container">
            <p class="advantages__title">що ви <br>
                отримаєте</p>
            <div class="certificate">
                <picture><img src="{{ link }}/certificate.jpg" alt="certificate" ></picture>
            </div>
            <div class="advantages__content">
                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.13 512.13" style="width: 65px;height: 65px;">
                            <path d="M346.541 221.958l-121.198-87.091c-11.977-8.591-27.338-11.977-39.315-5.077-11.977 5.077-18.746 18.747-18.746 34.107v184.335c0 15.361 6.769 27.338 18.746 34.107 5.077 1.692 10.284 3.385 15.361 3.385 8.592 0 17.054-3.385 23.953-10.285l121.198-87.092c11.977-8.591 18.746-20.439 18.746-34.107 0-11.843-6.768-23.82-18.745-32.282zm-20.439 40.877l-121.198 87.091c-1.692 0-3.385 1.692-3.385 1.692V163.899v-3.385c1.692 0 1.692 1.692 5.077 3.385l121.197 87.091c1.692 0 3.385 3.385 3.385 5.077s-1.691 5.074-5.076 6.768z" fill="#98640a" class="color-svg"></path>
                            <path d="M256.065 0C114.43 0 0 114.298 0 256.065S114.298 512.13 256.065 512.13 512.13 397.832 512.13 256.065 397.702 0 256.065 0zm0 477.892c-122.891 0-221.828-98.937-221.828-221.828S133.175 34.236 256.065 34.236s221.828 98.937 221.828 221.828-98.937 221.828-221.828 221.828z" fill="#98640a" class="color-svg"></path>
                        </svg>
                    </div>
                    <div class="advantages__text">ВІДЕОЗАПИС
                         <br>
                        СЕМІНАРУ
                      </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338.352 338.352" style="width: 65px;height: 65px;">
                            <path d="M169.176 0C75.601 0 0 75.514 0 169.176s75.514 169.176 169.176 169.176 169.176-75.514 169.176-169.176S262.752 0 169.176 0zm0 315.731c-81.191 0-146.556-65.365-146.556-146.556S87.986 22.619 169.176 22.619s146.556 65.365 146.556 146.556-65.365 146.556-146.556 146.556z" class="color-svg"></path>
                            <path d="M169.176 83.512c-34.919 0-64.248 29.328-64.248 65.365 0 6.795 4.472 11.267 11.267 11.267 6.794 0 11.267-4.472 11.267-11.267 0-23.652 19.179-42.831 41.713-42.831s41.713 19.179 41.713 41.713c0 23.652-18.062 41.713-41.713 41.713-6.794 0-11.267 4.472-11.267 11.267v21.416c0 6.795 4.472 11.267 11.267 11.267 5.677 0 11.267-5.676 11.267-11.267V210.89c30.447-4.472 52.98-30.447 52.98-63.129.002-36.124-28.123-64.249-64.246-64.249zM177.089 244.69c-4.558-4.472-11.267-4.472-15.825 0-2.236 2.236-3.354 4.472-3.354 7.913 0 3.354 1.118 5.676 3.354 7.913 2.236 2.236 4.472 3.354 7.913 3.354s5.677-1.118 7.913-3.354c2.236-2.236 3.354-4.472 3.354-7.913-.001-3.355-1.119-5.676-3.355-7.913z" class="color-svg"></path>
                        </svg>
                    </div>
                    <div class="advantages__text">ВІДЕОЗАПИС ВІДПОВІДЕЙ <br>
                        НА ЗАПИТАННЯ

                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 346.182 346.182" style="width: 65px;height: 65px;">
                            <path d="M231.2 134.763l-66.764-42.036c-4.945-2.473-9.891-4.945-14.836-4.945-12.364 0-21.018 9.891-21.018 22.255v89.018c0 12.364 8.654 22.255 21.018 22.255 4.945 0 9.891-1.237 14.836-4.945l66.764-42.036c7.418-4.945 12.364-12.364 12.364-19.782 0-7.42-4.946-14.838-12.364-19.784zm-77.891 60.582v-80.364l63.055 40.8-63.055 39.564z" class="color-svg"></path>
                            <path d="M333.818 4.945H12.364C4.945 4.945 0 9.891 0 17.309v53.164c0 7.418 4.945 12.364 12.364 12.364h8.655v170.618c0 7.418 4.945 12.364 12.364 12.364h127.346v50.691H97.673c-7.418 0-12.364 4.945-12.364 12.364 0 7.418 4.945 12.364 12.364 12.364h149.6c7.418 0 12.364-4.945 12.364-12.364 0-7.418-4.945-12.364-12.364-12.364h-61.818v-50.691H312.8c7.418 0 12.364-4.945 12.364-12.364V84.072h8.655c7.418 0 12.364-4.945 12.364-12.364v-54.4c-.001-6.181-4.947-12.363-12.365-12.363zm-12.363 53.163h-40.8c-7.418 0-12.364 4.945-12.364 12.364 0 7.418 4.945 12.364 12.364 12.364h19.782l-.001 158.255H45.745V84.072h169.382c7.418 0 12.364-4.945 12.364-12.364 0-7.418-4.945-12.364-12.364-12.364h-190.4V29.672h296.727v28.436z" class="color-svg"></path>
                        </svg>
                    </div>
                    <div class="advantages__text">Презентація<br/>лектора</div>
                </div>
              {#  <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg width="65" height="65" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M467 120h-61.041C415.397 107.456 421 91.871 421 75c0-41.355-33.645-75-75-75-24.911 0-43.28 8.925-57.809 28.087C276.036 44.119 267.148 66.503 256 94.785c-11.148-28.283-20.036-50.666-32.191-66.698C209.28 8.925 190.911 0 166 0c-41.355 0-75 33.645-75 75 0 16.871 5.603 32.456 15.041 45H45c-24.813 0-45 20.187-45 45v30c0 19.555 12.541 36.228 30 42.42V467c0 24.813 20.187 45 45 45h362c24.813 0 45-20.187 45-45V237.42c17.459-6.192 30-22.865 30-42.42v-30c0-24.813-20.187-45-45-45zm-183.466-13.26C306.513 48.442 315.249 30 346 30c24.813 0 45 20.187 45 45s-20.187 45-45 45h-67.713c1.838-4.615 3.591-9.058 5.247-13.26zM166 30c30.751 0 39.487 18.442 62.466 76.74 1.656 4.202 3.409 8.645 5.247 13.26H166c-24.813 0-45-20.187-45-45s20.187-45 45-45zm30 452H75c-8.271 0-15-6.729-15-15V240h136v242zm0-272H45c-8.271 0-15-6.729-15-15v-30c0-8.271 6.729-15 15-15h151v60zm90 272h-60V150h60v332zm166-15c0 8.271-6.729 15-15 15H316V240h136v227zm30-272c0 8.271-6.729 15-15 15H316v-60h151c8.271 0 15 6.729 15 15v30z" class="color-svg"></path>
                        </svg>
                    </div>
                    <div class="advantages__text">корисний
                        <br/>подарунок</div>
                </div>#}
            </div>
            <a href="#order" class="advantages__btn js-scroll-to">приєднатися
                <i aria-hidden="true" class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <div class="order" id="order">
        <div class="order__container">
            <div class="order__timer" id="timer-custom">
                <p class="order__title">Акційні ціни <br /> діють ще</p>
                <div class="pricing-timer" data-timer-2="{{ page.options['timer']|default('') }}">
                    <div class="pricing-timer__inner">
                        <div class="pricing-timer__box"><span class="days">00</span>дні</div>

                        <div class="pricing-timer__box"><span class="hours">00</span>год</div>

                        <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>

                        <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
                    </div>
                </div>
            </div>
            <div class="order__packages">
                <div class="order__package package package--gold">
                    <div class="package__head package__head--standart">
                        <p class="package__header package__header--gold"> СТАНДАРТ</p>
                        <p class="package__price package__price-platform"></p>
                        <p class="package__price package__price--gold">{{shop_price('онлайн-17122020ЗЕД_ст','site')}} <br /><span>грн</span></p>
                        <p class="package__old-price">
                            <s>{{shop_price('онлайн-17122020ЗЕД_ст','line')}}грн</s>
                        </p>
                        <p></p>
                        <div class="package__btn"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-17122020oblikyzed/standart" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-17122020ЗЕД_ст" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                    <div class="package__body package__body--gold">
                        <div class="package__platform"></div>
                        <ul class="package__list">
                            <li>відеозапис семінару <br>
                                та відповідей на запитання</li>
                            <li>презентація лектора</li>
                            <li>сертифікат учасника</li>
                        </ul>
                    </div>
                    <div class="package__footer package__footer--gold">
                        <p class="package__presents">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31">
                                <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" fill="#d9384c"></path>
                            </svg>Подарунок:
                        </p>
                        <ul class="package__list package__list--footer">
                            <li class="is-inactive">Відеокурс <br /> «Валютні операції в 1С»</li>
                        </ul>
                        <div class="package__btn--footer"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-17122020oblikyzed/standart" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-17122020ЗЕД_ст" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="order__package package package--gold">
                    <div class="package__head package__head--gold">
                        <p class="package__header package__header--gold"> gold</p>
                        <p class="package__price package__price-platform"></p>
                        <p class="package__price package__price--gold">{{shop_price('онлайн-17122020ЗЕД_голд','site')}} <br /><span>грн</span></p>
                        <p class="package__old-price">
                            <s>{{shop_price('онлайн-17122020ЗЕД_голд','line')}}грн</s>
                        </p>
                        <p></p>
                        <div class="package__btn"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-17122020oblikyzed/gold" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-17122020ЗЕД_голд" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                    <div class="package__body package__body--gold">
                        <div class="package__platform"></div>
                        <ul class="package__list">
                            <li>відеозапис семінару <br>
                                та відповідей на запитання</li>
                            <li>презентація лектора</li>
                            <li>сертифікат учасника</li>
                        </ul>
                    </div>
                    <div class="package__footer package__footer--gold">
                        <p class="package__presents">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31">
                                <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" fill="#d9384c"></path>
                            </svg>Подарунок:
                        </p>
                        <ul class="package__list package__list--footer">
                            <li>Відеокурс <br /> «Валютні операції в 1С»</li>
                        </ul>
                        <div class="package__btn--footer"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-17122020oblikyzed/gold" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-17122020ЗЕД_голд" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="order__package package package--gold-plus">
                    <div class="package__head package__head--gold-plus">
                        <p class="package__header package__header--gold-plus">БУХГАЛТЕРСЬКА ВІДЕОПЛАТФОРМА №1</p>
                        <p class="price-platform-js">{{ shop_price('онлайн-platform_price','month') }} <br /><span>грн/міс.</span></p>
                        <p class="package__old-price">
                            <s> {{ shop_price('онлайн-platform_price','line') }} грн/міс.</s>
                        </p>
                        <div class="package__btn"><a class="btn btn--Sale js-platform-link js-banner-link" href="{{ link_platform }}" target="_blank">оплатити <br /><span>рахунок/картою</span></a></div>
                    </div>
                    <div class="package__body package__body--gold-plus">
                        <div class="package__platform"></div>
                        <ul class="package__list">
                            <li class="is-platform"><b>Доступ до цього відеопроєкту</b>, а також ще до <b>{{ shop_price('онлайн-platform_price','courses') }}+</b> відеокурсів, вебінарів та трансляцій на усі найважливіші бухгалтерські теми <b>за супервигідною ціною</b></li>
                        </ul>
                    </div>
                    <div class="package__footer package__footer--gold-plus">
                        <p class="package__presents">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31">
                                <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" fill="#d9384c"></path>
                            </svg>Подарунок:
                        </p>
                        <ul class="package__list package__list--footer">
                            <li>Відеокурс <br /> «Валютні операції в 1С»</li>
                        </ul>
                        <div class="package__btn--footer"><a class="btn btn--Sale js-platform-link js-banner-link" href="{{ link_platform }}" target="_blank">оплатити <br /><span>рахунок/картою</span></a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div id="free-video" class="free-video">
        <div class="free-video__container container">
            <div class="free-video__content">
                <p class="free-video__subtitle">бухгалтерська відеоплатформа №1</p>
                <p class="free-video__title">Всі корисні відеоматеріали в одному місці!</p>
                <div class="free-video__block">
                    <div class="free-video__text">
                        <p>Хочете зекономити свої кошти та отримати доступ до {{ shop_price('онлайн-platform_price','courses') }}+ відеокурсів, вебінарів та трансляцій на усі найважливіші бухгалтерські теми?</p>
                        <p>Передплатіть Бухгалтерську Відеоплатформу №1.</p><a href="{{ link_platform_video }}" target="_blank" class="js-banner-link">Детальніше про відеоплатформу</a>
                    </div>
                    <div class="free-video__video">
                        <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
                <div class="free-video__buttons"> <a  href="{{ link_platform_video }}" target="_blank" class="free-video__btn js-banner-link">Передплатити зі знижкою<i aria-hidden="true" class="fa fa-chevron-right"></i></a></div>

            </div>
        </div>
    </div>

    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
                <li><a href="https://www.otpbank.com.ua/smb/products-financing/" target="_blank" rel="nofollow"><img src="{{ link }}/logo_otp.svg"  width="170" alt="otpbank" /></a></li>
                <li><a class="logonoclik" href="https://7eminar.com/" target="_blank"><img class="img_partners1" style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" /></a></li>
                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="https://7eminar.com/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит" /></a></li>
               {# <li><a href=" https://medoc.ua" target="_blank" rel="nofollow"><img src="/storage/pages/241_14042020/images/logo-medoc@4x.png" height="95" alt="medoc" /></a></li>#}
            </ul>
          {#  <ul class="partners__list">

                <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком" /></a></li>
                <li><a class="logonoclik" href="https://kraft.net.ua" target="_blank"><img class="img_partners1" style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" /></a></li>
            </ul>#}
        </div>
    </div>

   {# <div id="map" class="map">
        <a href="https://goo.gl/maps/xB3Dj658ott1qo969" target="_blank">
            <div class="map__container">
                <div class="map__item">
                    <p>м. Київ, конгрес-хол «Mercure»</p>
                    <p><span>вул. Вадима Гетьмана, 6</span></p>
                </div>
            </div>

        </a>
    </div>#}

    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>

    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>

