{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
        <div class="menu-mob">
            <input id="menu-checkbox" type="checkbox"/><span class="burger__bg"></span><span class="burger__element"></span>
            <ul class="menu">
                <li><a href="#lectors" class="burger__link js-scroll-to">ЛЕКТОРИ</a></li>
                <li><a href="#themes" class="burger__link js-scroll-to">ТЕМИ</a></li>
                <li><a href="#order" class="burger__link js-scroll-to">ВАРТІСТЬ</a></li>
                <li><a href="#order" class="burger__link js-scroll-to">ЗАМОВИТИ</a></li>
            </ul>
        </div>
    </div>
    <div class="hero">
        <div class="hero__container">
            <div class="hero__menu">
                <div class="menu">
                    <div class="menu__container">
                        <ul class="menu__list">
                            <li><a href="#lectors" class="js-scroll-to">Лектори</a></li>
                            <li><a href="#themes" class="js-scroll-to">Теми</a></li>
                            <li><a href="#order" class="js-scroll-to">Придбати</a></li>
                        </ul>
                        <ul class="menu__list">
                            <li><a href="/" c="">Iнші семінари</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hero__content">
                <div class="hero__block">
                    <p class="hero__title">Авто</p>
                    <p class="hero__sub-title">на підприємстві</p>
                    <p class="hero__description">облік та податки у 2020 р.</p>
                </div>
                <div class="hero__btn"><a href="#knowledges" class="btn js-scroll-to">ДЕТАЛЬНІШЕ</a></div>
                <button type="button" aria-label="Open modal video" data-toggle="modal" data-target="#modal-video" data-vidId="6alXqVtEpjY" class="hero__controls-modal-btn"></button>
            </div>
        </div>
    </div>
    <div id="knowledges" class="knowledges">
        <div class="knowledges__container">
            <div class="knowledges__title">ПРО ЩО ДІЗНАЄТЕСЬ?</div>
            <div class="knowledges__content">
                <div class="knowledges__item b-title">
                    <p class="knowledges__number">01</p>
                    <p class="knowledges__text">Як відобразити в обліку придбання, оренду та<br/>продаж/ліквідацію автомобіля</p>
                </div>
                <div class="knowledges__item">
                    <p class="knowledges__number">02</p>
                    <p class="knowledges__text">Обслуговування та ремонт автомобіля: тонкощі бухгалтерського та податкового обліку</p>
                </div>
                <div class="knowledges__item">
                    <p class="knowledges__number">03</p>
                    <p class="knowledges__text">Вантажні перевезення: оформлення ТТН, формування собівартості, оплата праці водіїв
                    </p>
                </div>
                <div class="knowledges__item">
                    <p class="knowledges__number">04</p>
                    <p class="knowledges__text">Усе про пальне: від<br/>придбання/списання та відображення у бухобліку до акцизних питань
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="profession" class="profession">
        <div class="profession__container">
            <div class="profession__title">кому це буде цікаво?</div>
            <div class="profession__content">
                <div data-animated="zoomIn" class="profession__item">
                    <picture><img src="{{ link }}/business-woman.jpg" alt="business-woman"/>
                        <source srcset="/storage/seminars/pages/{action}/images/business-woman.webp" type="image/webp"/>
                    </picture>
                    <div class="profession__footer">
                        <p>Бухгалтеру</p>
                    </div>
                </div>
                <div data-animated="zoomIn" class="profession__item profession__item--active">
                    <picture><img src="{{ link }}/auditor.jpg" alt="auditor"/>
                        <source srcset="{{ link }}/auditor.webp" type="image/webp"/>
                    </picture>
                    <div class="profession__footer">
                        <p>Аудитору</p>
                    </div>
                </div>
                <div data-animated="zoomIn" class="profession__item">
                    <picture><img src="{{ link }}/businessman.jpg" alt="business"/>
                        <source srcset="{{ link }}/businessman.webp" type="image/webp"/>
                    </picture>
                    <div class="profession__footer">
                        <p>Директору</p>
                    </div>
                </div>
                <div data-animated="zoomIn" class="profession__item">
                    <picture><img src="{{ link }}/businessman2.jpg" alt="business"/>
                        <source srcset="{{ link }}/businessman2.webp" type="image/webp"/>
                    </picture>
                    <div class="profession__footer">
                        <p>ФОПу</p>
                    </div>
                </div>
            </div><a href="#order" class="profession__btn js-scroll-to">ПРИЄДНАТИСЯ</a>
        </div>
    </div>
    <div id="lectors" class="lectors">
        <div class="lectors__container">
            <div class="lectors__title">Лектори</div>
            <div class="lectors__item">
                <div class="lectors__photo">
                    <picture><img src="{{ link }}/IG.png" alt="Ірина Губіна"/>
                        <source srcset="{{ link }}/ig.webp" type="image/webp"/>
                    </picture>
                </div>
                <div class="lectors__body">
                    <p class="lectors__name">Ірина Губіна</p>
                    <p class="lectors__text">Головний редактор 7eminar.com</p>
                    <p class="lectors__text">Експерт з податкового та бухгалтерського обліку (сертифікати CAP, DipIFR). Відомий експерт з податкового планування, редактор журналу «БухгалтеріяUA», автор понад сотні професійних публікацій.</p>
                </div>
            </div>
            <div class="lectors__item">
                <div class="lectors__photo">
                    <picture><img src="{{ link }}/GM.png" alt="Галина Морозовська"/>
                        <source srcset="{{ link }}/GM.webp" type="image/webp"/>
                    </picture>
                </div>
                <div class="lectors__body">
                    <p class="lectors__name">Галина Морозовська</p>
                    <p class="lectors__text">Незалежний бухгалтер-експерт.</p>
                    <p class="lectors__text">Автор публікацій у професійних ЗМІ за тематикою податку на прибуток, бухгалтерського обліку, ЗЕД, ПДВ. Понад 10 років досвіду роботи у бухгалтерських виданнях, більше 1000 наданих індивідуальних консультацій.</p>
                </div>
            </div><a href="#order" class="profession__btn js-scroll-to">СТАТИ УЧАСНИКОМ</a>
        </div>
    </div>
    <div id="themes" class="themes">
        <div class="themes__container">
            <p class="themes__title">ТЕМИ І ДАТИ ВІДЕОУРОКІВ</p>
            <div data-animated="fadeInLeft" class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__text">
                            <p class="themes__name">Лектор: Галина Морозовська</p>
                            <p class="themes__lessons">УРОК 1.</p>
                            <p class="themes__lessons-titel">Придбання автомобіля, фінлізинг, оренда, позичка</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="themes__more-btn">Детальніше</a></div>
                    </div>
                </div>
                <div id="lesson1" class="themes__more collapse">
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><span>Придбання автомобіля. Формування первісної вартості. Чи включати до неї витрати на страхування, плату за реєстрацію, номерні знаки тощо? Чи потрібно створювати автогосподарство? Ліквідаційна вартість автомобіля: як її встановити. Чи може вона дорівнювати 0 грн? Строк корисного використання авто.</span></li>
                            <li class="themes__more-list-item"><span>Отримання авто як внеску до статутного капіталу. Особливості формування первісної вартості. Чи треба залучати експерта з оцінки, аби встановити вартість для оприбуткування.</span></li>
                            <li class="themes__more-list-item"><span>Безоплатне отримання автомобіля. Облік та податкові наслідки.</span></li>
                            <li class="themes__more-list-item"><span>Фінлізинг: особливості обліку.</span></li>
                            <li class="themes__more-list-item"><span>Оперативна оренда. Документальне оформлення та облік. Варіанти використання підприємством автомобіля фізособи (директора, співробітника, іншої особи) та податкові наслідки: оренда, позичка, компенсація витрат на використання авто за заявою працівника. Переваги та недоліки кожного з варіантів. Роз’яснення контролерів. Судова практика.</span></li>
                        </ul>
                    </div>
                    <div class="themes__more-footer">
                        <p class="themes__duration">Тривалість уроку: <br/>45 хвилин
                        </p>
                    </div>
                </div>
            </div>
            <div data-animated="fadeInRight" class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__text">
                            <p class="themes__name">Лектор: Галина Морозовська</p>
                            <p class="themes__lessons">УРОК 2.</p>
                            <p class="themes__lessons-titel">Техобслуговування авто, ремонти та поліпшення</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="themes__more-btn">Детальніше</a></div>
                    </div>
                </div>
                <div id="lesson2" class="themes__more collapse">
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><span>Технічне обслуговування автомобіля. Облік шин, акумуляторів. Коли їх списувати на витрати – при встановленні на авто чи списанні при повному зношенні? Як вести картку обліку шин та акумуляторів?</span></li>
                            <li class="themes__more-list-item"><span>Ремонт і поліпшення автомобіля: бухгалтерський і податковий облік. Як розмежувати ремонт і поліпшення автомобіля? Хто приймає рішення? Чи амортизувати автомобіль під час ремонту, поліпшень? Ремонт за рахунок страхового відшкодування – особливості обліку. Чи є право на податковий кредит із ПДВ за ремонтними роботами, оплаченими страховою?</span></li>
                            <li class="themes__more-list-item"><span>Облік ремонтів та поліпшень орендованого авто. Чи є різниці з податку на прибуток? Як обліковувати поліпшення орендованого – до якої групи основних засобів відносити? Чи не буде ремонт автомобіля фізособи, отриманий в оренду, фінансуванням особистих потреб? Як прописати в договорі, аби не було проблем.</span></li>
                        </ul>
                    </div>
                    <div class="themes__more-footer">
                        <p class="themes__duration">Тривалість уроку: <br/>45 хвилин
                        </p>
                    </div>
                </div>
            </div>
            <div data-animated="fadeInLeft" class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__text">
                            <p class="themes__name">Лектор: Галина Морозовська</p>
                            <p class="themes__lessons">УРОК 3.</p>
                            <p class="themes__lessons-titel">Продаж, безоплатне передання та ліквідація автомобіля</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson3" aria-expanded="false" aria-controls="#lesson3" class="themes__more-btn">Детальніше</a></div>
                    </div>
                </div>
                <div id="lesson3" class="themes__more collapse">
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><span>Продаж автомобіля. Бухгалтерський облік. Наслідки продажу автомобіля з податку на прибуток: використання різниць. ПДВ при продажу, мінімальна база оподаткування. Продаж авто фізособі за ціною, нижчою за ринкову, – чи треба нарахувати ПДФО на «знижку»? Підхід контролерів.</span></li>
                            <li class="themes__more-list-item"><span>Безоплатне передання автомобіля: бухоблік, податок на прибуток, ПДВ.</span></li>
                            <li class="themes__more-list-item"><span>Ліквідація автомобіля. Оформлення ліквідації. Чи списувати з балансу повністю замортизований об’єкт? Наслідки ліквідації авто з податку на прибуток. Які умови слід виконати, щоб не нараховувати ПДВ при ліквідації автомобіля? Часткова ліквідація. Оприбуткування металобрухту, запчастин, облік їх реалізації.</span></li>
                        </ul>
                    </div>
                    <div class="themes__more-footer">
                        <p class="themes__duration">Тривалість уроку: 45 хвилин</p>
                    </div>
                </div>
            </div>
            <div data-animated="fadeInRight" class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__text">
                            <p class="themes__name">Лектор: Ірина Губіна</p>
                            <p class="themes__lessons">УРОК 4.</p>
                            <p class="themes__lessons-titel">Особливості  вантажних автоперевезень: обліково-податковий аспект</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson4" aria-expanded="false" aria-controls="#lesson4" class="themes__more-btn">Детальніше</a></div>
                    </div>
                </div>
                <div id="lesson4" class="themes__more collapse">
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><span>Вантажні перевезення по Україні: правила та особливості.</span></li>
                            <li class="themes__more-list-item"><span>Документальне оформлення вантажних перевезень: у фокусі ТТН</span>
                                <ul class="themes__more-sub-list">
                                    <li><span>Випадки, коли вона є необхідною для перевізника та замовника, особливості заповнення.</span></li>
                                    <li><span>Які витрати підтверджуємо ТТН, для кого з учасників процесу перевезень вона є необхідною.</span></li>
                                    <li><span>Що робити, якщо ТТН немає, – наслідки та податкові ризики.</span></li>
                                </ul>
                            </li>
                            <li class="themes__more-list-item"><span>Собівартість автоперевезень – головні складові:</span>
                                <ul class="themes__more-sub-list">
                                    <li><span>На які документи варто посилатися.</span></li>
                                    <li><span>Що прописувати в обліковій політиці підприємства.</span></li>
                                    <li><span>Податкові аспекти формування собівартості та вплив на показники доходу.</span></li>
                                </ul>
                            </li>
                            <li class="themes__more-list-item"><span>Оплата праці водіїв: головні правила та порушення, як їм запобігти.</span></li>
                        </ul>
                    </div>
                    <div class="themes__more-footer">
                        <p class="themes__duration">Тривалість уроку: <br/>45 хвилин
                        </p>
                    </div>
                </div>
            </div>
            <div data-animated="fadeInLeft" class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__text">
                            <p class="themes__name">Лектор: Ірина Губіна</p>
                            <p class="themes__lessons">УРОК 5.</p>
                            <p class="themes__lessons-titel">Паливний акциз для тих, хто придбаває та використовує пальне</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson5" aria-expanded="false" aria-controls="#lesson5" class="themes__more-btn">Детальніше</a></div>
                    </div>
                </div>
                <div id="lesson5" class="themes__more collapse">
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><span>Придбання пального для власних потреб: коли час задуматися над реєстрацією платника акцизного податку.</span></li>
                            <li class="themes__more-list-item"><span>Акцизні «тонкощі» заправляння на АЗС для платників та неплатників «паливного» акцизу.</span></li>
                            <li class="themes__more-list-item"><span>Особливості  документального оформлення руху  пального для зареєстрованих платників акцизного податку.</span></li>
                            <li class="themes__more-list-item"><span>Ліцензування зберігання пального: кому необхідна ліцензія та як її отримати.</span></li>
                        </ul>
                    </div>
                    <div class="themes__more-footer">
                        <p class="themes__duration">Тривалість уроку: <br/>45 хвилин
                        </p>
                    </div>
                </div>
            </div>
            <div data-animated="fadeInRight" class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__text">
                            <p class="themes__name">Лектор: Ірина Губіна</p>
                            <p class="themes__lessons">УРОК 6.</p>
                            <p class="themes__lessons-titel">Придбання та використання пального,  норми списання, транспортний податок</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson6" aria-expanded="false" aria-controls="#lesson6" class="themes__more-btn">Детальніше</a></div>
                    </div>
                </div>
                <div id="lesson6" class="themes__more collapse">
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><span>Надходження ПММ на підприємство: облікові нюанси та документальне підвердження придбання пального у фізичних ємностях, талонах, паливних картках.</span></li>
                            <li class="themes__more-list-item"><span>Витрачання пального:</span>
                                <ul class="themes__more-sub-list">
                                    <li><span>Як організувати облік?</span></li>
                                    <li><span>Яким документом оформлюємо списання (подорожній лист, відомість на списання тощо).</span></li>
                                    <li><span>Чи орієнтуватися на норми списання? Якщо так, то на які?</span></li>
                                </ul>
                            </li>
                            <li class="themes__more-list-item"><span>Податкові наслідки списання ПММ понад норму (витрати, ПДВ, ПДФО та ВЗ).</span></li>
                            <li class="themes__more-list-item"><span>Транспортний податок: хто, коли і як сплачує. Які автівки – «поза підозрою».</span></li>
                        </ul>
                    </div>
                    <div class="themes__more-footer">
                        <p class="themes__duration">Тривалість уроку: <br/>45 хвилин
                        </p>
                    </div>
                </div>
            </div>
            <div data-animated="fadeInLeft" class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__text">
                            <p class="themes__name">Лектор: Галина Морозовська</p>
                            <p class="themes__lessons">УРОК 7.</p>
                            <p class="themes__lessons-titel">Відповіді на запитання</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson7" aria-expanded="false" aria-controls="#lesson7" class="themes__more-btn">Детальніше</a></div>
                    </div>
                </div>
                <div id="lesson7" class="themes__more collapse">
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><span>Можливість дізнатися відповіді на актуальні запитання від ваших колег.</span></li>
                        </ul>
                    </div>
                    <div class="themes__more-footer">
                      {#  <p class="themes__date"><b>Дата:</b> 29 квітня 2020 року
                        </p>#}
                        <p class="themes__duration">Тривалість уроку: <br/>120 хвилин {#(15:00 – 17:00)#}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="order">
        <div class="order__container">
            <div id="timer-custom" class="order__timer">
                <p id="order" class="order__title">АКЦІЯ ДІЄ ДО <span id="timer-title">{{ page.options['date']|default('') }}</span>
                </p>
                <div class="pricing-timer"  data-timer-2="{{ page.options['timer']|default('') }}">
                    <div class="pricing-timer__inner">
                        <div class="pricing-timer__box"><span class="days">00</span>дні</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="hours">00</span>год</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
                    </div>
                </div>
            </div>
            <div class="order__packages">
                <div class="order__package  package package--zal">
                    <div class="package__head  package__head--zal">
                        <p class="package__header  package__header--zal"> відеозапис </p>
                        <p class="package__price package__price-platform "></p>
                        <p class="package__price  package__price--zal"> {{shop_price('онлайн-090420Авто_1077','site')}} <span> грн</span>
                       {# <p class="package__old-price">
                            <s>{{shop_price('курс-090420Авто_577','line')}} грн
                            </s>
                        </p>#}
                        </p>
                        <div class="package__btn">
                            <a style="margin-top: 30px" class="btn dk-hide js-btn-utm"  href="https://7eminar.ua/checkout/k-090420Avto" target="_blank" >Замовити</a>

                            <form style="margin-top: 30px" class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-090420Авто_1077"/>
                                <button type="submit" rel="order" class="btn">Замовити</button>
                            </form>
                        </div>
                    </div>
                    <div class="package__body  package__body--zal">

                        <ul class="package__list"><li>відеозапис курсу</li><li>відповіді на запитання</li><li>презентації лекторів</li><li>сертифікат учасника</li></ul>
                    </div>
                    <div class="package__footer  package__footer--zal">
                        <p class="package__presents"></p>
                        <ul class="package__list package__list--footer">
                        </ul>
                        <div class="package__btn--footer">
                            <a class="btn dk-hide js-btn-utm"  href="https://7eminar.ua/checkout/k-090420Avto" target="_blank" >Замовити</a>

                            <form style="margin-top: 30px" class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-090420Авто_1077"/>
                                <button type="submit" rel="order" class="btn">Замовити</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="order__package  package package--gold-plus">
                    <div class="package__head  package__head--gold-plus">
                        <p class="package__header  package__header--gold-plus">БУХГАЛТЕРСЬКА ВІДЕОПЛАТФОРМА №1</p>
                        <p class="price-platform-js"> {{ shop_price('онлайн-platform_price','month') }}  <span> грн/міс.</span></p>
                        <p class="package__old-price">
                            <s> {{ shop_price('онлайн-platform_price','line') }}  грн/міс.</s>
                        </p>

                        <div class="package__btn"><a href="https://7eminar.ua/subscribe?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=avto2020_button_tabl_tsin" target="_blank" class="btn btn--Sale js-banner-link">передплатити</a></div>
                    </div>
                    <div class="package__body  package__body--gold-plus">


                        <ul class="package__list"><li class="is-platform">  <b>Доступ до цього відеопроєкту</b>, а також ще до <b>{{ shop_price('онлайн-platform_price','courses') }}+</b> відеокурсів, вебінарів та трансляцій на усі найважливіші бухгалтерські теми <b>за супервигідною ціною</b>  </li></ul>
                    </div>
                    <div class="package__footer  package__footer--gold-plus">
                        <p class="package__presents"></p>
                        <ul class="package__list package__list--footer">
                        </ul>
                        <div class="package__btn--footer"><a href="https://7eminar.ua/subscribe?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=avto2020_button_tabl_tsin" target="_blank" class="btn btn--Sale js-banner-link">передплатити</a></div>
                    </div>
                </div>
            </div>
            <div class="order__banner js-platform-banner">

            </div>
        </div>
    </div>
    <div id="certificate" class="certificate">
        <div class="certificate__container">
            <div class="certificate__title">Що ви отримаєте?</div>
            <div class="certificate__content">
                <div class="get">
                    <div class="get__item">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" style="width: 50px;height: 50px;">
                            <lineargradient id="a" gradientUnits="userSpaceOnUse" x1="6" y1="30" x2="54" y2="30">
                                <stop offset="0" stop-color="#01adff"></stop>
                                <stop offset="1" stop-color="#7c38ff"></stop>
                            </lineargradient>
                            <lineargradient id="white" gradientUnits="userSpaceOnUse" x1="6.5" y1="30" x2="53.5" y2="30">
                                <stop offset="0" stop-color="#fff"></stop>
                                <stop offset="1" stop-color="#fff"></stop>
                            </lineargradient>
                            <path d="M49 12V0H6v55h3V3h31l9 9zm-9.6-7H11v55h43V19.6L39.4 5zM20 17h10c.6 0 1 .4 1 1s-.4 1-1 1H20c-.6 0-1-.4-1-1s.4-1 1-1zm25 34H20c-.6 0-1-.4-1-1s.4-1 1-1h25c.6 0 1 .4 1 1s-.4 1-1 1zm0-8H20c-.6 0-1-.4-1-1s.4-1 1-1h25c.6 0 1 .4 1 1s-.4 1-1 1zm0-8H20c-.6 0-1-.4-1-1s.4-1 1-1h25c.6 0 1 .4 1 1s-.4 1-1 1zm0-8H20c-.6 0-1-.4-1-1s.4-1 1-1h25c.6 0 1 .4 1 1s-.4 1-1 1zm-7-6V7l14 14H38z"></path>
                        </svg>
                        <p>Презентації<br/>лекторів</p>
                    </div>
                    <div class="get__item active">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" style="width: 50px;height: 50px;">
                            <lineargradient id="a" gradientUnits="userSpaceOnUse" x1="6.5" y1="30" x2="53.5" y2="30">
                                <stop offset="0" stop-color="#01adff"></stop>
                                <stop offset="1" stop-color="#7c38ff"></stop>
                            </lineargradient>
                            <lineargradient id="white" gradientUnits="userSpaceOnUse" x1="6.5" y1="30" x2="53.5" y2="30">
                                <stop offset="0" stop-color="#fff"></stop>
                                <stop offset="1" stop-color="#fff"></stop>
                            </lineargradient>
                            <path d="M42.2 43.9s0 .1 0 0c-.1.1-.2.2-.2.3-.4 1.1-1.4 1.8-2.5 1.8s-2.1-.7-2.5-1.8c0-.1-.1-.2-.2-.3-.1 0-.2-.1-.2-.1v7.8l3-3 3 3v-7.7h-.4zM38.9 0H6.5v60h47V14.6L38.9 0zm-7.4 23h7c.6 0 1 .4 1 1s-.4 1-1 1h-7c-.6 0-1-.4-1-1s.4-1 1-1zm-4 1c0 .3-.1.5-.3.7-.2.2-.4.3-.7.3s-.5-.1-.7-.3c-.2-.2-.3-.4-.3-.7 0-.3.1-.5.3-.7.4-.4 1-.4 1.4 0 .2.2.3.4.3.7zm-11-9h9c.6 0 1 .4 1 1s-.4 1-1 1h-9c-.6 0-1-.4-1-1s.4-1 1-1zm0 8h5c.6 0 1 .4 1 1s-.4 1-1 1h-5c-.6 0-1-.4-1-1s.4-1 1-1zm-.7 8.3c.4-.4 1-.4 1.4 0 .2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.4.3-.7.3s-.5-.1-.7-.3c-.2-.2-.3-.5-.3-.7 0-.3.1-.5.3-.7zm2.5 16.5c0 .9-1 1.3-1.7.7-.9-.8-1.9-1.6-2.8-2.4-1-.8.4-2.2 1.4-1.4.4.3.8.7 1.2 1 .3-2.3 1-4.4 3.2-5.6 1.1-.6 2.2 1.1 1 1.7-2.1 1.2-2.2 3.8-2.3 6zm9-1.5c-.3-.6-1.9.6-2.3.7-.6.2-1.1.3-1.7.2-1.2-.1-2.2-.9-2.7-1.9-.6-1.2 1.2-2.2 1.7-1 1 1.9 2.6.3 3.9-.1 1-.3 2.2.2 2.7 1.1.7 1.1-1 2.1-1.6 1zM28.5 33h-7c-.6 0-1-.4-1-1s.4-1 1-1h7c.6 0 1 .4 1 1s-.4 1-1 1zm18.2 6.5c-.2.1-.3.3-.4.4 0 .1-.1.3 0 .5.4.8.3 1.8-.1 2.5-.4.6-1 1-1.7 1.2v12.3l-5-5-5 5V44.1c-.7-.1-1.3-.5-1.7-1.2-.5-.8-.5-1.7-.1-2.5.1-.2.1-.4 0-.5 0-.1-.1-.3-.4-.4-1.1-.4-1.8-1.4-1.8-2.5s.7-2.1 1.8-2.5c.2-.1.3-.3.4-.4 0-.1.1-.3 0-.5-.4-.8-.3-1.8.1-2.5.7-1.1 2.2-1.6 3.4-1 .3.1.7.1.9-.4.4-1.1 1.4-1.8 2.5-1.8s2.1.7 2.5 1.8c.1.4.6.5.9.4 1.2-.6 2.7-.1 3.4 1 .5.8.5 1.7.1 2.5-.1.2-.1.4 0 .5 0 .1.1.3.4.4 1.1.4 1.8 1.4 1.8 2.5s-.9 2.1-2 2.5zM42.5 24c0-.3.1-.5.3-.7.4-.4 1-.4 1.4 0 .2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.4.3-.7.3s-.5-.1-.7-.3c-.2-.2-.3-.4-.3-.7zm-6-9V1l14 14h-14zm9.6 21.4c-.7-.2-1.3-.8-1.6-1.5-.3-.7-.3-1.5.1-2.1.1-.3.1-.5 0-.6-.2-.3-.5-.4-.8-.2-.4.2-.7.3-1.1.3-1.1 0-2.1-.7-2.5-1.8-.2-.5-.6-.5-.7-.5s-.5 0-.6.4c-.4 1-1.4 1.8-2.5 1.8-.4 0-.8-.1-1.1-.3-.3-.1-.6 0-.8.2-.1.1-.2.3 0 .6.3.7.3 1.5.1 2.1-.3.7-.9 1.2-1.6 1.5-.4.1-.4.5-.4.6s0 .5.4.6c.7.2 1.3.8 1.6 1.5.3.7.3 1.5-.1 2.1-.1.3-.1.5 0 .6.1.2.4.3.7.3l.2-.1c.3-.1.7-.2 1.1-.2 1.1 0 2.1.7 2.5 1.8 0 .5.4.5.5.5s.5 0 .6-.4c.4-1.1 1.4-1.8 2.5-1.8.2 0 .4 0 .6.1.1 0 .1 0 .2.1.1 0 .2.1.3.1l.2.1c.3 0 .5-.1.7-.3.1-.1.2-.3 0-.6-.3-.7-.3-1.5-.1-2.1.3-.7.9-1.2 1.6-1.5.4-.1.4-.5.4-.6s0-.6-.4-.7z"></path>
                        </svg>
                        <p>Сертифікат<br/>учасника</p>
                    </div>
                    <div class="get__item">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" style="width: 50px;height: 50px;">
                            <lineargradient id="a" gradientUnits="userSpaceOnUse" x1="0" y1="30" x2="60.001" y2="30">
                                <stop offset="0" stop-color="#01adff"></stop>
                                <stop offset="1" stop-color="#7c38ff"></stop>
                            </lineargradient>
                            <lineargradient id="white" gradientUnits="userSpaceOnUse" x1="6.5" y1="30" x2="53.5" y2="30">
                                <stop offset="0" stop-color="#fff"></stop>
                                <stop offset="1" stop-color="#fff"></stop>
                            </lineargradient>
                            <path d="M55 45.4l-9.6-4.8c-.9-.5-1.5-1.4-1.5-2.4v-3.4c.2-.3.5-.6.7-1 1.2-1.8 2.2-3.7 3-5.8 1.4-.6 2.3-2 2.3-3.6v-4c0-1-.4-1.9-1-2.6v-5.3c.1-.6.3-3.8-2.1-6.5-2.1-2.3-5.4-3.5-9.9-3.5S29.1 3.7 27.1 6c-2.4 2.7-2.1 6-2.1 6.5v5.3c-.6.7-1 1.7-1 2.6v4c0 1.2.6 2.4 1.5 3.1.9 3.6 2.8 6.4 3.5 7.2V38c0 1-.5 1.9-1.4 2.3l-8.9 4.9C15.8 46.9 14 50 14 53.3v4.2h46v-4c0-3.5-1.9-6.6-5-8.1zM18 44l8.9-4.9c.4-.2.6-.6.6-1v-2.8c-.9-1.2-2.4-3.7-3.3-6.9-1.1-1-1.7-2.4-1.7-3.9v-4c0-1.1.4-2.2 1-3.1v-4.7c0-.4-.1-1.3.1-2.4-1.4-.5-2.9-.7-4.6-.7-10.4 0-11 8.9-11 9v4.6c-.6.7-1 1.5-1 2.3V29c0 1.1.5 2.1 1.3 2.8.8 3.1 2.9 5.5 3.6 6.3v2.7c0 .8-.4 1.5-1.2 1.9L4 46.9c-2.5 1.4-4.1 4.1-4.1 7v3.8h12.5v-4.2c.1-4.1 2.2-7.6 5.6-9.5z"></path>
                        </svg>
                        <p>Відповіді<br/>на запитання</p>
                    </div>
                    <div class="get__item">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 58" style="width: 50px;height: 50px;">
                            <lineargradient id="a" gradientUnits="userSpaceOnUse" x1="0" y1="29" x2="58" y2="29">
                                <stop offset="0" stop-color="#01adff"></stop>
                                <stop offset="1" stop-color="#7c38ff"></stop>
                            </lineargradient>
                            <lineargradient id="white" gradientUnits="userSpaceOnUse" x1="6.5" y1="30" x2="53.5" y2="30">
                                <stop offset="0" stop-color="#fff"></stop>
                                <stop offset="1" stop-color="#fff"></stop>
                            </lineargradient>
                            <path d="M57 6H1c-.6 0-1 .4-1 1v44c0 .6.4 1 1 1h56c.6 0 1-.4 1-1V7c0-.6-.4-1-1-1zM10 50H2v-9h8v9zm0-11H2v-9h8v9zm0-11H2v-9h8v9zm0-11H2V8h8v9zm26.5 12.8l-11 7c-.1.1-.3.2-.5.2s-.3 0-.5-.1c-.3-.2-.5-.5-.5-.9V22c0-.4.2-.7.5-.9.3-.2.7-.2 1 0l11 7c.3.2.5.5.5.8s-.2.8-.5.9zM56 50h-8v-9h8v9zm0-11h-8v-9h8v9zm0-11h-8v-9h8v9zm0-11h-8V8h8v9z"></path>
                        </svg>
                        <p>Сім<br/>відеоуроків</p>
                    </div>
                </div>
                <picture class="certificate__img"><img src="{{ link }}/certificate_avto_low.jpg" alt="certificate"/></picture>
            </div><a href="#order" class="certificate__btn js-scroll-to">ЗАМОВИТИ</a>
        </div>
    </div>
    <div id="video" class="video">
        <div id="bar-1" class="video__content">
            <div class="slider">
                <div class="slide">
                    <p class="video__title">Ірина Губіна запрошує
                        <!--br-->
                        <!--span ВСЕ НАЙКРАЩЕ ТУТ!-->
                    </p>
                    <div class="video__player"><a href="https://youtu.be/6alXqVtEpjY" class="video__link">
                            <picture><img src="https://i.ytimg.com/vi/6alXqVtEpjY/maxresdefault.jpg" alt="Тетяна Мойсеєнко" class="video__media"/></picture></a>
                        <button aria-label="play" class="video__button">
                            <svg>
                                <path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="video__button-shape"></path>
                                <path d="M 45,24 27,14 27,34" class="video__button-icon"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
                <li><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></li>

                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="https://7eminar.com/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></li>
            </ul>
            <ul class="partners__list">
               {# <li><a href="https://7eminar.com/" target="_blank"><img src="/modules/seminars/images/logos/kbs.png" width="145" height="38" alt="Київська Бухгалтерська Служба"/></a></li>#}
                <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="https://7eminar.com/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></li>
                <li><a href="http://www.smart-it.com/uk/" target="_blank" rel="nofollow"><img src="https://7eminar.com/modules/seminars/images/logos/smart-2.png" height="50" alt="Smart IT"/></a></li>
               {# <li><a href="https://kraft.net.ua" target="_blank" class="logonoclik"><img style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" class="img_partners1"/></a></li>#}
            </ul>
        </div>
    </div>
    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
    <div id="modal-present" tabindex="-1" role="dialog" class="modal-present modal fade">
        <div role="document" class="modal-dialog">
            <div data-dismiss="modal" class="close-modal"></div>
            <div class="modal-content">
                <div class="modal-present__content"></div>
            </div>
        </div>
    </div>
    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>