{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
        <div class="menu-mob">
            <input id="menu-checkbox" type="checkbox"/><span class="burger__bg burger__bg-js"></span><span class="burger__element"></span>
            <ul class="menu">
                <li><a href="#travel" class="burger__link">ПРОГРАМА ТУРУ</a></li>
                <li><a href="#place" class="burger__link">ФОТО</a></li>
                <li><a href="#order" class="burger__link">ВАРТІСТЬ</a></li>
                <li><a href="#order" class="burger__link">ЗАМОВИТИ</a></li>
            </ul>
        </div>
    </div>
    <div class="hero">
        <div class="hero__container">
            <div class="hero__menu">
                <div class="menu">
                    <div class="menu__container">
                        <ul class="menu__list">
                            <li><a href="#place">Фото</a></li>
                            <li><a href="#travel">Програма туру</a></li>
                            <li><a href="#order">Придбати квитки</a></li>
                        </ul>
                        <ul class="menu__list">
                            <li><a href="/">Iнші семінари</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hero__top-container dk-show-flex">
                <a class="hero__logo-dk" href="https://dtkt.ua/about" target="_blank">
                    <img src="{{ link }}/logo-dk.png" width="200" height="52" alt="«Дебет-Кредит» | Бухгалтерський сервіс №1 в Україні">
                </a>
                <a class="hero__logo-seminar" href="https://7eminar.com/" target="_blank">
                    <img src="{{ link }}/7minar_logo_color.png" width="186" height="42" alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
                </a>
            </div>
            <div class="hero__content">

                <div class="hero__box">
                    <p class="hero__date">24–27 липня 2020 р.</p>
                    <div class="hero__text">
                        <p class="hero__title">Сім задоволень<br/><span>для бухгалтера</span></p>
                    </div>
                    <p class="hero__sub-title">SPA-тур: відпочинок та задоволення</p>
                    <div class="hero__btn"><a href="#order" class="btn">ЗАМОВИТИ</a></div>
                </div>
            </div>
        </div>
    </div>
    <div id="place" class="place">
        <div class="place__container">
            <div class="place__block">
                <div class="place__item">
                    <picture>
                        <source srcset="{{ link }}/img1.webp" type="image/webp"/><img src="{{ link }}/img1-min.png" alt=""/>
                    </picture>
                    <div class="place__text">
                        <p>Перезавантаження<br/>в форматі "релакс"</p>
                    </div>
                </div>
                <div class="place__item">
                    <div class="place__text">
                        <p>Відпочинок<br/>у курортному готелі<br/>"Сонячний Прованс"</p>
                    </div>
                    <picture>
                        <source srcset="{{ link }}/img2-1.webp" type="image/webp"/><img src="{{ link }}/img2-min.png" alt=""/>
                    </picture>
                </div>
                <div class="place__item">
                    <picture>
                        <source srcset="{{ link }}/img3.webp" type="image/webp"/><img src="{{ link }}/img3-min.png" alt=""/>
                    </picture>
                    <div class="place__text">
                        <p>Цілющі сили природи<br/>та лікувальних джерел</p>
                    </div>
                </div>
            </div>
            <div class="place__btn"><a href="#tour" class="btn">Подробиці</a></div>
        </div>
    </div>
    <div id="travel" class="travel">
        <div class="travel__container">
            <div class="travel__block">
                <div class="travel__item">
                    <picture>
                        <source srcset="{{ link }}/img4.webp" type="image/webp"/><img src="{{ link }}/img4-min.png" alt="amsterdam"/>
                    </picture>
                    <div class="travel__text">
                        <p>SPA</p><span>безліч послуг<br/>із догляду за тілом</span>
                    </div>
                </div>
                <div class="travel__item">
                    <picture>
                        <source srcset="{{ link }}/img5.webp" type="image/webp"/><img src="{{ link }}/img5-min.png" alt="warsawa"/>
                    </picture>
                    <div class="travel__text">
                        <p>Фітнес</p><span>щоденні заняття<br/>з тренером</span>
                    </div>
                </div>
                <div class="travel__item">
                    <picture>
                        <source srcset="{{ link }}/img6.webp" type="image/webp"/><img src="{{ link }}/img6-min.png" alt="warsawa"/>
                    </picture>
                    <div class="travel__text">
                        <p>Харчування</p><span>поради від фахівця<br/>з дієтології</span>
                    </div>
                </div>
                <div class="travel__item">
                    <picture>
                        <source srcset="{{ link }}/img7.webp" type="image/webp"/><img src="{{ link }}/img7-min.png" alt="warsawa"/>
                    </picture>
                    <div class="travel__text">
                        <p>Фейсбілдінг</p><span>вправи для омолодження<br/> обличчя</span>
                    </div>
                </div>
                <div class="travel__item">
                    <picture>
                        <source srcset="{{ link }}/img8.webp" type="image/webp"/><img src="{{ link }}/img8-min.png" alt="warsawa"/>
                    </picture>
                    <div class="travel__text">
                        <p>Психологія</p><span>до якого психотипу<br/>ви належите</span>
                    </div>
                </div>
                <div class="travel__item">
                    <picture>
                        <source srcset="{{ link }}/img9.webp" type="image/webp"/><img src="{{ link }}/img9-min.png" alt="warsawa"/>
                    </picture>
                    <div class="travel__text">
                        <p>Стиль</p><span>ваш образ очима фахівця</span>
                    </div>
                </div>
                <div class="travel__item">
                    <picture>
                        <source srcset="{{ link }}/img10.webp" type="image/webp"/><img src="{{ link }}img10-min.png" alt="warsawa"/>
                    </picture>
                    <div class="travel__text">
                        <p>Танці</p><span>латиноамериканська<br/>вечірка</span>
                    </div>
                </div>
            </div>
            <div class="travel__btn"><a href="https://7eminar.com/files/presentation_retreat20062020.pdf" target="_blank" class="btn">ДЕТАЛІ ТУРУ</a></div>
        </div>
    </div>
    <div id="tour" class="tour">
        <div class="tour__container">
            <div class="tour__title">У вартість туру входить</div>
            <div class="include">
                <div class="include__item">
                    <ul class="include__list include__list--left">
                        <li>
                            <div class="include__text"><b>Трансфер з вокзалу<br/>м. Хмельницького<br/>до комплексу та назад</b></div>
                        </li>
                        <li>
                            <div class="include__text"><b>Проживання<br/>в двомісних номерах</b></div>
                        </li>
                        <li>
                            <div class="include__text"><b>Триразове харчування</b></div>
                        </li>
                        <li>
                            <div class="include__text"><b>Лекції з фахівцями<br/>(відповідно до програми)</b></div>
                        </li>
                        <li>
                            <div class="include__text"><b>Супровід представника<br/>компанії 7eminar.com</b></div>
                        </li>
                    </ul>
                </div>
                <div class="include__item">
                    <ul class="include__list include__list--right">
                        <li>
                            <div class="include__text"><b>Щоденний ранковий<br/>фітнес із тренером</b></div>
                        </li>
                        <li>
                            <div class="include__text"><b>Користування відкритим<br/>басейном із підігрівом</b></div>
                        </li>
                        <li>
                            <div class="include__text"><b>Сертифікат на послуги<br/>SPA номіналом 700 грн</b></div>
                        </li>
                        <li>
                            <div class="include__text"><b>Гала-вечірка<br/>з латиноамериканськими танцями</b></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accompaniment">
                <picture class="accompaniment__img"><img src="{{ link }}/mn.png" alt="mn"/></picture>
                <div class="accompaniment__text">
                    <p>Безмежна турбота під час подорожі<br/>від івент-директора компанії – <br/><span>Марини Нікуліної.</span>
                    </p>
                    <p>Пізнавайте світ із 7eminar.com!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="order" class="order">
        <div class="order__container">
            <div id="timer-custom" class="order__timer">
                <div class="order__title">Акція діє до <span id="timer-title">{{ page.options['date']|default('') }}</span>
                </div>
            </div>
            <div class="order__packages">
                <div class="order__package  package package--no-club">
                    <div class="package__body  package__body--no-club">
                        <p class="package__format">ЦІНА</p>
                        <p class="package__old-price">
                            <s>{{shop_price('тур-200520_Ретрит_2','line')}}</s>
                        </p>
                        <p class="package__price  package__price--no-club"> {{shop_price('тур-200520_Ретрит_2','site')}}<span>грн</span>
                        </p>
                        <p class="package__presents">Подарунок</p>
                        <ul class="package__list package__list--footer">
                            <div class="present">
                                <p>Доступ до <a href="https://7eminar.ua/" target="_blank" class="js-banner-link">Бухгалтерської Відеоплатформи №1</a><br/>протягом трьох місяців
                                </p>
                            </div>
                        </ul>
                        <div class="package__btn">
                            <form method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="тур-200520_Ретрит_2"/>
                                <button type="submit" rel="order" class="btn">Хочу в тур</button>
                            </form>
                        </div>
                    </div>
                </div>
               {# <div class="order__package  package package--no-club">
                    <div class="package__body  package__body--no-club">
                        <p class="package__format">Вартість туру </p>
                        <p class="package__old-price">
                            <s> {{shop_price('тур-200520_Ретрит_1','line')}}</s>
                        </p>
                        <p class="package__price  package__price--no-club"> {{shop_price('тур-200520_Ретрит_1','site')}}<span>грн</span>
                        </p>
                        <p class="package__presents">Подарунок</p>
                        <ul class="package__list package__list--footer">
                            <div class="present">
                                <p>Доступ до <a href="https://7eminar.ua/" target="_blank" class="js-banner-link">Бухгалтерської Відеоплатформи №1</a><br/>протягом трьох місяців
                                </p>
                            </div>
                        </ul>
                        <div class="package__btn">
                            <form method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="тур-200520_Ретрит_1"/>
                                <button type="submit" rel="order" class="btn">Хочу в тур</button>
                            </form>
                        </div>
                    </div>
                </div>#}{#
            </div>#}
        </div>
    </div>
    <div class="info">
        <div class="info__container">
            <div class="info__frame">
                <div class="info__title">Важлива інформація</div>
                <ul>
                    <li>Сплачувати виїзні заходи можна частинами. 100% оплати повинні надійти не пізніше ніж за 7 днів до початку туру.</li>
                    <li>У разі відмови від туру: за 14 днів – утримується 60% оплати, менш ніж за 13 днів – утримується 100% оплати.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
                <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></li>
                <li><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></li>
                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="https://7eminar.com/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></li>
            </ul>

        </div>
    </div>
    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>