{% set link = page.url('/images') %}
{% set price_month_3 = shop_price('s-v3_837','month') %}
{% set price_link_3 = 's-v3_837' %}
{% set price_site_3 = shop_price('s-v3_837','site') %}
{% set price_line_3 = shop_price('s-v3_837','line') %}

{% set price_site_6 = shop_price('s-v6_1554r','site') %}
{% set price_month_6 = shop_price('s-v6_1554r','month') %}
{% set price_line_6 = shop_price('s-v6_1554r','line') %}
{% set price_link_6 = 's-v6_1554r' %}

{% set price_site_12 = shop_price('s-v12_2988r','site') %}
{% set price_month_12 = shop_price('s-v12_2988r','month') %}
{% set price_line_12 = shop_price('s-v12_2988r','line') %}
{% set price_link_12 = 's-v12_2988r' %}


{% set price_month_3_card = shop_price('s-v3_717c','month') %}
{% set price_link_3_card = 's-v3_717c' %}
{% set price_site_3_card = shop_price('s-v3_717c','site') %}
{% set price_line_3_card = shop_price('s-v3_717c','line') %}

{% set price_site_6_card = shop_price('s-v6_1374r','site') %}
{% set price_month_6_card = shop_price('s-v6_1374r','month') %}
{% set price_line_6_card = shop_price('s-v6_1374r','line') %}
{% set price_link_6_card = 's-v6_1374r' %}

{% set price_site_12_card = shop_price('s-v12_2628c','site') %}
{% set price_month_12_card = shop_price('s-v12_2628c','month') %}
{% set price_line_12_card = shop_price('s-v12_2628c','line') %}
{% set price_link_12_card = 's-v12_2628c' %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="rowall">
        <div class="wrapper wrapper__head">
            <div class="wrapper__bg">
                <div class="content">
                    <div class="block-titel__wrapp">
                        <div style="margin: 0 auto;">
                            <div class="block-titel block-titel--gift">
                                <video id="video-background" autoplay="" muted="" class="video-background-js">
                                    <source src="https://7eminar.ua/modules/theme-7eminar.ua/images/short.webm" type="video/webm"/>
                                </video>
                                <div class="lector-jpg"></div>
                                <div class="lector">
                                    <div class="vidModal">
                                        <button type="button" data-toggle="modal" data-target="#myModal" data-vidid="LOHtuZD_zP0" class="but"></button>
                                    </div>
                                </div>
                                <div class="wrapp_text">
                                    <h1>Бухгалтерська відеоплатформа №1</h1>
                                    <p> Дивіться понад {{ page.options['number']|default('') }} курсів та вебінарів прямо зараз</p>
                                </div>
                                <div class="wrapp_btn">
                                    <div class="head-btn"><a href="#order" class="btn">Дізнатися вартість</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="order" class="wrapper wrapper__order">
            <div class="content">
                <div class="titel">Акція діє тільки до <span id="timer-title">{{ page.options['date']|default('') }}</span>
                </div>
                <div class="packages">
                    <div class="package">
                        <div class="package__header">
                            <div class="package__top">
                                <p class="package__period">3 місяці</p>
                            </div>
                            <div class="package__block-price">
                                <p class="package__price-month">{{ price_month_3 }} грн/міс.</p>
                                <p class="package__price-old"> <s>{{ price_line_3 }} грн/міс.</s></p>
                                <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                                    <div class="package__btn">
                                        <input type="hidden" name="product" value="{{ price_link_3 }}"/>
                                        <button type="button" rel="order" class="btn-order btn-order__card">замовити рахунок</button>
                                    </div>
                                </form>

                            </div>
                            <div class="percent">-38%</div>
                        </div>
                        <div class="package__body">
                            <ul class="package__list">
                                <li><span>{{ page.options['number']|default('') }} відеокурсів вже <br> доступні до перегляду</span></li>
                                <li><span>Вебінари <br> та онлайн-трансляції <br> семінарів (4-6 р./міс.)</span></li>
                                <li><span>Відеокурси з актуальних <br> питань (2-3 р./міс.)</span></li>
                                <li><span>Сервіс «Online-відповіді <br> на запитання» (2 р./міс.)</span></li>
                                <li><span>Роздатковий матеріал</span></li>
                                <li><span>Сертифікати після <br> проходження курсів</span></li>
                                <li><span>Ексклюзивні додаткові <br> відеоматеріали</span></li>
                            </ul>
                            <div class="js-show_hide package__show-hide">а ще входить...</div>
                        </div>
                        <div class="package__footer package__card">
                            <p class="package__sub-title">При оплаті картою</p>
                            <p class="package__price-month">{{ price_month_3_card }} грн/міс.</p>
                            <p class="package__price-old"> <s>{{ price_line_3_card }} грн/міс.</s></p>
                            <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                                <div class="">
                                    <input type="hidden" name="product" value="{{ price_link_3_card }}"/>
                                    <button type="button" rel="order" class=" package__btn-card">оплатити картою</button>
                                </div>
                            </form>
                            <div class="percent">-47%</div>
                        </div>

                    </div>
                    <div class="package">
                        <div class="package__header">
                            <div class="package__top">
                                <p class="package__period">6 місяців</p>
                            </div>
                            <div class="package__block-price">
                                <p class="package__price-month">{{ price_month_6 }} грн/міс.</p>
                                <p class="package__price-old"> <s>{{ price_line_6 }} грн/міс.</s></p>
                                <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                                    <div class="package__btn">
                                        <input type="hidden" name="product" value="{{ price_link_6 }}"/>
                                        <button type="button" rel="order" class="btn-order btn-order__card">замовити рахунок</button>
                                    </div>
                                </form>
                            </div>
                            <div class="percent">-42%</div>
                        </div>
                        <div class="package__body">
                            <ul class="package__list">
                                <li><span>{{ page.options['number']|default('') }} відеокурсів вже <br> доступні до перегляду</span></li>
                                <li><span>Вебінари <br> та онлайн-трансляції <br> семінарів (4-6 р./міс.)</span></li>
                                <li><span>Відеокурси з актуальних <br> питань (2-3 р./міс.)</span></li>
                                <li><span>Сервіс «Online-відповіді <br> на запитання» (2 р./міс.)</span></li>
                                <li><span>Роздатковий матеріал</span></li>
                                <li><span>Сертифікати після <br> проходження курсів</span></li>
                                <li><span>Ексклюзивні додаткові <br> відеоматеріали</span></li>
                            </ul>
                            <div class="js-show_hide package__show-hide">а ще входить...</div>
                        </div>
                        <div class="package__footer package__card">
                            <p class="package__sub-title">При оплаті картою</p>
                            <p class="package__price-month">{{ price_month_6_card }} грн/міс.</p>
                            <p class="package__price-old"> <s>{{ price_line_6_card }} грн/міс.</s></p>
                            <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                                <div class="">
                                    <input type="hidden" name="product" value="{{ price_link_6_card }}"/>
                                    <button type="button" rel="order" class=" package__btn-card">оплатити картою</button>
                                </div>
                            </form>
                            <div class="percent">-49%</div>
                        </div>
                    </div>
                    <div class="package">
                        <div class="package__header">

                            <div class="package__top">
                                <p class="package__period">12 місяців</p>
                                <div class="package__presents">
                                <p >подарунок <br>
                                   <span>ПАРАСОЛЬКА</span></p>
                            </div>
                            </div>
                            <div class="package__block-price">
                                <p class="package__price-month">{{ price_month_12 }} грн/міс.</p>
                                <p class="package__price-old"> <s>{{ price_line_12 }} грн/міс.</s></p>
                                <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                                    <div class="package__btn">
                                        <input type="hidden" name="product" value="{{ price_link_12 }}"/>
                                        <button type="button" rel="order" class="btn-order btn-order__card">замовити рахунок</button>
                                    </div>
                                </form>

                            </div>
                            <div class="percent">-45%</div>
                        </div>
                        <div class="package__body">
                            <ul class="package__list">
                                <li><span>{{ page.options['number']|default('') }} відеокурсів вже <br> доступні до перегляду</span></li>
                                <li><span>Вебінари <br> та онлайн-трансляції <br> семінарів (4-6 р./міс.)</span></li>
                                <li><span>Відеокурси з актуальних <br> питань (2-3 р./міс.)</span></li>
                                <li><span>Сервіс «Online-відповіді <br> на запитання» (2 р./міс.)</span></li>
                                <li><span>Роздатковий матеріал</span></li>
                                <li><span>Сертифікати після <br> проходження курсів</span></li>
                                <li><span>Ексклюзивні додаткові <br> відеоматеріали</span></li>
                            </ul>
                            <div class="js-show_hide package__show-hide">а ще входить...</div>
                        </div>
                        <div class="package__footer package__card">
                            <p class="package__sub-title">При оплаті картою</p>
                            <p class="package__price-month">{{ price_month_12_card }} грн/міс.</p>
                            <p class="package__price-old"> <s>{{ price_line_12_card }} грн/міс.</s></p>
                            <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                                <div class="">
                                    <input type="hidden" name="product" value="{{ price_link_12_card }}"/>
                                    <button type="button" rel="order" class=" package__btn-card">оплатити картою</button>
                                </div>
                            </form>

                            <div class="percent">-51%</div>
                        </div>

                    </div>
                </div>
               {# <div class="block-order">
                    <div class="block-order__item block-order__item--five">
                        <div class="block-order--titel">
                            <h2>3 місяці</h2>
                        </div>
                        <div class="block-order--price">
                           #}{# <div class="block-order__prices">
                                <p>{{shop_price('s-v3_837','site')}}грн
                                </p>

                            </div>#}{#
                            <h3>{{shop_price('s-v3_837','month')}} <span>грн/міс.</span>

                            </h3>
                            <p>
                                <s>{{shop_price('s-v3_837','line')}} грн/міс.
                                </s>
                            </p>
                            <p class="block-order__sale">ЗНИЖКА -38%</p>
                        </div>
                        <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                            <div class="field-price">
                                <input type="hidden" name="product" value="s-v3_837"/>
                                <button type="button" rel="order" class="btn-order">замовити рахунок</button>
                            </div>
                        </form>
                        <div class="block-order__card">
                            <p class="block-order__card-titel">ПРИ ОПЛАТІ КАРТОЮ</p>
                            <div class="block-order--price">

                                <h3> {{shop_price('s-v3_717c','month')}}  <span> грн/міс.</span>
                                </h3>
                                <p>
                                    <s>{{shop_price('s-v3_717c','line')}} грн/міс.
                                    </s>
                                </p>
                                <p class="block-order__sale">ЩЕ ВИГІДНІШЕ, -47%</p>
                            </div>
                            <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                                <div class="field-price">
                                    <input type="hidden" name="product" value="s-v3_717c"/>
                                    <button type="button" rel="order" class="btn-order btn-order__card">оплатити картою</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="block-order__item block-order__item--six">
                        <div class="block-order--titel">
                            <h2>6 місяців</h2>
                           #}{# <div class="package__presents">
                                <p >подарунок <br>
                                    <span>1 місяць</span></p>
                            </div>#}{#
                        </div>
                        <div class="block-order--price">

                            <h3>{{shop_price('s-v6_1554r','month')}} <span>грн/міс.</span>
                            </h3>
                            <p>
                                <s>{{shop_price('s-v6_1554r','line')}} грн/міс.
                                </s>
                            </p>
                            <p class="block-order__sale">ЗНИЖКА -42%</p>
                        </div>
                        <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                            <div class="field-price">
                                <input type="hidden" name="product" value="s-v6_1554r"/>
                                <button type="button" rel="order" class="btn-order">замовити рахунок</button>
                            </div>
                        </form>
                        <div class="block-order__card">
                            <p class="block-order__card-titel">ПРИ ОПЛАТІ КАРТОЮ</p>
                            <div class="block-order--price">

                                <h3>{{shop_price('s-v6_1374r','month')}}  <span>грн/міс.</span>
                                </h3>
                                <p>
                                    <s>{{shop_price('s-v6_1374r','line')}} грн/міс.
                                    </s>
                                </p>
                                <p class="block-order__sale">ЩЕ ВИГІДНІШЕ, -49%</p>
                            </div>
                            <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                                <div class="field-price">
                                    <input type="hidden" name="product" value="s-v6_1374r"/>
                                    <button type="button" rel="order" class="btn-order btn-order__card">оплатити картою</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="block-order__item block-order__item--twelve">
                        <div class="block-order--titel">
                            <h2>12 місяців</h2>
                              <div class="package__presents">
                                  <p >подарунок <br>
                                      <span>ПАРАСОЛЬКА</span></p>
                              </div>
                        </div>
                        <div class="block-order--price">

                            <h3>{{shop_price('s-v12_2988r','month')}} <span>грн/міс.</span>
                            </h3>
                            <p>
                                <s>{{shop_price('s-v12_2988r','line')}} грн/міс.
                                </s>
                            </p>
                            <p class="block-order__sale">ЗНИЖКА -45%</p>
                        </div>
                        <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                            <div class="field-price">
                                <input type="hidden" name="product" value="s-v12_2988r"/>
                                <button type="button" rel="order" class="btn-order">замовити рахунок</button>
                            </div>
                        </form>
                        <div class="block-order__card">
                            <p class="block-order__card-titel">ПРИ ОПЛАТІ КАРТОЮ</p>
                            <div class="block-order--price">

                                <h3>{{shop_price('s-v12_2628c','month')}} <span>грн/міс.</span>
                                </h3>
                                <p>
                                    <s>{{shop_price('s-v12_2628c','line')}} грн/міс.
                                    </s>
                                </p>
                                <p class="block-order__sale">ЩЕ ВИГІДНІШЕ, -51%</p>
                            </div>
                            <form method="post" action="?new=1" data-validate="ajax" class="pricing-form">
                                <div class="field-price">
                                    <input type="hidden" name="product" value="s-v12_2628c"/>
                                    <button type="button" rel="order" class="btn-order btn-order__card">оплатити картою</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>#}
            </div>
        </div>
        <div class="tl-call-catcher"></div>
    </div>
    <div id="myModal" tabindex="-1" role="dialog" class="modal fade">
        <div role="document" class="modal-dialog"><span id="closeModal" data-dismiss="modal" class="close-modal"></span>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
</div>