{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>Н</span>овини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
        <div class="menu-mob">
            <input id="menu-checkbox" type="checkbox"/><span class="burger__bg burger__bg-js"></span><span class="burger__element"></span>
            <ul class="menu">
                <li><a href="#lectors" class="burger__link js-scroll-to">ЛЕКТОРИ</a></li>
                <li><a href="#themes" class="burger__link js-scroll-to">ТЕМИ</a></li>
                <li><a href="#order" class="burger__link js-scroll-to">ВАРТІСТЬ</a></li>
                <li><a href="#order" class="burger__link js-scroll-to">Замовити</a></li>
            </ul>
        </div>
    </div>
    <div class="hero">
        <div class="hero__container">
            <div class="hero__menu">
                <div class="menu">
                    <div class="menu__container">
                        <ul class="menu__list">
                            <li><a href="#lectors" class="js-scroll-to">Лектори</a></li>
                            <li><a href="#themes" class="js-scroll-to">Теми</a></li>
                            <li><a href="#order" class="js-scroll-to">Придбати</a></li>
                        </ul>
                        <ul class="menu__list">
                            <li><a href="/">Iнші семінари</a></li>
                        </ul>
                    </div>
                </div>
            </div><img src="{{ link  }}/v5.svg" alt="7eminar" class="hero__lessons"/><img src="{{ link  }}/lectors.png" alt="7eminar" class="hero__lectors"/>
            <div class="hero__content">
                <p class="hero__sub-title"><span>ВСЕ про</span></p>
                <p class="hero__title">ВІДРЯДЖЕННЯ</p>
                <p class="hero__sub-title">оформлення, оплата, оподаткування, облік</p>
                <div class="name name--showmob">
                    <p class="name__lector">Світлана Лістрова</p>
                    <p class="name__lector">Тетяна Мойсеєнко</p>
                </div>
                <p class="hero__btn"><a href="#knowledges" class="btn js-scroll-to">Детальніше</a></p>
            </div>
            <div class="name name--showdeck">
                <p class="name__lector">Світлана Лістрова</p>
                <p class="name__lector">Тетяна Мойсеєнко</p>
            </div>
            <button type="button" aria-label="Open modal video" data-toggle="modal" data-target="#modal-video" data-vidId="fV0F0s68pcA" class="hero__controls-modal-btn"></button>
        </div>
    </div>
    <div id="knowledges" class="knowledges">
        <div class="knowledges__container">
            <div class="knowledges__box">
                <p class="knowledges__box-title">Про що ви дізнаєтесь?</p>
                <ul class="knowledges__box-list">
                    <li>•<span> Які документи обов'язкові для відрядження працівників</span></li>
                    <li>•<span> Як уникати оподаткування виплат відрядженим особам</span></li>
                    <li>•<span> Яка відповідальність за порушення розрахунків із відрядженими особами</span></li>
                    <li>•<span> Звітування відряджених осіб та використання ними отриманих коштів</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="advantages">
        <div class="advantages__container">
            <p class="advantages__title">Ви отримаєте</p>
            <ul class="advantages__list">
                <li>Сім відеоуроків</li>
                <li>Сертифікат учасника</li>
                <li>Презентації лекторів</li>
                <li>Відповіді на запитання</li>
            </ul>
        </div>
    </div>
    <div id="lectors" class="lectors">
        <div class="lectors__container">
            <div class="lectors__box lector">
                <div class="lector__image"><img width="110" height="110" alt="" src="{{ link  }}/2.png"/></div>
                <p class="lector__title">Лектор: <br/><span>Світлана Лістрова</span>
                </p>

                <p class="lector__regalia">Експерт з оплати праці та оподаткування. Автор понад 1500 публікацій у бухгалтерських виданнях. Має понад 16 років професійного досвіду роботи бухгалтером. Лекторський досвід понад 1000 годин за спеціалізацією: ЄСВ, оплата праці, кадри та трудові відносини, відрядження, соціальне страхування, ПДФО, військовий збір, облік в бюджеті. Має сертифікат ACCA DipIFR (RUS).</p>
            </div>
            <div class="lectors__box lector">
                <div class="lector__image"><img width="110" height="110" alt="" src="{{ link  }}/1.png"/></div>
                <p class="lector__title">Лектор: <br/><span>Тетяна Мойсеєнко</span>
                </p>
                <p class="lector__regalia">Шеф-редактор 7eminar.com, експерт з трудового права та кадрового обліку.<br/>Щоденно професійно консультує ТОП-10 компаній України.<br/>Досвід лекторської роботи більше 15000 годин, в тому числі в online-семінарах, вебінарах, уроках для бухгалтерів і кадровиків.</p>
            </div>
        </div>
    </div>
    <div id="themes" class="themes">
        <div class="themes__container">
            <p class="themes__title">ТЕМИ І ДАТИ ВІДЕОУРОКІВ</p>
            <div class="lessons">
                <div id="les1" data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="lessons__item lesson">
                    <div class="lesson__title">Урок 1. <span> Документальне оформлення відрядження. Строки, затримка та відповідальність.</span><br/>
                        <p class="lesson__lectots"><span>Лектор:</span>  Світлана Лістрова
                        </p>
                    </div>
                    <button type="button" class="lesson__btn">Детальніше</button>
                </div>
                <div id="lesson1" class="lessons__themes collapse">
                    <div class="program">
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Інструкція №59 та постанова №98 ─ необов’язкові нормативи для госпрозрахункових підприємств, але їх можна брати до уваги.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p> Положення про відрядження має бути на кожному підприємстві, але за його відсутність не карають.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Строки відрядження: як рахувати, чи є обмеження на рік? А що говорить податкова?</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Наказ про направлення у відрядження ─ закріплюємо всі особливості ─ за відсутності положення. Відрядження на один день, на семінар, до філії, дистанційного працівника.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Кошторис витрат, довідка-розрахунок, технічне<br/>завдання  ─ необов’язкові, але бажані.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Затримка у відрядженні: на вихідні, через поважні причини, хворобу. Подовження відрядження та документальне оформлення.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Підтвердження зв’язку відрядження з господарською діяльністю: відрядження без підтвердних документів і ризики.</p>
                            </div>
                        </div>
                        <div class="program__item program__item--centered program__item--clock">
                            <div class="program__item--text">
                                <p>Тривалість уроку: <b>45 хвилин</b>
                                </p><a href="#order" class="program__btn js-scroll-to">Замовити</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="les2" data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="lessons__item lesson">
                    <div class="lesson__title">Урок 2. <span>Аванс: правила, способи, заборони, валюта, відповідальність.  Відрядження без авансування.</span>
                        <p class="lesson__lectots"><span>Лектор:</span> Світлана Лістрова
                        </p>
                    </div>
                    <button type="button" class="lesson__btn">Детальніше</button>
                </div>
                <div id="lesson2" class="lessons__themes collapse">
                    <div class="program">
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Аванс на відрядження гарантує КЗпП: як визначити розмір.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Способи видачі авансу: корпоративна, особиста картка чи готівка.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p> Валюта авансу: чи можна у закордонне відрядження з гривнями.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Валютні заборони для витрат на закордоне відрядження.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Відрядження без авансування: як можуть покарати.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Відповідальність за ненадання авансування, використання валюти на заборонені витрати.</p>
                            </div>
                        </div>
                        <div class="program__item program__item--centered program__item--clock">
                            <div class="program__item--text">
                                <p>Тривалість уроку: <b>45 хвилин</b>
                                </p><a href="#order" class="program__btn js-scroll-to">Замовити</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="les3" data-toggle="collapse" data-target="#lesson3" aria-expanded="false" aria-controls="#lesson3" class="lessons__item lesson">
                    <div class="lesson__title">Урок 3. <span> ДОБОВІ ВИТРАТИ У 2020 РОЦІ. ОБЛІК ТА ПОДАТКИ ДЛЯ ВИТРАТ НА ВІДРЯДЖЕННЯ, ЯКЕ ПОВ’ЯЗАНЕ З ГОСПОДАРСЬКОЮ ДІЯЛЬНІСТЮ.</span><br/>
                        <p class="lesson__lectots"><span>Лектор:</span> Тетяна Мойсеєнко
                        </p>
                    </div>
                    <button type="button" class="lesson__btn">Детальніше</button>
                </div>
                <div id="lesson3" class="lessons__themes collapse">
                    <div class="program">
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Добові витрати в Україні та за кордон: неоподатковувані розміри. Приклади виникнення оподаткування сум добових та як розрахувати податки?</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Необхідні документи для неоподаткування добових витрат.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Випадки обов’язкового перекладу підтвердних документів: для витрат підприємства і для неоподаткування ПДФО та ВЗ.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Облік витрат на відрядження, податки, звітність:</p>
                                <ul>
                                    <li>бухгалтерські проведення на прикладі;</li>
                                    <li>розрахунок ПДФО та ВЗ, відображення у звітності 1ДФ.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="program__item program__item--centered program__item--clock">
                            <div class="program__item--text">
                                <p>Тривалість уроку: <b>45 хвилин</b>
                                </p><a href="#order" class="program__btn js-scroll-to">Замовити</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="les4" data-toggle="collapse" data-target="#lesson4" aria-expanded="false" aria-controls="#lesson4" class="lessons__item lesson">
                    <div class="lesson__title">Урок 4. <span> Витрати на відрядження та підтвердні документи, видані в Україні та за кордоном.</span><br/>
                        <p class="lesson__lectots"><span>Лектор:</span> Тетяна Мойсеєнко
                        </p>
                    </div>
                    <button type="button" class="lesson__btn">Детальніше</button>
                </div>
                <div id="lesson4" class="lessons__themes collapse">
                    <div class="program">
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Витрати на проїзд: літаком, поїздом, маршрутними чи рейсовими автобусами, на орендованому чи власному автомобілі, таксі – особливості підтвердних і розрахункових документів, електронні квитки.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Витрати на проживання з харчуванням чи без нього, туристичний збір, трансфер, міні-бар тощо: які особливості треба враховувати.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Інші витрати, пов’язані з правилами в’їзду та перебування у місці відрядження: які саме це можуть бути витрати?</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Обов’язковість наявності документів, що підтверджують зв'язок із господарською діяльністю роботодавця – для неоподаткування ПДФО і ВЗ.</p>
                            </div>
                        </div>
                        <div class="program__item program__item--centered program__item--clock">
                            <div class="program__item--text">
                                <p>Тривалість уроку: <b>45 хвилин</b>
                                </p><a href="#order" class="program__btn js-scroll-to">Замовити</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="les5" data-toggle="collapse" data-target="#lesson5" aria-expanded="false" aria-controls="#lesson5" class="lessons__item lesson">
                    <div class="lesson__title">Урок 5. <span>Звітування та штрафи. Курсові різниці під час змін валютних курсів.</span><br/>
                        <p class="lesson__lectots"><span>Лектор:</span> Тетяна Мойсеєнко
                        </p>
                    </div>
                    <button type="button" class="lesson__btn">Детальніше</button>
                </div>
                <div id="lesson5" class="lessons__themes collapse">
                    <div class="program">
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Звітування підзвітної особи:</p>
                                <ul>
                                    <li>строки залежать від способу видачі авансу;</li>
                                    <li>заповнення авансового <br/>звіту: різні валюти, підписи осіб та інші поширені питання;
                                    </li>
                                    <li>відповідальність  за порушення порядку розрахунків із підзвітною особою.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Курсові різниці при змінах валютних курсів:</p>
                                <ul>
                                    <li>дебіторської заборгованості (за видачі валютного <br/>авансу) – приклад розрахунку;
                                    </li>
                                    <li>кредиторської заборгованості (у разі остаточної виплати суми розрахунку за авансовим звітом підзвітній особі) – приклад розрахунку;</li>
                                    <li>випадки, коли курсові різниці не виникають. Приклади розрахунку.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="program__item program__item--centered program__item--clock">
                            <div class="program__item--text">
                                <p>Тривалість уроку: <b>45 хвилин</b>
                                </p><a href="#order" class="program__btn js-scroll-to">Замовити</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="les6" data-toggle="collapse" data-target="#lesson6" aria-expanded="false" aria-controls="#lesson6" class="lessons__item lesson">
                    <div class="lesson__title">Урок 6. <span>Гарантії та оплата праці відрядженій особі.</span><br/>
                        <p class="lesson__lectots"><span>Лектор:</span> Світлана Лістрова
                        </p>
                    </div>
                    <button type="button" class="lesson__btn">Детальніше</button>
                </div>
                <div id="lesson6" class="lessons__themes collapse">
                    <div class="program">
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Гарантії та компенсаційні виплати відрядженим працівникам за ст. 121 КЗпП.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p> Оплата днів відрядження: середня зарплата чи зарплата за робочий день.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Розрахунок середньої зарплати за Порядком №100: алгоритм і правила.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Як обчислити середню зарплату, якщо працівник працює менше 2-х повних місяців: 3 нетипові ситуації.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Оплата днів перехідних відряджень.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p> Вибуття у вихідний день та прибуття у вихідний день: чи оплачувати ці дні.</p>
                            </div>
                        </div>
                        <div class="program__item">
                            <div class="program__item--text">
                                <p> Робота у вихідний день у відрядженні: як оплачувати.</p>
                            </div>
                        </div>
                        <div class="program__item program__item--centered program__item--clock">
                            <div class="program__item--text">
                                <p>Тривалість уроку: <b>45 хвилин</b>
                                </p><a href="#order" class="program__btn js-scroll-to">Замовити</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="les7" data-toggle="collapse" data-target="#lesson7" aria-expanded="false" aria-controls="#lesson7" class="lessons__item lesson">
                    <div class="lesson__title">Урок 7. <span> Відповіді на запитання</span><br/>
                        <p class="lesson__lectots"><span>Лектор:</span> Тетяна Мойсеєнко
                        </p>
                    </div>
                    <button type="button" class="lesson__btn">Детальніше</button>
                </div>
                <div id="lesson7" class="lessons__themes collapse">
                    <div class="program">
                        <div class="program__item">
                            <div class="program__item--text">
                                <p>Можливість дізнатися відповіді на актуальні запитання від ваших колег.</p>
                            </div>
                        </div>
                        <!--.program__item-->
                        <!--    .program__item--text-->
                        <!--        p  Гарантоване отримання відповіді на запитання.-->
                        <!--.program__item-->
                        <!--    .program__item--text-->
                        <!--        p Можливість дізнатися відповіді на актуальні запитання від ваших колег.-->
                        <div class="program__item program__item--centered program__item--clock">
                            <div class="program__item--text">
                                <p>Тривалість уроку: <b>120 хвилин</b>
                                </p><a href="#order" class="program__btn js-scroll-to">Замовити</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="order" class="order">
        <div class="order__container">
            <div id="timer-custom" class="order__timer">
                <p class="order__title">Ціна діє до <span id="timer-title">{{ page.options['date']|default('') }}</span>
                </p>
                <div class="pricing-timer"  data-timer="{{ page.options['timer']|default('') }}">
                    <div class="pricing-timer__inner">
                        <div class="pricing-timer__box"><span class="days">00</span>дні</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="hours">00</span>год</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
                    </div>
                </div>
            </div>
            <div class="order__packages">
                <div class="package">
                    <p class="package__title">Ви отримаєте</p>
                    <div class="package__main">
                        <ul class="package__list">
                            <li>відеозапис курсу</li>
                            <li>презентації лекторів</li>
                            <li>Сертифікат учасника</li>
                            <li>Відповіді на запитання</li>
                        </ul>
                        <p class="package__price">{{shop_price('курс-180220Відрядження','site')}}<span>грн</span>
                         {#   <s>{{shop_price('курс-180220Відрядження','line')}}</s>#}
                        </p>
                        <div class="package__btn">
                            <a class="btn dk-hide js-btn-utm"  href="https://7eminar.ua/checkout/k-180220Vidriadzhennia" target="_blank" >Замовити</a>

                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="курс-180220Відрядження"/>
                                <button type="submit" rel="order" class="btn">Замовити</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order__banner js-platform-banner">
            </div>
        </div>
    </div>
    <div id="video" class="video">
        <div id="bar-1" class="video__content">
            <div class="slider">
                <div class="slide">
                    <p class="video__title">СВІТЛАНА  ЛІСТРОВА ЗАПРОШУЄ</p>
                    <div class="video__player"><a href="https://youtu.be/2dqP8aym6pE" class="video__link">
                            <picture><img src="https://i.ytimg.com/vi/2dqP8aym6pE/maxresdefault.jpg" alt="Тетяна Мойсеєнко" class="video__media"/></picture></a>
                        <button aria-label="play" class="video__button">
                            <svg>
                                <path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="video__button-shape"></path>
                                <path d="M 45,24 27,14 27,34" class="video__button-icon"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="slide">
                    <p class="video__title">ТЕТЯНА МОЙСЕЄНКО ЗАПРОШУЄ</p>
                    <div class="video__player"><a href="https://youtu.be/fV0F0s68pcA" class="video__link">
                            <picture><img src="https://i.ytimg.com/vi/fV0F0s68pcA/maxresdefault.jpg" alt="Тетяна Мойсеєнко" class="video__media"/></picture></a>
                        <button aria-label="play" class="video__button">
                            <svg>
                                <path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="video__button-shape"></path>
                                <path d="M 45,24 27,14 27,34" class="video__button-icon"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
                <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></li>
                <li><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></li>
                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></li>
            </ul>
          {#  <ul class="partners__list">
                <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></li>
                <li><a href="https://kraft.net.ua" target="_blank" class="logonoclik"><img style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" class="img_partners1"/></a></li>
            </ul>#}
        </div>
    </div>
    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>