{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container">
            <div class="hero__block">
                <div class="hero__item">
                    <p class="hero__title"><span>ПОДАРУНОК</span> <br> чекає на вас!</p>
                    <p class="hero__sub-title">Зареєструйтеся зараз і  <b>безкоштовно</b> отримайте брошуру <br>
                        «Середня зарплата на прикладах»</p>
                    <img class="hero__img hidden-md hidden-sm hidden-xs"  alt="book" src="{{ page.url('/images') }}/book2.png">
                </div>
                <form id="form"  class="free-demo" >
                    <div class="form__title">Реєстрація діє ще</div>
                    <div class="timer">
                        <div class="timer__box">
                            <div class="timer__mins">00</div><span> хв</span>
                        </div><span class="timer__separate">:</span>
                        <div class="timer__box">
                            <div class="timer__secs">00 </div><span> сек</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  name="name" type="text" placeholder="Ім’я"  maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                    </div>

                    <div class="form-group">

                        <input  name="email" type="email" placeholder="E-mail" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                    </div>

                    <div class="form-group">
                        <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                    </div>
                    <input class="article"  type="hidden" value="онлайн-demo27042020_gift2"/>
                    <input class="utm" name="options[utm]" type="hidden" value=""/>
                    <input class="dealer" name="dealer" type="hidden" value="4"/>
                    <div class="form__btn">
                        <button type="submit" class=" btn-default">Отримати брошуру </button>
                    </div>
                </form>
                <img class="hero__img visible-md visible-sm visible-xs"  alt="book" src="{{ page.url('/images') }}/book2.png">
            </div>
            <div class="hero__description">Також ви отримуєте можливість дивитися відеозаписи вебінарів  <br>
                <b>абсолютно безкоштовно</b>   <p  class="arrow"><span></span><span></span><span></span></p> </div>

        </div>
    </div>


    {#<div id="themes" class="themes">
        <p class="themes__title" id="themes ">  Великий Бухгалтерський Online-марафон (сезон №3)</p>
        <div class="container themes__container">



            <div class="project">
                <div class="project__header project__header--free">
                    <div class="project__details">
                        <p class="project__title">ВІДЕОЗАПИС ВЕБІНАРУ ВІД 29 КВІТНЯ</p>
                        <p class="project__info">безкоштовно для вас</p>
                        <p class="project__finished">Доступно для перегляду</p>
                    </div>
                    <div class="project__photo">
                        <picture><img src="{{ link }}/vp.png" alt="ЛЕКТОР: Віталій Правдюк" ></picture>
                    </div>
                </div>

                <div class="project__body">
                    <div class="theme">
                        <p class="theme__title">Оренда в умовах карантину</p>
                        #}{#    <p class="theme__sub-title theme__sub-title--free">Про що дізнаєтеся:</p>#}{#
                        <ul class="theme__list theme__list--free">
                            <li><span>пандемія для орендодавця, пандемія для орендаря;</span></li>
                            <li><span>різновиди платежів за договором оренди;</span></li>
                            <li><span>форс-мажорні обставини: процедура та підстави підтвердження їх настання;</span></li>
                            <li><span>новий ЗУ «Про оренду державного та комунального майна» № 157-IX: застосування його норм у 2020 р.;</span></li>
                            <li><span class="theme__answers" ><i>online-відповіді на запитання.</i></span></li>

                        </ul>
                        <p class="theme__lector theme__lector--free">Лектор: <span>Віталій Правдюк</span></p>
                        <p class="theme__lector-info">адвокат, к. ю. н., експерт з юридичного супроводу нерухомості, будівництва та земельних питань</p>
                    </div>

                </div>
            </div>

            <div class="project">
            <div class="project__header project__header--free">
                <div class="project__details">
                    <p class="project__title">ВІДЕОЗАПИС МАЙСТЕР-КЛАСУ ВІД 8 травня</p>
                    <p class="project__info">безкоштовно для вас</p>
                    <p class="project__finished">Доступно для перегляду</p>
                </div>
                <div class="project__photo">
                    <picture><img src="{{ link }}/OS_VN.png" alt="" ></picture>
                </div>
            </div>

            <div class="project__body">
                <div class="theme">
                    <p class="theme__title">Фінмоніторинг по-новому: перша практика і поради (і про 5000 грн на картку – теж)</p>
                    #}{# <p class="theme__sub-title theme__sub-title--free">Про що дізнаєтеся:</p>#}{#
                    <ul class="theme__list theme__list--free">
                        <li><span>готівково-безготівковий картковий безлад з 28.04.2020 р.: види банківських карток (ФОП, фізособи, корпоративні). Відмінності і вплив фінмоніторингу на рух коштів за цими картками. Перекази родичам і не родичам, поповнення картки готівкою та інші новації, про які треба знати;</span></li>
                        <li><span>нова база даних в банках про всіх осіб, які "не пройшли фінмоніторинг" (і ФОПи, і юрособи, і навіть прості фізичні особи): хто і як буде обмінюватися даними;</span></li>
                        <li><span>"підозрілі" суми на/з картки: дії банку, захист фізосіб і ФОПів. Про злощасні 5000 грн та практику, яка вже існує в Україні після набрання чинності Закону № 361;</span></li>
                        <li><span>як банки здійснюють блокування? Знати, щоби діяти вчасно. Як зникнути з "чорного списку"?</span></li>
                        <li><span>дії та юридичні поради провідних експертів щодо подальшої роботи з готівково-безготівковими картковими переказами;</span></li>
                        <li><span class="theme__answers" ><i>відповіді на запитання отримаєте 12 травня.</i></span></li>

                    </ul>
                    <p class="theme__lector theme__lector--free">Лектори: </p>
                    <p class="theme__lector-info"> <b>Василь Невмержицький</b>, експерт з банківської та фінансової справи, член Української спілки фінансових аналітиків</p>
                    <p class="theme__lector-info"><b>Олександр Смирнов</b>, адвокат, податковий консультант</p>
                </div>

            </div>

        </div>

            <div class="project">
                <div class="project__header project__header--free">
                    <div class="project__details">
                        <p class="project__title">ВІДЕОЗАПИС конференції <br> ВІД 13 травня</p>
                        <p class="project__info">безкоштовно для вас</p>
                        <p class="project__finished">Доступно для перегляду</p>
                    </div>
                    <div class="project__photo">
                        <picture><img src="{{ link }}/online_may.png" alt="online_may" ></picture>
                    </div>
                </div>

                <div class="project__body">
                    <div class="theme">
                        <p class="theme__title">Бухгалтерське життя під час та після карантину: запізнілі документи, ПДВ та ПН, перевірки, зарплата та кадри</p>
                        <ul class="theme__list theme__list--free">
                            <li><span>на роботу після карантину: якими документами оформити;</span></li>
                            <li><span>чим підтвердити господарську операцію, якщо первинки ще немає;</span></li>
                            <li><span>перевірки, бенефіціари та фінмоніторинг: що нового?</span></li>
                            <li><span>у кого та які саме проблеми виникають при реєстрації ПН?</span></li>
                            <li><span> нараховуємо зарплату після завершення карантину: які особливості при її оподаткуванні та як показати у звітності?</span></li>

                            <li><span class="theme__answers" ><i>відповіді на запитання у чаті.</i></span></li>

                        </ul>
                        <p class="theme__lector theme__lector--free">Лектори: <span>Тетяна Мойсеєнко, Олександр Смирнов, Тимур Алієв, Сергій Дробоття, Ірина Зубрицька</span></p>
                        <p class="theme__lector-info"></p>
                    </div>

                </div>

            </div>

            <a href="#form" target="_blank" class="themes__btn">Приєднатися з подарунком</a>
        </div>
    </div>#}


</div>
<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>
