{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>Н</span>овини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
        <div class="menu-mob">
            <input id="menu-checkbox" type="checkbox"/><span class="burger__bg"></span><span class="burger__element"></span>
            <ul class="menu">
                <li><a href="#lectors" class="burger__link">ЛЕКТОРИ</a></li>
                <li><a href="#themes" class="burger__link">ТЕМИ</a></li>
                <li><a href="#order" class="burger__link">ВАРТІСТЬ</a></li>
                <li><a href="#map" class="burger__link">МІСЦЕ ПРОВЕДЕННЯ</a></li>
                <li><a href="#order" class="burger__link">ОТРИМАТИ КВИТОК</a></li>
            </ul>
        </div>
    </div>
    <div class="hero">
        <div class="container hero__container">
            <div class="hero__content">
                <div class="hero__title">
                    <p><span>Календар</span><br/>виїзних семінарів</p>
                    <p class="hero__sub-title">Перше півріччя 2021 року</p>
                </div>
                <p class="hero__sub-text">Сплануйте відпочинок вже сьогодні!</p><a href="#tour2" class="hero__btn btn">обрати тур для себе</a>
            </div>
        </div>
    </div>
    <div class="hero-bottom">
        <p class="hero-bottom__text"><span>7eminar.club</span> – клуб неймовірних вражень та подорожей<br/>запрошує вас приєднатися до наших турів
        </p>
    </div>
    {#<div id="tour1" class="tour_skidnytsia tour">
        <div class="container tour_skidnytsia__container">
            <div class="tour__content">
                <div class="info">
                    <div class="info__content">
                        <div class="info__date">
                            <p class="info__month tour_skidnytsia__month">Січень   </p>
                            <p class="info__day">26-29</p>
                        </div>
                        <p class="info__title">Термальне <br> перезавантаження <br> в Закарпатті</p>
                        <p class="info__sub-title">Блаженство серед засніжених гір</p>
                    </div>
                    <ul class="info__list">
                        <li class="info__item info__item--place">Україна, Ужгород–Лумшори–Косино</li>
                        #}{#<li class="info__item info__item--price">від <b>8499</b>  грн
                        </li>#}{#
                        <li class="info__item info__item--train">Поїзд</li>
                    </ul><a href="/calendar_registration" target="_blank" class="btn tour_skidnytsia__btn tour_one__btn hidden-sm hidden-md hidden-lg">Дізнатися більше</a>
                </div>
                <div class="description"><p class="description__text"> Після новорічних свят так приємно поніжитися в гарячих відкритих басейнах! Насичена програма, яка за 4 дні дасть змогу познайомитись з закарпатською кухнею, відвідати замки та дивовижні історичні місця, продегустувати сири та вино. А головна фішка туру – щоденне купання
                        в термальних водах: басейнах готелю, чанах в Лумшорах і в термальному парку в Косино.</p>


                    <p class="description__text"><b>У вартість туру входить:</b> проживання в крутому готелі «Золота гора», харчування, всі вхідні квитки, дегустації, супровід гіда, трансфери за екскурсійним маршрутом.
                    </p><a href="/calendar_registration" target="_blank" class="tour_skidnytsia__btn tour_one__btn description__btn btn btn visible-sm visible-md visible-lg">Дізнатися більше</a>
                </div>


                    <picture >
                        <source class="tour__img hidden-sm hidden-md hidden-lg" srcset="{{ link }}/calendar_1.webp" type="image/webp"/>
                        <img class="tour__img hidden-sm hidden-md hidden-lg" src="{{ link }}/calendar_1-min.jpg" alt="place1"/>
                    </picture>


                   <a href="/calendar_registration" target="_blank" class="btn tour_skidnytsia__btn tour_one__btn hidden-sm hidden-md hidden-lg">Хочу в тур</a>
            </div>
        </div>
    </div>#}

    <div id="tour2" class="tour-emirates tour">
        <div class="container tour-emirates__container">
            <div class="tour__content">
                <div class="info">
                    <div class="info__content">
                        <div class="info__date">
                            <p class="info__month tour_skidnytsia__month">Березень      </p>
                            <p class="info__day">06-09</p>
                        </div>
                        <p class="info__title">Жіноче свято <br>
                            в Бель Рояль</p>
                        <p class="info__sub-title">Зробіть своє 8 березня незабутнім</p>
                    </div>
                    <ul class="info__list">
                        <li class="info__item info__item--place">
                            Україна, с. Лісарня</li>
                        {#<li class="info__item info__item--price">від <b>35499</b>  грн
                        </li>#}
                        <li class="info__item info__item--train">Поїзд</li>
                    </ul><a href="/calendar_registration" target="_blank" class="tour-emirates__btn btn tour_two__btn hidden-sm hidden-md hidden-lg">Дізнатися більше</a>
                </div>
                <div class="description">
                    <p class="description__text"> Зустрінемо найжіночніше свято в оздоровчому SPA-комплексі «Belle Royalle». Фантастична природа Закарпаття, сучасний готель, смачна їжа та повний релакс. Проживання в просторих номерах, три лікувальні процедури щодня, басейн з мінеральною водою. А 8 березня буде запальна вечірка.
                        Кожній красуні подарунок від 7eminar.com ― хамам.</p>
                    <p class="description__text"><b>У вартість туру входить:</b> трансфер з/на вокзал, проживання в готелі, триразове харчування, користування SPA-комплексом, супровід представника компанії.
                    </p><a href="/calendar_registration" target="_blank" class=" tour-emirates__btn tour_two__btn description__btn btn btn visible-sm visible-md visible-lg">Дізнатися більше</a>
                    {#<div class="description__info">
                        <p>Дата туру буде вказана додатково після зняття карантинних заходів та відновлення польотної карти.</p>
                    </div>#}
                </div>
                <picture >
                    <source class="tour__img hidden-sm hidden-md hidden-lg" srcset="{{ link }}/calendar_2.webp" type="image/webp"/>
                    <img class="tour__img hidden-sm hidden-md hidden-lg" src="{{ link }}/calendar_2-min.jpg" alt="place1"/>
                </picture><a href="/calendar_registration" target="_blank" class="btn tour-emirates__btn tour_two__btn hidden-sm hidden-md hidden-lg">Хочу в тур</a>
            </div>
        </div>
    </div>


    <div id="tour3" class="tour_instanbul tour">
        <div class="container tour_instanbul__container">
            <div class="tour__content">
                <div class="info">
                    <div class="info__content">
                        <div class="info__date">
                            <p class="info__month tour_skidnytsia__month">Квітень     </p>
                            <p class="info__day">21-28</p>
                        </div>
                        <p class="info__title">Хургада – перлина <br>
                            Червоного моря</p>
                        <p class="info__sub-title">Запрошуємо в східну казку</p>
                    </div>
                    <ul class="info__list">
                        <li class="info__item info__item--place">
                            Єгипет, Хургада</li>
                        {#<li class="info__item info__item--price">від <b>22999</b>  грн
                        </li>#}
                        <li class="info__item info__item--plane">Авіа</li>
                    </ul><a href="/calendar_registration" target="_blank" class="tour_three__btn btn tour_instanbul__btn hidden-sm hidden-md hidden-lg">Дізнатися більше</a>
                </div>
                <div class="description">
                    <p class="description__text">Відпочинок (7 ночей) в одному з найкращих 5-зіркових готелів Хургади «Dana Beach Resort». Фішка цього готелю – неймовірний канал на території (на пляж  можна доплисти на човні).  У вашому розпорядженні три ресторани + «а-ля карт», 10 барів, 3 басейни, піщаний пляж, пологий вхід                     у море, кораловий риф.</p>
                    <p class="description__text"><b>У вартість туру входить:</b> переліт, трансфер, проживання
                        в номерах Superior, харчування за системою                             «все включено», медичне страхування, супровід представника компанії.
                    </p><a href="/calendar_registration" target="_blank" class="tour_three__btn tour_instanbul__btn description__btn btn btn visible-sm visible-md visible-lg">Дізнатися більше</a>
                    {#<div class="description__info">
                        <p>Дата туру буде вказана додатково після зняття карантинних заходів та відновлення польотної карти.</p>
                    </div>#}
                </div>
                <picture >
                    <source class="tour__img hidden-sm hidden-md hidden-lg" srcset="{{ link }}/calendar_3.webp" type="image/webp"/>
                    <img class="tour__img hidden-sm hidden-md hidden-lg" src="{{ link }}/calendar_3-min.jpg" alt="place1"/>
                </picture>
                <a href="/calendar_registration" target="_blank" class=" tour_three__btn btn tour_instanbul__btn hidden-sm hidden-md hidden-lg">Хочу в тур</a>
            </div>
        </div>
    </div>

    <div id="tour4" class="tour_amsterdam tour">
        <div class="container tour_amsterdam__container">
            <div class="tour__content">
                <div class="info">
                    <div class="info__content">
                        <div class="info__date">
                            <p class="info__month tour_skidnytsia__month">Травень        </p>
                            <p class="info__day">20-23</p>
                        </div>
                        <p class="info__title">Непізнана Туреччина</p>
                        <p class="info__sub-title">Знайомство з Каппадокією</p>
                    </div>
                    <ul class="info__list">
                        <li class="info__item info__item--place">Туреччина, Анкара–Каппадокія</li>
                       {# <li class="info__item info__item--price">від <b>21499</b>  грн
                        </li>#}
                        <li class="info__item info__item--plane">Авіа</li>
                    </ul><a href="/calendar_registration" target="_blank" class="tour_four__btn btn tour_amsterdam__btn hidden-sm hidden-md hidden-lg">Дізнатися більше</a>
                </div>
                <div class="description">
                    <p class="description__text">Чотириденне переміщення в казку: тут проживають
                        в готелях  вирубаних в скелях, роблять незабутні фото та підіймаються до хмар на повітряних кулях,
                        а ще насолоджуються неймовірною програмою та шопінгом в Анкарі. В програмі: печерні церкви, грецьке селище, долина Уяви, вулканічне озеро, мальовничий каньйон, замок Ухчісар, місто Аванос та багато іншого. А окрім сніданків, обіди
                        в автентичних ресторанчиках. В останній день екскурсія Анкарою та шопінг у найвідомішому молі.</p>
                    <p class="description__text"><b>У вартість туру входить:</b> переліт, проживання
                        в бутік-готелі з басейном, неймовірна екскурсійна програма, сніданки, обіди, трансфери, супровід гіда.
                    </p><a href="/calendar_registration" target="_blank" class="tour_four__btn tour_amsterdam__btn description__btn btn btn visible-sm visible-md visible-lg">Дізнатися більше</a>
                </div>
                <picture >
                    <source class="tour__img hidden-sm hidden-md hidden-lg" srcset="{{ link }}/calendar_4.webp" type="image/webp"/>
                    <img class="tour__img hidden-sm hidden-md hidden-lg" src="{{ link }}/calendar_4-min.jpg" alt="place1"/>
                </picture>
                <a href="/calendar_registration" target="_blank" class="tour_four__btn btn tour_amsterdam__btn hidden-sm hidden-md hidden-lg">Хочу в тур</a>
            </div>
        </div>
    </div>



    <div class="attention">
        <div class="container attention__container">
            <p class="attention__text">Пізнавайте світ з 7eminar.com!</p>
        </div>
    </div>
    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
    <div id="modal-present" tabindex="-1" role="dialog" class="modal-present modal fade">
        <div role="document" class="modal-dialog">
            <div data-dismiss="modal" class="close-modal"></div>
            <div class="modal-content">
                <div class="modal-present__content"></div>
            </div>
        </div>
    </div>
    <div class="loader-backdrop">
        <div class="loader-backdrop__btn">Реєстрація
            <div class="dots">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>