{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
  <div class="top-line">
    <div class="container">
      <div class="top-line__logo logo">
        <a href="#">
          <img src="{{ page.url('/images/logo.svg') }}" width="186" height="42"
               alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
        </a>
      </div>
      <div id="burger-page" class="top-line__burger burger-page"><span></span></div>
      <div class="menu">
        <div class="menu__container">
          <ul class="menu__list">
            <li><a href="#tour">Фото</a></li>
            <li><a href="#places">Програма туру</a></li>
            <li><a href="#order">Придбати квитки</a></li>
          </ul>
          <ul class="menu__list">
            <li><a href="/">Iнші семінари</a></li>
          </ul>
          <a href="#order" class="menu__btn btn js-scroll-to">ПРИДБАТИ</a>
        </div>
      </div>
    </div>
  </div>
  <section class="hero">
    <div class="container">
      <div class="hero__main">
        <span class="hero__dates">1–9 жовтня</span>
        <h2 class="hero__title">Побачення <br>з Турецькою Рив’єрою</h2>
        <p class="hero__subtitle">відпочинок на Егейському узбережжі</p>
      </div>
      <p class="hero__btn">
        <a href="#order" class="btn js-scroll-to">Хочу на море</a>
      </p>
    </div>
  </section>
  <section id="tour" class="tour">
    <div class="container">
      <h3 class="page-titles"><span>Що на вас чекає під час туру</span></h3>
      <ul class="tour__list">
        <li>
          <span>Мальовнича бухта в <br> басейні Середземного моря</span>
        </li>
        <li>
          <span>Казкова природа <br> Егейського узбережжя</span>
        </li>
        <li>
          <span>Елітний відпочинок <br> у готелі «Turunc Resort 5*»</span>
        </li>
      </ul>
      <p class="tour__btn">
        <a href="#info" class="btn js-scroll-to">Подробиці</a>
      </p>
    </div>
  </section>
  <section id="places" class="places">
    <div class="container">
      <h3 class="page-titles"><span>Неймовірне повернення в літо</span></h3>
      <ul class="places__list">
        <li>
          <p>
            <b>Зірка на березі <br> Егейського моря</b>
            Запрошуємо вас у фантастичну <br> подорож до Турецької Рив’єри – <br> міста Мармарис. Проведіть <br> повних
            8 днів у казці в одній <br> з наймальовничіших бухт <br> Егейського моря.
          </p>
        </li>
        <li>
          <p>
            <b>Високий рейтинг готелю <span>(8,2 із 10 за даними booking.com)</span></b>
            Розкішний 5-зірковий курортний <br> готель «Turunc Resort Hotel» має <br> високі рейтинги та схвальні <br>
            відгуки за вдале розташування <br> і якісне харчування. Стильні <br> сучасні номери оснащені всіма <br>
            зручностями для комфортного відпочинку.
          </p>
        </li>
        <li>
          <p>
            <b>Система обслуговування <br> «All-Inclusive»</b>
            Дуже привабливим є те, що <br> готель працює за системою <br> «Все включено». Шведський <br> стіл накривають
            у головному <br> ресторані, а перекусити й <br> поласувати різноманітними <br> коктейлями завжди можна в
            <br> 7 барах. Також працюють <br> два ресторани «a la carte».
          </p>
        </li>
        <li>
          <p>
            <b>Фантастична природа <br> та підводні печери</b>
            Територія готелю тішить око <br> своєю охайністю, розкішною <br> пляжною зоною, комфортними <br> басейнами й
            джакузі з видом на <br> море. А ще нікого не залишає <br> байдужим приголомшливий світ <br> підводних печер —
            популярне <br> місце для всіх любителів <br> дайвінгу
          </p>
        </li>
      </ul>
      <p class="tour__btn">
      <a href="https://7eminar.com/files/presentation_turkey01102020.pdf" target="_blank" class="btn js-scroll-to">Деталі туру</a>
      </p>
    </div>
  </section>
  <section id="info" class="info">
    <div class="container">
      <h3 class="page-titles"><span>У вартість туру входить</span></h3>
      <ul class="info__list">
        <li>
          <b>Авіапереліт:</b>
          Київ – Даламан – Київ
        </li>
        <li>
          <b>Трансфер:</b>
          аеропорт – готель – аеропорт
        </li>
        <li>
          <b>Проживання:</b>
          Turunc Resort Hotel 5*, двомісне <br> поселення в номерах Standart, <br> 8 днів/7 ночей
        </li>
        <li>
          <b>Харчування:</b>
          за системою «All-Inclusive» <br> («Все включено»)
        </li>
        <li>
          <b>Безпека:</b>
          страховий поліс на час подорожі
        </li>
        <li>
          <b>Супровід:</b>
          гід і керівник групи від 7eminar.com <br> протягом всього туру
        </li>
      </ul>
    </div>
  </section>
  <div class="safety">
    <div class="container">
      <p class="safety__info">
        Безмежна турбота під час подорожі <br>
        від івент-директора компанії – <br>
        Марини Нікуліної.
        <br>
        <br>
        Пізнавайте світ з 7eminar.com!
      </p>
    </div>
  </div>
  <section id="order" class="order">
    <div class="container">
      <h3 class="page-titles"><span>{{ page.options['order__title']|default('') }}</span></h3>
      <div class="order__packages">
        {% set packages = [
          {
            name: 'club',
            title: 'Вартість туру для учасників 7eminar.club',
            price: 'тур-01102020Турция_чк_1',
            link: 'https://7eminar.ua/',
          },
          {
            name: 'standart',
            title: 'Вартість туру за одного учасника',
            price: 'тур-01102020Турция_1',
            link: 'https://7eminar.ua/',
          }
        ] %}
        {% for package in packages %}
          <article class="package">
            <div class="package__header package__header--{{ package.name }}">
              {{ package.title }}
            </div>
            <div class="package__body">
              <p class="package__price-regular"><s>{{ shop_price(package.price,'line') }}</s></p>
              <p class="package__price"><span>{{ shop_price(package.price,'site') }}</span> грн</p>
              <p class="package__present package__present--{{ package.name }}">Подарунок:</p>
              <p class="package__present-name package__present-name--{{ package.name }}">Доступ до
                <a href="{{ package.link }}" target="_blank">Бухгалтерської Відеоплатформи №1</a> протягом трьох
                місяців
              </p>
              <div class="package__btn">
                <form method="post" action="?new=1" data-validate="ajax">
                  <input type="hidden" name="product" value="{{ package.price }}"/>
                  <button type="submit" rel="order" class="btn btn--package">Хочу в тур</button>
                </form>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
      <div class="order__info">
        <span>Важлива інформація:</span>
        <ul>
          <li>Оплачувати виїзні заходи можна частинами. 100% оплати повинні надійти не пізніше ніж за 7 днів до початку
            туру.
          </li>
          <li>У разі відмови від туру: за 14 днів – утримується 60% оплати, менш ніж за 13 днів – утримується 100%
            оплати.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div id="loader-page" class="loader-page">
    <div class="dots">
      <div class="loading">
        <span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span
            class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
  </div>
</div>