{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/subscribe" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
        <div class="menu-mob">
            <input id="menu-checkbox" type="checkbox"/><span class="burger__bg burger__bg-js"></span><span class="burger__element"></span>
            <ul class="menu">
                <li><a href="#program" class="burger__link js-scroll-to">ПРОГРАМА ТУРУ</a></li>
                <li><a href="#travel" class="burger__link js-scroll-to">ФОТО</a></li>
                <li><a href="#order" class="burger__link js-scroll-to">ВАРТІСТЬ</a></li>
                <li><a href="#order" class="burger__link js-scroll-to">ЗАМОВИТИ</a></li>
            </ul>
        </div>
    </div>
    <div class="hero">
        <div class="hero__container">
            <div class="hero__menu">
                <div class="menu">
                    <div class="menu__container">
                        <ul class="menu__list">
                            <li><a class="js-scroll-to" href="#travel">Фото</a></li>
                            <li><a class="js-scroll-to"  href="#program">Програма туру</a></li>
                            <li><a class="js-scroll-to"  href="#order">Придбати квитки</a></li>
                        </ul>
                        <ul class="menu__list">
                            <li><a  class="js-scroll-to" href="/">Iнші семінари</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hero__content">
                <div class="hero__block">
                    <div class="hero__date">17 липня о 17:00</div>
                    <div class="hero__title">Вояж<span>до</span></div>
                    <div class="hero__subtitle">рів’єри</div>
                    <div class="hero__description">Запальний День бухгалтера<br/>та аудитора</div>
                </div>
                <div class="hero__btn"><a href="#order" class="btn js-scroll-to">ЗАМОВИТИ</a></div>
            </div>
        </div>
    </div>
    <div id="description" class="description">
        <div class="description__container">
            <div class="description__frame">
                <div class="description__title">Найгарячіше свято року для<br/>бухгалтерів та аудиторів<br/>відбудеться 17 липня</div>
                <p class="description__text">Буде все: вишуканий ресторан, меню  від шефа, безлімітні напої, запальна програма, диско-party на лайнері VIP-класу, караоке та аукціон подарунків.</p>
                <p class="description__text">Шалена вечірка – для крутих бухгалтерів!</p>
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place__container">
            <div class="place__block">
                <div class="place__item">
                    <picture>
                        <source srcset="{{ link }}/img_2.webp" type="image/webp"/><img src="{{ link }}/img_2.jpg" alt="girl"/>
                    </picture>
                    <div class="place__text">
                        <p>Незабутнє святкування<br/>Дня бухгалтера та аудитора</p>
                    </div>
                </div>
            </div>
            <div class="place__block">
                <div class="place__item">
                    <picture>
                        <source srcset="{{ link }}/img_3.webp" type="image/webp"/><img src="{{ link }}/img_3-min.jpg" alt="girl"/>
                    </picture>
                    <div class="place__text">
                        <p>Банкет в елітному<br/>ресторані на березі Дніпра</p>
                    </div>
                </div>
                <div class="place__item place__item--two">
                    <picture>
                        <source srcset="{{ link }}/img_4.webp" type="image/webp"/><img src="{{ link }}/img_4-min.jpg" alt="girl"/>
                    </picture>
                    <div class="place__text">
                        <p>Диско-party на борту<br/>лайнера VIP-класу</p>
                    </div>
                </div>
                <div class="place__item place__item--two">
                    <picture>
                        <source srcset="{{ link }}/img_5.webp" type="image/webp"/><img src="{{ link }}/img_5-min.jpg" alt="girl"/>
                    </picture>
                    <div class="place__text">
                        <p>Виступ найпопулярніших<br/>учасників StandUp-шоу</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="place__btn"><a href="#program" class="btn js-scroll-to">подробиці</a></div>
    </div>
    <div id="travel" class="travel">
        <div class="travel__container">
            <div class="travel__title">Запалимо<br/>на святі!</div>
            <ul class="travel__list">
                <li class="travel__item">
                    <p class="travel__caption">Драйв та жарти від учасників StandUp-шоу, подарунки та конкурси, професійні фото</p>
                    <p class="travel__text">Розважальна програма <br/>обіцяє бути спекотною
                    </p>
                </li>
                <li class="travel__item">
                    <p class="travel__caption">Елегантний ресторан <br/>на березі Дніпра
                    </p>
                    <p class="travel__text"> «Дніпровська Рів’єра» – один <br/>з найвишуканіших закладів столиці
                    </p>
                </li>
                <li class="travel__item">
                    <p class="travel__caption">Смачнющі страви від шеф-кухаря та безлімітні напої «для дорослих»</p>
                    <p class="travel__text">Кожен гість отримає справжню <br/>гастро-естетичну насолоду
                    </p>
                </li>
                <li class="travel__item">
                    <p class="travel__caption">Рarty нон-стоп <br/>на VIP-лайнері
                    </p>
                    <p class="travel__text">Караоке-зал для співочих, <br/>денс-пол для непосидючих
                    </p>
                </li>
            </ul>
            <div class="travel__btn"><a href="#order" class="btn js-scroll-to">хочу на свято</a></div>
        </div>
    </div>
    <div id="program" class="program">
        <div class="program__container">
            <p class="program__title">Програма свята</p>
            <div class="program__frame">
                <div class="program__body">
                    <div class="program__item">
                        <div class="program__time">
                            <p>17:00</p>
                        </div>
                        <div class="program__text">Зустріч та знайомство з найчарівнішими бухгалтерами <br/>та аудиторами країни для святкування року
                        </div>
                        <div class="program__icon">
                            <picture class="hidden-xs"><img src="{{ link }}/icon_1-min.png" alt="bus"/></picture>
                        </div>
                    </div>
                    <div class="program__item">
                        <div class="program__icon">
                            <picture class="hidden-xs"><img src="{{ link }}/icon_2-min.png" alt="icon_2"/></picture>
                        </div>
                        <div class="program__text">Препаті, банкет в «Дніпровській Рів’єрі», StandUp-шоу</div>
                        <div class="program__time">
                            <p>18:00</p>
                        </div>
                    </div>
                    <div class="program__item">
                        <div class="program__time">
                            <p>21:00</p>
                        </div>
                        <div class="program__text">Запальні танці та караоке на лайнері VIP-класу</div>
                        <div class="program__icon">
                            <picture class="hidden-xs"><img src="{{ link }}/icon_3.png" alt="bus"/></picture>
                        </div>
                    </div>
                    <div class="program__item">
                        <div class="program__icon">
                            <picture class="hidden-xs"><img src="{{ link }}/icon_4.png" alt="icon_2"/></picture>
                        </div>
                        <div class="program__text">Найгучніша вечірка добігає кінця: домовленості<br/>про наступну зустріч</div>
                        <div class="program__time">
                            <p>23:00</p>
                        </div>
                    </div>
                    <div class="program__btn"><a href="#order" class="btn js-scroll-to">Приєднатися </a></div>
                </div>
            </div>
        </div>
    </div>
    <!--include _tour-->
    <div id="order" class="order">
        <div class="order__container">
            <div id="timer-custom" class="order__timer">
                <div class="order__title">ЗАЛИШИЛОСЯ ЛИШЕ <span>5 КВИТКІВ</span>
                </div>
             {#   <div class="order__sub-title"> З 24 ЧЕРВНЯ ВАРТІСТЬ ЗРОСТЕ НА 500 ГРН </div>#}
            </div>
            </div>
            <div class="order__packages">
              {#  <div class="order__package  package package--club">
                    <div class="package__body  package__body--club">
                        <p class="package__format">ціна за 1 квиток</p>
                        <p class="package__old-price">
                            <s> {{shop_price('тур-17072020Вояж_6','line1')}}</s>
                        </p>
                        <p class="package__price  package__price--club"> {{shop_price('тур-17072020Вояж_6','site1')}}<span>грн</span>
                        </p>
                        <p class="package__presents">Подарунок</p>
                        <ul class="package__list package__list--footer">
                            <div class="present">
                                <p>Доступ до <a href="https://7eminar.ua/" target="_blank" class="js-banner-link ">Бухгалтерської відеоплатформи №1</a><br/>протягом трьох місяців
                                </p>
                            </div>
                        </ul>
                        <div class="package__btn">
                            <form method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="тур-17072020Вояж_6"/>
                                <button type="submit" rel="order" class="btn">замовити</button>
                            </form>
                        </div>
                    </div>
                </div>#}
                <div class="order__package  package package--no-club">
                    <div class="package__body  package__body--no-club">
                        <p class="package__format">ціна </p>
                        <p class="package__old-price">
                            <s>{{shop_price('тур-17072020Вояж_6','line2')}}</s>
                        </p>
                        <p class="package__price  package__price--no-club">{{shop_price('тур-17072020Вояж_6','site2')}}<span>грн</span>
                        </p>
                        <p class="package__presents">Подарунок</p>
                        <ul class="package__list package__list--footer">
                            <div class="present">
                                <p>Доступ до <a href="https://7eminar.ua/subscribe" target="_blank" class="js-banner-link">Бухгалтерської відеоплатформи №1</a><br/>протягом трьох місяців
                                </p>
                            </div>
                        </ul>
                        <div class="package__btn">
                            <form method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="тур-17072020Вояж_6"/>
                                <button type="submit" rel="order" class="btn">замовити</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--include _info-->
    <div id="video" class="video">
        <div id="bar-1" class="video__content">
            <div class="slider">
                <div class="slide">
                    <div class="video__title"><span>ЯК ЦЕ БУЛО</span><br/> РАНІШЕ
                    </div>
                    <div class="video__player"><a href="https://youtu.be/Oyxz9l-C1zM" class="video__link">
                            <picture><img src="https://i.ytimg.com/vi/Oyxz9l-C1zM/maxresdefault.jpg" alt="Тетяна Мойсеєнко" class="video__media"/></picture></a>
                        <button aria-label="play" class="video__button">
                            <svg>
                                <path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="video__button-shape"></path>
                                <path d="M 45,24 27,14 27,34" class="video__button-icon"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="slide">
                    <div class="video__title"><span>ЯК ЦЕ БУЛО</span><br/> РАНІШЕ
                    </div>
                    <div class="video__player"><a href="https://youtu.be/TW8B3LQ7EE4" class="video__link">
                            <picture><img src="https://i.ytimg.com/vi/TW8B3LQ7EE4/maxresdefault.jpg" alt="Тетяна Мойсеєнко" class="video__media"/></picture></a>
                        <button aria-label="play" class="video__button">
                            <svg>
                                <path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="video__button-shape"></path>
                                <path d="M 45,24 27,14 27,34" class="video__button-icon"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="video__btn"><a href="#order" target="_blank" class="btn js-scroll-to">Замовити</a></div>
    </div>

    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
               {# <li><a href="https://7eminar.com/" target="_blank"><img src="/modules/seminars/images/logos/kbs.png" width="145" height="38" alt="Київська Бухгалтерська Служба"/></a></li>#}
                <li><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></li>
                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></li>
            </ul>
         {#   <ul class="partners__list">
                <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></li>
                <li><a href="https://kraft.net.ua" target="_blank" class="logonoclik"><img style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" class="img_partners1"/></a></li>
            </ul>#}
        </div>
    </div>
    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>

</div>