{% set link_platform = "https://7eminar.ua/subscribe?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=sobivartist_27082020_button_tabl_tsin" %}
{% set link_platform_video = "https://7eminar.ua/subscribe?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=sobivartist_27082020_button_video" %}


{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
  <div class="heading mw">
    <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank"
                                                       class="entry"><span>М</span>ій кабінет</a>
      <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/subscribe"
                                                                               class="video_news"><span>П</span>ередплата</a><a
          href="/" class="main"><span>Г</span>оловна</a>
    </div>
    <div class="menu-mob">
      <input id="menu-checkbox" type="checkbox"/><span class="burger__bg burger__bg-js"></span><span
          class="burger__element"></span>
      <ul class="menu">
        <li><a href="#lectors" class="burger__link js-scroll-to">Лектор</a></li>
        <li><a href="#info" class="burger__link js-scroll-to">Про що дізнаєтесь</a></li>
        <li><a href="#profession" class="burger__link js-scroll-to">Для кого</a></li>
        <li><a href="#themes" class="burger__link js-scroll-to">теми</a></li>
        <li><a href="#order" class="burger__link js-scroll-to">ПРИДБАТИ</a></li>
      </ul>
    </div>
  </div>

  <div class="hero">
    <div class="hero__container container">

      <div class="menu ">
        <div class="menu__container">
          <ul class="menu__list">
            <li><a class="js-scroll-to" href="#lectors">Лектор</a></li>
            <li><a class="js-scroll-to" href="#info">Про що дізнаєтесь</a></li>
            <li><a class="js-scroll-to" href="#profession">ДЛЯ КОГО</a></li>
            <li><a class="js-scroll-to" href="#themes">теми</a></li>
            <li><a class="js-scroll-to" href="#order">ПРИДБАТИ</a></li>
          </ul>
        </div>
      </div>
      <div class="hero__top-container dk-show-flex">
        <a class="hero__logo-dk" href="https://dtkt.ua/about" target="_blank">
          <img src="{{ link }}/logo-dk.png" width="200" height="52"
               alt="«Дебет-Кредит» | Бухгалтерський сервіс №1 в Україні">
        </a>
        <a class="hero__logo-seminar" href="https://7eminar.com/" target="_blank">
          <img src="{{ link }}/7minar_logo_color.png" width="186" height="42"
               alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
        </a>
      </div>
      <div class="hero__content">
        <div class="hero__item">
          {# <div class="hero__date"><p class="seminar_rec"><span>Відеозапис</span> </p></div>#}
          <p class="hero__subtitle">ВІДЕОЗАПИС СЕМІНАРУ</p>
          <p class="hero__title"><span>Собівартість</span> <br>
            і виробництво</p>
          <p class="hero__description"> від розрахунку до податків</p>
          <a href="#info" class="hero__btn js-scroll-to">Детальніше
            <div class="chevron__block">
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
            </div>
          </a>
          {# <button type="button" aria-label="Open modal video" data-toggle="modal" data-target="#modal-video" data-vidId="pf2x3WxcH3s" class="hero__controls-modal-btn"></button>#}
        </div>
      </div>

    </div>
  </div>

  <div class="info" id="info">
    <div class="info__container container">
      <div class="info__title"><span> Про що <br>
                дізнаєтеся</span></div>
      <div class="info__content">
        <div class="info__item">
          <p>Як визначити об’єкт та <br> одиницю калькулювання</p>
          <p>Які витрати не включають <br> у виробничу собівартість</p>
        </div>
        <div class="info__item">
          <p>Ризики при реалізації <br> продукції нижче собівартості </p>
        </div>
        <div class="info__item">
          <p>Класифікація та групування <br> витрат на підприємстві</p>

          <p>Вплив собівартості на бухгалтерський <br> та податковий облік</p>

          <p>Помилки в обліку та які наслідки <br> вони матимуть</p>
        </div>
      </div>
    </div>
  </div>

  <div id="profession" class="profession">
    <div class="profession__container">
      <p class="profession__sub-title">кому це буде корисно</p>
      <div class="profession__content">
        <ul class="profession__list">
          <li class="profession__item">
            <p class="profession__name">Головному бухгалтеру </p>
          </li>
          <li class="profession__item">
            <p class="profession__name">економісту</p>
          </li>
        </ul>
        <ul class="profession__list">
          <li class="profession__item">
            <p class="profession__name"> бухгалтеру</p>
          </li>

          <li class="profession__item">
            <p class="profession__name"> аудитору</p>
          </li>
        </ul>
      </div>
      <a href="#order" class="profession__btn js-scroll-to">приєднатися
        <div class="chevron__block">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
        </div>
      </a>
    </div>
  </div>

  <div id="lectors" class="lectors">
    <div class="lectors__container">
      <div class="lectors__sub-title"> Лектор семінару</div>
      <div class="lectors__content">
        <div class="lectors__item">
          <div class="lectors__text">
            <p class="lectors__name">Вікторія величко <span>></span></p>
            <p class="lectors__regalia">Незалежний практикуючий консультант із питань оподаткування та бухгалтерського
              обліку, сертифікований тренер бізнес-програм, фахівець з питань податкового та фінансового планування.</p>
            <p class="lectors__regalia"> Має понад 18000 годин публічних виступів, з яких 12000 годин –
              семінари-практикуми та тренінги</p>
          </div>
          <picture>
            {# <source srcset="{{ link }}/vv.webp" type="image/webp"/>#}
            <img src="{{ link }}/vv.jpg" alt="Вікторія Величко"/>
          </picture>
        </div>
      </div>
      <a href="#order" class="lectors__btn js-scroll-to">приєднатися
        <div class="chevron__block">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
        </div>
      </a>
    </div>
  </div>

  <div id="themes" class="themes">
    <div class="themes__container">
      <div class="themes__title"><span>теми<br>
                семінару</span></div>
      <div class="themes__item">
        <div class="themes__box">
          <div class="themes__header">
            <div class="themes__text">
              <p class="themes__lessons-titel">Собівартість продукції (робіт, послуг): нормативне забезпечення,
                первинні документи, облікова політика, витрати та калькулювання</p>
            </div>
            <div class="themes__button"><a data-toggle="collapse" data-target="#lesson1" aria-expanded="false"
                                           aria-controls="#lesson1" class="themes__more-btn">Детальніше</a></div>
          </div>
          <div id="lesson1" class="themes__more collapse">
            <div class="themes__more-body">
              <ul class="themes__more-list">
                <li class="themes__more-list-item"><p>Витрати підприємства та собівартість продукції (робіт, послуг):
                    визначення та нормативне забезпечення.</p></li>
                <li class="themes__more-list-item"><p>Документальне забезпечення: </p>
                  <ul class="themes__more-sub-list">
                    <li>наказ про облікову політику підприємства: що необхідно включити та що є зайвим;</li>
                    <li>як правильно вносити зміни в облікову політику та облікові оцінки;</li>
                    <li>первинні документи: паперові та електронні, проблеми визначення дати складання та наслідки,
                      зберігання та відновлення, приклади первинних документів і податкові наслідки помилок;
                    </li>
                    <li>бухгалтерська довідка як первинний документ: нюанси складання та обліку;</li>
                    <li>калькуляція не є первинним документом: користувачі, хто може вимагати її надання та як правильно
                      відмовити контролюючим органам;
                    </li>
                    <li>документи, що описують технологічний процес.</li>
                  </ul>
                </li>
                <li class="themes__more-list-item"><p>Планування собівартості продукції (робіт, послуг) для цілей
                    бухгалтерського та податкового обліку. </p></li>
                <li class="themes__more-list-item"><p>«Постановка виробництва» на підприємстві: технічний,
                    бухгалтерський, податковий аспекти. </p></li>
                <li class="themes__more-list-item"><p>Собівартість і податкові наслідки помилок: податок на прибуток,
                    ПДВ і контрольовані операції. </p></li>
                <li class="themes__more-list-item"><p>Класифікація та групування витрат на підприємстві. </p></li>
                <li class="themes__more-list-item"><p>Рекомендації щодо складання планової (нормативної)
                    калькуляції. </p></li>
                <li class="themes__more-list-item"><p>Методи обліку витрат: основні теоретичні підходи та їх практичне
                    втілення. </p></li>
                <li class="themes__more-list-item"><p>Визначення об’єкту та одиниці калькулювання: на що впливає помилка
                    вибору. </p></li>
                <li class="themes__more-list-item"><p> Визначення статей калькуляції (серійне й індивідуальне
                    виробництво, послуги, роботи): особливості формування, спільне та відмінне. </p></li>
                <li class="themes__more-list-item"><p> Зведений облік витрат на виробництво. </p></li>
                <li class="themes__more-list-item"><p> Витрати, які не включаються у виробничу собівартість: позиція
                    ДПСУ. </p></li>
                <li class="themes__more-list-item"><p> Які рахунки слід використовувати для формування собівартості
                    продукції, робіт, послуг. </p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="themes__item">
        <div class="themes__box">
          <div class="themes__header">
            <div class="themes__text">
              <p class="themes__lessons-titel">Формування та управління собівартості. Незавершене виробництво </p>
            </div>
            <div class="themes__button"><a data-toggle="collapse" data-target="#lesson2" aria-expanded="false"
                                           aria-controls="#lesson2" class="themes__more-btn">Детальніше</a></div>
          </div>
          <div id="lesson2" class="themes__more collapse">
            <div class="themes__more-body">
              <ul class="themes__more-list">
                <li class="themes__more-list-item"><p>Посередницькі контракти: витрати чи транзитні суми? </p></li>
                <li class="themes__more-list-item"><p>Особливості формування собівартості послуг: елементи витрат,
                    розподіл постійних витрат, посередництво в послугах. </p></li>
                <li class="themes__more-list-item"><p>Облік запасів: придбання та оприбуткування, робота з давальницькою
                    сировиною, обрання методу обліку, уцінка запасів (вплив на фінансовий результат і
                    ПДВ-зобов’язання). </p></li>
                <li class="themes__more-list-item"><p> Незавершене виробництво та напівфабрикати власного виробництва:
                    типові помилки в обліку. </p></li>
                <li class="themes__more-list-item"><p> Розрахунки з постачальниками: </p>
                  <ul class="themes__more-sub-list">
                    <li>визначення вартості продукції (робіт, послуг) в договорі;</li>
                    <li>коригування вартості продукції (робіт, послуг);</li>
                    <li>30-відсоткове коригування в операціях із ризиковими нерезидентами;</li>
                    <li>повернення готової продукції;</li>
                    <li>заборгованості: визнання та списання, дисконтування та карантинні наслідки;</li>
                    <li>кредити та займи від нерезидентів для виробничих потреб: облік, коригування у 2020-2021 роках;
                    </li>
                    <li>вплив штрафних санкцій і відшкодувань на фінансовий результат та об’єкт оподаткування податком
                      на прибуток.
                    </li>
                  </ul>
                </li>
                <li class="themes__more-list-item"><p>Реалізація продукції (робіт, послуг) нижче собівартості: чи є
                    податкова проблема? </p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="advantages" class="advantages">
    <div class="advantages__container">
      <p class="advantages__title">що ви <br>отримаєте</p>
      <div class="certificate">
        <picture><img src="{{ link }}/certificate.jpg" alt="certificate"></picture>
      </div>
      <div class="advantages__content">
        <div class="advantages__item">
          <div class="advantages__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.13 512.13" style="width: 65px;height: 65px;">
              <path
                  d="M346.541 221.958l-121.198-87.091c-11.977-8.591-27.338-11.977-39.315-5.077-11.977 5.077-18.746 18.747-18.746 34.107v184.335c0 15.361 6.769 27.338 18.746 34.107 5.077 1.692 10.284 3.385 15.361 3.385 8.592 0 17.054-3.385 23.953-10.285l121.198-87.092c11.977-8.591 18.746-20.439 18.746-34.107 0-11.843-6.768-23.82-18.745-32.282zm-20.439 40.877l-121.198 87.091c-1.692 0-3.385 1.692-3.385 1.692V163.899v-3.385c1.692 0 1.692 1.692 5.077 3.385l121.197 87.091c1.692 0 3.385 3.385 3.385 5.077s-1.691 5.074-5.076 6.768z"
                  fill="#98640a" class="color-svg"></path>
              <path
                  d="M256.065 0C114.43 0 0 114.298 0 256.065S114.298 512.13 256.065 512.13 512.13 397.832 512.13 256.065 397.702 0 256.065 0zm0 477.892c-122.891 0-221.828-98.937-221.828-221.828S133.175 34.236 256.065 34.236s221.828 98.937 221.828 221.828-98.937 221.828-221.828 221.828z"
                  fill="#98640a" class="color-svg"></path>
            </svg>
          </div>
          <div class="advantages__text">відеозапис<br/>семінару</div>
        </div>
        <div class="advantages__item">
          <div class="advantages__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338.352 338.352" style="width: 65px;height: 65px;">
              <path
                  d="M169.176 0C75.601 0 0 75.514 0 169.176s75.514 169.176 169.176 169.176 169.176-75.514 169.176-169.176S262.752 0 169.176 0zm0 315.731c-81.191 0-146.556-65.365-146.556-146.556S87.986 22.619 169.176 22.619s146.556 65.365 146.556 146.556-65.365 146.556-146.556 146.556z"
                  class="color-svg"></path>
              <path
                  d="M169.176 83.512c-34.919 0-64.248 29.328-64.248 65.365 0 6.795 4.472 11.267 11.267 11.267 6.794 0 11.267-4.472 11.267-11.267 0-23.652 19.179-42.831 41.713-42.831s41.713 19.179 41.713 41.713c0 23.652-18.062 41.713-41.713 41.713-6.794 0-11.267 4.472-11.267 11.267v21.416c0 6.795 4.472 11.267 11.267 11.267 5.677 0 11.267-5.676 11.267-11.267V210.89c30.447-4.472 52.98-30.447 52.98-63.129.002-36.124-28.123-64.249-64.246-64.249zM177.089 244.69c-4.558-4.472-11.267-4.472-15.825 0-2.236 2.236-3.354 4.472-3.354 7.913 0 3.354 1.118 5.676 3.354 7.913 2.236 2.236 4.472 3.354 7.913 3.354s5.677-1.118 7.913-3.354c2.236-2.236 3.354-4.472 3.354-7.913-.001-3.355-1.119-5.676-3.355-7.913z"
                  class="color-svg"></path>
            </svg>
          </div>
          <div class="advantages__text">
            Відеозапис <br> відповідей <br> на запитання
          </div>
        </div>
        <div class="advantages__item">
          <div class="advantages__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 346.182 346.182" style="width: 65px;height: 65px;">
              <path
                  d="M231.2 134.763l-66.764-42.036c-4.945-2.473-9.891-4.945-14.836-4.945-12.364 0-21.018 9.891-21.018 22.255v89.018c0 12.364 8.654 22.255 21.018 22.255 4.945 0 9.891-1.237 14.836-4.945l66.764-42.036c7.418-4.945 12.364-12.364 12.364-19.782 0-7.42-4.946-14.838-12.364-19.784zm-77.891 60.582v-80.364l63.055 40.8-63.055 39.564z"
                  class="color-svg"></path>
              <path
                  d="M333.818 4.945H12.364C4.945 4.945 0 9.891 0 17.309v53.164c0 7.418 4.945 12.364 12.364 12.364h8.655v170.618c0 7.418 4.945 12.364 12.364 12.364h127.346v50.691H97.673c-7.418 0-12.364 4.945-12.364 12.364 0 7.418 4.945 12.364 12.364 12.364h149.6c7.418 0 12.364-4.945 12.364-12.364 0-7.418-4.945-12.364-12.364-12.364h-61.818v-50.691H312.8c7.418 0 12.364-4.945 12.364-12.364V84.072h8.655c7.418 0 12.364-4.945 12.364-12.364v-54.4c-.001-6.181-4.947-12.363-12.365-12.363zm-12.363 53.163h-40.8c-7.418 0-12.364 4.945-12.364 12.364 0 7.418 4.945 12.364 12.364 12.364h19.782l-.001 158.255H45.745V84.072h169.382c7.418 0 12.364-4.945 12.364-12.364 0-7.418-4.945-12.364-12.364-12.364h-190.4V29.672h296.727v28.436z"
                  class="color-svg"></path>
            </svg>
          </div>
          <div class="advantages__text">Презентація<br/>лектора</div>
        </div>
      </div>
      <a href="#order" class="advantages__btn js-scroll-to">приєднатися
        <div class="chevron__block">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
        </div>
      </a>
    </div>
  </div>

  <div id="order" class="order">
    <div class="order__container">
      <div id="timer-custom" class="order__timer">
        <p class="order__title">Акційні ціни <br>
          діють ще</p>
        <div class="pricing-timer" data-timer-2="{{ page.options['timer']|default('') }}">
          <div class="pricing-timer__inner">
            <div class="pricing-timer__box"><span class="days">00</span>дні</div>
            <div class="pricing-timer__box"><span class="separate">:</span></div>
            <div class="pricing-timer__box"><span class="hours">00</span>год</div>
            <div class="pricing-timer__box"><span class="separate">:</span></div>
            <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
            <div class="pricing-timer__box"><span class="separate">:</span></div>
            <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
          </div>
        </div>
      </div>
      <div class="order__packages">
        <div class="order__package  package package--gold">
          <div class="package__head  package__head--gold">
            <p class="package__header  package__header--gold">ВІДЕОЗАПИС</p>
            <p class="package__price package__price-platform "></p>
            <p class="package__price  package__price--gold">{{ shop_price('онлайн-27082020Собіварт_790','site') }}
              <br> <span>грн</span>
            <p class="package__old-price">
              <s>{{ shop_price('онлайн-27082020Собіварт_790','line') }}грн</s>
            </p>
            </p>
            <div class="package__btn">
              <a class="btn js-btn-utm dk-hide"  href="https://7eminar.ua/checkout/w-270820Sobivart" target="_blank" >оплатити <br>
                <span>рахунок/картою</span></a>
              <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                <input type="hidden" name="product" value="онлайн-27082020Собіварт_790"/>
                <button type="submit" rel="order" class="btn">оплатити <br>
                  <span>рахунок/картою</span></button>
              </form>

            </div>
          </div>
          <div class="package__body  package__body--gold">
            <div class="package__platform"></div>
            <ul class="package__list">
              <li>відеозапис семінару
                та відповідей на
                запитання</li>
              <li>презентація лектора</li>
              <li>сертифікат учасника</li>
            </ul>
          </div>
          <div class="package__footer  package__footer--gold">
            <div class="package__btn--footer">
              <a class="btn js-btn-utm dk-hide"  href="https://7eminar.ua/checkout/w-270820Sobivart" target="_blank" >оплатити <br>
                <span>рахунок/картою</span></a>
              <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                <input type="hidden" name="product" value="онлайн-27082020Собіварт_790"/>
                <button type="submit" rel="order" class="btn">оплатити <br>
                  <span>рахунок/картою</span></button>
              </form>
            </div>
          </div>
        </div>
        <div class="order__package  package package--gold-plus">
          <div class="package__head  package__head--gold-plus">

            <p class="package__header  package__header--gold-plus">БУХГАЛТЕРСЬКА ВІДЕОПЛАТФОРМА №1</p>
            <p class="price-platform-js"> {{ shop_price('онлайн-platform_price','month') }} <br> <span>грн/міс.</span>
            </p>

            <p class="package__old-price">
              <s> {{ shop_price('онлайн-platform_price','line') }} грн/міс.</s>
            </p>
            <div class="package__btn"><a href="{{ link_platform }}" target="_blank"
                                         class="btn btn--Sale js-platform-link js-banner-link">оплатити <br>
                <span>рахунок/картою</span></a></div>
          </div>
          <div class="package__body  package__body--gold-plus">

            <div class="package__platform"></div>
            <ul class="package__list">
              <li class="is-platform"><b>Доступ до цього відеопроєкту</b>, а також ще до
                <b>{{ shop_price('онлайн-platform_price','courses') }}+</b> відеокурсів, вебінарів та трансляцій на усі
                найважливіші бухгалтерські теми <b>за супервигідною ціною</b></li>
            </ul>
          </div>
          <div class="package__footer  package__footer--gold-plus">
            <div class="package__btn--footer"><a href="{{ link_platform }}" target="_blank"
                                                 class="btn btn--Sale js-platform-link js-banner-link">оплатити <br>
                <span>рахунок/картою</span></a></div>
          </div>
        </div>
      </div>
      <div class="order__banner js-platform-banner">
      </div>
    </div>
  </div>

  {#<div id="video" class="video">
      <div id="bar-1" class="video__content">
          <div class="slider">
              <div class="slide">
                 #}{# <p class="video__sub-title">Вікторія Величко запрошує</p>#}{#
                  <p class="video__title">Вікторія Величко <br> запрошує</p>
                  <div class="video__player"><a href="https://youtu.be/pf2x3WxcH3s" class="video__link">
                          <picture><img src="https://i.ytimg.com/vi/pf2x3WxcH3s/maxresdefault.jpg" alt="Вікторія Величко" class="video__media"/></picture></a>
                      <button aria-label="play" class="video__button">
                          <svg>
                              <path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="video__button-shape"></path>
                              <path d="M 45,24 27,14 27,34" class="video__button-icon"></path>
                          </svg>
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>#}

  <div id="free-video" class="free-video">
    <div class="free-video__container container">
      <div class="free-video__content">
        <p class="free-video__subtitle">бухгалтерська відеоплатформа №1</p>
        <p class="free-video__title">Всі корисні відеоматеріали в одному місці!</p>
        <div class="free-video__block">
          <div class="free-video__text">
            <p>Хочете зекономити свої кошти та отримати доступ до {{ shop_price('онлайн-platform_price','courses') }}+
              відеокурсів, вебінарів та трансляцій на усі найважливіші бухгалтерські теми?</p>
            <p>Передплатіть Бухгалтерську Відеоплатформу №1.</p><a href="{{ link_platform_video }}" target="_blank"
                                                                   class=" js-banner-link">Детальніше про
              відеоплатформу</a>
          </div>
          <div class="free-video__video">
            <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
        <a href="{{ link_platform_video }}" target="_blank" class="free-video__btn js-banner-link">Передплатити зі
          знижкою<i aria-hidden="true" class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>

  <div class="partners">
    <div class="container partners__container">
      <ul class="partners__list">
        <li><a href="https://www.otpbank.com.ua/smb/products-financing/" target="_blank" rel="nofollow"><img
                src="{{ link }}/logo_otp.svg" width="170" alt="otpbank"/></a></li>
        <li><a class="logonoclik" href="https://7eminar.com/" target="_blank"><img class="img_partners1"
                                                                                   style="width: 175px;height: 43px;"
                                                                                   src="https://7eminar.com/storage/seminars/mails/7eminar.png"
                                                                                   alt="7eminar"/></a></li>
        <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="https://7eminar.com/modules/seminars/images/logos/dtkt.png"
                                                                           width="146" height="38" alt="Дебет-Кредит"/></a>
        </li>
        {# <li><a href=" https://medoc.ua" target="_blank" rel="nofollow"><img src="/storage/pages/241_14042020/images/logo-medoc@4x.png" height="95" alt="medoc" /></a></li>#}
      </ul>
      {#  <ul class="partners__list">

            <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком" /></a></li>
            <li><a class="logonoclik" href="https://kraft.net.ua" target="_blank"><img class="img_partners1" style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" /></a></li>
        </ul>#}
    </div>
  </div>



  <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
    <div role="document" class="modal-dialog">
      <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
      <div class="modal-content">
        <div class="player"></div>
      </div>
    </div>
  </div>

  <div id="loader-page" class="loader-page">
    <div class="dots">
      <div class="loading">
        <span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span
            class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
  </div>
</div>

