{% set link_platform = "https://7eminar.ua/subscribe?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=vks_25032021_button_tabl_tsin" %}
{% set link_platform_video = "https://7eminar.ua/subscribe?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=vrs_21012021_button_video" %}

{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/subscribe" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
        <div class="menu-mob">
            <input id="menu-checkbox" type="checkbox"/><span class="burger__bg burger__bg-js"></span><span class="burger__element"></span>
            <ul class="menu">
                <li><a href="#lectors" class="burger__link js-scroll-to">Лектори</a></li>
                <li><a href="#info" class="burger__link js-scroll-to">Про що дізнаєтесь</a></li>
                <li><a href="#profession" class="burger__link js-scroll-to">Для кого</a></li>
                <li><a href="#themes" class="burger__link js-scroll-to">теми</a></li>
                <li><a href="#order" class="burger__link js-scroll-to">ПРИДБАТИ</a></li>
            </ul>
        </div>
    </div>

    <div class="hero">
        <div class="hero__container container">
            <div class="menu ">
                <div class="menu__container">
                    <ul class="menu__list">
                        <li><a class="js-scroll-to" href="#lectors">Лектори</a></li>
                        <li><a class="js-scroll-to" href="#themes">теми</a></li>
                        <li><a class="js-scroll-to" href="#order">ПРИДБАТИ</a></li>
                    </ul>
                </div>
            </div>
            <div class="hero__top-container dk-show-flex">
                <a class="hero__logo-dk" href="https://dtkt.ua/about" target="_blank">
                    <img src="{{ link }}/logo-dk.png" width="200" height="52" alt="«Дебет-Кредит» | Бухгалтерський сервіс №1 в Україні">
                </a>
                <a class="hero__logo-seminar" href="https://7eminar.com/" target="_blank">
                    <img src="{{ link }}/7minar_logo_color.png" width="186" height="42" alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
                </a>
            </div>
            <div class="hero__content">
                <p class="hero__online">Online-трансляція <span>і повертаємось у зали</span></p>
                <div class="hero__title-content">
                    <p class="hero__date">25 березня <span>2021 року</span></p>
                    <p class="hero__place"><a href="https://goo.gl/maps/GewXEFKkaushH1ov6" target="_blank">М. КИЇВ, КОНГРЕС-ХОЛ «MERCURE»</a></p>
                    <p class="hero__title">
                        <span>Великий</span>  <br>
                        <b>Квартальний</b>  <br>
                        семінар
                    </p>
                </div>
                    <p class="hero__sub-title">Дізнайтесь про новації-2021 у законодавстві щодо <br>
                        об'єднаної звітності з ПДФО та ЄСВ, декларації з ПДВ, <br>
                        ФОП-обліку та звітності, перевірок, кадрів <br>
                        та нової декларації з податку на прибуток</p>
                <p class="hero__btn">
                    <a href="#video" class="btn">Детальніше ></a>
                </p>
                <p class="hero__lectors-name">
                    <span>Т. Мойсеєнко</span>
                    <span>Т. Алієв</span>
                    <span>О. Смирнов</span>
                    <span>М. Кавин</span>
                    <span>С. Дробоття</span>
                </p>
            </div>


        </div>
    </div>

    <div class="video" id="video">
        <div class="video__container container">
            <h2 class="video__title">Найяскравіша подія весни</h2>
            <div class="video__content">
                <div class="video__item >
                    <picture>
                    {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                    <source srcset="{{ link }}/illustration.webp" type="image/webp"/>
                    <img src="{{ link }}/illustration-min.png" alt="illustration"/>
                    </picture>
                </div>
                <div class="video__item video__item--text" >
                    <div class="video__text">
                        <p> Нарешті це сталося – ми відновлюємо семінари у залах! Традиційно
                            масштабно і на 100% безпечно! Найгарячіші теми, розважальна
                            програма, довгоочікувана зустріч з колегами – враження
                            найвищого рівня гарантовані. І online-трансляція буде теж, звичайно!</p>
                        <p> Величезну кількість змін розберуть 5 ТОП-лекторів і підкажуть,
                            як правильно заповнити по-новому ваші звіти за березень
                            та 1 квартал 2021 року.</p>
                        <p>Ви отримаєте відповіді на свої питання від експертів (це новеньке!)
                            та лекторів у залі, в чаті трансляції та ще разом з відеозаписом
                            семінару 26 березня.</p>
                    </div>
                </div>

            </div>
        </div></div>









    <div class="info"  id="info">
        <div class="info__container container">
            <div class="info__title">ПРО ЩО <br> ВИ ДІЗНАЄТЕСЯ?</div>
            <div class="info__content">
                <ul>
                    <li><b> Об’єднаний звіт з ЄСВ, ПДФО, ВЗ,</b>  <br>    зміни у розрахунку середньої зарплати</li>
                    <li><b> Облік трудової діяльності,</b><br>надомна, дистанційна робота: <br>працюємо по-новому</li>

                </ul>






                <ul>
                    <li><b>  ПДВ по-новому:</b><br>  зміни у декларації та ПН/РК</li>
                    <li><b>  Податок на прибуток: </b><br>нова декларація та нові різниці</li>
                    <li><b> Перевірки:</b><br>  скасування мораторію, нові штрафи <br>та оформлення результатів</li>
                </ul>
            </div>
        </div>
    </div>


    <div id="profession" class="profession">
       <div class="profession__container">
           <h2 class="profession__title">для кого буде корисний семінар?  </h2>
           <div class="profession__content">
               <ul class="profession__list">
                   <li>
                       <b> ФОПу</b>
                       <p>Ви самостійно ведете
                           бухоблік, і важливо
                           робити це без помилок</p>
                   </li>
                   <li>
                       <b> Головному
                           бухгалтеру</b>
                       <p>Ви вже багато що знаєте,
                           практично все,
                           але прагнете бути в курсі
                           змін податкового
                           законодавства
                       </p>
                   </li>
                   <li>
                       <b>Бухгалтеру</b>
                       <p>Ви стежите
                           за нововведеннями
                           та бажаєте стати
                           головним бухгалтером</p>
                   </li>
                   <li>
                       <b>Аудитору</b>
                       <p>Ви перевіряєте податкову та фінансову документації і повинні знати всі нюанси змін законодавства для якісного виправлення знайдених помилок</p>
                   </li>

               </ul>
           </div>
           <p class="profession__btn">
               <a href="#order" class="btn js-scroll-to">хочу дивитися ></a>
           </p>
       </div>
    </div>

    <div id="lectors" class="lectors">
        <div class="lectors__container">
            <div class="lectors__title"> Лектори</div>
            <div class="lectors__content">
                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            <source srcset="{{ link }}/lec_tm.webp" type="image/webp"/>
                            <img src="{{ link }}/lec_tm-min.jpg" alt="Тетяна мойсеєнко"/>
                        </picture>

                    </div>

                    <div class="lectors__footer">
                        <b>Тетяна Мойсеєнко</b>
                        <p>Шеф-редактор 7eminar.com, експерт з трудового права та кадрового обліку</p>
                    </div>
                    {#<button type="button" aria-label="Open modal video" data-toggle="modal" data-target="#modal-video" data-vidId="-fs2VjDorck" class="hero__controls-modal-btn"></button>#}
                </div>

                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lec_mk.webp" type="image/webp"/>
                            <img src="{{ link }}/lec_mk-min.png" alt="Тимур Алієв"/>
                        </picture>
                    </div>

                    <div class="lectors__footer">
                        <b>  Мар’яна Кавин</b>
                        <p>Податковий консультант CAP/СІРА, АССА DipIFR, IFA</p>
                    </div>
                </div>




                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            <source srcset="{{ link }}/lec_os.webp" type="image/webp"/>
                            <img src="{{ link }}/lec_os-min.png" alt="Мар’яна Кавин"/>
                        </picture>
                    </div>

                    <div class="lectors__footer">
                        <b> Олександр Смирнов</b>
                        <p>Адвокат, податковий консультант.
                            Досвід роботи – понад 14 років</p>


                    </div>
                  {#  <button type="button" aria-label="Open modal video" data-toggle="modal" data-target="#modal-video" data-vidId="XDCV3uG07RQ" class="hero__controls-modal-btn"></button>#}
                </div>

                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lec_ta.webp" type="image/webp"/>
                            <img src="{{ link }}/lec_ta-min.png" alt=" Вікторія Величко"/>
                        </picture>
                    </div>
                    <div class="lectors__footer">
                        <b> Тимур Алієв</b>
                        <p>Консультант з питань бухгалтерського обліку та оподаткування</p>
                    </div>
                </div>



                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lec_sd.webp" type="image/webp"/>
                            <img src="{{ link }}/lec_sd-min.png" alt="Сергій Дробоття"/>
                        </picture>
                    </div>
                    <div class="lectors__footer">
                        <b> Сергій Дробоття</b>
                        <p>Консультант з питань оподаткування з багаторічним досвідом роботи в органах ДПС</p>
                    </div>
                </div>
            </div>
            <p class="lectors__btn">
                <a href="#order" class="btn js-scroll-to">замовити квиток ></a>
            </p>
        </div>
    </div>

    <div id="themes" class="themes">
        <div class="themes__container">
            <div class="themes__title">регламент</div>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                         <div class="themes__info">
                            <div>
                                <p class="themes__time">10:00–11:00</p>
                                <p class="themes__lector-name"> Тимур Алієв
                                </p>
                            </div>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Електронні трудові книжки. Дистанційна (надомна) робота. Робочий час </p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson1" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">

                                <li class="themes__more-list-item"><p>Електронна трудова книжка: закон прийнято! Хто веде, як підтвердити стаж, уточнення та виправлення помилок. </p>
                                    {# <ul class="themes__more-sub-list">
                                           <li>платники ПДВ за наявності об’єкту оподаткування;  </li>
                                           <li>платники ПДВ за окремими операціями, зокрема фізичні особи-підприємці на спрощеній системі оподаткування 1, 2, 3 груп (за ставкою 5%).</li>
                                       </ul>#}
                                </li>


                                <li class="themes__more-list-item"><p>Дистанційна (надомна) робота: нові умови та правила оформлення. Чим ризикує роботодавець у разі неправильного документального оформлення? </p>
                                </li>
                                <li class="themes__more-list-item"><p>Гнучкий режим робочого часу: як запровадити, що врахувати, як вести облік.  </p></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                         <div class="themes__info">
                             <div>
                                 <p class="themes__time">11:00–12:00</p>
                                 <p class="themes__lector-name">  Сергій Дробоття
                                 </p>
                             </div>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">ПДВ: зміни до форм податкової накладної та податкової декларації </p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson2" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">

                                <li class="themes__more-list-item"><p>Новий реквізит у ПН/РК – код реєстру: що це за «звір»?
                                    </p>
                                </li>
                                <li class="themes__more-list-item"><p>Для кого призначені нові рядки у податковій декларації. Аналіз змін в додатках до декларації.  </p></li>

                                <li class="themes__more-list-item"><p>Документи для заповнення декларації та типові помилки платника, які впливають на показники ПДВ-звітності. Коли необхідно подати уточнюючий розрахунок для виправлення помилок. </p></li>

                                <li class="themes__more-list-item"><p>Проблемні контрагенти: хто вони та як захистити себе від перевірок і штрафів. </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item themes__item--break">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">12:00–12:30</p>
                                <p class="themes__lessons-titel">ПЕРЕРВА</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">12:30–14:00</p>
                                <p class="themes__lector-name"> Тетяна Мойсеєнко
                                </p>
                            </div>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Зарплатні зміни та ребуси: нова квартальна звітність, середня зарплата  </p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson3" aria-expanded="false" aria-controls="#lesson3" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson3" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Об’єднана звітність-2021: практичний алгоритм складання за 1 квартал. </p>
                                </li>
                                <li class="themes__more-list-item"><p>Лікарняні та декретні: нарахування, «довідковий» розрахунок і підтвердження. </p></li>
                                <li class="themes__more-list-item"><p>Середня зарплата: премії (винагороди), розрахунок із МЗП, пастки у розрахунковому періоді. </p></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item themes__item--break">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">14:00–15:00</p>
                                <p class="themes__lessons-titel">ПЕРЕРВА</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time"> 15:00–16:00 </p>
                                <p class="themes__lector-name">Мар’яна Кавин
                                </p>
                            </div>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Податок на прибуток: звітність по-новому. ФОП-2021: нові вимоги та пільги

                            </p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson4" aria-expanded="false" aria-controls="#lesson4" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson4" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">


                                <li class="themes__more-list-item"><p>Змінена декларація з податку на прибуток: як не помилитися у показниках. Нові різниці-2021. </p>
                                </li>
                                <li class="themes__more-list-item"><p>Діяльність ФОПа без проблем: облік доходів (витрат) і первинні документи. </p></li>
                                <li class="themes__more-list-item"><p>ЄСВ для ФОПа: як скористатися пільгою, мінімальні зобов’язання, страховий стаж. </p></li>
                                <li class="themes__more-list-item"><p>У лабіринтах «старої» і «нової» звітностей для ФОПа: хто, коли та що подає у 2021 році. </p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time"> 16:00–17:00</p>
                                <p class="themes__lector-name"> Олександр Смирнов
                                </p>
                            </div>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Податкові та трудові перевірки: правила-2021</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson5" aria-expanded="false" aria-controls="#lesson5" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson5" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Скасування податкового мораторію: нові перевірки та поновлення раніше зупинених.  </p>
                                </li>
                                <li class="themes__more-list-item"><p>Процедурні помилки податківців при перевірці: як скористатися. Застереження до акту перевірки: що нового та чи варто подавати? </p></li>
                                <li class="themes__more-list-item"><p>Умисне діяння платника податків: чи можливо довести та як уникнути нових штрафів. </p></li>
                                <li class="themes__more-list-item"><p>Перевірки Держпраці: оформлення результатів по-новому, оскарження, штрафи-2021. </p></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="themes__item themes__item--break">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">17:00–17:30 </p>
                                <p class="themes__lessons-titel">ПЕРЕРВА</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time"> 17:30–18:30</p>

                            </div>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Феєричний виступ від гумористів
                                зі студії «Мамахохотала»</p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="questions">
                <p>Індивідуальні консультації безлімітно!</p>
                <span>Експерти в перервах між виступами лекторів відповідатимуть на запитання глядачів у залі та під час всієї трансляції у чаті. </span> <span>Запитання лекторам будуть прийматися протягом всього ефіру.</span>
                <span>Відповіді від них отримаєте <b>26 березня</b> разом з відеозаписом семінару.</span>
            </div>
            <p class="themes__btn">
                <a href="#order" class="btn js-scroll-to">приєднатися ></a>
            </p>
        </div>
    </div>

<div class="program">
    <div class="program__containe"></div>
    <p class="program__title">Розважальна <br> програма</p>
    <div class="program__block">
        <p>Після серйозних тем семінару час і відпочити!
            Актори популярного гумористичного проекту
            запалять глядачів добрими жартами з героями,
            в яких всі впізнають себе.</p>

        <p>Це буде максимально яскраво, весело та по-душевному –
            море посмішок та чудовий настрій гарантовано!</p>
    </div>
</div>


    <div id="advantages" class="advantages">
        <div class="advantages__container">
            <p class="advantages__title">що ви отримаєте</p>
            <div class="advantages__content">
                <div class="advantages__item">
                    <svg height="512" viewBox="0 0 510 510" width="512" xmlns="http://www.w3.org/2000/svg"><path d="M510 .986H0v390h270v118.027l60-40 60 40V390.986h120zM324.195 375.7C294.215 372.908 270 347.393 270 315.986c0-33.084 26.916-60 60-60s60 26.916 60 60c0 35.151-30.31 63.123-65.805 59.714zM360 452.959l-30-20-30 20v-52.076c19.239 6.802 40.809 6.785 60 0zm120-91.973h-72.082c7.68-13.246 12.082-28.618 12.082-45 0-49.626-40.374-90-90-90s-90 40.374-90 90c0 16.382 4.402 31.754 12.082 45H30v-330h450z"/><path d="M90 60.986h330v30H90zM90 120.986h330v30H90zM90 180.986h150v30H90zM90 240.986h105v30H90zM90 300.986h90v30H90z"/></svg>
                    <p>Сертифікат <br>учасника</p>
                </div>
                <div class="advantages__item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0C115 0 0 115.1 0 256c0 141 115.1 256 256 256 141 0 256-115.1 256-256C512 115 396.9 0 256 0zm0 482C131.4 482 30 380.6 30 256S131.4 30 256 30s226 101.4 226 226-101.4 226-226 226z" /><path d="M181 404l222-148-222-148v296zm30-240l138 92-138 92V164z"/></svg>
                    <p>Відеозапис семінару
                    </p>
                </div>

                <div class="advantages__item">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve"><style></style><path d="M144.6 19.1v104.2H0v270.6h64.3V493l109.2-99.1h194v-85.4l88.4 80.2v-99.1H512V19.1H144.6zm192.8 344.8H161.8l-67.6 61.3v-61.3H30V153.3h307.4v210.6zM482 259.6h-56.2V321l-58.4-53V123.3H174.6V49.1H482v210.5z" fill="#fff"/><path d="M63.2 211.5h241v30h-241v-30zM95.3 275.7H272v30H95.3v-30z"/></svg>
                    <p>Відповіді <br>на запитання</p>
                </div>
                <div class="advantages__item">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 569 569" xml:space="preserve"><style></style><path d="M66.2 66.3v492.9c0 5.2 4.2 9.5 9.5 9.5h360.2c5.2 0 9.5-4.2 9.5-9.5V161.1c0-.2-.1-.4-.1-.6 0-.8-.2-1.7-.5-2.4l-.3-.9c-.5-1-1.1-2-1.9-2.8l-94.8-94.8c-.8-.8-1.7-1.4-2.8-1.9l-.9-.3c-.8-.3-1.6-.4-2.5-.5-.2 0-.3-.1-.5-.1H75.7c-5.2.1-9.5 4.3-9.5 9.5zM413 151.7h-62.4V89.2l62.4 62.5zM85.2 75.8h246.4v85.3c0 5.2 4.2 9.5 9.5 9.5h85.3v379.1H85.2V75.8z"/><path  d="M464.3 492.9v19h28.4c5.2 0 9.5-4.2 9.5-9.5V9.5c0-5.2-4.2-9.5-9.5-9.5H132.6c-5.2 0-9.5 4.2-9.5 9.5v28.4h19V19h341.2v473.9h-19z"/><path  d="M142 189.6h227.5v19H142v-19zM142 132.7h75.8v19H142v-19zM142 246.4h151.7v19H142v-19zM312.7 246.4h56.9v19h-56.9v-19zM142 303.3h227.5v19H142v-19zM142 417.1h227.5v19H142v-19zM227.4 360.2h142.2v19H227.4v-19zM142 360.2h66.3v19H142v-19zM142 473.9h38v19h-38v-19zM198.9 473.9h170.6v19H198.9v-19z"/></svg>
                    <p>Презентації <br>лекторів</p>
                </div>
            </div>
            <div class="advantages__gift">


                <div class="gifts">
                    <p class="gifts__title">ПОДАРУНКИ</p>
                    <p class="gifts__name">Зарплатний облік в 1С ЗУП 8.3



                        <br>
                        <span>     (3 модулі (24 уроки) та відповіді на запитання)</span></p>
                    <p class="gifts__name"> Елегантний весняний шарф
                     </p>
                   {# <div class="gifts__button"><a data-toggle="collapse" data-target="#gifts2" aria-expanded="false" aria-controls="#gifts2" class="gifts__more-btn">Детальніше</a></div>#}
                   {# <div id="gifts2" class="gifts__more collapse">
                        <div class="gifts__more-body">
                            #}{#  <p class="gifts__modul">МОДУЛЬ 1. СТАНДАРТИ Й БУХГАЛТЕРСЬКИЙ ОБЛІК (16 УРОКІВ)</p>#}{#
                            <ul class="gifts__more-list">
                                <li class="gifts__more-list-item"><p>Первинні документи та облік доходів і витрат. Наймані працівники</li>
                                <li class="gifts__more-list-item"><p>Спрощена система: новації 2020-2021</p> </li>
                                <li class="gifts__more-list-item"><p>Сплата ФОПом «чужих» податків ― ПДВ, податку на прибуток, земельного податку</p></li>

                                <li class="gifts__more-list-item"><p>Типові порушення умов перебування на спрощеній системі</p></li>
                                <li class="gifts__more-list-item"><p>ФОП: загальна система, облік доходів і дозволених витрат

                                    </p></li>
                                <li class="gifts__more-list-item"><p>ЄСВ для ФОПів і самозайнятих осіб</p></li>
                                <li class="gifts__more-list-item"><p>Відповіді на запитання</p></li>
                            </ul>
                        </div>
                    </div>#}
                </div>
            </div>
            <p class="advantages__btn">
                <a href="#order" class="btn js-scroll-to">стати учасником ></a>
            </p>
        </div>
    </div>

    <div id="order" class="order">
        <div class="order__container">
        <div id="timer-custom" class="order__timer">
            <p class="order__title">пропозиція діє ще</p>
            <div class="pricing-timer" data-timer-2="{{ page.options['timer']|default('') }}">
                <div class="pricing-timer__inner">
                    <div class="pricing-timer__box"><span class="days">00</span>дні</div>
                    <div class="pricing-timer__box"><span class="separate">:</span></div>
                    <div class="pricing-timer__box"><span class="hours">00</span>год</div>
                    <div class="pricing-timer__box"><span class="separate">:</span></div>
                    <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
                    <div class="pricing-timer__box"><span class="separate">:</span></div>
                    <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
                </div>
            </div>
        </div>
        <div class="order__packages">
            <div class="order__package  package package--standart package--standart-zal">
                <div class="package__head  package__head--standart">
                    <p class="package__header  package__header--gold"><span>ЗАЛ</span> СТАНДАРТ</p>
                    <p class="package__price package__price-platform "></p>
                    <div class="package__price  package__price--gold">{{shop_price('зал-250321БКС_ст','site')}}  <br> <span>грн</span>
                    <p class="package__old-price">
                        <s>{{shop_price('зал-250321БКС_ст','line')}}грн</s>
                    </p>
                    </div>
                    <div class="package__btn">
                        <a class="btn js-btn-utm dk-hide"  href="https://7eminar.ua/checkout/s-25032021BKSzal/zalstandart" target="_blank" >оплатити <br>
                            <span>рахунок/картою</span></a>
                        <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                            <input type="hidden" name="product" value="зал-250321БКС_ст"/>
                            <button type="submit" rel="order" class="btn">оплатити <br>
                                <span>рахунок/картою</span></button>
                        </form>
                    </div>
                </div>
                <div class="package__body  package__body--gold">
                    <div class="package__platform"></div>
                    <ul class="package__list">
                        <li> квиток до залу</li>
                        <li>  відеозапис</li>
                        <li> відповіді на запитання</li>
                        <li>презентації лекторів </li>
                        <li>сертифікат учасника</li>
                        <li>ранкова кава</li>
                        <li>виступ гумористів <br>з «Мамахохотала» </li>
                        <li  class="is-inactive">бізнес-ланч</li>
                        <li  class="is-inactive">шампанське та десерт </li>
                        <li  class="is-inactive">місця з 1 по 8 ряд </li>
                    </ul>
                </div>
                <div class="package__footer  package__footer--gold">
                    <p class="package__presents"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31"> <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" ></path> </svg>подарунки: </p>
                    <ul class="package__list package__list--footer">
                        <li class="is-inactive">відеокурс «Зарплатний облік в 1С ЗУП 8.3»</li>
                        <li class="is-inactive">елегантний весняний шарф</li>
                    </ul>
                    <div class="package__btn--footer">
                        <a class="btn js-btn-utm dk-hide"  href="https://7eminar.ua/checkout/s-25032021BKSzal/zalstandart" target="_blank" >оплатити <br>
                            <span>рахунок/картою</span></a>
                        <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                            <input type="hidden" name="product" value="зал-250321БКС_ст"/>
                            <button type="submit" rel="order" class="btn">оплатити <br>
                                <span>рахунок/картою</span></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="order__package  package package--gold package--gold-zal">
                <div class="package__head  package__head--gold">
                    <p class="package__header  package__header--gold"><span>ЗАЛ</span> Gold</p>
                    <p class="package__price package__price-platform "></p>
                    <div class="package__price  package__price--gold">{{shop_price('зал-250321БКС_голд','site')}}  <br> <span>грн</span>
                    <p class="package__old-price">
                        <s>{{shop_price('зал-250321БКС_голд','line')}}грн</s>
                    </p>
                    </div>
                    <div class="package__btn">
                        <a class="btn js-btn-utm dk-hide"  href="https://7eminar.ua/checkout/s-25032021BKSzal/zalgold" target="_blank" >оплатити <br>
                            <span>рахунок/картою</span></a>
                        <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                            <input type="hidden" name="product" value="зал-250321БКС_голд"/>
                            <button type="submit" rel="order" class="btn">оплатити <br>
                                <span>рахунок/картою</span></button>
                        </form>
                    </div>
                </div>
                <div class="package__body  package__body--gold">
                    <div class="package__platform"></div>
                    <ul class="package__list">
                        <li> квиток до залу</li>
                        <li>  відеозапис</li>
                        <li> відповіді на запитання</li>
                        <li>презентації лекторів </li>
                        <li>сертифікат учасника</li>
                        <li>ранкова кава</li>
                        <li>виступ гумористів <br>з «Мамахохотала» </li>
                        <li  >бізнес-ланч</li>
                        <li  >шампанське та десерт </li>
                        <li  >місця з 1 по 8 ряд </li>
                    </ul>
                </div>
                <div class="package__footer  package__footer--gold">
                    <p class="package__presents"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31"> <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" ></path> </svg>подарунки: </p>
                    <ul class="package__list package__list--footer">
                        <li >відеокурс<a href="https://7eminar.com/automatization2020#course_18" target="_blank"> «Зарплатний облік в 1С ЗУП 8.3»</a></li>
                        <li ><a href="" id="go">елегантний весняний шарф</a></li>

                    </ul>
                    <div class="package__btn--footer">
                        <a class="btn js-btn-utm dk-hide"  href="https://7eminar.ua/checkout/s-25032021BKSzal/zalgold" target="_blank" >оплатити <br>
                            <span>рахунок/картою</span></a>
                        <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                            <input type="hidden" name="product" value="зал-250321БКС_голд"/>
                            <button type="submit" rel="order" class="btn">оплатити <br>
                                <span>рахунок/картою</span></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="order__package  package package--gold package--gold-online">
                <div class="package__head  package__head--gold">
                    <p class="package__header  package__header--gold"><span>online</span> Gold</p>
                    <p class="package__price package__price-platform "></p>
                    <div class="package__price  package__price--gold">{{shop_price('онлайн-250321БКС_голд','site')}}  <br> <span>грн</span>
                        <p class="package__old-price">
                            <s>{{shop_price('онлайн-250321БКС_голд','line')}}грн</s>
                        </p>
                    </div>
                    <div class="package__btn">
                        <a class="btn js-btn-utm dk-hide"  href="https://7eminar.ua/checkout/s-250321BKS/Gold" target="_blank" >оплатити <br>
                            <span>рахунок/картою</span></a>
                        <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                            <input type="hidden" name="product" value="онлайн-250321БКС_голд"/>
                            <button type="submit" rel="order" class="btn">оплатити <br>
                                <span>рахунок/картою</span></button>
                        </form>
                    </div>
                </div>

                <div class="package__body  package__body--gold">
                    <div class="package__platform"></div>
                    <ul class="package__list">
                        <li>online-трансляція</li>
                        <li>  відеозапис</li>
                        <li> відповіді на запитання</li>
                        <li>презентації лекторів </li>
                        <li>сертифікат учасника</li>

                    </ul>
                </div>
                <div class="package__footer  package__footer--gold">
                    <p class="package__presents"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31"> <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" ></path> </svg>ПОДАРУНКИ: </p>
                    <ul class="package__list package__list--footer">
                        <li >відеокурс  <a href="https://7eminar.com/automatization2020#course_18" target="_blank">«Зарплатний облік в 1С ЗУП 8.3»</a></li>
                        <li class="is-inactive">елегантний весняний шарф</li>
                    </ul>
                    <div class="package__btn--footer">
                        <a class="btn js-btn-utm dk-hide"  href="https://7eminar.ua/checkout/s-250321BKS/Gold" target="_blank" >оплатити <br>
                            <span>рахунок/картою</span></a>
                        <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                            <input type="hidden" name="product" value="онлайн-250321БКС_голд"/>
                            <button type="submit" rel="order" class="btn">оплатити <br>
                                <span>рахунок/картою</span></button>
                        </form>
                    </div>
                </div>
            </div>



            <div class="order__package  package package--standart package--standart-online">
                    <div class="package__head  package__head--standart">
                        <p class="package__header  package__header--gold"> <span>online</span>СТАНДАРТ</p>
                        <p class="package__price package__price-platform "></p>
                        <div     class="package__price  package__price--gold">{{shop_price('онлайн-250321БКС_ст','site')}}  <br> <span>грн</span>
                            <p class="package__old-price">
                                <s>{{shop_price('онлайн-250321БКС_ст','line')}}грн</s>
                            </p>
                        </div>
                        <div class="package__btn">
                            <a class="btn js-btn-utm dk-hide"  href="https://7eminar.ua/checkout/s-250321BKS/standart" target="_blank" >оплатити <br>
                                <span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-250321БКС_ст"/>
                                <button type="submit" rel="order" class="btn">оплатити <br>
                                    <span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                    <div class="package__body  package__body--gold">
                        <div class="package__platform"></div>
                        <ul class="package__list">
                            <li>online-трансляція</li>
                            <li>  відеозапис</li>
                            <li> відповіді на запитання</li>
                            <li>презентації лекторів </li>
                            <li>сертифікат учасника</li>
                        </ul>
                    </div>
                    <div class="package__footer  package__footer--gold">
                         <p class="package__presents"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31"> <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" ></path> </svg>ПОДАРУНКИ: </p>
                    <ul class="package__list package__list--footer">

                            <li class="is-inactive">відеокурс «Зарплатний облік в 1С ЗУП 8.3»</li>
                            <li class="is-inactive">елегантний весняний шарф</li>
                    </ul>
                        <div class="package__btn--footer">
                            <a class="btn js-btn-utm dk-hide"  href="https://7eminar.ua/checkout/s-250321BKS/standart" target="_blank" >оплатити <br>
                                <span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-250321БКС_ст"/>
                                <button type="submit" rel="order" class="btn">оплатити <br>
                                    <span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                </div>
        <div class="order__platform">
            <div class="platform">
                <div class="platform__item">
                    <p class="platform__title">БУхгалтерська відеоплатформа №1</p>
                    <div class="platform__block">
                        <div class="platform__video">
                            <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                        <div class="platform__text">
                            <p > <b>Хочете зекономити свої кошти</b> та отримати доступ до цього проекту та ще {{ shop_price('онлайн-platform_price','courses') }}+ відеокурсів, вебінарів і трансляцій на усі найважливіші бухгалтерські теми?</p>
                            <a сlass="js-banner-link" href="{{ link_platform_video }}" target="_blank">Передплатіть Бухгалтерську Відеоплатформу №1</a>
                        </div>


                    </div>

                </div>
                <div class="platform__item">
                    <p class="platform__price">
                        {{ shop_price('онлайн-platform_price','month') }}
                        <span>грн/міс.</span>
                    </p>
                    <p class="platform__old-price">
                        <s> {{ shop_price('онлайн-platform_price','line') }} грн/міс.</s>
                    </p>
                    <div class="platform__btn">
                        <a class="btn js-banner-link" href="{{ link_platform }}" target="_blank">
                            оплатити <br>
                            <span>рахунок/картою</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

    <div id="reviews" class="reviews">
        <div class="reviews__container">
            <p class="reviews__title">Відгуки про навчання від ваших колег</p>
            <div class="reviews__content reviews-slider">
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img3.png" alt="отзывы"/>
                    </picture>
                    <p>  Дивлюся ваші семінари вже понад рік. Раніше купляла окремо кожен запис, а зараз оформила передплату і ще жодного разу не пошкодувала. Передивилася всі випуски і чекаю ще!</p>
                    <b>Наталія, ФОП</b>

                </div>
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img2.png" alt="отзывы"/>
                    </picture>
                    <p>Дізналась про ваш відеосервіс від колег на новій роботі. Вони порадили передивитися всі-всі відео, щоб уникати помилок. Спершу я досить скептично сприйняла їх слова, але саме завдяки влучній пораді з вашого online-семінару уникнула штрафу. Це неймовірно! Дякую, ви найкращі!</p>
                    <b>Євгенія, бухгалтер</b>
                </div>
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img4.png" alt="отзывы"/>
                    </picture>
                    <p> Щодня перевіряю податкову та фінансову документацію підприємств, тож давно шукав, де можна швидко дізнаватися про всі нюанси змін законодавства. Знайшов! Дивлюся семінари та корисні відеокурси сам і раджу колегам! Ще й помилок в роботі стало значно менше.</p>
                    <b> Ольга, головний бухгалтер</b>
                </div>
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img1.png" alt="отзывы"/>
                    </picture>
                    <p>  Щоб стати майстром своєї справи слід постійно розвиватися. Я щотижня переглядаю нові відеоматеріали на платформі, тому завжди в курсі всіх останніх змін. Актуальна інформація тут завжди подається коротко, чітко та по суті ― це дуже зручно.</p>
                    <b> Олена, аудитор</b>
                </div>
            </div>
        </div>
    </div>



        <div class="projects">
            <div class="projects__container">
                <h2 class="projects__title">Вас також можуть зацікавити відеопроєкти</h2>
        <ul class="projects__list">
            <li>
                <a href="https://7eminar.com/fop_2021?utm_source=7eminarcom&utm_campaign=fop2021_27012021&utm_medium=referral&utm_content=vks_25032021 " target="_blank">
                    <picture>
                        <img src="{{ link }}/project.jpg" alt="project"/>
                    </picture>
                </a> <a href="https://7eminar.com/fop_2021?utm_source=7eminarcom&utm_campaign=fop2021_27012021&utm_medium=referral&utm_content=vks_25032021 " target="_blank" class="projects__btn">дізнатися більше &gt;</a></li>
            <li>
                <a href="https://7eminar.ua/marathon2020_2021?utm_source=7eminarcom&utm_campaign=marathon2020_2021&utm_medium=referral&utm_content=vks_25032021  " target="_blank">
                    <picture>
                        <img src="{{ link }}/project2.jpg" alt="project3"/></picture>
                </a> <a href="https://7eminar.ua/marathon2020_2021?utm_source=7eminarcom&utm_campaign=marathon2020_2021&utm_medium=referral&utm_content=vks_25032021  " target="_blank" class="projects__btn">дізнатися більше &gt;</a></li>
            <li>
                <a href="https://7eminar.com/pdv_2021?utm_source=7eminarcom&utm_campaign=pdv_04032021&utm_medium=referral&utm_content=vks_25032021  " target="_blank">
                    <picture>
                        <img src="{{ link }}/project3.jpg" alt="project3"/>
                    </picture>
                </a> <a href="https://7eminar.com/pdv_2021?utm_source=7eminarcom&utm_campaign=pdv_04032021&utm_medium=referral&utm_content=vks_25032021  " target="_blank" class="projects__btn">дізнатися більше &gt;</a></li>
        </ul>
    </div>
</div>

    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
                <li><a href="https://www.otpbank.com.ua/smb/products-financing/" target="_blank" rel="nofollow"><img src="{{ link }}/logo_otp.svg"  width="170" alt="otpbank" /></a></li>
                <li><a class="logonoclik" href="https://7eminar.com/" target="_blank"><img class="img_partners1" style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" /></a></li>
                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="https://7eminar.com/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит" /></a></li>
                <li><a  href="http://unisystem.ua/?utm_source=google&utm_medium=7eminar.com&utm_campaign=cpc&utm_term=webinar" target="_blank" rel="nofollow"><img src="https://7eminar.com/files/0_2021/logo/unisystem_logo.jpg"  width="170" alt="unisystem" /></a></li>
            </ul>
          {#  <ul class="partners__list">

                <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком" /></a></li>
                <li><a class="logonoclik" href="https://kraft.net.ua" target="_blank"><img class="img_partners1" style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" /></a></li>
            </ul>#}
        </div>
    </div>

   {# <div id="map" class="map">
        <a href="https://goo.gl/maps/xB3Dj658ott1qo969" target="_blank">
            <div class="map__container">
                <div class="map__item">
                    <p>м. Київ, конгрес-хол «Mercure»</p>
                    <p><span>вул. Вадима Гетьмана, 6</span></p>
                </div>
            </div>

        </a>
    </div>#}

    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>

    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>

<div id="modal_form"><span id="modal_close">X</span></div>
<div id="overlay"></div>
