{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div>
        <div class="heading mw">
            <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
                <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
            </div>
            <div class="menu-mob">
                <input id="menu-checkbox" type="checkbox"/><span class="burger__bg burger__bg-js"></span><span class="burger__element"></span>
                <ul class="menu">
                    <li><a href="#travel" class="burger__link">ПРОГРАМА ТУРУ</a></li>
                    <li><a href="#place" class="burger__link">ФОТО</a></li>
                    <li><a href="#order" class="burger__link">ВАРТІСТЬ</a></li>
                    <li><a href="#order" class="burger__link">ЗАМОВИТИ</a></li>
                </ul>
            </div>
        </div>
        <div class="hero">
            <div class="hero__container">
                <div class="hero__menu">
                    <div class="menu">
                        <div class="menu__container">
                            <ul class="menu__list">
                                <li><a href="#place">Фото</a></li>
                                <li><a href="#travel">Програма туру</a></li>
                                <li><a href="#order">Придбати квитки</a></li>
                            </ul>
                            <ul class="menu__list">
                                <li><a href="/">Iнші семінари</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hero__top-container dk-show-flex">
                    <a class="hero__logo-dk" href="https://dtkt.ua/about" target="_blank">
                        <img src="{{ link }}/logo-dk.png" width="200" height="52" alt="«Дебет-Кредит» | Бухгалтерський сервіс №1 в Україні">
                    </a>
                    <a class="hero__logo-seminar" href="https://7eminar.com/" target="_blank">
                        <img src="{{ link }}/7minar_logo_color.png" width="186" height="42" alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
                    </a>
                </div>
                <div class="hero__content">
                    <div class="hero__block">
                        <p class="hero__date"> 6–10 серпня 2020 року</p>
                        <p class="hero__title">Одеса </p>
                        <p class="hero__sub-title"> столиця всіх морів</p>
                        <div class="hero__btn"><a href="#order" class="btn"> ХОЧУ НА МОРЬКО</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="place" class="place">
            <div class="place__container">
                <div class="caption">Що на вас чекає <br> під час туру </div>
                <div class="place__block">
                    <div class="place__item">
                        <picture>
                            <img src="{{ link }}/place1-min.jpg" alt="place1"/>
                            <source srcset="{{ link }}/place1.webp" type="image/webp"/>
                        </picture>
                        <div class="place__text">
                            <span>Відпочинок у найкрутіший </span><br>
                             <span>   період літа</span>
                        </div>
                    </div>
                    <div class="place__item">
                        <picture><img src="{{ link }}/place2-min.jpg" alt="place2"/>
                            <source srcset="{{ link }}/place2.webp" type="image/webp"/>
                        </picture>
                        <div class="place__text">
                            <span>Перезавантаження </span><br>
                              <span>  в найпозитивнішому місті </span>
                        </div>
                    </div>
                    <div class="place__item">
                        <picture><img src="{{ link }}/place3-min.jpg" alt="place3"/>
                            <source srcset="{{ link }}/place3.webp" type="image/webp"/>
                        </picture>
                        <div class="place__text">
                            <span>5 днів найбажанішого </span> <br>
                               <span> релаксу на березі</span> <br>
                               <span>Чорного моря</span>
                        </div>
                    </div>
                </div>
                <div class="place__btn"><a href="#tour" class="btn">Подробиці</a></div>
            </div>
        </div>

        <div id="travel" class="travel">
            <div class="travel__container">
                <div class="caption">Досить карантинити, <br>час відпочивати!
                </div>
                <div class="travel__block">
                    <div class="travel__item ">
                        <p class="travel__title">Проживання <br>в центрі Одеси</p>
                        <p class="travel__text">Готель «Чорне море» з <br> комфортабельними номерами, <br>
                            шикарним басейном <br>та ландшафтним парком</p>
                    </div>
                    <div class="travel__item ">
                        <p class="travel__title">Всі свої на Ланжероні   <br> та Дерибасівській</p>
                        <p class="travel__text">Відпочинок разом <br>з однодумцями-колегами <br>та вечірні «розваги»</p>
                    </div>

                    <div class="travel__item ">
                        <p class="travel__title">Колорит і шарм <br>Перлини біля моря</p>
                        <p class="travel__text">Прогулянки старими двориками, <br> відвідування «Привозу»,<br> екскурсійно-анімаційна програма
                            <br> «Гумористична Одеса»</p>
                    </div>

                    <div class="travel__item ">
                        <p class="travel__title">Сезон пляжного <br> відпочинку в розпалі</p>
                        <p class="travel__text">Тепле море, льодяні напої, <br>
                            прогрітий пісок та <br>
                            драйвова компанія</p>
                    </div>

                </div>
                <div class="travel__btn"><a href=" https://7eminar.com/files/presentation_odesa06082020.pdf" target="_blank" class="btn">ДЕТАЛІ ТУРУ</a></div>
            </div>
        </div>

        <div id="tour" class="tour">
            <div class="tour__container">
                <div class="caption">У ВАРТІСТЬ ТУРУ <br>
                    ВХОДИТЬ
                </div>
                <div class="tour__content">
                    <div class="tour__item">
                            <div class="tour__text">
                                <span class="tour__text-wr">
                                      <span>Проживання в готелі</span> <br>
                                    <span>«Чорне море» –</span> <br class="show-mob"> <span class="tour__text-padding">4 ночі / 5 днів</span>
                                </span>

                            </div>
                    </div>
                    <div class="tour__item">
                        <div class="tour__text">
                            <span class="tour__text-wr">
                                  <span>Сніданки у готелі</span> <br class="show-mob"><span class="tour__text-padding"> в форматі</span>  <br>
                            <span>«шведської лінії»</span>
                            </span>

                        </div>
                    </div>

                    <div class="tour__item">
                        <div class="tour__text">
                            <span>Вечір знайомств </span>   <br class="show-mob"> <span class="tour__text-padding">із келихом вина</span>

                        </div>
                    </div>
                    <div class="tour__item">
                        <div class="tour__text">
                            <span> Екскурсійно-анімаційна </span> <br class="show-mob"><span class="tour__text-padding">програма </span>  <br>
                            <span>«Гумористична Одеса» </span>
                        </div>
                    </div>

                    <div class="tour__item">
                        <div class="tour__text">
                            <span>Супровід представника</span> <br>
                            <span>компанії 7eminar.com</span>
                        </div>
                    </div>

                    <div class="tour__item">
                        <div class="tour__text">
                            <span>  Безмежна турбота </span><br class="show-mob"><span class="tour__text-padding"> під час подорожі</span> <br>
                            <span>  від івент-директора </span> <span class="tour__text-padding">компанії –</span> <br>
                            <span>    Марини Нікуліної</span>

                        </div>
                        <p>  Пізнавайте світ з 7eminar.com!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sorry2 wide">
            <div class="sorry-wr">
                <p>Усі квитки продані. </p>
                <p> Слідкуйте за анонсами наступних подій на сторінці <a href="/">7eminar.com</a></p>
                <a class="btn" href="/">Детальніше</a>
            </div>
        </div>

       {# <div id="order" class="order">
            <div class="order__container">
                <div id="timer-custom" class="order__timer">
                    <div class="caption"> {{ page.options['order__title']|default('') }}
                    </div>
                </div>
                <div class="order__packages">
                    <div class="order__package  package package--club">
                        <div class="package__body  package__body--club">
                            <p class="package__format">ЦІНА</p>
                            <p class="package__old-price">
                                <s> {{shop_price('тур-06082020_Одеса_3','line')}}</s>
                            </p>
                            <p class="package__price  package__price--club"> {{shop_price('тур-06082020_Одеса_3','site')}}<span>грн</span>
                            </p>
                            <p class="package__presents">Подарунок</p>
                            <ul class="package__list package__list--footer">
                                <div class="present">
                                    <p>Доступ до <a href="https://7eminar.ua/" target="_blank" class="js-banner-link">Бухгалтерської Відеоплатформи №1</a><br/>протягом трьох місяців
                                    </p>
                                </div>
                            </ul>
                            <div class="package__btn">
                                <form method="post" action="?new=1" data-validate="ajax">
                                    <input type="hidden" name="product" value="тур-06082020_Одеса_3"/>
                                    <button type="submit" rel="order" class="btn">замовити</button>
                                </form>
                            </div>
                        </div>
                    </div>
                 #}{#   <div class="order__package  package package--no-club">
                        <div class="package__body  package__body--no-club">
                            <p class="package__format">ВАРТІСТЬ ТУРУ ДЛЯ УЧАСНИКІВ <br> 7EMINAR.CLUB </p>
                            <p class="package__old-price">
                                <s>{{shop_price('тур-06082020_Одеса_1','line')}}</s>
                            </p>
                            <p class="package__price  package__price--no-club">{{shop_price('тур-06082020_Одеса_1','site')}}<span>грн</span>
                            </p>
                            <p class="package__presents">Подарунок</p>
                            <ul class="package__list package__list--footer">
                                <div class="present">
                                    <p>Доступ до <a href="https://7eminar.ua/" target="_blank" class="js-banner-link">Бухгалтерської Відеоплатформи №1</a><br/>протягом трьох місяців
                                    </p>
                                </div>
                            </ul>
                            <div class="package__btn">
                                <form method="post" action="?new=1" data-validate="ajax">
                                    <input type="hidden" name="product" value="тур-06082020_Одеса_1"/>
                                    <button type="submit" rel="order" class="btn">замовити</button>
                                </form>
                            </div>
                        </div>
                    </div>#}{#
                </div>
            </div>
        </div>#}

        <div class="info">
            <div class="info__container">
                <div class="info__frame">
                    <div class="info__title">Важлива інформація</div>
                    <ul>
                        <li> Сплачувати виїзні заходи можна частинами. 100% оплати
                            повинні надійти не пізніше ніж за 7 днів до початку туру.</li>
                        <li>
                            У разі відмови від туру: за 14 днів – утримується 60% оплати,
                            менш ніж за 13 днів – утримується 100% оплати.</li>
                    </ul>
                </div>
            </div>
        </div>

        {#<div id="video" class="video">
            <div id="bar-1" class="video__content">
                <div class="slider">
                    <div class="slide">
                        <div class="caption"><span>Відкривайте світ</span><br/>  з нами
                        </div>
                        <div class="video__player"><a href="https://youtu.be/YaAwSaMYDyU" class="video__link">
                                <picture><img src="https://i.ytimg.com/vi/YaAwSaMYDyU/maxresdefault.jpg" alt="Тетяна Мойсеєнко" class="video__media"/></picture></a>
                            <button aria-label="play" class="video__button">
                                <svg>
                                    <path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="video__button-shape"></path>
                                    <path d="M 45,24 27,14 27,34" class="video__button-icon"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
       {# <div class="video__btn"><a href="#order" target="_blank" class="btn">Замовити</a></div>#}
        <div class="partners">
            <div class="container partners__container">
                <ul class="partners__list">
                 {#   <li><a href="https://7eminar.com/" target="_blank"><img src="/modules/seminars/images/logos/kbs.png" width="145" height="38" alt="Київська Бухгалтерська Служба"/></a></li>#}
                    <li><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></li>
                    <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></li>
                </ul>
              {#  <ul class="partners__list">
                    <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></li>
                    <li><a href="https://kraft.net.ua" target="_blank" class="logonoclik"><img style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" class="img_partners1"/></a></li>
                </ul>#}
            </div>
        </div>
        <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
            <div role="document" class="modal-dialog">
                <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
                <div class="modal-content">
                    <div class="player"></div>
                </div>
            </div>
        </div>
        <div id="loader-page" class="loader-page">
            <div class="dots">
                <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
            </div>
        </div>
    </div>
</div>