{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
  <div class="top-line">
    <div class="container">
      <div class="top-line__logo logo">
        <a href="#">
          <img src="{{ page.url('/images/logo.svg') }}" width="186" height="42"
               alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
        </a>
      </div>
      <div id="burger-page" class="top-line__burger burger-page"><span></span></div>
      <div class="menu">
        <div class="menu__container">
          <ul class="menu__list">
            <li><a href="#tour">Фото</a></li>
            <li><a href="#details">Програма туру</a></li>
            <li><a href="#order">Придбати квитки</a></li>
          </ul>
          <ul class="menu__list">
            <li><a href="/">Iнші семінари</a></li>
          </ul>
          <a href="#order" class="menu__btn btn js-scroll-to">ПРИДБАТИ</a>
        </div>
      </div>
    </div>
  </div>
  <section class="hero">
    <div class="container">
      <div class="hero_main">
        <nav class="hero__nav">
          <ul class="hero__menu-list">
            <li class="hero__menu-list-item">
              <a href="#tour">Фото</a></li>
            <li><a href="#details">Програма туру</a></li>
            <li><a href="#info">Придбати квитки</a></li>
            <li><a href="/">Інші семінари</a></li>
          </ul>
        </nav>
        <div class="hero__pretitle">Зустрінемо католицьке Різдво в Карпатах</div>
        <h2 class="hero__title">Зимові забави <br /><span>в Буковелі</span></h2>
        <div class="hero_bukovel-logo"></div>
        <div class="hero__dates">23-26 грудня 2020 року</div>
        <div class="bukovel__btn"><a href="#order">Дізнатися деталі</a></div>
        <div class="hero__girl"></div>
      </div>
    </div>
  </section>

  <section class="tour" id="tour">
    <div class="container">
      <h3 class="page-titles"><span>Що на вас чекає під час туру</span></h3>
      <div class="tour__list">
        <div class="tour__item">
          <div class="tour__item-img">
            <picture>

              <img src="{{ link }}/1.png" alt="place1"/>
            </picture>
          </div>
          <div class="tour__item-info">
            <div class="arrow">
              <div class="arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z                    "></path>
                  </g>
                </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
              </svg>
              </div>
            </div>
            <div class="tour__item-text">Неймовірна краса зимових Карпат</div>
          </div>
        </div>
        <div class="tour__item">
          <div class="tour__item-img">
            <picture>
              <img src="{{ link }}/3.png" alt="place1"/>
            </picture>
          </div>
          <div class="tour__item-info">
            <div class="arrow">
              <div class="arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z                    "></path>
                  </g>
                </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
              </svg>
              </div>
            </div>
            <div class="tour__item-text">Гуцульські забави та пригощання</div>
          </div>
        </div>
        <div class="tour__item">
          <div class="tour__item-img">
            <picture>
              <img src="{{ link }}/villa.jpg" alt="place1"/>
            </picture>
          </div>
          <div class="tour__item-info">
            <div class="arrow">
              <div class="arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z                    "></path>
                  </g>
                </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
              </svg>
              </div>
            </div>
            <div class="tour__item-text">Проживання в центрі курорту Буковель</div>
          </div>
        </div>
        <div class="tour__item">
          <div class="tour__item-img">
            <picture>
              <img src="{{ link }}/4.png" alt="place1"/>
            </picture>
          </div>
          <div class="tour__item-info">
            <div class="arrow">
              <div class="arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z                    "></path>
                  </g>
                </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
              </svg>
              </div>
            </div>
            <div class="tour__item-text">Релакс у басейні та саунах</div>
          </div>
        </div>
      </div>
      <div class="bukovel__btn">
        <a href="#info">детальніше</a>
      </div>
    </div>
  </section>

  <section class="details" id="details">
    <div class="container">
      <h3 class="page-titles"><span>Святкова зимова подорож</span></h3>
      <div class="details__list">
        <div class="details__item item-bg-1">
          <div class="details__item-text">
            <div class="arrow">
              <div class="arrow-right">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z                    "></path>
                  </g>
                </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
              </svg>
              </div>
            </div>
            <h4>Мрії здійснюються – ми <br /> їдемо в Буковель</h4>
            <p>
              Буковель – це час пригод та вражень, це незабутні спогади та неймовірна краса засніжених гір. Тут є все
              для любителів екстремальних відчуттів і для тих, хто просто бажає розслабитись та поніжитись в SPA.
            </p>
          </div>
          <div class="details__item-images">
            <div class="details__image-l hide-mob">
              <picture>
            <source srcset="{{ link }}/dream_1_1.webp" type="image/webp"/>
                <img src="{{ link }}/dream_1_1-min.png" alt="place1"/>
              </picture>
            </div>
            <div class="details__images-s">
              <div class="details__image-s show-mob">
                <picture>
                  <source srcset="{{ link }}/dream_2_1.webp" type="image/webp"/>
                  <img src="{{ link }}/dream_2_1-min.png" alt="place1"/>
                </picture>
              </div>
              <div class="details__image-s hide-mob">
                <picture>
                  <source srcset="{{ link }}/dream_3_1.webp" type="image/webp"/>
                  <img src="{{ link }}/dream_3_1-min.png" alt="place1"/>
                </picture>
              </div>
            </div>
          </div>
        </div>
        <div class="details__item item-bg-2">
          <div class="details__item-images-long">
            <div class="details__image-long ">
              <picture class="hide-mob">
                <source srcset="{{ link }}/excursion_1.webp" type="image/webp"/>
                <img src="{{ link }}/excursion_1-min.png" alt="place1"/>
              </picture>
            </div>
            <div class="details__images-short">
              <div>
                <picture class="show-mob">
                  <source srcset="{{ link }}/excursion_2.webp" type="image/webp"/>
                  <img src="{{ link }}/excursion_2-min.png" alt="place1"/>
                </picture>
              </div>
              <div>
                <picture class="hide-mob">
                  <source srcset="{{ link }}/excursion_3.webp" type="image/webp"/>
                  <img src="{{ link }}/excursion_3-min.png" alt="place1"/>
                </picture>
              </div>
            </div>
          </div>
          <div class="details__item-text">
            <div class="arrow">
              <div class="arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z                    "></path>
                  </g>
                </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
              </svg>
              </div>
            </div>
            <h4>Екскурсійна програма <br /> та гуцульські традиції</h4>
            <p>
              На вас чекає насичена екскурсійна програма
              та фантастичний підйом на витязі до гірських
              вершин. Ми познайомимось з гуцульським
              побутом, поїдемо до зимового водоспаду
              та прогуляємось містом Яремче.
            </p>
          </div>
        </div>
        <div class="details__item item-bg-1">
          <div class="details__item-text">
            <div class="arrow">
              <div class="arrow-right">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z                    "></path>
                  </g>
                </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
              </svg>
              </div>
            </div>
            <h4>Смачні пригощання та <br /> запальні вечірки</h4>
            <p>
              Старовинні колиби та сучасні ресторації вже погоджують меню для атмосферних вечірок. Національна кухня вражає своєю смакотою, а веселі музики вже готують програму, щоб підняти всім настрій.
            </p>
          </div>
          <div class="details__item-images">
            <div class="details__images-s">
              <div class="details__image-s hide-mob">
                <picture>
                  <source srcset="{{ link }}/event1.webp" type="image/webp"/>
                  <img src="{{ link }}/event1-min.png" alt="place1"/>
                </picture>
              </div>
              <div class="details__image-s show-mob">
                <picture>
                  <source srcset="{{ link }}/event2.webp" type="image/webp"/>
                  <img src="{{ link }}/event2-min.png" alt="place1"/>
                </picture>
              </div>
            </div>
            <div class="details__image-l hide-mob">
              <picture>
                <source srcset="{{ link }}/event3.webp" type="image/webp"/>
                <img src="{{ link }}/event3-min.png" alt="place1"/>
              </picture>
            </div>
          </div>
        </div>
        <div class="details__item item-bg-2">
          <div class="details__item-images">
            <div class="details__image-l hide-mob">
              <picture>
                <source srcset="{{ link }}/spa1.webp" type="image/webp"/>
                <img src="{{ link }}/spa1-min.png" alt="place1"/>

              </picture>
            </div>
            <div class="details__images-s">
              <div class="details__image-s hide-mob">
                <picture>
                  <source srcset="{{ link }}/spa2.webp" type="image/webp"/>
                  <img src="{{ link }}/spa2-min.png" alt="place1"/>
                </picture>
              </div>
              <div class="details__image-s show-mob">
                <picture>
                  <source srcset="{{ link }}/spa3.webp" type="image/webp"/>
                  <img src="{{ link }}/spa3-min.png" alt="place1"/>
                </picture>
              </div>
            </div>
          </div>
          <div class="details__item-text">
            <div class="arrow">
              <div class="arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z                    "></path>
                  </g>
                </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
              </svg>
              </div>
            </div>
            <h4>SPA-послуги та драйвові <br /> зимові атракції</h4>
            <p>
              В програмі туру відпочинок в СПА: сауни
              та басейн в готелі, неймовірні краєвиди –
              що ще потрібно для щастя? А для любителів
              гострих відчуттів – спуск на рейкових санях
              родельбана «Speed Fun»
            </p>
          </div>
        </div>

        <div class="bukovel__btn">
          <a href="https://7eminar.com/files/bukovel2020_presentation.pdf" target="_blank">ВСІ ДЕТАЛІ ПОДОРОЖІ</a>
        </div>
      </div>
    </div>
  </section>

  <section class="info" id="info">
    <div class="container">
      <h3 class="page-titles"><span>У вартість туру входить</span></h3>
      <ul class="info__list">
        <li>
          <div class="info__item-img">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -15 512.001 512" width="65px" height="61px">
              <path d="m 496.449 90.3398 h -9.45703 c -0.269532 -14.9609 -12.5156 -27.0508 -27.5391 -27.0508 h -22.8867 v -35.7344 c 0 -15.1914 -12.3633 -27.5547 -27.5547 -27.5547 h -306.023 c -15.1953 0 -27.5547 12.3633 -27.5547 27.5547 v 35.7344 h -22.8867 c -15.0234 0 -27.2695 12.0898 -27.5391 27.0508 h -9.45703 c -8.57422 0 -15.5508 6.97656 -15.5508 15.5508 v 80.1094 c 0 8.57422 6.97656 15.5508 15.5508 15.5508 h 33.918 c 8.57422 0 15.5508 -6.97656 15.5508 -15.5508 v -80.1094 c 0 -8.57422 -6.97656 -15.5508 -15.5508 -15.5508 h -9.41797 c 0.265625 -6.67188 5.76172 -12.0234 12.4961 -12.0234 h 22.8867 v 278.793 c 0 4.15234 3.36328 7.51563 7.51563 7.51563 c 4.14844 0 7.51563 -3.36328 7.51563 -7.51563 v -61.9727 c 3.75781 1.92969 8.01563 3.02344 12.5234 3.02344 h 306.023 c 4.50781 0 8.76563 -1.09375 12.5234 -3.02344 v 121.324 c 0 6.90625 -5.61719 12.5234 -12.5234 12.5234 h -306.023 c -6.90625 0 -12.5234 -5.61719 -12.5234 -12.5234 v -24.6172 c 0 -4.14844 -3.36719 -7.51563 -7.51563 -7.51563 c -4.15234 0 -7.51563 3.36719 -7.51563 7.51563 v 24.6172 c 0 15.1914 12.3594 27.5508 27.5547 27.5508 h 7.81641 v 17.4688 c 0 11.6016 9.4375 21.043 21.043 21.043 h 33.7813 c 11.6016 0 21.0391 -9.44141 21.0391 -21.043 v -17.4688 h 138.664 v 17.4688 c 0 11.6016 9.4375 21.043 21.0391 21.043 h 33.7813 c 11.6055 0 21.043 -9.44141 21.043 -21.043 v -17.4688 h 7.81641 c 15.1953 0 27.5547 -12.3594 27.5547 -27.5508 v -338.145 h 22.8867 c 6.73438 0 12.2305 5.35156 12.5 12.0234 h -9.41797 c -8.57422 0 -15.5547 6.97656 -15.5547 15.5508 v 80.1094 c 0 8.57422 6.98047 15.5508 15.5547 15.5508 h 33.9141 c 8.57422 0 15.5508 -6.97656 15.5508 -15.5508 v -80.1094 c 0 -8.57422 -6.97656 -15.5508 -15.5508 -15.5508 Z m -446.98 15.0273 c 0.289062 0 0.519531 0.234374 0.519531 0.523437 v 80.1094 c 0 0.289062 -0.234375 0.523438 -0.519531 0.523438 h -33.918 c -0.289062 0 -0.523437 -0.234376 -0.523437 -0.523438 v -80.1094 c 0 -0.289063 0.234375 -0.523437 0.523437 -0.523437 Z m 122.172 356.113 c 0 3.3125 -2.69922 6.01172 -6.01172 6.01172 h -33.7813 c -3.31641 0 -6.01172 -2.69922 -6.01172 -6.01172 v -17.4688 h 45.8008 v 17.4688 Z m 214.523 0 c 0 3.3125 -2.69531 6.01172 -6.01172 6.01172 h -33.7813 c -3.3125 0 -6.01172 -2.69922 -6.01172 -6.01172 v -17.4688 h 45.8047 Z m 35.3711 -371.727 h -303.473 c -4.14844 0 -7.51172 3.36328 -7.51172 7.51563 c 0 4.14844 3.36328 7.51563 7.51172 7.51563 h 303.477 v 142.352 h -49.6445 c -4.15234 0 -7.51563 3.36328 -7.51563 7.51563 s 3.36328 7.51563 7.51563 7.51563 h 49.6445 v 8.44141 c 0 6.90234 -5.61719 12.5234 -12.5234 12.5234 h -306.027 c -6.90625 0 -12.5234 -5.62109 -12.5234 -12.5234 v -8.44141 h 246.359 c 4.15234 0 7.51563 -3.36328 7.51563 -7.51563 s -3.36328 -7.51563 -7.51563 -7.51563 h -73.9102 l 70.8984 -59.2656 c 3.17578 -2.65625 3.59766 -7.38672 0.941406 -10.5664 c -2.65625 -3.17578 -7.38672 -3.60156 -10.5625 -0.941407 l -84.6641 70.7734 h -32.2695 l 70.8945 -59.2656 c 3.17969 -2.65625 3.60156 -7.38672 0.945312 -10.5625 c -2.65625 -3.17969 -7.38672 -3.60547 -10.5664 -0.945313 l -84.6602 70.7773 h -93.4063 v -181.434 h 331.07 Z m 0 -39.0781 h -331.07 v -23.1211 c 0 -6.90625 5.61719 -12.5234 12.5234 -12.5234 h 306.023 c 6.90625 0 12.5234 5.61719 12.5234 12.5234 Z m 75.4375 135.324 c 0 0.289062 -0.234375 0.523438 -0.523437 0.523438 h -33.9141 c -0.289062 0 -0.523437 -0.234376 -0.523437 -0.523438 v -80.1094 c 0 -0.289063 0.234375 -0.523437 0.523437 -0.523437 h 33.9141 c 0.289062 0 0.523437 0.234374 0.523437 0.523437 Z m 0 0"></path>
              <path d="m 185.613 377.316 c 6.90625 0 12.5234 -5.62109 12.5234 -12.5273 v -12.0234 c 0 -16.2969 -13.2578 -29.5547 -29.5586 -29.5547 h -46.0898 c -6.90625 0 -12.5234 5.61719 -12.5234 12.5234 v 12.0234 c 0 16.2969 13.2578 29.5586 29.5586 29.5586 Z m -60.6211 -29.5586 v -9.51953 h 43.5859 c 8.01172 0 14.5273 6.51953 14.5273 14.5273 v 9.51953 h -43.582 c -8.01172 0 -14.5313 -6.51953 -14.5313 -14.5273 Z m 0 0"></path>
              <path d="m 372.477 377.316 c 16.3008 0 29.5586 -13.2617 29.5586 -29.5586 v -12.0234 c 0 -6.90625 -5.61719 -12.5234 -12.5234 -12.5234 h -46.0898 c -16.2969 0 -29.5586 13.2578 -29.5586 29.5547 v 12.0234 c 0 6.90625 5.61719 12.5273 12.5234 12.5273 Z m -43.5859 -24.5508 c 0 -8.01172 6.51953 -14.5273 14.5313 -14.5273 h 43.582 v 9.51953 c 0 8.01172 -6.51563 14.5273 -14.5273 14.5273 h -43.5859 Z m 0 0"></path>
              <path d="m 289.172 417.727 c 5.30859 0 9.625 -4.31641 9.625 -9.625 v -19.8242 c 0 -5.30859 -4.31641 -9.625 -9.625 -9.625 h -66.3438 c -5.30859 0 -9.625 4.31641 -9.625 9.625 v 19.8242 c 0 5.30859 4.31641 9.625 9.625 9.625 Z m -60.9414 -24.0469 h 55.5391 v 9.01953 h -55.5391 Z m 0 0"></path>
            </svg>
          </div>
          <div class="info__item-text"><b>Трансфер:</b>Вокзал в м. Івано-Франківськ – готель –
            <br> вокзал в м. Яремче</div>
        </li>
        <li>
          <div class="info__item-img">
            <svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="65px" height="65px">
              <g>
                <path d="m 368.784 127.648 h 51.005 c 5.523 0 10 -4.477 10 -10 v -51.005 c 0 -5.523 -4.477 -10 -10 -10 h -51.005 c -5.523 0 -10 4.477 -10 10 v 51.005 c 0 5.523 4.477 10 10 10 Z m 10 -51.005 h 31.005 v 31.005 h -31.005 Z"></path>
                <path d="m 368.784 232.526 h 51.005 c 5.523 0 10 -4.477 10 -10 v -51.005 c 0 -5.523 -4.477 -10 -10 -10 h -51.005 c -5.523 0 -10 4.477 -10 10 v 51.005 c 0 5.523 4.477 10 10 10 Z m 10 -51.005 h 31.005 v 31.005 h -31.005 Z"></path>
                <path d="m 368.784 337.404 h 51.005 c 5.523 0 10 -4.477 10 -10 v -51.005 c 0 -5.523 -4.477 -10 -10 -10 h -51.005 c -5.523 0 -10 4.477 -10 10 v 51.005 c 0 5.523 4.477 10 10 10 Z m 10 -51.005 h 31.005 v 31.005 h -31.005 Z"></path>
                <path d="m 92.211 232.526 h 51.005 c 5.523 0 10 -4.477 10 -10 v -51.005 c 0 -5.523 -4.477 -10 -10 -10 h -51.005 c -5.523 0 -10 4.477 -10 10 v 51.005 c 0 5.523 4.477 10 10 10 Z m 10 -51.005 h 31.005 v 31.005 h -31.005 Z"></path>
                <path d="m 189.262 232.526 h 51.005 c 5.523 0 10 -4.477 10 -10 v -51.005 c 0 -5.523 -4.477 -10 -10 -10 h -51.005 c -5.523 0 -10 4.477 -10 10 v 51.005 c 0 5.523 4.477 10 10 10 Z m 10 -51.005 h 31.005 v 31.005 h -31.005 Z"></path>
                <path d="m 143.216 337.404 c 5.523 0 10 -4.477 10 -10 v -51.005 c 0 -5.523 -4.477 -10 -10 -10 h -51.005 c -5.523 0 -10 4.477 -10 10 v 51.005 c 0 5.523 4.477 10 10 10 Z m -41.005 -51.005 h 31.005 v 31.005 h -31.005 Z"></path>
                <path d="m 189.262 337.404 h 51.005 c 5.523 0 10 -4.477 10 -10 v -51.005 c 0 -5.523 -4.477 -10 -10 -10 h -51.005 c -5.523 0 -10 4.477 -10 10 v 51.005 c 0 5.523 4.477 10 10 10 Z m 10 -51.005 h 31.005 v 31.005 h -31.005 Z"></path>
                <path d="m 484.064 445.557 h -8.393 v -435.557 c 0 -5.523 -4.477 -10 -10 -10 h -239.82 c -5.523 0 -10 4.477 -10 10 v 97.648 h -169.522 c -5.523 0 -10 4.477 -10 10 v 327.908 h -8.393 c -5.523 0 -10 4.477 -10 10 v 46.444 c 0 5.523 4.477 10 10 10 h 456.128 c 5.523 0 10 -4.477 10 -10 v -46.443 c 0 -5.523 -4.477 -10 -10 -10 Z m -248.213 -425.557 h 219.821 v 425.557 h -41.385 v -10.79 c 0 -38.084 -30.984 -69.068 -69.068 -69.068 c -19.171 0 -36.542 7.851 -49.068 20.507 v -48.801 h 26.589 c 5.523 0 10 -4.477 10 -10 v -51.005 c 0 -5.523 -4.477 -10 -10 -10 h -26.589 v -33.872 h 26.589 c 5.523 0 10 -4.477 10 -10 v -51.005 c 0 -5.523 -4.477 -10 -10 -10 h -26.589 v -33.873 h 26.589 c 5.523 0 10 -4.477 10 -10 v -51.007 c 0 -5.523 -4.477 -10 -10 -10 h -51.005 c -5.523 0 -10 4.477 -10 10 v 41.005 h -25.882 v -87.648 Z m 45.882 87.648 v -31.005 h 31.005 v 31.005 Z m 14.416 73.873 h 16.589 v 31.005 h -16.589 Z m 0 104.878 h 16.589 v 31.005 h -16.589 Z m 0 148.368 c 0 -27.056 22.012 -49.068 49.068 -49.068 s 49.068 22.012 49.068 49.068 v 10.79 h -98.137 v -10.79 Z m -239.82 -307.119 h 219.821 v 317.908 h -51.385 v -21.333 c 0 -32.271 -26.254 -58.525 -58.525 -58.525 c -32.27 0 -58.525 26.254 -58.525 58.525 v 21.333 h -51.386 Z m 148.435 317.909 h -77.05 v -21.333 c 0 -21.243 17.282 -38.525 38.525 -38.525 s 38.525 17.282 38.525 38.525 Z m 269.3 46.443 h -436.128 v -26.443 h 436.128 Z"></path>
              </g>
            </svg>
          </div>
          <div class="info__item-text"><b>Проживання:</b>Двомісне поселення в номерах <br>
            «Вілла Влад» (Буковель)</div>
        </li>
        <li>
          <div class="info__item-img">
            <svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" width="65px" height="65px" x="0px" y="0px" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:space="preserve" version="1.1">
            <g>
              <g>
                <path d="M 339.904 161.776 l -5.136 -16.904 c -6.524 -19.202 -27.379 -29.479 -46.581 -22.955 c -10.802 3.67 -19.285 12.153 -22.955 22.955 l -5.136 16.904 c -4.322 14.256 -5.229 29.329 -2.648 44 c 2.354 12.352 10.196 22.964 21.312 28.84 L 273.008 363.2 c -0.77 7.177 1.558 14.342 6.4 19.696 c 10.413 11.39 28.089 12.182 39.479 1.769 c 0.616 -0.563 1.206 -1.153 1.769 -1.769 c 4.734 -5.202 7.058 -12.157 6.4 -19.16 L 321.272 234.6 c 11.101 -5.879 18.93 -16.484 21.28 -28.824 C 345.133 191.105 344.226 176.032 339.904 161.776 Z M 326.792 202.992 c -1.732 8.874 -8.056 16.155 -16.6 19.112 c -3.243 1.219 -5.332 4.387 -5.176 7.848 L 311.096 365 c 0.28 2.649 -0.594 5.29 -2.4 7.248 c -4.817 4.769 -12.575 4.769 -17.392 0 c -1.896 -2.116 -2.757 -4.964 -2.352 -7.776 l 6.032 -134.52 c 0.156 -3.461 -1.933 -6.629 -5.176 -7.848 c -8.544 -2.957 -14.868 -10.238 -16.6 -19.112 c -2.14 -12.18 -1.386 -24.693 2.2 -36.528 l 5.136 -16.912 c 3.974 -10.745 15.906 -16.234 26.652 -12.26 c 5.681 2.101 10.159 6.58 12.26 12.26 l 5.136 16.912 C 328.174 178.3 328.928 190.812 326.792 202.992 Z"></path>
              </g>
            </g>
              <g>
                <g>
                  <path d="M 216 120 c -4.418 0 -8 3.582 -8 8 v 68.688 l -21.656 21.656 c -1.602 1.596 -2.454 3.797 -2.344 6.056 l 7 140 c 0.167 3.019 -0.929 5.972 -3.024 8.152 c -4.379 4.418 -11.511 4.45 -15.93 0.07 c -0.024 -0.023 -0.047 -0.047 -0.07 -0.07 c -2.096 -2.18 -3.191 -5.133 -3.024 -8.152 l 7.048 -140 c 0.112 -2.258 -0.737 -4.458 -2.336 -6.056 L 152 196.688 V 128 c 0 -4.418 -3.582 -8 -8 -8 s -8 3.582 -8 8 v 72 c 0 2.122 0.844 4.156 2.344 5.656 l 21.488 21.496 l -6.824 136.472 c -0.726 14.907 10.77 27.581 25.677 28.307 c 14.907 0.726 27.581 -10.77 28.307 -25.677 c 0.043 -0.876 0.043 -1.753 0 -2.629 l -6.824 -136.472 l 21.488 -21.496 c 1.5 -1.5 2.344 -3.534 2.344 -5.656 v -72 C 224 123.582 220.418 120 216 120 Z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M 168 120 c -4.418 0 -8 3.582 -8 8 v 64 c 0 4.418 3.582 8 8 8 s 8 -3.582 8 -8 v -64 C 176 123.582 172.418 120 168 120 Z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M 192 120 c -4.418 0 -8 3.582 -8 8 v 64 c 0 4.418 3.582 8 8 8 s 8 -3.582 8 -8 v -64 C 200 123.582 196.418 120 192 120 Z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M 240 0 C 107.452 0 0 107.452 0 240 s 107.452 240 240 240 s 240 -107.452 240 -240 C 479.85 107.514 372.486 0.15 240 0 Z M 240 464 C 116.288 464 16 363.712 16 240 S 116.288 16 240 16 s 224 100.288 224 224 C 463.859 363.653 363.653 463.859 240 464 Z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M 265.969 390.172 c -0.429 -4.397 -4.342 -7.614 -8.74 -7.185 c -0.103 0.01 -0.206 0.022 -0.309 0.036 l 0.032 -0.008 c -11.263 1.308 -22.641 1.308 -33.904 0 c -4.39 -0.515 -8.365 2.626 -8.88 7.016 c -0.515 4.39 2.626 8.365 7.016 8.88 c 12.491 1.459 25.109 1.459 37.6 0 C 263.181 398.483 266.398 394.57 265.969 390.172 Z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M 362.4 136.912 c -2.839 -3.385 -7.885 -3.828 -11.27 -0.988 c -0.011 0.009 -0.022 0.019 -0.034 0.028 c -3.377 2.848 -3.807 7.894 -0.96 11.272 c 48.235 57.26 44.545 141.929 -8.488 194.776 c -3.13 3.119 -3.139 8.186 -0.02 11.316 c 3.119 3.13 8.186 3.139 11.316 0.02 C 411.881 294.623 415.991 200.541 362.4 136.912 Z"></path>
                </g>
              </g>
              <g>
                <g>
                  <g>
                    <path d="M 186.392 105.744 c -0.005 0 -0.01 -0.001 -0.015 -0.001 c -0.008 0 -0.016 0.001 -0.025 0.001 H 186.392 Z"></path>
                    <path d="M 277.736 84.472 c -31.265 -7.493 -64.055 -5.479 -94.168 5.784 c -4.136 1.555 -6.227 6.169 -4.672 10.304 c 1.172 3.117 4.152 5.18 7.481 5.183 c 0.957 -0.005 1.905 -0.18 2.799 -0.519 c 27.118 -10.141 56.646 -11.952 84.8 -5.2 c 4.295 1.038 8.618 -1.601 9.656 -5.896 C 284.67 89.833 282.031 85.51 277.736 84.472 Z"></path>
                  </g>
                </g>
              </g>
              <g>
                <g>
                  <path d="M 137.992 341.6 C 111.023 314.677 95.908 278.108 96 240 c -0.079 -30.446 9.565 -60.122 27.528 -84.704 c 2.655 -3.532 1.944 -8.547 -1.588 -11.202 s -8.547 -1.944 -11.202 1.588 c -0.047 0.063 -0.093 0.126 -0.138 0.19 c -46.253 63.588 -39.447 151.359 16.056 207.056 c 3.128 3.13 8.202 3.132 11.332 0.004 C 141.118 349.804 141.12 344.73 137.992 341.6 Z"></path>
                </g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
          </svg>
          </div>
          <div class="info__item-text"><b>Харчування:</b> За системою All Inclusive – <br /> все включено</div>
        </li>
        <li>
          <div class="info__item-img">
            <svg id="Capa_3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.001 480.001" width="65px" height="65px" x="0px" y="0px" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:space="preserve" version="1.1">
            <g>
              <g>
                <path d="M 328.584 137.508 l -5.2 -1.304 c -25.094 -6.267 -51.415 3.953 -65.704 25.512 c -2.333 3.752 -1.184 8.685 2.568 11.018 c 3.598 2.238 8.316 1.282 10.76 -2.178 c 10.554 -15.894 29.964 -23.434 48.48 -18.832 l 5.208 1.304 c 4.293 1.043 8.619 -1.592 9.663 -5.885 C 335.391 142.893 332.819 138.601 328.584 137.508 Z"></path>
              </g>
            </g>
              <g>
                <g>
                  <path d="M 412.221 229.736 c -2.023 -0.673 -4.23 -0.51 -6.133 0.451 h 0.024 c -36.956 18.472 -80.452 18.472 -117.408 0 c -3.943 -1.993 -8.756 -0.412 -10.749 3.531 c -0.962 1.902 -1.124 4.11 -0.451 6.133 l 7.64 23.008 c 11.293 34.383 48.321 53.101 82.704 41.808 c 19.789 -6.5 35.309 -22.02 41.808 -41.808 l 7.632 -23.008 C 418.682 235.659 416.413 231.131 412.221 229.736 Z M 394.48 257.828 c -8.521 25.997 -36.503 40.164 -62.501 31.643 c -14.983 -4.911 -26.733 -16.661 -31.643 -31.643 l -2.056 -6.2 c 31.792 11.2 66.456 11.2 98.248 0 L 394.48 257.828 Z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M 447.771 165.01 c -0.082 -0.132 -0.169 -0.262 -0.259 -0.39 c -14.3 -21.536 -40.605 -31.743 -65.688 -25.488 l -5.216 1.312 c -4.21 1.342 -6.534 5.843 -5.192 10.052 c 1.225 3.841 5.116 6.17 9.08 5.436 l 5.224 -1.304 c 18.511 -4.597 37.914 2.942 48.464 18.832 c 2.333 3.752 7.267 4.902 11.018 2.568 C 448.954 173.695 450.104 168.762 447.771 165.01 Z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M 474.536 64.66 c -82.531 -27.456 -171.733 -27.456 -254.264 0 c -3.259 1.093 -5.456 4.146 -5.456 7.584 v 59.584 c -67.823 14.924 -138.424 11.167 -204.28 -10.872 c -4.19 -1.401 -8.723 0.861 -10.123 5.051 C 0.14 126.824 0 127.679 0 128.54 v 117.448 c -0.001 64.852 27.615 126.635 75.936 169.888 c 28.738 25.705 71.861 26.826 101.896 2.648 l 2.448 -1.968 c 33.037 -26.464 57.949 -61.701 71.88 -101.672 c 10.829 16.629 23.805 31.757 38.592 44.992 c 28.736 25.704 71.856 26.825 101.888 2.648 l 2.448 -1.968 c 53.857 -43.144 85.115 -108.481 84.912 -177.488 V 72.244 C 479.999 68.804 477.798 65.75 474.536 64.66 Z M 170.248 404.1 l -2.4 1.968 c -23.954 19.283 -58.349 18.379 -81.256 -2.136 C 41.668 363.721 15.995 306.28 16 245.988 V 139.492 c 64.473 19.634 132.861 22.661 198.816 8.8 v 41.728 c 0 4.677 0.147 9.355 0.44 14.032 c 0.096 1.552 0.304 3.088 0.432 4.64 c 0.256 3.104 0.496 6.216 0.88 9.312 c 0.24 1.88 0.584 3.736 0.864 5.6 c 0.416 2.752 0.8 5.512 1.312 8.248 c 0.368 1.984 0.856 3.952 1.28 5.928 c 0.56 2.592 1.08 5.192 1.728 7.76 c 0.52 2.048 1.144 4.072 1.712 6.104 c 0.696 2.464 1.36 4.936 2.136 7.376 c 0.656 2.064 1.408 4.096 2.12 6.136 c 0.8 2.4 1.64 4.76 2.552 7.112 c 0.8 2.048 1.672 4.056 2.52 6.072 c 0.968 2.304 1.912 4.608 2.952 6.872 c 0.928 2.024 1.944 4 2.936 6.008 c 0.856 1.728 1.6 3.488 2.536 5.2 C 229.449 338.873 204.62 376.546 170.248 404.1 Z M 464 183.068 c 0.183 64.159 -28.873 124.906 -78.936 165.032 l -2.448 1.968 c -23.944 19.259 -58.31 18.355 -81.208 -2.136 c -17.988 -16.09 -33.077 -35.151 -44.608 -56.352 c -12.723 -23.332 -20.972 -48.837 -24.32 -75.2 c -1.107 -8.757 -1.662 -17.574 -1.664 -26.4 V 78.052 c 75.878 -23.984 157.306 -23.984 233.184 0 V 183.068 Z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M 96.336 205.26 c -3.685 -2.443 -8.653 -1.437 -11.096 2.248 l -3.472 5.256 C 72.501 226.791 56.812 235.229 40 235.228 c -4.418 0 -8 3.582 -8 8 s 3.582 8 8 8 c 22.176 0.007 42.874 -11.117 55.104 -29.616 l 3.48 -5.256 C 101.027 212.671 100.021 207.703 96.336 205.26 Z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M 179.632 323.204 h -0.04 c -30.349 -20.44 -70.059 -20.44 -100.408 0 c -12.835 8.625 -16.248 26.022 -7.623 38.857 c 5.182 7.712 13.852 12.35 23.143 12.383 c 4.326 -0.002 8.592 -1.016 12.456 -2.96 c 14.001 -6.984 30.471 -6.984 44.472 0 c 13.777 6.965 30.592 1.444 37.557 -12.333 C 195.595 346.48 191.485 331.02 179.632 323.204 Z M 173.992 353.132 c -3.318 4.994 -9.836 6.733 -15.2 4.056 c -18.525 -9.252 -40.323 -9.252 -58.848 0 c -5.363 2.688 -11.889 0.947 -15.2 -4.056 c -3.675 -5.506 -2.196 -12.948 3.304 -16.632 c 24.965 -16.81 57.627 -16.81 82.592 0 C 176.157 340.168 177.657 347.613 173.992 353.132 Z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M 218.904 277.108 L 203.28 240.66 l -0.08 -0.136 c -1.116 -3.164 -4.101 -5.284 -7.456 -5.296 c -16.81 0.003 -32.498 -8.436 -41.76 -22.464 l -3.488 -5.256 c -2.443 -3.683 -7.409 -4.687 -11.092 -2.244 c -3.683 2.443 -4.687 7.409 -2.244 11.092 l 3.488 5.256 c 10.059 15.157 25.932 25.486 43.864 28.544 l -11.56 26.952 c -5.442 12.689 0.433 27.388 13.122 32.83 c 12.689 5.442 27.388 -0.433 32.83 -13.122 C 221.603 290.524 221.603 283.4 218.904 277.108 Z M 203.44 291.932 c -2.967 4.147 -8.734 5.103 -12.88 2.136 c -0.824 -0.59 -1.546 -1.311 -2.136 -2.136 c -1.702 -2.509 -2.004 -5.714 -0.8 -8.496 l 8.272 -19.304 l 8.272 19.304 C 205.398 286.206 205.123 289.412 203.44 291.932 Z"></path>
                </g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
          </svg>
          </div>
          <div class="info__item-text"><b>Розваги:</b> Всі вхідні білети згідно <br /> програми</div>
        </li>
        <li>
          <div class="info__item-img">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="65" height="61">
              <g id="Beauty_Relax_Spa_Candle_Stones" data-name="Beauty Relax Spa Candle Stones">
                <g id="Outline">
                  <path d="M 256 400 H 200 a 8 8 0 0 0 0 16 h 56 a 8 8 0 0 0 0 -16 Z"></path>
                  <path d="M 123.017 231.851 A 31.92 31.92 0 0 1 144 224 H 256 a 32.057 32.057 0 0 1 30.987 24 H 192 a 8 8 0 0 0 0 16 h 94.992 A 32.044 32.044 0 0 1 256 288 H 232 a 8 8 0 0 0 0 16 h 40 a 48.2 48.2 0 0 1 47.51 41.132 a 8 8 0 1 0 15.84 -2.264 a 64.318 64.318 0 0 0 -45.944 -52.426 c 0.176 -0.17 0.358 -0.332 0.532 -0.5 a 48 48 0 0 0 -19.711 -79.784 a 39.953 39.953 0 0 0 -19.448 -64.665 a 31.956 31.956 0 0 0 -13.424 -46.557 A 23.982 23.982 0 0 0 216 64 H 184 a 23.982 23.982 0 0 0 -21.355 34.931 a 31.956 31.956 0 0 0 -13.424 46.557 a 39.953 39.953 0 0 0 -19.439 64.675 A 47.874 47.874 0 0 0 112.5 219.79 a 8 8 0 1 0 10.514 12.061 Z M 184 80 h 32 a 8 8 0 0 1 0 16 H 184 a 8 8 0 0 1 0 -16 Z m -8 32 h 48 a 16 16 0 0 1 0 32 H 176 a 16 16 0 0 1 0 -32 Z m -16 48 h 80 a 24.039 24.039 0 0 1 22.624 16 H 184 a 8 8 0 0 0 0 16 h 78.624 A 24.039 24.039 0 0 1 240 208 H 160 a 24 24 0 0 1 0 -48 Z"></path>
                  <path d="M 207.791 311.947 a 8 8 0 0 0 -5.311 -9.423 c -1.351 -0.441 -30.8 -9.867 -57.529 -5.232 c -9.892 -25.56 -34.53 -46.355 -35.83 -47.438 a 8 8 0 0 0 -10.242 0 c -1.181 0.983 -26.638 22.433 -36.242 48.443 c -26.614 -4.464 -55.594 4.8 -57.118 5.3 a 8 8 0 0 0 -5.31 9.423 c 0.436 1.87 10.555 44.082 37.127 62.245 c -13.752 26.711 -8.129 64.2 -7.853 65.971 a 8 8 0 0 0 7.9 6.766 c 0.172 0 0.346 0 0.519 -0.017 c 1.868 -0.12 42.8 -3 65.661 -24.214 c 22.858 21.211 63.792 24.094 65.66 24.214 c 0.174 0.012 0.347 0.017 0.519 0.017 a 8 8 0 0 0 7.9 -6.767 c 0.27 -1.737 5.95 -39.6 -8.044 -66.328 C 196.966 357.16 207.349 313.843 207.791 311.947 Z M 44.46 431.135 c -1.09 -14.968 -0.266 -40.74 11.292 -55.061 C 64.384 365.38 77.031 355 91.025 360.725 a 36.748 36.748 0 0 0 -7.143 18 c -1.148 10.458 2.051 21.419 9.488 32.666 C 80.137 424.376 56.545 429.368 44.46 431.135 Z m 32.171 -87.448 c -10.561 1.823 -20.652 8.051 -30.055 18.506 c -15.7 -10.508 -24.831 -33.575 -28.654 -45.444 c 14.7 -3.5 40.466 -6.893 56.593 2.134 c 10.234 5.729 21.134 14.629 21.467 26.628 A 36.879 36.879 0 0 0 76.631 343.687 Z m 5.7 -38.765 q -2.1 -1.175 -4.3 -2.143 c 5.894 -15.119 18.813 -29.018 26 -35.971 c 11.175 10.769 28.989 31.878 28.989 50.525 c 0 19.5 -7.312 31.149 -21.252 34.15 c -0.06 -0.06 -0.117 -0.123 -0.179 -0.18 C 113.347 338.972 110.018 320.421 82.329 304.922 Z m 80.283 126.253 c -14.949 -2.187 -40.154 -8.582 -51.737 -22.934 c -8.142 -10.087 -11.976 -19.69 -11.089 -27.772 a 20.971 20.971 0 0 1 4.617 -10.916 a 37.7 37.7 0 0 0 23.108 15.426 a 40.754 40.754 0 0 0 8.469 0.871 a 54.693 54.693 0 0 0 19.293 -3.835 C 163.668 397.609 163.445 419.694 162.612 431.175 Z m -3.633 -68.537 c -11.513 6.445 -26.335 11.259 -37.09 2.447 a 39.294 39.294 0 0 0 14.04 -9.289 c 8.689 -8.979 13.1 -21.919 13.1 -38.463 c 0 -1.5 -0.1 -2.985 -0.242 -4.471 c 15.133 -2.367 31.884 0.63 41.281 2.864 C 186.034 328.218 176.166 353.018 158.979 362.638 Z"></path>
                  <path d="M 392 192 a 8 8 0 0 0 8 -8 V 128 a 8 8 0 0 0 -16 0 v 56 A 8 8 0 0 0 392 192 Z"></path>
                  <path d="M 392 248 a 8 8 0 0 0 8 -8 V 216 a 8 8 0 0 0 -16 0 v 24 A 8 8 0 0 0 392 248 Z"></path>
                  <path d="M 360 264 a 8 8 0 0 0 8 -8 V 192 a 8 8 0 0 0 -16 0 v 64 A 8 8 0 0 0 360 264 Z"></path>
                  <path d="M 424 264 a 8 8 0 0 0 8 -8 V 192 a 8 8 0 0 0 -16 0 v 64 A 8 8 0 0 0 424 264 Z"></path>
                  <circle cx="360" cy="160" r="8"></circle>
                  <circle cx="160" cy="256" r="8"></circle>
                  <circle cx="424" cy="160" r="8"></circle>
                  <circle cx="424" cy="128" r="8"></circle>
                  <circle cx="360" cy="128" r="8"></circle>
                  <circle cx="392" cy="96" r="8"></circle>
                  <path d="M 504 368 H 400 V 351.023 c 13.786 -3.434 24 -15.529 24 -29.88 c 0 -13.934 -19.376 -44.5 -25.314 -53.537 a 8 8 0 0 0 -13.372 0 c -5.938 9.037 -25.314 39.6 -25.314 53.537 c 0 14.351 10.214 26.446 24 29.88 V 368 H 280 a 8 8 0 0 0 -8 8 a 71.537 71.537 0 0 0 8.081 33.08 a 7.986 7.986 0 0 0 2.99 5.213 A 72 72 0 0 0 344 448 h 96 a 72 72 0 0 0 60.929 -33.707 a 7.986 7.986 0 0 0 2.99 -5.213 A 71.537 71.537 0 0 0 512 376 A 8 8 0 0 0 504 368 Z M 376 321.143 c 0 -5.022 7.457 -19.872 16 -34.1 c 8.543 14.221 16 29.07 16 34.1 c 0 8.192 -7.178 14.857 -16 14.857 S 376 329.335 376 321.143 Z M 490.579 400 H 360 a 8 8 0 0 0 0 16 H 479.138 A 55.8 55.8 0 0 1 440 432 H 344 a 55.8 55.8 0 0 1 -39.138 -16 H 328 a 8 8 0 0 0 0 -16 H 293.421 a 55.549 55.549 0 0 1 -4.852 -16 H 495.431 A 55.549 55.549 0 0 1 490.579 400 Z"></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="info__item-text"><b>SPA:</b>SPA: безлімітне користування <br>
            великим басейном у готелі</div>
        </li>
        <li>
          <div class="info__item-img">
            <svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 510.572 510.572" viewBox="0 0 510.572 510.572" width="65px" height="65px">
              <g>
                <path d="m 428.57 260.738 h 6.48 c 19.393 0 35.169 -15.776 35.169 -35.168 c 0 -10.045 -4.24 -19.113 -11.016 -25.527 v -68.746 c 0 -27.654 -8.563 -54.073 -24.763 -76.401 c -2.433 -3.354 -7.124 -4.097 -10.475 -1.667 c -3.353 2.433 -4.099 7.123 -1.666 10.475 c 14.329 19.75 21.903 43.124 21.903 67.593 v 60.32 c -2.92 -0.788 -5.987 -1.216 -9.153 -1.216 h -6.393 l 0.14 -9.958 c 0.001 -0.035 0.001 -0.07 0.001 -0.105 v -19.379 c 0 -7.984 -6.495 -14.479 -14.479 -14.479 h -17.216 c -4.143 0 -7.5 3.358 -7.5 7.5 s 3.357 7.5 7.5 7.5 h 16.695 v 18.804 l -0.198 78.135 c 0 60.606 -49.308 109.914 -109.914 109.914 c -28.938 0 -56.26 -11.16 -76.932 -31.423 c -2.959 -2.899 -7.706 -2.853 -10.606 0.106 c -2.899 2.958 -2.852 7.707 0.106 10.606 c 8.804 8.63 18.669 15.807 29.295 21.408 l -18.098 10.75 c -3.377 2.005 -5.621 5.386 -6.157 9.276 c -0.247 1.786 -0.1 3.562 0.374 5.24 l -43.596 22.749 c -1.753 0.915 -3.419 1.942 -5.017 3.047 v -119.895 c 0 -4.142 -3.357 -7.5 -7.5 -7.5 s -7.5 3.358 -7.5 7.5 v 136.999 c -3.312 6.475 -5.127 13.752 -5.127 21.333 v 44.544 c 0 4.142 3.357 7.5 7.5 7.5 s 7.5 -3.358 7.5 -7.5 v -44.544 c 0 -11.886 6.546 -22.685 17.083 -28.184 l 46.046 -24.027 l 2.87 3.013 l -8.184 16.744 c -2.443 5 -1.401 10.962 2.594 14.838 l 69.628 67.543 c 1.399 1.357 3.272 2.117 5.222 2.117 h 1 c 1.949 0 3.822 -0.759 5.222 -2.117 l 69.629 -67.543 c 3.994 -3.875 5.036 -9.837 2.593 -14.838 l -8.184 -16.743 l 2.87 -3.013 l 46.046 24.027 c 10.537 5.499 17.083 16.298 17.083 28.184 v 44.544 c 0 4.142 3.357 7.5 7.5 7.5 s 7.5 -3.358 7.5 -7.5 v -44.544 c 0 -17.494 -9.635 -33.389 -25.144 -41.482 l -43.596 -22.749 c 0.474 -1.679 0.62 -3.454 0.374 -5.24 c -0.536 -3.89 -2.78 -7.271 -6.156 -9.276 l -18.17 -10.793 c 39.067 -20.603 65.957 -61.301 66.817 -108.252 Z m 0.212 -55.337 h 6.268 c 11.121 0 20.169 9.047 20.169 20.168 s -9.048 20.168 -20.169 20.168 h -6.268 Z m -99.665 175.327 v 10.076 c 0 14.023 -11.408 25.431 -25.432 25.431 s -25.432 -11.408 -25.432 -25.431 v -10.062 c 8.282 1.708 16.792 2.592 25.432 2.592 c 8.712 -0.001 17.218 -0.901 25.432 -2.606 Z m -15.23 49.201 l -10.202 42.859 l -10.202 -42.859 c 3.26 0.851 6.679 1.306 10.202 1.306 s 6.942 -0.456 10.202 -1.306 Z m -64.194 -18.699 c 1.377 -2.818 0.855 -6.195 -1.307 -8.466 l -10.465 -10.989 c -0.005 -0.005 -0.01 -0.01 -0.014 -0.015 l -0.453 -0.476 l 23.788 -14.13 c 0.401 -0.238 0.767 -0.512 1.106 -0.808 c 0.301 0.105 0.604 0.204 0.905 0.307 v 14.15 c 0 11.432 4.777 21.763 12.43 29.124 l 14.243 59.835 l -50.016 -48.519 Z m 96.435 -34.076 l 23.788 14.13 l -0.455 0.478 c -0.002 0.002 -0.005 0.005 -0.007 0.007 l -10.47 10.994 c -2.162 2.271 -2.684 5.648 -1.307 8.466 l 9.782 20.014 l -50.016 48.518 l 14.243 -59.835 c 7.653 -7.361 12.43 -17.692 12.43 -29.124 v -14.19 c 0.288 -0.099 0.574 -0.203 0.861 -0.304 c 0.352 0.313 0.734 0.598 1.151 0.846 Z"></path>
                <path d="m 178.809 260.738 c 0.392 21.104 6.103 41.806 16.606 60.014 c 1.389 2.408 3.91 3.754 6.503 3.754 c 1.271 0 2.561 -0.324 3.741 -1.005 c 3.588 -2.07 4.818 -6.657 2.748 -10.244 c -9.575 -16.599 -14.637 -35.562 -14.637 -54.838 v -107.317 c 0 -18.597 4.704 -36.88 13.627 -53.051 l 57.256 39.263 c 11.424 7.834 23.924 13.885 37.154 17.986 c 2.279 0.706 4.753 0.287 6.67 -1.126 c 1.919 -1.414 3.051 -3.655 3.051 -6.038 v -5.819 l 24.635 16.375 c 2.744 1.824 5.936 2.789 9.23 2.789 h 19.745 c 4.143 0 7.5 -3.358 7.5 -7.5 s -3.357 -7.5 -7.5 -7.5 h -19.745 c -0.33 0 -0.65 -0.097 -0.927 -0.28 l -32.854 -21.839 c -2.986 -1.984 -6.804 -2.165 -9.963 -0.47 c -3.159 1.694 -5.122 4.973 -5.122 8.557 v 5.059 c -8.219 -3.325 -16.055 -7.532 -23.392 -12.563 l -59.403 -40.735 c -1 -0.685 -2.09 -1.206 -3.225 -1.576 l -11.105 -26.41 c 10.596 -24.14 34.902 -40.165 61.408 -40.165 h 68.15 c 26.393 0 52.188 9.155 72.636 25.778 c 3.216 2.614 7.938 2.124 10.551 -1.088 c 2.613 -3.214 2.126 -7.938 -1.088 -10.55 c -23.113 -18.791 -52.271 -29.139 -82.099 -29.139 h -68.15 c -16.888 0 -33.108 5.095 -46.906 14.735 c -12.133 8.476 -21.647 19.904 -27.733 33.252 c -4.637 0.549 -9.05 1.84 -13.119 3.746 v -43.921 c 0 -3.114 -1.662 -6.037 -4.338 -7.629 s -6.037 -1.66 -8.775 -0.173 l -113.23 61.463 c -3.852 2.091 -6.226 5.955 -6.35 10.335 s 2.026 8.373 5.754 10.679 l 73.908 45.719 c 1.229 0.76 2.592 1.123 3.938 1.123 c 2.512 0 4.967 -1.262 6.385 -3.556 c 2.18 -3.522 1.09 -8.145 -2.433 -10.324 l -69.731 -43.136 l 99.873 -54.212 v 45.258 c -6.17 7.46 -9.886 17.021 -9.886 27.435 v 108.363 c -6.669 6.404 -10.833 15.398 -10.833 25.353 c 0 19.392 15.776 35.168 35.169 35.168 Z m -15.641 -168.884 c 0 -13.861 10.086 -25.403 23.303 -27.691 l 9.781 23.261 c -0.175 0.254 -0.351 0.506 -0.508 0.774 c -11.104 19.016 -16.973 40.767 -16.973 62.903 v 39.3 h -6.268 c -3.232 0 -6.361 0.447 -9.336 1.268 v -99.815 Z m -10.833 133.716 c 0 -11.121 9.048 -20.168 20.169 -20.168 h 6.268 v 40.337 h -6.268 c -11.122 -0.001 -20.169 -9.048 -20.169 -20.169 Z"></path>
              </g>
            </svg>
          </div>
          <div class="info__item-text"><b>Супровід:</b> Протягом всього туру – гід <br /> та керівник групи від 7eminar.com</div>
        </li>
      </ul>
    </div>
    <div class="safety">
      <picture>
        <img src="{{ link }}/gid.png" alt="place1"/>
      </picture>
      <div class="safety__info-text">
        <div class="arrow">
          <div class="arrow-left">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <g>
                <g>
                  <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792                  H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083                  c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z                  "></path>
                </g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
          </div>
        </div>
        <p class="safety__info">Безмежна турбота під час подорожі <br /> від івент-директора компанії – <br /> Марини Нікуліної.<br /><br /><a href="#">Пізнавайте світ з 7eminar.com!</a></p>
      </div>
    </div>
  </section>

  <section id="order" class="order">
    <div class="container">
      <h3 class="page-titles"><span>{{ page.options['order__title']|default('редактируемый из админки') }}</span></h3>
      <div class="order__packages">
        {% set packages = [
          {
            name: 'standart',
            title: 'Вартість туру за одного учасника',
            price: 'тур-23122020Буковель',
            link: 'https://7eminar.ua/',
            newprice: 'https://7eminar.ua/checkout/t-Bukovel',
          }
        ] %}
        {% for package in packages %}
          <article class="package">
            <div class="package__header package__header--{{ package.name }}">
              {{ package.title }}
            </div>
            <div class="package__body package__body--{{ package.name }}">
              <p class="package__price-regular"><s>{{ shop_price(package.price,'line') }}</s></p>
              <p class="package__price"><span>{{ shop_price(package.price,'site') }}</span> грн</p>
              <p class="package__present package__present--{{ package.name }}">Подарунок:</p>
              <p class="package__present-name">Доступ до
                <a class="js-platform-link js-banner-link"  href="{{ package.link }}" target="_blank">Бухгалтерської Відеоплатформи №1</a> протягом трьох
                місяців
              </p>
              <div class="package__btn">
                <form method="post" action="?new=1" data-validate="ajax" class="hide-kbs dk-show">
                  <input type="hidden" name="product" value="{{ package.price }}"/>
                  <button type="submit" rel="order" class="btn btn--package">Хочу в тур</button>
                </form>
                <a class="btn btn--package dk-hide" href="{{ package.newprice }}" target="_blank">Хочу в тур</a>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
      <div class="order__info">
        <span>Важлива інформація:</span>
        <ul>
          <li>Оплачувати виїзні заходи можна частинами. 100% оплати повинні надійти не пізніше ніж за 7 днів до початку
            туру.
          </li>
          <li>У разі відмови від туру: за 14 днів – утримується 60% оплати, менш ніж за 13 днів – утримується 100%
            оплати.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div id="loader-page" class="loader-page">
    <div class="dots">
      <div class="loading">
        <span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span
            class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
  </div>
</div>