{% set link = page.url('/images') %}

<div class="landing-content" data-require="{{ page.url('/script.js') }}">
    <div class="wrapper wrapper__head">
            <div class="content">
                <div class="top-block">
                    <div class="top-block__item">
                        <div class="top-block__logo">

                        </div>
                    </div>
                    <div class="top-block__item">
                        <a href="/register" class="top-block__btn btn_login hidden">
                            <span class="desktop">ВХІД / РЕЄСТРАЦІЯ</span><span class="mob">ВХІД</span>
                        </a>
                        <a href="/events/access" class="top-block__btn btn_profile hidden">
                            <span class="cabinet">В кабінет</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="hero">
                    <div class="hero__body">
                        <p class="hero__title">Безкоштовний доступ <br> на 10 днів</p>
                        <p class="hero__sub-title">найгарячіші проєкти бухгалтерської відеоплатформи №1</p>
                    </div>
                    <a href="#project" class="hero__btn">хочу дивитися ></a>

                </div>
            </div>

    </div>

    <div id="project" class="project">
        <div class="project__content">
            <div class="project__top-block">
                <p class="project__title">оберіть <span>одне</span>  відео для безкоштовного перегляду</p>
                <p  class="arrow"><span></span><span></span><span></span></p>
            </div>

            <div class="project__item">
                <div class="project__img">
                    <picture><img class="" src="{{ link }}/psbo-min.png" alt="П(С)БО ВІД А ДО Я" ></picture>
                </div>
                <div class="project__block">
                    <div class="project__header">
                        <p class="project__name">П(С)БО ВІД А ДО Я
                            <br>
                            (18 відеоуроків) </p>
                        <p class="project__lector"><b>Лектори: </b> Людмила Тимофеєва</p>
                    </div>
                    <div class="project__body">
                        <p class="project__know"> Про що дізнаєтесь:</p>
                        <ol class="project__list">
                            <li><span> Бухгалтерські проведення з прикладами</span></li>
                            <li><span>Первинні документи обліку</span></li>
                            <li><span>Формування фінансової звітності</span></li>
                            <li><span>Стандарти і бухгалтерський облік</span></li>
                        </ol>

                    </div>
                    <div class="project__footer"></div>
                    <a href="/" id="psbo" class="project__btn"  data-article="онлайн-demo18052020_psbo" data-toggle="modal" data-target="#exampleModalCenter">обираю ></a>
                </div>
            </div>



            <div class="project__item">
                <div class="project__img">
                    <picture><img class="" src="{{ link }}/zp-min.png" alt="Великий Online-Семінар із Заробітної Плати" ></picture>
                </div>
                <div class="project__block">
                    <div class="project__header">
                        <p class="project__name">Великий Online-Семінар
                           <br>
                            із Заробітної Плати (відеозапис) </p>
                        <p class="project__lector"><b>Лектор: </b>Тетяна Мойсеєнко</p>
                    </div>
                    <div class="project__body">
                        <p class="project__know"> Про що дізнаєтесь:</p>
                        <ol class="project__list">
                            <li><span>Зміни у нарахуванні зарплати працівникам під час карантину</span></li>
                            <li><span>Карантинні лікарняні та допомога по частковому безробіттю: хто має право та як оформити</span></li>
                            <li><span>Аліменти під час карантину та нові види шахрайства</span></li>
                            <li><span>Зарплатна звітність на прикладах заповнення</span></li>
                        </ol>
                    </div>
                    <div class="project__footer"></div>
                    <a href="/" id="bszp" class="project__btn" data-article="онлайн-demo18052020_bszp"  data-toggle="modal" data-target="#exampleModalCenter">беру ></a>
                </div>
            </div>

            <div class="project__item">
                <div class="project__img">
                    <picture><img class="" src="{{ link }}/avto-min.png" alt="Авто на підприємстві" ></picture>
                </div>
                <div class="project__block">
                    <div class="project__header">
                        <p class="project__name">Авто на підприємстві
                            <br>
                            (7 відеоуроків) </p>
                        <p class="project__lector"><b>Лектори: </b>Ірина Губіна, Галина Морозовська</p>
                    </div>
                    <div class="project__body">
                        <p class="project__know"> Про що дізнаєтесь:</p>
                        <ol class="project__list">
                            <li><span>Як відобразити в обліку придбання, оренду та продаж / ліквідацію автомобіля</span></li>
                            <li><span>Обслуговування та ремонт автомобіля: тонкощі бухгалтерського та податкового обліку</span></li>
                            <li><span>Вантажні перевезення: оформлення ТТН, формування собівартості, оплата праці водіїв</span></li>
                            <li><span>Усе про пальне: придбання, списання та акцизи</span></li>
                        </ol>

                    </div>
                    <div class="project__footer"></div>
                    <a href="/" id="avto" class="project__btn"   data-article="онлайн-demo18052020_avto" data-toggle="modal" data-target="#exampleModalCenter">ДИВИТИСЯ ></a>
                </div>
            </div>

            <div class="project__item">
                <div class="project__img">
                    <picture><img class="" src="{{ link }}/1c-min.png" alt="Зарплата в 1С" ></picture>
                </div>
                <div class="project__block">
                    <div class="project__header">
                        <p class="project__name">Зарплата в 1С

                            <br>
                            (9 відеоуроків) </p>
                        <p class="project__lector"><b>Лектори: </b> Ольга Хільчук</p>
                    </div>
                    <div class="project__body">
                        <p class="project__know"> Про що дізнаєтесь:</p>
                        <ol class="project__list">
                            <li><span>Попередні зарплатні налаштування</span></li>
                            <li><span>Прийняття працівника на роботу</span></li>
                            <li><span>Нарахування авансу за відпрацьований період у першій половині місяця</span></li>
                            <li><span>Базовий варіант нарахування заробітної плати за відпрацьований місяць</span></li>
                        </ol>

                    </div>
                    <div class="project__footer"></div>
                    <a href="/" id="zp1c" class="project__btn"  data-article="онлайн-demo18052020_zp1c" data-toggle="modal" data-target="#exampleModalCenter">замовляю ></a>
                </div>
            </div>

            <div class="project__item">
                <div class="project__img">
                    <picture><img class="" src="{{ link }}/vks-min.png" alt="Великий Кадровий Online-Семінар" ></picture>
                </div>
                <div class="project__block">
                    <div class="project__header">
                        <p class="project__name">Великий Кадровий Online-Семінар <br>
                            (відеозапис)</p>
                        <p class="project__lector"><b>Лектор: </b>Тетяна Мойсеєнко</p>
                    </div>
                    <div class="project__body">
                        <p class="project__know"> Про що дізнаєтесь:</p>
                        <ol class="project__list">
                            <li><span>Про надомну працю і гнучкий графік роботи (нове в КЗпП)</span></li>
                            <li><span>Як і кому можна оформити допомогу по безробіттю внаслідок карантину</span></li>
                            <li><span>Як і кому можна оформити допомогу по безробіттю внаслідок карантину</span></li>
                            <li><span>Хто має право на лікарняні під час карантину</span></li>
                        </ol>
                    </div>
                    <div class="project__footer"></div>
                    <a href="/" id="bkadr" class="project__btn" data-article="онлайн-demo18052020_bkadr"  data-toggle="modal" data-target="#exampleModalCenter">хочу ></a>

                </div>
            </div>


        </div>
    </div>
    <div class="wrapper wrapper__footer">
        <div class="content">
            <div class="footer1 footer--platform">
                <div class="inner">
                    <div class="f1 inner__item">
                        <div class="social">
                            <a target="_blank" href="https://www.facebook.com/7eminar" class="social"><i
                                        class="fab fa-facebook-square"></i></a>
                            <a target="_blank" href="https://www.instagram.com/7eminar/" class="social"><i
                                        class="fab fa-instagram"></i></a>
                            <a target="_blank" href="https://www.youtube.com/channel/UCctwZMxIcNTDrcHx597kwbg"
                               class="social"><i class="fab fa-youtube"></i></a>
                            <a href="https://7eminar.ua/subnews" target="_blank" class="social"><i
                                        class="fas fa-envelope"></i></a>
                        </div>
                        <p>7eminar ® є зареєстрованою <br> торговою маркою</p>
                    </div>
                    <div class="f2 inner__item">
                        <h3>ПРО НАС</h3>
                        <p>7eminar.ua – найбільша освітня <br> платформа для бухгалтерів та <br> фінансистів</p>
                    </div>
                    <div class="f3 inner__item">
                        <h3>КОНТАКТИ</h3>
                        <i class="fas fa-map-marker-alt"></i><a target="_blank"
                                                                href="https://goo.gl/maps/J2Nq9eWYfpz">
                            04112 м. Київ<br>
                            <p>вул. Олени Теліги, 4 оф. 34</p>
                        </a>
                        <i class="fas fa-phone"></i><a class="tell" href="tel:+380445072277"> (044) 507-22-77</a>
                        <br>
                        <i class="fas fa-envelope"></i><a href="mailto:info@7eminar.com">info@7eminar.com</a>
                    </div>
                    <div class="f4 inner__item">
                        <h3>МІЙ КАБІНЕТ </h3>
                        <div class="f4__item">
                            <a target="_blank" href="https://7eminar.ua/events/allvideo">Відео</a>
                            <a target="_blank" href="https://7eminar.ua/events/themes/zh_kadry">Теми</a>
                            <a target="_blank" href="https://7eminar.ua/events/lectors/tm">Лектори</a>
                            <a target="_blank" href="/offer">Договір-оферта</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->

<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>

<!-- Modal -->
<div class=" modal fade modal-form" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="form">

                    <div class="form__header">
                        <button type="button" class="form__close close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p class="form__title">Реєстрація</p>
                        <p class="form__sub-title">Отримайте 10 днів безкоштовного доступу</p>
                    </div>
                    <div class="form__body">
                        <form  class="free-demo" >
                            <div class="form-group">
                                <label for="name">Ім’я</label>
                                <input  name="name" type="text" placeholder="" maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                            </div>

                            <div class="form-group">
                                <label for="name">E-mail</label>
                                <input  name="email" type="email" placeholder="" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                            </div>

                            <div class="form-group">
                                <label for="name">Телефон</label>
                                <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                            </div>
                            <input class="article"  type="hidden" value=""/>
                            <input class="utm" name="options[utm]" type="hidden" value=""/>
                            <input class="dealer" name="dealer" type="hidden" value="4"/>
                            <div class="form__footer">
                                <button type="submit" class="form__btn btn btn-default">Замовляю безкоштовно </button>
                            </div>
                        </form>
                    </div>
                </div>

        </div>
    </div>
</div>
