{% set link_platform = "https://7eminar.ua/?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=vbs_10122020_button_tabl_tsin" %}
{% set link_platform_video = "https://7eminar.ua/?utm_source=7eminarcom&utm_campaign=bvp&utm_medium=referral&utm_content=vbs_10122020_button_video" %}

{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
        <div class="menu-mob">
            <input id="menu-checkbox" type="checkbox"/><span class="burger__bg burger__bg-js"></span><span class="burger__element"></span>
            <ul class="menu">
                <li><a href="#lectors" class="burger__link js-scroll-to">Лектори</a></li>
                <li><a href="#info" class="burger__link js-scroll-to">Про що дізнаєтесь</a></li>
                <li><a href="#profession" class="burger__link js-scroll-to">Для кого</a></li>
                <li><a href="#themes" class="burger__link js-scroll-to">теми</a></li>
                <li><a href="#order" class="burger__link js-scroll-to">ПРИДБАТИ</a></li>
            </ul>
        </div>
    </div>

    <div class="hero">
        <div class="hero__container container">
            <div class="menu ">
                <div class="menu__container">
                    <ul class="menu__list">
                        <li><a class="js-scroll-to" href="#lectors">Лектори</a></li>
                        <li><a class="js-scroll-to" href="#info">Про що дізнаєтесь</a></li>
                        <li><a class="js-scroll-to" href="#profession">ДЛЯ КОГО</a></li>
                        <li><a class="js-scroll-to" href="#themes">теми</a></li>
                        <li><a class="js-scroll-to" href="#order">ПРИДБАТИ</a></li>
                    </ul>
                </div>
            </div>
            <div class="hero__top-container dk-show-flex">
                <a class="hero__logo-dk" href="https://dtkt.ua/about" target="_blank">
                    <img src="{{ link }}/logo-dk.png" width="200" height="52" alt="«Дебет-Кредит» | Бухгалтерський сервіс №1 в Україні">
                </a>
                <a class="hero__logo-seminar" href="https://7eminar.com/" target="_blank">
                    <img src="{{ link }}/7minar_logo_color.png" width="186" height="42" alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
                </a>
            </div>
            <div class="hero__content">
                <p class="hero__date"> 10 грудня <b>|</b> <span>Online-трансляція</span></p>
                <h1 class="hero__title">Великий
                    <span>Бухгалтерський</span>
                    <b>Online-Семінар</b></h1>
                <ul class="hero__list">
                    <li>• <span>7 гарячих тем</span></li>
                    <li>• <span>зіркові лектори</span></li>
                    <li>• <span> відповіді на запитання</span></li>
                </ul>

                <p class="hero__btn">
                    <a href="#info" class="btn">Детальніше ></a>
                </p>
            </div>

            <div class="hero__lectors">
                <picture>
                    <source srcset="{{ link }}/hero_lectors.webp" type="image/webp"/>
                    <img src="{{ link }}/hero_lectors-min.png" alt="Лектори"/>
                </picture>
            </div>
        </div>
    </div>

    <div class="video">
        <div class="video__container container">
            <h2 class="video__title">Головна online-подія зими</h2>
            <div class="video__content">
                <div class="video__item">
                    <div class="video__text">
                        <p>Кінець року для будь-якого бухгалтера – це велика кількість новацій від законодавця і підготовка до річної звітності. Ми допоможемо вам пережити цей період спокійно.  </p>
                        <p>На семінарі ви отримаєте відповіді на найгостріші питання, фахові поради експертів та знання, що вбережуть компанію від штрафів.</p>
                        <p>Завдяки багатопотоковому формату зможете наживо дивитися найбільш актуальні для вас лекції, а відеозапис всього семінару буде доступний для перегляду у будь-який час.</p>
                    </div>
                </div>
                <div class="video__item video__item--video">
                    <iframe src="https://www.youtube.com/embed/ihRje0kXczU?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="info"  id="info">
        <div class="info__container container">
            <div class="info__title">ПРО ЩО <br> ВИ ДІЗНАЄТЕСЯ?</div>
            <div class="info__content">
                <ul>
                    <li><b>ФОП-звітність за 2020 рік:</b>  <br>ЄСВ, ЄП, ПДФО.  Облік по-новому</li>
                    <li><b> Податок на прибуток:</b><br> звітність, дисконтування, зміни-2021</li>
                    <li><b>ЄСВ та ПДФО:</b>  <br>  перерахунок, подарунки, об’єднана звітність</li>
                </ul>

                <ul>
                    <li><b>Витрати на відрядження:</b><br>  добові, аванс, зміни-2021</li>
                    <li><b>Облік та звітність з ПДВ:</b><br>  «дешеві» продажі, умовне постачання, документи для ПК</li>
                    <li><b>РРО/ПРРО:</b> <br>   Z-звіт, кешбек, типові помилки, штрафи-2021</li>
                    <li><b>Перевірки ДПС/Держпраці з 1 січня:</b><br>   як підготуватися і уникнути штрафів</li>
                </ul>
            </div>
        </div>
    </div>


    <div id="profession" class="profession">
       <div class="profession__container">
           <h2 class="profession__title">для кого буде корисний семінар?  </h2>
           <div class="profession__content">
               <ul class="profession__list">
                   <li>
                       <b> ФОП</b>
                       <p>Ви самостійно ведете
                           бухоблік, і важливо
                           робити це без помилок</p>
                   </li>
                   <li>
                       <b> Головний
                           бухгалтер</b>
                       <p>Ви вже багато що знаєте,
                           практично все,
                           але прагнете бути в курсі
                           змін податкового
                           законодавства
                       </p>
                   </li>
                   <li>
                       <b>
                           Бухгалтер</b>
                       <p>Ви стежите
                           за нововведеннями
                           та бажаєте стати
                           головним бухгалтером</p>
                   </li>
                   <li>
                       <b>Аудитор</b>
                       <p>Ви перевіряєте податкову та фінансову документації і повинні знати всі нюанси змін законодавства для якісного виправлення знайдених помилок</p>
                   </li>

               </ul>
           </div>
           <p class="profession__btn">
               <a href="#order" class="btn js-scroll-to">Детальніше ></a>
           </p>
       </div>
    </div>

    <div id="lectors" class="lectors">
        <div class="lectors__container">
            <div class="lectors__title"> Лектори</div>
            <div class="lectors__content">
                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                          {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lectors_tm.webp" type="image/webp"/>
                            <img src="{{ link }}/lectors_tm-min.jpg" alt="Тетяна мойсеєнко"/>
                        </picture>
                    </div>

                    <div class="lectors__footer">
                        <b>Тетяна Мойсеєнко</b>
                        <p>Шеф-редактор 7eminar.com, експерт з трудового права та кадрового обліку</p>
                    </div>
                </div>
                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lectors_vv.webp" type="image/webp"/>
                            <img src="{{ link }}/lectors_vv-min.jpg" alt=" Вікторія Величко"/>
                        </picture>
                    </div>
                    <div class="lectors__footer">
                        <b> Вікторія Величко</b>
                        <p>Сертифікований тренер, практикуючий консультант з питань оподаткування</p>
                    </div>
                </div>
                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lectors_mk.webp" type="image/webp"/>
                            <img src="{{ link }}/lectors_mk-min.jpg" alt="Мар’яна Кавин"/>
                        </picture>
                    </div>

                    <div class="lectors__footer">
                        <b>  Мар’яна Кавин</b>
                        <p>Податковий консультант CAP/СІРА, АССА DipIFR, IFA</p>
                    </div>
                </div>


                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lectors_ig.webp" type="image/webp"/>
                            <img src="{{ link }}/lectors_ig-min.jpg" alt="Ірина Губіна"/>
                        </picture>
                    </div>

                    <div class="lectors__footer">
                        <b>Ірина Губіна</b>
                        <p>Експерт з податкового та бухгалтерського обліку</p>
                    </div>
                </div>
                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lectors_ta.webp" type="image/webp"/>
                            <img src="{{ link }}/lectors_ta-min.jpg" alt="Тимур Алієв"/>
                        </picture>
                    </div>

                    <div class="lectors__footer">
                        <b> Тимур Алієв</b>
                        <p>Консультант з питань бухгалтерського обліку та оподаткування</p>
                    </div>
                </div>

                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lectors_os.webp" type="image/webp"/>
                            <img src="{{ link }}/lectors_os-min.jpg" alt=" Олександр Смирнов"/>
                        </picture>
                    </div>

                    <div class="lectors__footer">
                        <b>  Олександр Смирнов</b>
                        <p>Адвокат, податковий консультант</p>
                    </div>
                </div>
                <div class="lectors__item">
                    <div class="lectors__img">
                        <picture>
                            {#  <source srcset="{{ link }}/lectors_tm_mob.png" media="(max-width: 767.98px)" >#}
                            <source srcset="{{ link }}/lectors_sd.webp" type="image/webp"/>
                            <img src="{{ link }}/lectors_sd-min.jpg" alt="Сергій Дробоття"/>
                        </picture>
                    </div>
                    <div class="lectors__footer">
                        <b> Сергій Дробоття</b>
                        <p>Консультант з питань оподаткування з багаторічним досвідом роботи в органах ДПС</p>
                    </div>
                </div>
            </div>
            <p class="lectors__btn">
                <a href="#order" class="btn js-scroll-to">Детальніше ></a>
            </p>
        </div>
    </div>

    <div id="themes" class="themes">
        <div class="themes__container">
            <div class="themes__title">регламент</div>
            <p class="themes__caption">Основний потік</p>

                <div class="theme">
                    <div class="theme__header">
                        <p class="theme__info"><span>10:00–10:40</span> <b>|</b>Мар’яна Кавин</p>
                        <p class="theme__title">ФОП-звітність за 2020 рік з ЄСВ та єдиного податку. Новації-2021</p>
                    </div>
                    <ol class="theme__list ">
                        <li class="theme__list-item">Декларація з єдиного податку: як залишитися на спрощеній системі</li>
                        <li class="theme__list-item">ЄСВ: річний звіт (Д5), карантинні пільги та мінімальні внески-2020</li>
                        <li class="theme__list-item">Книга обліку-2021: електронна чи паперова. Що робити зі старою книгою обліку</li>
                        <li class="theme__list-item">Річна декларація ФОП: типові помилки, проблемні показники</li>
                    </ol>
                </div>

                <div class="theme">
                    <div class="theme__header">
                        <p class="theme__info"><span>10:40 – 11:20</span> <b>|</b>Вікторія Величко</p>
                        <p class="theme__title">Податкові зміни-2021. Нова і стара декларації <br>з податку на прибуток</p>
                    </div>
                    <ol class="theme__list ">
                        <li class="theme__list-item">Податок на прибуток: зміни з 1 січня</li>
                        <li class="theme__list-item">Нова форма декларації з податку на прибуток: що зміниться. Підготовка до заповнення декларації за 2020 рік</li>
                        <li class="theme__list-item">Дисконтування: розрахунки, податкові наслідки та фінзвітність</li>
                        <li class="theme__list-item">Звірки й закриття заборгованості: що зробити вже зараз</li>
                    </ol>
                </div>

                <div class="theme">
                    <div class="theme__header">
                        <p class="theme__info"><span>11:20 – 12:00</span> <b>|</b>Тетяна Мойсеєнко</p>
                        <p class="theme__title">ЄСВ-2021. ПДФО-перерахунки-2020. Святкові подарунки</p>
                    </div>
                    <ol class="theme__list ">
                        <li class="theme__list-item">ЄСВ-2021: мінімальна база, перехідні виплати, виправлення</li>
                        <li class="theme__list-item">Нова об’єднана звітність з ЄСВ та ПДФО: що зміниться з 2021 року</li>
                        <li class="theme__list-item">ПДФО-(не)обов’язковий перерахунок: хто та як проводить?</li>
                        <li class="theme__list-item">Святкові подарунки працівникам: ПДФО, ЄСВ, звітність</li>
                    </ol>


                </div>
                <div class="theme__breake"><p class="theme__info"><span>12:00–12:30</span> <b>|</b> Перерва </p></div>


            <div class="themes__sections">
                <div class="themes__section">
                    <p class="themes__title themes__title--one">Секція 1</p>
                    <div class="theme">
                        <div class="theme__header theme__header--section">

                            <p class="theme__info theme__info--one"><span>12:30–13:30</span> <b>|</b>Ірина Губіна</p>
                            <p class="theme__title">Відрядження-2021: добові, витрати, аванс і звітність</p>
                        </div>
                        <ol class="theme__list theme__list--section ">
                            <li class="theme__list-item">Наказ про відрядження, строки, обґрунтування витрат</li>
                            <li class="theme__list-item">Аванс на відрядження: розмір, валюта, строки, форма видачі</li>
                            <li class="theme__list-item">Витрати на відрядження: добові, проїзд, проживання. Курсові різниці</li>
                            <li class="theme__list-item">Авансовий звіт та підтверджуючі документи: як уникнути ПДФО та ВЗ</li>
                        </ol>
                    </div>

                    <div class="theme">
                        <div class="theme__header theme__header--section">
                            <p class="theme__info theme__info--one"><span>13:30–14:30</span> <b>|</b>Тимур Алієв</p>
                            <p class="theme__title">РРО/ПРРО: черговий відкат часу. Нові штрафи з 1 січня 2021 року</p>
                        </div>
                        <ol class="theme__list theme__list--section ">
                            <li class="theme__list-item"> РРО і ПРРО: нові штрафи з 1 січня 2021 року. Строк давності для РРО/ПРРО-порушень</li>
                            <li class="theme__list-item">КОРО та РК: реєстрація/скасування реєстрації, ведення</li>
                            <li class="theme__list-item">Z-звіт: електронний чи паперовий? Вибір, зберігання, надання під час перевірки</li>
                            <li class="theme__list-item">Кешбек: механізм, ризики для продавця, штрафи</li>
                        </ol>
                    </div>
                </div>
                <div class="themes__section">
                    <p class="themes__title themes__title--two">Секція 2</p>
                    <div class="theme">
                        <div class="theme__header theme__header--section">
                            <p class="theme__info theme__info--two"><span>12:30–13:30</span> <b>|</b>Сергій Дробоття</p>
                            <p class="theme__title">ПДВ-зміни та звітність</p>
                        </div>
                        <ol class="theme__list theme__list--section ">
                            <li class="theme__list-item">Податковий кредит: як документально підтвердити. Наявні проблеми та наслідки</li>
                            <li class="theme__list-item">Умовне постачання: хто і коли нараховує податкове зобов'язання. Приклади</li>
                            <li class="theme__list-item">«Дешеві» продажі: не помилитись з базою оподаткування</li>
                            <li class="theme__list-item">Практичні аспекти заповнення ПДВ-звітності</li>
                        </ol>
                    </div>

                    <div class="theme">
                        <div class="theme__header theme__header--section">
                            <p class="theme__info theme__info--two"><span>13:30–14:30</span> <b>|</b>Олександр Смирнов</p>
                            <p class="theme__title">Перевірки ДПС і Держпраці та штрафи-2021</p>
                        </div>
                        <ol class="theme__list theme__list--section ">
                            <li class="theme__list-item">Податкова перевірка: як законно перенести її початок і виграти час</li>
                            <li class="theme__list-item">Листи від ДПС про надання інформації: чи можна не відповідати</li>
                            <li class="theme__list-item">Планові перевірки Держпраці у 2021 році: як підготуватися</li>
                            <li class="theme__list-item"> Штрафи у 2021 році: що змінилось і для кого</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="questions">
                <p>індивідуальні консультації від кожного з лекторів</p>
                <span>Відповіді на ваші запитання надішлемо вже <b>11 грудня</b>  <br> разом з відеозаписом семінару.</span>
            </div>
            <p class="themes__btn">
                <a href="#order" class="btn js-scroll-to">Детальніше ></a>
            </p>
        </div>
    </div>


    <div id="advantages" class="advantages">
        <div class="advantages__container">
            <p class="advantages__title">що ви отримаєте</p>
            <div class="advantages__content">
                <div class="advantages__item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0C115 0 0 115.1 0 256c0 141 115.1 256 256 256 141 0 256-115.1 256-256C512 115 396.9 0 256 0zm0 482C131.4 482 30 380.6 30 256S131.4 30 256 30s226 101.4 226 226-101.4 226-226 226z" /><path d="M181 404l222-148-222-148v296zm30-240l138 92-138 92V164z"/></svg>
                    <p>Online <br> та запис <br>семінару</p>
                </div>
                <div class="advantages__item">
                    <svg height="512" viewBox="0 0 510 510" width="512" xmlns="http://www.w3.org/2000/svg"><path d="M510 .986H0v390h270v118.027l60-40 60 40V390.986h120zM324.195 375.7C294.215 372.908 270 347.393 270 315.986c0-33.084 26.916-60 60-60s60 26.916 60 60c0 35.151-30.31 63.123-65.805 59.714zM360 452.959l-30-20-30 20v-52.076c19.239 6.802 40.809 6.785 60 0zm120-91.973h-72.082c7.68-13.246 12.082-28.618 12.082-45 0-49.626-40.374-90-90-90s-90 40.374-90 90c0 16.382 4.402 31.754 12.082 45H30v-330h450z"/><path d="M90 60.986h330v30H90zM90 120.986h330v30H90zM90 180.986h150v30H90zM90 240.986h105v30H90zM90 300.986h90v30H90z"/></svg>
                    <p>Сертифікат</p>
                </div>
                <div class="advantages__item">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve"><style></style><path d="M144.6 19.1v104.2H0v270.6h64.3V493l109.2-99.1h194v-85.4l88.4 80.2v-99.1H512V19.1H144.6zm192.8 344.8H161.8l-67.6 61.3v-61.3H30V153.3h307.4v210.6zM482 259.6h-56.2V321l-58.4-53V123.3H174.6V49.1H482v210.5z" fill="#fff"/><path d="M63.2 211.5h241v30h-241v-30zM95.3 275.7H272v30H95.3v-30z"/></svg>
                    <p>Відповіді <br>на запитання</p>
                </div>
                <div class="advantages__item">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 569 569" xml:space="preserve"><style></style><path d="M66.2 66.3v492.9c0 5.2 4.2 9.5 9.5 9.5h360.2c5.2 0 9.5-4.2 9.5-9.5V161.1c0-.2-.1-.4-.1-.6 0-.8-.2-1.7-.5-2.4l-.3-.9c-.5-1-1.1-2-1.9-2.8l-94.8-94.8c-.8-.8-1.7-1.4-2.8-1.9l-.9-.3c-.8-.3-1.6-.4-2.5-.5-.2 0-.3-.1-.5-.1H75.7c-5.2.1-9.5 4.3-9.5 9.5zM413 151.7h-62.4V89.2l62.4 62.5zM85.2 75.8h246.4v85.3c0 5.2 4.2 9.5 9.5 9.5h85.3v379.1H85.2V75.8z"/><path  d="M464.3 492.9v19h28.4c5.2 0 9.5-4.2 9.5-9.5V9.5c0-5.2-4.2-9.5-9.5-9.5H132.6c-5.2 0-9.5 4.2-9.5 9.5v28.4h19V19h341.2v473.9h-19z"/><path  d="M142 189.6h227.5v19H142v-19zM142 132.7h75.8v19H142v-19zM142 246.4h151.7v19H142v-19zM312.7 246.4h56.9v19h-56.9v-19zM142 303.3h227.5v19H142v-19zM142 417.1h227.5v19H142v-19zM227.4 360.2h142.2v19H227.4v-19zM142 360.2h66.3v19H142v-19zM142 473.9h38v19h-38v-19zM198.9 473.9h170.6v19H198.9v-19z"/></svg>
                    <p>Презентації <br>лекторів</p>
                </div>
            </div>
            <div class="advantages__gift">


                <div class="gifts">
                    <p class="gifts__title">ВІДЕОКУРС У ПОДАРУНОК</p>
                    <p class="gifts__name">Зарплатний облік в 1С ЗУП 8.3<br>
                        <span>(складається з 3 модулів, 24 уроків та відповідей на запитання)</span></p>
                    <div class="gifts__button"><a data-toggle="collapse" data-target="#gifts2" aria-expanded="false" aria-controls="#gifts2" class="gifts__more-btn">Детальніше</a></div>
                    <div id="gifts2" class="gifts__more collapse">
                        <div class="gifts__more-body">
                            {#  <p class="gifts__modul">МОДУЛЬ 1. СТАНДАРТИ Й БУХГАЛТЕРСЬКИЙ ОБЛІК (16 УРОКІВ)</p>#}
                            <ul class="gifts__more-list">
                                <li class="gifts__more-list-item"><p>Загальні налаштування бази</li>
                                <li class="gifts__more-list-item"><p>Нарахування та виплати заробітку</p> </li>
                                <li class="gifts__more-list-item"><p>Зарплатна звітність</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="advantages__btn">
                <a href="#order" class="btn js-scroll-to">Детальніше ></a>
            </p>
        </div>
    </div>

    <div id="order" class="order">
        <div class="order__container">

            <div id="timer-custom" class="order__timer">
                <p class="order__title">Акційні ціни діють ще</p>
                <div class="pricing-timer" data-timer-2="{{ page.options['timer']|default('') }}">
                    <div class="pricing-timer__inner">
                        <div class="pricing-timer__box"><span class="days">00</span>дні</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="hours">00</span>год</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
                    </div>
                </div>
            </div>
            <div class="order__packages">
                <div class="order__package package package--gold">
                    <div class="package__head package__head--gold-more">
                        <p class="package__header package__header--gold">стандарт</p>
                        <p class="package__price package__price-platform"></p>
                        <p class="package__price package__price--gold">{{shop_price('онлайн-10122020ББС_ст','site')}} <br /><span>грн</span></p>
                        <p class="package__old-price">
                            <s>{{shop_price('онлайн-10122020ББС_ст','line')}}грн</s>
                        </p>
                        <p></p>
                        <div class="package__btn"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-10122020BBS/standart" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-10122020ББС_ст" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                    <div class="package__body package__body--gold">
                        <div class="package__platform"></div>
                        <ul class="package__list">
                            <li>online-трансляція</li>
                            <li>відеозапис</li>
                            <li>відповіді на запитання</li>
                            <li>презентації лекторів</li>
                            <li>сертифікат учасника</li>
                        </ul>
                    </div>
                    <div class="package__footer package__footer--gold">
                        <p class="package__presents">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31">
                                <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" fill="#c000ae"></path>
                            </svg>Подарунок:
                        </p>
                        <ul class="package__list package__list--footer">
                            <li class="is-inactive">Відеокурс <br> «Зарплатний облік <br> в 1С ЗУП 8.3»</li>
                        </ul>
                        <div class="package__btn--footer"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-10122020BBS/standart" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-10122020ББС_ст" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="order__package package package--gold">
                    <div class="package__head package__head--standart">
                        <p class="package__header ">GOLD</p>
                        <p class="package__price package__price-platform"></p>
                        <p class="package__price package__price--gold">{{shop_price('онлайн-10122020ББС_голд','site')}} <br /><span>грн</span></p>
                        <p class="package__old-price">
                            <s>{{shop_price('онлайн-10122020ББС_голд','line')}}грн</s>
                        </p>
                        <p></p>
                        <div class="package__btn"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-10122020BBS/gold" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-10122020ББС_голд" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                    <div class="package__body package__body--gold">
                        <div class="package__platform"></div>
                        <ul class="package__list">
                            <li>online-трансляція</li>
                            <li>відеозапис</li>
                            <li>відповіді на запитання</li>
                            <li>презентації лекторів</li>
                            <li>сертифікат учасника</li>
                        </ul>
                    </div>
                    <div class="package__footer package__footer--gold">
                        <p class="package__presents">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31">
                                <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" fill="#c000ae"></path>
                            </svg>Подарунок:
                        </p>
                        <ul class="package__list package__list--footer">
                            <li>Відеокурс <br> «Зарплатний облік <br> в 1С ЗУП 8.3»</li>
                        </ul>
                        <div class="package__btn--footer"><a class="btn js-btn-utm dk-hide" href="https://7eminar.ua/checkout/s-10122020BBS/gold" target="_blank">оплатити <br /><span>рахунок/картою</span></a>
                            <form class="kbs-hide dk-show" method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="онлайн-10122020ББС_голд" />
                                <button class="btn" type="submit" rel="order">оплатити <br /><span>рахунок/картою</span></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="order__package package package--gold-plus">
                    <div class="package__head package__head--gold-plus">
                        <p class="package__header package__header--platform">БУХГАЛТЕРСЬКА ВІДЕОПЛАТФОРМА №1</p>
                        <p class="price-platform-js">{{ shop_price('онлайн-platform_price','month') }} <br /><span>грн/міс.</span></p>
                        <p class="package__old-price">
                            <s> {{ shop_price('онлайн-platform_price','line') }} грн/міс.</s>
                        </p>
                        <div class="package__btn"><a class="btn btn--Sale js-platform-link js-banner-link" href="{{ link_platform }}" target="_blank">оплатити <br /><span>рахунок/картою</span></a></div>
                    </div>
                    <div class="package__body package__body--gold-plus">
                        <div class="package__platform"></div>
                        <ul class="package__list">
                            <li class="is-platform"><b>Доступ до цього відеопроєкту </b>, а також ще до <b>{{ shop_price('онлайн-platform_price','courses') }}+</b> відеокурсів, вебінарів та трансляцій на усі найважливіші бухгалтерські теми <b>за супервигідною ціною</b></li>
                        </ul>
                    </div>
                    <div class="package__footer package__footer--gold-plus">
                        <p class="package__presents">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="31" height="31">
                                <path d="M13 0C5.8 0 0 5.8 0 13s5.8 13 13 13 13-5.9 13-13S20.1 0 13 0zm6.5 14.3h-5.2v5.2h-2.6v-5.2H6.5v-2.6h5.2V6.5h2.6v5.2h5.2v2.6z" fill="#930188"></path>
                            </svg>Подарунок:
                        </p>
                        <ul class="package__list package__list--footer">
                            <li >Відеокурс <br> «Зарплатний облік <br> в 1С ЗУП 8.3»</li>
                        </ul>
                        <div class="package__btn--footer"><a class="btn btn--Sale js-platform-link js-banner-link" href="{{ link_platform }}" target="_blank">оплатити <br /><span>рахунок/картою</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="reviews" class="reviews">
        <div class="reviews__container">
            <p class="reviews__title">Відгуки про навчання від ваших колег</p>
            <div class="reviews__content reviews-slider">
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img3.png" alt="отзывы"/>
                    </picture>
                    <p> Дуже допомагають такі семінари зі звітністю. Цих змін у законодавстві «понапридумують» стільки, що тільки ваші експерти й взмозі розібратися і донести нам.</p>
                    <b>Світлана, головний бухгалтер</b>

                </div>
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img2.png" alt="отзывы"/>
                    </picture>
                    <p> З вами вже 5-й рік і ні хвилини не пожалкував. Бо коли сам на себе працюєш, то треба вміти і документацію вести, і з податками не накрутити, і до перевірок готовим бути.</p>
                    <b>  Максим, ФОП</b>
                </div>
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img4.png" alt="отзывы"/>
                    </picture>
                    <p> Ваші лектори вже як рідні для мене! Щодня їх слухаю і навчаюсь, питань в роботі стає все менше. Як і штрафів і доган від шефа)))</p>
                    <b> Марія, бухгалтер</b>
                </div>
                <div class="reviews__item">
                    <picture>
                        <img src="{{ link }}/img1.png" alt="отзывы"/>
                    </picture>
                    <p>Ходив на ваші заходи у зали, а тепер онлайн дивлюсь – окреме ДЯКУЮ за такі ВЕЛИКІ семінари! Море потрібної інформації за один ефір – те, що треба для економії часу!</p>
                    <b> Артем, аудитор</b>
                </div>
            </div>
        </div>
    </div>



    <div id="free-video" class="free-video">
        <div class="free-video__container container">
            <div class="free-video__content">
                <p class="free-video__title">Всі корисні відеоматеріали в одному місці!</p>
                <p class="free-video__subtitle">бухгалтерська відеоплатформа №1</p>
                <div class="free-video__block">
                    <div class="free-video__text">
                        <p>Хочете зекономити свої кошти та отримати доступ до цього відеопроєкту, а також ще до {{ shop_price('онлайн-platform_price','courses') }}+ відеокурсів, вебінарів та трансляцій на усі найважливіші бухгалтерські теми?</p>
                        <p>Передплатіть Бухгалтерську Відеоплатформу №1.</p><a href="{{ link_platform_video }}" target="_blank" class="js-banner-link">Детальніше про відеоплатформу</a>
                    </div>
                    <div class="free-video__video">
                        <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
                <div class="free-video__buttons"> <a  href="{{ link_platform_video }}" target="_blank" class="free-video__btn js-banner-link">Передплатити зі знижкою<i aria-hidden="true" class="fa fa-chevron-right"></i></a></div>

            </div>
        </div>
    </div>

    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
                <li><a href="https://www.otpbank.com.ua/smb/products-financing/" target="_blank" rel="nofollow"><img src="{{ link }}/logo_otp.svg"  width="170" alt="otpbank" /></a></li>
                <li><a class="logonoclik" href="https://7eminar.com/" target="_blank"><img class="img_partners1" style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" /></a></li>
                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит" /></a></li>
               {# <li><a href=" https://medoc.ua" target="_blank" rel="nofollow"><img src="/storage/pages/241_14042020/images/logo-medoc@4x.png" height="95" alt="medoc" /></a></li>#}
            </ul>
          {#  <ul class="partners__list">

                <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком" /></a></li>
                <li><a class="logonoclik" href="https://kraft.net.ua" target="_blank"><img class="img_partners1" style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" /></a></li>
            </ul>#}
        </div>
    </div>

   {# <div id="map" class="map">
        <a href="https://goo.gl/maps/xB3Dj658ott1qo969" target="_blank">
            <div class="map__container">
                <div class="map__item">
                    <p>м. Київ, конгрес-хол «Mercure»</p>
                    <p><span>вул. Вадима Гетьмана, 6</span></p>
                </div>
            </div>

        </a>
    </div>#}

    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>

    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>

