{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
        <div class="menu-mob">
            <input id="menu-checkbox" type="checkbox"/><span class="burger__bg"></span><span class="burger__element"></span>
            <ul class="menu">
                <li><a href="#knowledges" class="burger__link js-scroll-to">Про що дізнаєтесь</a></li>
                <li><a href="#profession" class="burger__link js-scroll-to">Для кого</a></li>
                <li><a href="#lectors" class="burger__link js-scroll-to">ЛЕКТОР</a></li>
                <li><a href="#topics" class="burger__link js-scroll-to">ТЕМИ</a></li>
                <li><a href="#order" class="burger__link js-scroll-to">ПРИДБАТИ</a></li>
            </ul>
        </div>
    </div>
    <div class="hero">
        <div class="hero__container">
            <div class="hero__menu">
                <div class="menu">
                    <div class="menu__container">
                        <ul class="menu__list">
                            <li><a class="js-scroll-to" href="#knowledges">Про що дізнаєтесь</a></li>
                            <li><a class="js-scroll-to" href="#profession">Для кого</a></li>
                            <li><a class="js-scroll-to" href="#lectors">ЛЕКТОР</a></li>
                            <li><a class="js-scroll-to" href="#topics">ТЕМИ</a></li>
                            <li><a class="js-scroll-to" href="#order">ПРИДБАТИ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hero__top-container dk-show-flex">
                <a class="hero__logo-dk" href="https://dtkt.ua/about" target="_blank">
                    <img src="{{ link }}/logo-dk.png" width="200" height="52" alt="«Дебет-Кредит» | Бухгалтерський сервіс №1 в Україні">
                </a>
                <a class="hero__logo-seminar" href="https://7eminar.com/" target="_blank">
                    <img src="{{ link }}/7minar_logo_color.png" width="186" height="42" alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
                </a>
            </div>
            <div class="hero__content">

              <p class="hero__description">Online-школа для бухгалтера</p>

                <p class="hero__title">
                    П(С)БО
                </p>
                <p class="hero__sub-title">легкий старт</p>

                <div class="hero__btn">
                    <a href="#knowledges"><span>Детальніше</span><i aria-hidden="true" class="fa fa-chevron-right"></i></a>
                </div>
                <div class="hero__lector hidden-md hidden-sm hidden-xs">
                    <picture>
                        <source srcset="{{ link }}/lector.webp" type="image/webp"/>
                        <img src="{{ link }}/lector-min.png" alt="лектор"/>
                    </picture>
                </div>
                <div class="hero__lector hidden-lg ">
                    <picture>
                        <img src="{{ link }}/lt-mob.png" alt="лектор"/>
                    </picture>
                </div>

                <div class="hero__info">
                    <p>
                        18 уроків <br>
                       <small>з Людмилою Тимофеєвою</small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="section--fits">
          <div id="knowledges" class="knowledges">
                <div class="knowledges__container">
                    <div class="knowledges__content">
                        <div class="knowledges__titel">Про що <br>
                            дізнаєтеся
                        </div>
                        <ul class="knowledges__list">
                            <li class="knowledges__item">Як правильно вести бухгалтерський облік</li>
                            <li class="knowledges__item">Первинні документи як основа обліку</li>
                            <li class="knowledges__item">Облік доходів, витрат та їх взаємозв'язок із прибутком</li>
                            <li class="knowledges__item">Фінансова звітність: заповнюємо без помилок</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="profession" class="profession">
            <div class="profession__container">
                <div class="profession__title">Для кого ця школа</div>
                <div class="profession__content">
                    <div class="profession__item">
                        <p class="profession__name">Бухгалтер-новачок <i aria-hidden="true" class="fa fa-chevron-right"></i></p>
                        <picture>
                            <source srcset="{{ link }}/01.webp" type="image/webp"/>
                            <img src="{{ link }}/01.jpg" alt="Бухгалтер-новачок"/>
                        </picture>


                    </div>
                    <div class="profession__item">
                        <picture>
                            <source srcset="{{ link }}/02.webp" type="image/webp"/>
                            <img src="{{ link }}/02.jpg" alt="Особи"/>
                        </picture>
                        <p class="profession__name"><i aria-hidden="true" class="fa fa-chevron-left"></i>Особи, які хочуть стати
                            <br>
                            бухгалтерами </p>
                    </div>
                </div>
                <div class="profession__content">
                    <div class="profession__item">
                        <p class="profession__name">Аудитор<i aria-hidden="true" class="fa fa-chevron-right"></i></p>
                        <picture>
                            <source srcset="{{ link }}/03.webp" type="image/webp"/>
                            <img src="{{ link }}/03.jpg" alt="Аудитор"/>
                        </picture>
                    </div>
                    <div class="profession__item">
                        <picture>
                            <source srcset="{{ link }}/04.webp" type="image/webp"/>
                            <img src="{{ link }}/04.jpg" alt="лектор"/>
                        </picture>
                        <p class="profession__name"><i aria-hidden="true" class="fa fa-chevron-left"></i>Головний бухгалтер </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="lectors" class="lectors">
            <div class="lectors__container">
                <div class="lectors__content">
                    <div class="lectors__img">
                        <picture>
                            <source srcset="{{ link }}/lector_lt.webp" type="image/webp"/>
                            <img src="{{ link }}/lector_lt.png" alt="ЛЮДМИЛА ТИМОФЕЄВА"/>
                        </picture>
                    </div>
                    <div class="lectors__block">
                        <p class="lectors__info">Лектор</p>
                        <p class="lectors__name">ЛЮДМИЛА <br> ТИМОФЕЄВА</p>
                        <p class="lectors__text">Головний спеціаліст АФ «Контракти-Аудит», аудитор,
                            податковий консультант, фахівець з оподаткування
                            прибутку підприємств
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="section--two">

        <div id="topics" class="wrapper wrapper_topics">
            <div class="topics__container">
                <div class="topics__title">ТЕМИ КУРСУ</div>
                <div class="topics">
                    <div class="topics__item">
                        <div class="topics__module">
                            <h2>Модуль 1.<span> Стандарти й бухгалтерський облік</span></h2>
                        </div>
                        <div class="topics__body">
                            <div class="slider-thems">
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 1 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">Вивчаємо Закон України «Про бухгалтерський облік та фінансову звітність в Україні» </div>
                                    <ul>
                                        <li>Визначення термінів. Класифікація підприємств. </li>
                                        <li>Мета бухгалтерського обліку та фінансової звітності.</li>
                                        <li>Принципи бухгалтерського обліку.</li>
                                        <li>Організація та ведення бухгалтерського обліку.</li>
                                        <li>Первинні документи та регістри бухгалтерського обліку.</li>
                                        <li>Наказ про облікову політику.</li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 2 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 7 «Основні засоби» </div>
                                    <ul>
                                        <li>Нормативні акти, що регулюють операції з основними засобами та МНМА. Облікова політика. Зміна вартісної оцінки в податковому обліку і вплив на бухгалтерський облік. </li>
                                        <li>Придбання. Компонентний облік. Формування первісної вартості. Кваліфікаційні активи. Безоплатно отримані ОЗ. </li>
                                        <li>Амортизація та строк корисного використання. Призупинення нарахування амортизації. </li>
                                        <li>Переоцінка основних засобів та зміна корисності. Відображення в бухгалтерському обліку. </li>

                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 3 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 7 «Основні засоби», П(С)БО 14 «Оренда», П(С)БО 27 «Необоротні активи, утримувані для продажу, та припинена діяльність»</div>
                                    <ul>
                                        <li>Ремонт і поліпшення основних засобів, зокрема орендованих. Документування та бухгалтерський облік. </li>
                                        <li>Продаж основних засобів. Бухгалтерський облік. </li>
                                        <li>Ліквідація основних засобів. </li>
                                        <li>Облік МНМА. Відмінність від основних засобів і МШП. </li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 4 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 8 «Нематеріальні активи» </div>
                                    <ul>
                                        <li>Визначення. Групи нематеріальних активів. Документування. </li>
                                        <li>Визнання та оцінка НА. Формування первісної вартості.</li>
                                        <li>Амортизація НА. Вибір методу нарахування амортизації та особливості визначення строку корисного використання.</li>
                                        <li>Переоцінка.</li>
                                        <li>Вибуття НА.</li>
                                        <li>Бухгалтерський облік НА.</li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 5 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 9 «Запаси» </div>
                                    <ul>
                                        <li>	Визнання та первісна оцінка запасів. Структура запасів.</li>
                                        <li>	Особливості відображення транспортно-заготівельних витрат у бухгалтерському обліку.</li>
                                        <li>	Методи вибуття запасів.</li>
                                        <li>	Оцінка запасів на дату балансу. Проведення уцінки та дооцінки у бухгалтерському обліку.</li>
                                        <li>	Списання запасів. Бухгалтерські проведення.</li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 6 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 10 «Дебіторська заборгованість» </div>
                                    <ul>
                                        <li>	Сумнівна та безнадійна дебіторська заборгованість. Порядок списання безнадійної дебіторської заборгованості.</li>
                                        <li>	Довгострокова та поточна заборгованість.</li>
                                        <li>	Відображення довгострокової дебіторської заборгованості за теперішньою вартістю. </li>
                                        <li>	Резерв сумнівних боргів: методи, розрахунок, списання тощо. Бухгалтерські проведення.</li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 7 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 11 «Зобов’язання»</div>
                                    <ul>
                                        <li>	Поточні та довгострокові зобов’язання.</li>
                                        <li>	Відображення довгострокових зобов’язань за теперішньою вартістю. </li>
                                        <li>	Непередбачені зобов’язання. Доходи майбутніх періодів.</li>
                                        <li> Визнання та оцінка зобов’язань.</li>
                                        <li> Створення забезпечень.</li>

                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 8 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 12 «Фінансові інвестиції»</div>
                                    <ul>
                                        <li> Види фінансових інвестицій.</li>
                                        <li>	Первісна оцінка інвестицій та оцінка на дату балансу.</li>
                                        <li> Особливості обліку інвестицій за методом участі у капіталі. Відображення у бухгалтерському обліку і фінансовій звітності.</li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 9 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 31 «Фінансові витрати», П(С)БО 32 «Інвестиційна нерухомість» </div>
                                    <ul>
                                        <li>Визначення інвестиційного активу.</li>
                                        <li>Капіталізація фінансових витрат.</li>
                                        <li>Випадки, причини і тривалість зупинення виконання робіт зі створення кваліфікаційного активу та капіталізації фінансових витрат.</li>
                                        <li>Визначення інвестиційної нерухомості.</li>
                                        <li>Особливості обліку та оцінки інвестиційної нерухомості.</li>
                                        <li>Вибуття інвестиційної нерухомості.</li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 10 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 15 «Дохід»</div>
                                    <ul>
                                        <li>Які надходження не визнаються доходом.</li>
                                        <li>Класифікація доходів. Відображення у бухгалтерському обліку.</li>
                                        <li>Дата визнання доходу від реалізації товарів, продукції.</li>
                                        <li>Особливості визначення доходу, пов’язаного з наданням послуг.</li>
                                        <li>Як визначається дохід від цільового фінансування.</li>
                                        <li>Оцінка доходу.</li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 11 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 16 «Витрати» </div>
                                    <ul>
                                        <li>Визнання та класифікація витрат. Які витрати не визнаються витратами.</li>
                                        <li>Адміністративні витрати, витрати на збут. Інші витрати та операційні витрати у прикладах.</li>

                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 12 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title"> П(С)БО 16 </div>
                                    <ul>
                                        <li> Виробнича собівартість. Калькуляція, об’єкт калькулювання, одиниця калькулювання, база розподілу тощо. Приклади та рекомендації.</li>
                                        <li> Загальновиробничі витрати: перелік, класифікація та розподіл. Приклади.</li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 13 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 17 «Податок на прибуток»</div>
                                    <ul>
                                        <li> Поточний та обліковий податок на прибуток.</li>
                                        <li> Відстрочені податкові активи та відстрочені податкові зобов’язання.</li>
                                        <li> Визнання витрат (доходів) із податку на прибуток.</li>
                                        <li> Відображення у фінансовій звітності.</li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 14 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 21 «Вплив змін валютних курсів»</div>
                                    <ul>
                                        <li> Відображення операцій в іноземній валюті.</li>
                                        <li> Розрахунок курсових різниць. Операційні та неопераційні курсові різниці. Їх вплив на фінансовий результат та на суму додаткового капіталу.</li>
                                        <li> Господарська одиниця за межами України.</li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 15 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 6 «Виправлення помилок та зміни у фінансових звітах»</div>
                                    <ul>
                                        <li> Дата балансу, облікова оцінка та облікова політика. Зміни облікових оцінок та  облікової політики.</li>
                                        <li> Виправлення помилок поточного року та попередніх років. Термін виправлення помилок. Приклади.</li>
                                        <li> Події після дати балансу.</li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 16 <span>із 16</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">П(С)БО 1 «Загальні вимоги до фінансової звітності»</div>
                                    <ul>
                                        <li> Термінологія для складання фінансової звітності.</li>
                                        <li> Склад та елементи фінансової звітності.</li>
                                        <li> Принципи складання фінансової звітності.</li>
                                        <li> Розкриття інформації у фінансовій звітності.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topics">
                    <div class="topics__item">
                        <div class="topics__module">
                            <h2>Модуль 2.<span> Фінансова звітність </span></h2>
                        </div>
                        <div class="topics__body">
                            <div class="slider-thems">
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 1 <span>із 2</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title"> Баланс (Звіт про фінансовий стан) </div>
                                    <ul>
                                        <li>Структура Балансу: активи, власний капітал та зобов’язання. </li>
                                        <li>Формування даних Балансу. </li>
                                        <li>Аналіз статей Балансу. </li>
                                        <li>Типові помилки, які допускають при складанні Балансу. </li>
                                    </ul>
                                </div>
                                <div class="slider-thems__item">
                                    <div class="topics__head">
                                        <b>Урок 2 <span>із 2</span>
                                        </b>
                                        <p><strong>Вихід:</strong> 26 серпня 2020 року</p>
                                    </div>
                                    <div class="slider-thems__title">Звіт про фінансові результати (Звіт про сукупний дохід) </div>
                                    <ul>
                                        <li>Фінансові результати. Дані для складання Звіту. </li>
                                        <li>Аналіз витрат та доходів. </li>
                                        <li>Сукупний дохід. </li>
                                        <li>Елементи операційних витрат.</li>
                                        <li>Розрахунок показників прибутковості акцій.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="topics__btn">
                    <a href="#order"><span>Приєднатися</span><i aria-hidden="true" class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>

        <div id="teaching" class="teaching">
            <div class="teaching__title">ЯК ПРОХОДИТЬ НАВЧАННЯ</div>
            <div class="teaching__container">
                <div class="teaching__content">
                    <ul class="teaching__list">
                        <li class="teaching__item">
                            <div class="teaching__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="94.572" y1="535.601" x2="417.428" y2="-23.601"><stop offset="0" stop-color="#f87845"/><stop offset="1" stop-color="#f835d5"/></linearGradient><path d="M512 391h-30V121h30V31H0v90h30v270H0v90h512v-90zM482 91h-51V61h51v30zm-371 0V61h50v30h-50zm80-30h50v30h-50V61zm80 0h50v30h-50V61zm80 0h50v30h-50V61zM30 61h51v30H30V61zm30 60h392v270H60V121zm101 300v30h-50v-30h50zm30 0h50v30h-50v-30zm80 0h50v30h-50v-30zm80 0h50v30h-50v-30zm-321 0h51v30H30v-30zm452 30h-51v-30h51v30z" fill="url(#a)"/><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="203.34" y1="339.605" x2="279.574" y2="207.563"><stop offset="0" stop-color="#f87845"/><stop offset="1" stop-color="#f835d5"/></linearGradient><path d="M211 168v176l132-88-132-88zm30 56l48 32-48 32v-64z" fill="url(#b)"/></svg>
                            </div>
                            <div class="teaching__block">
                                <div class="teaching__modul">
                                    МОДУЛЬ 1
                                </div>
                                <div class="teaching__text">
                                    16 відеоуроків з письмовими <br>
                                    відповідями на запитання
                                </div>
                            </div>
                        </li>
                        <li class="teaching__item">
                            <div class="teaching__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="94.572" y1="535.601" x2="417.428" y2="-23.601"><stop offset="0" stop-color="#f87845"/><stop offset="1" stop-color="#f835d5"/></linearGradient><path d="M512 391h-30V121h30V31H0v90h30v270H0v90h512v-90zM482 91h-51V61h51v30zm-371 0V61h50v30h-50zm80-30h50v30h-50V61zm80 0h50v30h-50V61zm80 0h50v30h-50V61zM30 61h51v30H30V61zm30 60h392v270H60V121zm101 300v30h-50v-30h50zm30 0h50v30h-50v-30zm80 0h50v30h-50v-30zm80 0h50v30h-50v-30zm-321 0h51v30H30v-30zm452 30h-51v-30h51v30z" fill="url(#a)"/><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="203.34" y1="339.605" x2="279.574" y2="207.563"><stop offset="0" stop-color="#f87845"/><stop offset="1" stop-color="#f835d5"/></linearGradient><path d="M211 168v176l132-88-132-88zm30 56l48 32-48 32v-64z" fill="url(#b)"/></svg>
                            </div>
                            <div class="teaching__block">
                                <div class="teaching__modul">
                                    МОДУЛЬ 2
                                </div>
                                <div class="teaching__text">
                                    2 відеоуроки з письмовими <br>
                                    відповідями на запитання
                                </div>
                            </div>
                        </li>
                        <li class="teaching__item">
                            <div class="teaching__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="96.399" y1="532.438" x2="390.904" y2="22.338"><stop offset="0" stop-color="#f87845"/><stop offset="1" stop-color="#f835d5"/></linearGradient><path d="M451 98.8L352.2 0H61v512h390V98.8zm-90-47.6L399.8 90H361V51.2zM421 482H91V30h240v90h90v362zM241 181h150v30H241v-30zm0 90h150v30H241v-30zm0 90h150v30H241v-30zm-75-186.2l-19.4-19.4-21.2 21.2 40.6 40.6 55.6-55.6-21.2-21.2-34.4 34.4zm0 90l-19.4-19.4-21.2 21.2 40.6 40.6 55.6-55.6-21.2-21.2-34.4 34.4zm0 90l-19.4-19.4-21.2 21.2 40.6 40.6 55.6-55.6-21.2-21.2-34.4 34.4z" fill="url(#a)"/></svg>
                            </div>
                            <div class="teaching__block">
                                <div class="teaching__modul">
                                    ТЕСТи-ПИТАННЯ
                                </div>
                                <div class="teaching__text">
                                    після кожного відеоуроку <br>
                                    для закріплення знань
                                </div>
                            </div>
                        </li>
                        <li class="teaching__item">
                            <div class="teaching__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="113.496" y1="502.824" x2="398.504" y2="9.176"><stop offset="0" stop-color="#f87845"/><stop offset="1" stop-color="#f835d5"/></linearGradient><path d="M437 377V74.3c0-41-33.3-74.3-74.3-74.3H52C23.3.3 0 23.7 0 52.5V135h75v33.3C32.5 175.4 0 212.5 0 257c0 26.6 11.6 50.5 30 67v126l45-30v17.7c0 40.9 33.3 74.3 74.3 74.3H460c28.7-.3 52-23.7 52-52.5V377h-75zM30 52.5C30 40.1 40.1 30 52.5 30S75 40.1 75 52.5V105H30V52.5zM90 197c33.1 0 60 26.9 60 60s-26.9 60-60 60-60-26.9-60-60 26.9-60 60-60zM60 341.9c18.9 6.7 40.1 7 60 0V394l-30-20-30 20v-52.1zm45 95.8V420l45 30V324c18.4-16.5 30-40.4 30-67 0-44.5-32.5-81.6-75-88.7V52.5c0-8-1.8-15.7-5.1-22.5h262.8c24.4 0 44.3 19.9 44.3 44.3v385.2c0 8 1.8 15.7 5.1 22.5H149.3c-24.4 0-44.3-19.9-44.3-44.3zm377 21.8c0 12.4-10.1 22.5-22.5 22.5S437 471.9 437 459.5V407h45v52.5zM225 90h135v30H225V90zm0 77h135v30H225v-30zm0 75h135v30H225v-30zm0 75h135v30H225v-30zm0 75h135v30H225v-30z" fill="url(#a)"/></svg>
                            </div>
                            <div class="teaching__block">
                                <div class="teaching__modul">
                                    СЕРТИФІКАТ
                                </div>
                                <div class="teaching__text">
                                    отримання після успішного <br>
                                    завершення курсу
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

    </div>

        <div id="gift" class="gift">
            <div class="gift__title">подарунок</div>
            <div class="gift__container">
                <div class="gift__content">
                    <div class="gift__item">
                        <div class="teaching__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="104.395" y1="542.177" x2="402.764" y2="25.385"><stop offset="0" stop-color="#f87845"/><stop offset="1" stop-color="#f835d5"/></linearGradient><path d="M495.5 108.9H433l17.4-17.4L358.8 0 256 102.8 153.2 0 61.7 91.5 79 108.9H16.5v158.8h35.6V512h407.7V267.7h35.6V108.9zm-87.6-17.4l-17.4 17.4h-98.2l66.4-66.4 49.2 49zm-303.8 0l49.1-49.1 66.4 66.4h-98.2l-17.3-17.3zm-57.6 47.4h144.8v98.8H46.5v-98.8zM82.1 482V267.7h109.1V482H82.1zm139.2 0V138.9h69.4V482h-69.4zm208.6 0H320.7V267.7h109.1l.1 214.3zm35.6-244.3H320.7v-98.8h144.8v98.8z" fill="url(#a)"/></svg>
                        </div>
                        <div class="teaching__block">
                            <div class="teaching__modul">
                                Відеокурс
                            </div>
                            <div class="teaching__text">
                                Excel для початківців на прикладі зарплати <br>
                                (складається з 6 уроків та відповідей на запитання)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="after" class="after">
            <div class="after__container">
                <div class="after__title">ПІСЛЯ ПРОХОДЖЕННЯ КУРСУ</div>
                <div class="after__content">
                    <div class="after__body">
                        <div class="after__caption">Ви зможете:</div>
                        <ul class="after__list">
                            <li class="after__item">Бути більш впевненими при прийнятті <br> бухгалтерських рішень</li>
                            <li class="after__item">Скористатись інструментами <br> бухгалтерського обліку для оптимізації</li>
                            <li class="after__item">Правильно обирати і змінювати облікову <br> політику та облікову оцінку</li>
                            <li class="after__item">Проаналізувати стан бухгалтерського <br> обліку вашого підприємства</li>
                        </ul>
                    </div>
                    <div class="after__footer">
                            <div class="after__text">Відповіді на ваші запитання допоможуть в практичному житті,<br> а сертифікат про здобутий рівень фахівця стане приємним
                                <br> закріпленням отриманих знань і навичок!</div>
                    </div>

                </div>
                <div class="after__description">Станьте сучасним фахівцем з online-школою для бухгалтера від 7eminar.com!</div>
                <div class="after__btn">
                    <a href="#order"><span>Хочу навчатися</span><i aria-hidden="true" class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="section--last">
      {#  <div id="video" class="video">
            <div class="video__container">
                <div class="video__title">людмила тимофеєва запрошує
                </div>
                <div class="video__content">
                    <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
        </div>#}
         <div id="order" class="order">
            <div class="order__container">
            <div id="timer-custom" class="order__timer">
                <p class="order__title"> {{ page.options['order']|default('') }}</p>
                <div class="pricing-timer" data-timer-2="{{ page.options['timer']|default('') }}">
                    <div class="pricing-timer__inner">
                        <div class="pricing-timer__box"><span class="days">00</span>дні</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="hours">00</span>год</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
                    </div>
                </div>
            </div>
            <div class="order__packages">
                <div class="order__package package">
                    <div class="package__title">ВИ ОТРИМАЄТЕ</div>
                    <div class="package__body">
                        <ul class="package__list">
                            <li class="package__item">18 відеоуроків</li>
                            <li class="package__item">Письмові відповіді на запитання <br></li>
                            <li class="package__item">Презентації лектора</li>
                            <li class="package__item">Тести-питання для <br> закріплення знань</li>
                            <li class="package__item">Сертифікат</li>
                        </ul>
                    </div>
                    <div class="package__footer">
                        <div class="package__gift-title">подарунок</div>
                        <ul class="package__list">
                            <li class="package__item">Відеокурс «Excel <br> для початківців <br> на прикладі зарплати»</li>

                        </ul>
                        <p class="package__price">{{shop_price('курс-26082020ПСБО_2499','site')}} <span>грн</span></p>
                        <p class="package__old-price"><s>{{shop_price('курс-26082020ПСБО_2499','line')}} грн</s></p>
                        <form method="post" action="?new=1" data-validate="ajax"  class="package__btn">
                            <input type="hidden" name="product" value="курс-26082020ПСБО_2499"/>
                            <button type="submit" rel="order" class="btn"><span>замовити</span><i aria-hidden="true" class="fa fa-chevron-right"></i></button>
                        </form>
                    </div>


                </div>
                <div class="order__package package package--platform">
                    <div class="package__title">БУХГАЛТЕРСЬКА <br>
                        ВІДЕОПЛАТФОРМА №1</div>
                    <div class="package__body">
                        <ul class="package__list">
                            <li class="package__item"> <span>Доступ до цього <br> відеопроєкту</span>, а також <br>ще до <span>{{ shop_price('онлайн-platform_price','courses') }}+</span> відеокурсів,
                                <br> вебінарів та трансляцій <br> на усі найважливіші <br> бухгалтерські теми <br> <span>за супервигідною ціною</span></li>
                        </ul>
                    </div>
                    <div class="package__footer">
                        <div class="package__gift-title">подарунок</div>
                        <ul class="package__list">
                            <li class="package__item">Відеокурс «Excel <br> для початківців <br> на прикладі зарплати»</li>

                        </ul>
                        <p class="package__price">{{ shop_price('онлайн-platform_price','month') }} <span>грн/міс.</span></p>
                        <p class="package__old-price"><s>{{shop_price('онлайн-platform_price','line')}} грн</s></p>
                        <div class="package__btn-platform">
                            <a class="js-platform-link" href="https://7eminar.ua/?utm_source=7eminar.com&utm_medium=refferal&utm_campaign=psbo2020_platform" target="_blank"><span>передплатити</span><i aria-hidden="true" class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        </div>
        <div id="free-video" class="free-video">
            <div class="free-video__container container">
                <div class="free-video__content">
                    <p class="free-video__subtitle">бухгалтерська відеоплатформа №1</p>
                    <p class="free-video__title">Всі корисні відеоматеріали в одному місці!</p>
                    <div class="free-video__block">
                        <div class="free-video__text">
                            <p>Хочете зекономити свої кошти та отримати доступ до {{ shop_price('онлайн-platform_price','courses') }}+ відеокурсів, вебінарів та трансляцій на усі найважливіші бухгалтерські теми?</p>
                            <p>Передплатіть Бухгалтерську Відеоплатформу №1.</p><a href="https://7eminar.ua/?utm_source=7eminar.com&utm_medium=refferal&utm_campaign=psbo2020_platform" target="_blank" class="js-platform-link">Детальніше про відеоплатформу</a>
                        </div>
                        <div class="free-video__video">
                            <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>{#<a  href="https://7eminar.ua/?utm_source=7eminar.com&utm_medium=refferal&utm_campaign=rro_2307_platform" target="_blank" class="free-video__btn js-platform-link">Передплатити зі знижкою<i aria-hidden="true" class="fa fa-chevron-right"></i></a>#}
                    <div class="free-video__btn">
                        <a class="js-platform-link" href="https://7eminar.ua/?utm_source=7eminar.com&utm_medium=refferal&utm_campaign=psbo2020_platform" target="_blank"><span>Передплатити</span><i aria-hidden="true" class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>


    </div>




    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
                <li><a href="https://www.otpbank.com.ua/smb/products-financing/" target="_blank" rel="nofollow"><img src="{{ link }}/logo_otp.svg"  width="170" alt="otpbank" /></a></li>
                <li><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></li>
                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></li>
            </ul>

        </div>
    </div>
    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
    <div id="modal-present" tabindex="-1" role="dialog" class="modal-present modal fade">
        <div role="document" class="modal-dialog">
            <div data-dismiss="modal" class="close-modal"></div>
            <div class="modal-content">
                <div class="modal-present__content"></div>
            </div>
        </div>
    </div>
    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>