{% set link = page.url('/images') %}
{% set link_platform = "/?utm_campaign=april-may2020_platform&utm_medium=refferal&utm_source=7eminar.ua" %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container container">

            <div class="hero__content">
                <div class="hero__item">
                    <div class="season">
                        ВІДЕОЗАПИС СЕЗОНУ
                        <span class="season__number">3</span>
                    </div>
                    <div class="hero__title">Великий <span class="visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">Бухгалтерський</span></div>
                    <div class="hero__sub-title"> <span class="visible-lg">Бухгалтерський</span>
                        <br>
                        ONLINE-марафон
                    </div>
                    <div class="hero__text visible-lg">

                        <ul class="hero__list">
                            <li>Найкращі експерти</li>
                            <li> Відповіді на запитання</li>
                            <li>  Все про правильні дії бухгалтера, кадровика,<br> керівника і ФОПа, аби підприємство і працівники
                                <br> «вижили» під час карантину</li>
                        </ul>



                    </div>

                </div>

                <p  class="arrow"><span></span><span></span><span></span></p>
                <div class="hero__item  form-wr ">
                    <div id="form" class="form">
                        <div class="form__title">Реєструйтеся зараз</div>
                        <div class="form__info">Отримаєте лист з подарунком
                            та відеозаписами проєктів на email</div>
                        <div class="form__body">
                            <form  class="free-demo" >
                                <div class="form-group">
                                    <input  name="name" type="text" placeholder="Ім’я" maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                                </div>

                                <div class="form-group">
                                    <input  name="email" type="email" placeholder="Email" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                                </div>

                                <div class="form-group">
                                    <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Моб. телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                                </div>
                                <input class="article"  type="hidden" value="онлайн-demo_april-may2020"/>
                                <input class="utm" name="options[utm]" type="hidden" value=""/>
                                <input class="dealer" name="dealer" type="hidden" value="4"/>
                                <div class="form__btn">
                                    <button type="submit" class="btn btn-default">надіслати </button>
                                </div>
                            </form>
                        </div>
                        <div class="gift">
                            <p>Подарунок за реєстрацію: <br> <span>брошура «Середня зарплата на прикладах»</span></p>
                        </div>
                    </div>
                </div>
                <div class="hero__text visible-md visible-sm visible-xs">
                    <p class="hero__description"> <span>Безкоштовно</span> у квітні – травні online-семінари, <br>
                        майстер-класи, конференції та вебінари</p>
                    <ul class="hero__list">
                        <li>Найкращі експерти</li>
                        <li> Відповіді на запитання</li>
                        <li>  Все про правильні дії бухгалтера, кадровика,<br> керівника і ФОПа, аби підприємство і працівники
                            <br> «вижили» під час карантину</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div id="themes" class="themes">
        <p class="themes__title" id="themes "> <span>ТЕМИ ТА ДАТИ</span>   відеоПроєктів</p>
        <div class="container themes__container">

            <div class="project">
                <div class="project__header project__header--platform">
                    <div class="project__details">
                        <p class="project__title">ВІДЕОЗАПИС ВЕБІНАРУ ВІД 28 КВІТНЯ</p>
                        <p class="project__info">безкоштовно для передплатників відеоплатформи*</p>
                        <p class="project__finished">Доступно для перегляду</p>
                    </div>
                    <div class="project__photo">
                        <picture><img src="{{ link }}/og.png" alt="vv" ></picture>
                    </div>
                </div>
                <div class="project__body">
                    <div class="theme">
                        <p class="theme__title ">Про що бухгалтери повинні повідомляти Держфінмоніторингу </p>
                        <p class="theme__title "> (вже з 28 квітня 2020 року)</p>
                        {#  <p class="theme__title theme__title--big">Запитання з вебінару від 21.04.20 р.</p>#}
                        {# <p class="theme__sub-title theme__sub-title--platform">Запитання з вебінару від 21.04.20 р.</p>#}
                        <ul class="theme__list theme__list--platform">
                            <li><span>застосування ризик-орієнтованого підходу;</span></li>
                            <li><span>збільшення порогової суми та зменшення кількості ознак для обов’язкового звітування про фіноперації;</span></li>
                            <li><span>розширення кола суб’єктів первинного фінмоніторингу (до яких віднесені тепер і бухгалтери, але не всі!);</span></li>
                            <li><span>штрафні санкції за порушення законодавства з фінмоніторингу зросли від 51 000 до 340 000 грн!</span></li>


                        </ul>
                        <p class="theme__lector theme__lector--platform">Лектор: <span>Ольга Гонзайк</span></p>
                        <p class="theme__lector-info">аудитор, податковий консультант, сертифікат IAB, автор статей в юридичних та бухгалтерських виданнях</p>
                    </div>

                </div>
                <div class="project__footer">
                    <div class="project__platform">
                        <p> *Вебінар безкоштовний для передплатників Бухгалтерської відеоплатформи №1</p>
                        <span> На платформі вже {{ shop_price('онлайн-platform_price','courses') }}+ актуальних курсів, вебінарів та ще 50+ нових відеопроєктів очікується у 2020-му </span>
                    </div>
                    <a href="{{ link_platform }}" target="_blank" class="project__btn project__btn--platform">Передплатити <br> за {{ shop_price('онлайн-platform_price','month') }} грн/міс.</a>
                </div>
            </div>

            <div class="project">
                <div class="project__header project__header--free">
                    <div class="project__details">
                        <p class="project__title">ВІДЕОЗАПИС ВЕБІНАРУ ВІД 29 КВІТНЯ</p>
                        <p class="project__info">безкоштовно для всіх</p>
                        <p class="project__finished">Доступно для перегляду</p>
                    </div>
                    <div class="project__photo">
                        <picture><img src="{{ link }}/vp.png" alt="ЛЕКТОР: Віталій Правдюк" ></picture>
                    </div>
                </div>

                <div class="project__body">
                    <div class="theme">
                        <p class="theme__title">Оренда в умовах карантину</p>
                        {#    <p class="theme__sub-title theme__sub-title--free">Про що дізнаєтеся:</p>#}
                        <ul class="theme__list theme__list--free">
                            <li><span>пандемія для орендодавця, пандемія для орендаря;</span></li>
                            <li><span>різновиди платежів за договором оренди;</span></li>
                            <li><span>форс-мажорні обставини: процедура та підстави підтвердження їх настання;</span></li>
                            <li><span>новий ЗУ «Про оренду державного та комунального майна» № 157-IX: застосування його норм у 2020 р.</span></li>


                        </ul>
                        <p class="theme__lector theme__lector--free">Лектор: <span>Віталій Правдюк</span></p>
                        <p class="theme__lector-info">адвокат, к. ю. н., експерт з юридичного супроводу нерухомості, будівництва та земельних питань</p>
                    </div>

                </div>

                <div class="project__footer">
                    <div class="project__free">
                        <div class="project__arrow">
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>
                        <p>Безкоштовно для всіх <br>
                            <span>треба лише зареєструватися зараз</span></p>
                        <div class="project__arrow">
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>
                    </div>
                    <a href="#form"  class="project__btn project__btn--free">зареєструватися</a>
                </div>
            </div>

            <div class="project">
                <div class="project__header project__header--platform">
                    <div class="project__details">
                        <p class="project__title">ВІДПОВІДІ НА ЗАПИТАННЯ ВІД 30 КВІТНЯ</p>
                        <p class="project__info">безкоштовно для передплатників відеоплатформи*</p>
                        <p class="project__finished">Доступно для перегляду</p>
                    </div>
                    <div class="project__photo">
                        <picture><img src="{{ link }}/og.png" alt="vv" ></picture>
                    </div>
                </div>
                <div class="project__body">
                    <div class="theme">
                        <p class="theme__title ">Відповіді на запитання з вебінару від 28.04.2020 </p>
                        <p class="theme__title ">«Про що бухгалтери повинні повідомляти Держфінмоніторингу <br> (вже з 28 квітня 2020 року)»</p>
                        <p class="theme__lector theme__lector--platform">Лектор: <span>Ольга Гонзайк</span></p>
                        <p class="theme__lector-info">аудитор, податковий консультант, сертифікат IAB, автор статей в юридичних та бухгалтерських виданнях</p>
                    </div>

                </div>
                <div class="project__footer">
                    <div class="project__platform">
                        <p> *Відповіді на запитання безкоштовні для передплатників Бухгалтерської відеоплатформи №1</p>
                        <span> На платформі вже {{ shop_price('онлайн-platform_price','courses') }}+ актуальних курсів, вебінарів та ще 50+ нових відеопроєктів очікується у 2020-му </span>
                    </div>
                    <a href="{{ link_platform }}" target="_blank" class="project__btn project__btn--platform">Передплатити <br> за {{ shop_price('онлайн-platform_price','month') }} грн/міс.</a>
                </div>
            </div>

            <div class="project">
                <div class="project__header project__header--platform">
                    <div class="project__details">
                        <p class="project__title">ВІДЕОЗАПИС семінару ВІД 5 травня</p>
                        <p class="project__info">безкоштовно для передплатників відеоплатформи*</p>
                        <p class="project__finished">Доступно для перегляду</p>
                    </div>
                    <div class="project__photo">
                        <picture><img src="{{ link }}/tm.png" alt="vv" ></picture>
                    </div>
                </div>
                <div class="project__body">
                    <div class="theme">
                        <p class="theme__title ">Великий Online-семінар із Заробітної Плати</p>
                        <ul class="theme__list theme__list--platform">
                            <li  ><span>зміни у нарахуванні зарплати працівникам під час карантину;</span></li>
                            <li  ><span>карантинні лікарняні та допомога по частковому безробіттю: хто має право та як оформити;</span></li>
                            <li  ><span>аліменти під час карантину та нові види шахрайства;</span></li>
                            <li  ><span>зарплатна звітність на прикладах заповнення.</span></li>


                        </ul>
                        <p class="theme__lector theme__lector--platform">Лектор: <span>Тетяна Мойсеєнко</span></p>
                        <p class="theme__lector-info">шеф-редактор 7eminar.com, експерт із трудового права та кадрового обліку</p>
                    </div>

                </div>
                <div class="project__footer">
                    <div class="project__platform">
                        <p> *Online-семінар безкоштовний для передплатників Бухгалтерської відеоплатформи №1</p>
                        <span> На платформі вже {{ shop_price('онлайн-platform_price','courses') }}+ актуальних курсів, вебінарів та ще 50+ нових відеопроєктів очікується у 2020-му </span>
                    </div>
                    <a href="{{ link_platform }}" target="_blank" class="project__btn project__btn--platform">Передплатити <br> за {{ shop_price('онлайн-platform_price','month') }} грн/міс.</a>
                </div>
            </div>


            <div class="project">
                <div class="project__header project__header--platform">
                    <div class="project__details">
                        <p class="project__title">ВІДЕОЗАПИС ВЕБІНАРУ ВІД 6 травня</p>
                        <p class="project__info">безкоштовно для передплатників відеоплатформи*</p>
                        <p class="project__finished">Доступно для перегляду</p>
                    </div>
                    <div class="project__photo">
                        <picture><img src="{{ link }}/mk.png" alt="vv" ></picture>
                    </div>
                </div>
                <div class="project__body">
                    <div class="theme">

                        <p class="theme__title ">Кредити у кризу: отримання і облік нових, збитки за старими</p>
                        {#  <p class="theme__title theme__title--big">Запитання з вебінару від 21.04.20 р.</p>#}
                        {# <p class="theme__sub-title theme__sub-title--platform">Запитання з вебінару від 21.04.20 р.</p>#}
                        <ul class="theme__list theme__list--platform">
                            <li><span>оподаткування отриманих кредитів ФОПами та юрособами на різних системах оподаткування;</span></li>
                            <li><span> бухоблік та проблематика дисконтування «дешевих» кредитів;</span></li>
                            <li><span>податкові наслідки прострочених та безнадійних кредитів.</span></li>


                        </ul>
                        <p class="theme__lector theme__lector--platform">Лектор: <span>Мар’яна Кавин</span></p>
                        <p class="theme__lector-info">незалежний податковий консультант і практикуючий бухгалтер</p>
                    </div>

                </div>
                <div class="project__footer">
                    <div class="project__platform">
                        <p> *Вебінар безкоштовний для передплатників Бухгалтерської відеоплатформи №1</p>
                        <span> На платформі вже {{ shop_price('онлайн-platform_price','courses') }}+ актуальних курсів, вебінарів та ще 50+ нових відеопроєктів очікується у 2020-му </span>
                    </div>
                    <a href="{{ link_platform }}" target="_blank" class="project__btn project__btn--platform">Передплатити <br> за {{ shop_price('онлайн-platform_price','month') }} грн/міс.</a>
                </div>
            </div>


            <div class="project">
                <div class="project__header project__header--free">
                    <div class="project__details">
                        <p class="project__title">ВІДЕОЗАПИС МАЙСТЕР-КЛАСУ <br> ВІД 8 травня</p>
                        <p class="project__info">безкоштовно для всіх</p>
                        <p class="project__finished">Доступно для перегляду</p>
                    </div>
                    <div class="project__photo">
                        <picture><img src="{{ link }}/OS_VN.png" alt="" ></picture>
                    </div>
                </div>

                <div class="project__body">
                    <div class="theme">
                        <p class="theme__title">Фінмоніторинг по-новому: перша практика і поради (і про 5000 грн на картку – теж)</p>
                        {# <p class="theme__sub-title theme__sub-title--free">Про що дізнаєтеся:</p>#}
                        <ul class="theme__list theme__list--free">
                            <li><span>готівково-безготівковий картковий безлад з 28.04.2020 р.: види банківських карток (ФОП, фізособи, корпоративні). Відмінності і вплив фінмоніторингу на рух коштів за цими картками. Перекази родичам і не родичам, поповнення картки готівкою та інші новації, про які треба знати;</span></li>
                            <li><span>нова база даних в банках про всіх осіб, які "не пройшли фінмоніторинг" (і ФОПи, і юрособи, і навіть прості фізичні особи): хто і як буде обмінюватися даними;</span></li>
                            <li><span>"підозрілі" суми на/з картки: дії банку, захист фізосіб і ФОПів. Про злощасні 5000 грн та практику, яка вже існує в Україні після набрання чинності Закону № 361;</span></li>
                            <li><span>як банки здійснюють блокування? Знати, щоби діяти вчасно. Як зникнути з "чорного списку"?</span></li>
                            <li><span>дії та юридичні поради провідних експертів щодо подальшої роботи з готівково-безготівковими картковими переказами.</span></li>


                        </ul>
                        <p class="theme__lector theme__lector--free">Лектори: </p>
                        <p class="theme__lector-info"> <b>Василь Невмержицький</b>, експерт з банківської та фінансової справи, член Української спілки фінансових аналітиків</p>
                        <p class="theme__lector-info"><b>Олександр Смирнов</b>, адвокат, податковий консультант</p>
                    </div>

                </div>

                <div class="project__footer">
                    <div class="project__free">
                        <div class="project__arrow">
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>
                        <p>Безкоштовно для всіх <br>
                            <span>треба лише зареєструватися зараз</span></p>
                        <div class="project__arrow">
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>
                    </div>
                    <a href="#form"  class="project__btn project__btn--free">зареєструватися</a>
                </div>
            </div>







            <div class="project">
                <div class="project__header project__header--platform">
                    <div class="project__details">
                        <p class="project__title">ВІДПОВІДІ НА ЗАПИТАННЯ ВІД 11 травня</p>
                        <p class="project__info">безкоштовно для передплатників відеоплатформи*</p>
                        <p class="project__finished">Доступно для перегляду</p>
                    </div>
                    <div class="project__photo">
                        <picture><img src="{{ link }}/mk.png" alt="vv" ></picture>
                    </div>
                </div>
                <div class="project__body">
                    <div class="theme">
                        <p class="theme__title ">Відповіді на запитання з вебінару «Кредити у кризу: отримання і облік нових, збитки за старими» від 6.05.2020</p>
                        <p class="theme__lector theme__lector--platform">Лектор: <span>Мар’яна Кавин</span></p>
                        <p class="theme__lector-info">незалежний податковий консультант і практикуючий бухгалтер</p>
                    </div>
                </div>
                <div class="project__footer">
                    <div class="project__platform">
                        <p> *Відповіді на запитання безкоштовні для передплатників Бухгалтерської відеоплатформи №1</p>
                        <span> На платформі вже {{ shop_price('онлайн-platform_price','courses') }}+ актуальних курсів, вебінарів та ще 50+ нових відеопроєктів очікується у 2020-му </span>
                    </div>
                    <a href="{{ link_platform }}" target="_blank" class="project__btn project__btn--platform">Передплатити <br> за {{ shop_price('онлайн-platform_price','month') }} грн/міс.</a>
                </div>
            </div>

            <div class="project">
                <div class="project__header project__header--platform">
                    <div class="project__details">
                        <p class="project__title">ВІДПОВІДІ НА ЗАПИТАННЯ ВІД 12 травня</p>
                        <p class="project__info">безкоштовно для передплатників відеоплатформи*</p>
                        <p class="project__finished">Доступно для перегляду</p>
                    </div>
                    <div class="project__photo">
                        <picture><img src="{{ link }}/OS_VN.png" alt="OS_VN" ></picture>
                    </div>
                </div>
                <div class="project__body">
                    <div class="theme">
                        <p class="theme__title ">Відповіді на запитання з вебінару «Фінмоніторинг по-новому: перша практика і поради (і про 5000 грн на картку – теж)» від 8.05.2020</p>
                        <p class="theme__lector theme__lector--platform">Лектори: </p>
                        <p class="theme__lector-info"> <b>Василь Невмержицький</b>, експерт з банківської та фінансової справи, член Української спілки фінансових аналітиків</p>
                        <p class="theme__lector-info"><b>Олександр Смирнов</b>, адвокат, податковий консультант</p>
                    </div>
                </div>
                <div class="project__footer">
                    <div class="project__platform">
                        <p> *Відповіді на запитання безкоштовні для передплатників Бухгалтерської відеоплатформи №1</p>
                        <span> На платформі вже {{ shop_price('онлайн-platform_price','courses') }}+ актуальних курсів, вебінарів та ще 50+ нових відеопроєктів очікується у 2020-му </span>
                    </div>
                    <a href="{{ link_platform }}" target="_blank" class="project__btn project__btn--platform">Передплатити <br> за {{ shop_price('онлайн-platform_price','month') }} грн/міс.</a>
                </div>
            </div>

            <div class="project">
                <div class="project__header project__header--free">
                    <div class="project__details">
                        <p class="project__title">ВІДЕОЗАПИС конференції <br> ВІД 13 травня</p>
                        <p class="project__info">безкоштовно для всіх</p>
                        <p class="project__finished">Доступно для перегляду</p>
                    </div>
                    <div class="project__photo">
                        <picture><img src="{{ link }}/online_may.png" alt="online_may" ></picture>
                    </div>
                </div>

                <div class="project__body">
                    <div class="theme">
                        <p class="theme__title">Бухгалтерське життя під час та після карантину: запізнілі документи, ПДВ та ПН, перевірки, зарплата та кадри</p>
                        <ul class="theme__list theme__list--free">
                            <li><span>на роботу після карантину: якими документами оформити;</span></li>
                            <li><span>чим підтвердити господарську операцію, якщо первинки ще немає;</span></li>
                            <li><span>перевірки, бенефіціари та фінмоніторинг: що нового?</span></li>
                            <li><span>у кого та які саме проблеми виникають при реєстрації ПН?</span></li>
                            <li><span> нараховуємо зарплату після завершення карантину: які особливості при її оподаткуванні та як показати у звітності?</span></li>


                        </ul>
                        <p class="theme__lector theme__lector--free">Лектори: <span>Тетяна Мойсеєнко, Олександр Смирнов, Тимур Алієв, Сергій Дробоття, Ірина Зубрицька</span></p>
                        <p class="theme__lector-info"></p>
                    </div>

                </div>

                <div class="project__footer">
                    <div class="project__free">
                        <div class="project__arrow">
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>
                        <p>Безкоштовно для всіх <br>
                            <span>треба лише зареєструватися зараз</span></p>
                        <div class="project__arrow">
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>
                    </div>
                    <a href="#form"  class="project__btn project__btn--free">зареєструватися</a>
                </div>
            </div>


        </div>
    </div>

    <div  class="info">
        <div class="container info__container">
            <p class="info__title" id="info "> <span>Дивитися</span><br>– не надивитися!</p>
            <p class="info__sub-title">Бухгалтерська відеоплатформа №1 – доступ до {{ shop_price('онлайн-platform_price','courses') }}+ актуальних відеокурсів та вебінарів
                <br> на всі-всі гарячі бухгалтерські теми.</p>
            <p class="info__description">  А зараз передплата на відеоплатформу зі знижкою 70%!</p>
            <div class="info__block get">
                <p class="get__title">Чому ця пропозиція крута та що ви отримаєте:</p>
                <ul class="get__list">
                    <li> Доступ до {{ shop_price('онлайн-platform_price','courses') }}+ актуальних відеокурсів, вебінарів та ще 50+ нових відеопроєктів вже у 2020-му;</li>
                    <li>  Роз'яснення та поради від найкращих профі фінансової галузі;</li>
                    <li> Можливість отримати відповіді від топових експертів саме на ваші запитання;</li>
                    <li> Ексклюзивні додаткові відеоматеріали.</li>
                </ul>
                <div class="get__info">
                    <p class="get__text">Обсяг величезний, але навіть за пів години-годину можна переглянути окремі уроки чи лекції. Концентрат користі та бухгалтерських знань виглядає саме так :)
                      </p>
                    <p class="get__text"><span> Не відкладайте на потім те, що можна отримати тут і зараз!</span></p>
                </div>
                <a href="/?utm_campaign=april-may2020_platform&utm_medium=refferal&utm_source=7eminar.ua" target="_blank" class="info__btn ">Передплатити <br> за {{ shop_price('онлайн-platform_price','month') }} грн/міс.</a>
            </div>
        </div>
    </div>

    <div class="video">
        <div class="video__container">
            <div id="question" class="video__block">
                <p class="info__title" id="info "> Сама Тетяна Мойсеєнко  <span>рекомендує!</span></p>

                <div class="video__player">
                    <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </div>
                <a href="/?utm_campaign=april-may2020_platform&utm_medium=refferal&utm_source=7eminar.ua" target="_blank" class="video__btn">Передплатити за {{ shop_price('онлайн-platform_price','month') }} грн/міс.</a>
            </div>
        </div>
    </div>

    <div class="loader-backdrop">
        <div class="loader-backdrop__btn">Реєстрація
            <div class="dots">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>

