include ../../common

-
    var packages = [
    {
    name: ' зал ',
    modifier: 'standart order__package--two',
    format: 'Стандарт',
    price: '820_0',
    priceOld: '1394',
    pricePlatform: '821_0',
    btnHidden: 'btn-hidden',
    list:
    //-'<li>місця з 9 ряду</li>' +
    '<li>семінар у залі</li>' +
    '<li>відеозапис семінару </li>' +
    '<li>відповіді на запитання</li>' +
    '<li>роздатковий матеріал</li>' +
    '<li>сертифікат учасника</li>' +
    '<li>майстер-клас</li>' +
    '<li class="">ранкова кава</li>' +
    '<li class="is-inactive  ">бізнес-ланч</li>' +
    '<li class="is-inactive ">шампанське та десерт</li>' +
    '<li class="is-inactive ">місця з 1 по 4 ряд на семінарі та майстер-класі</li>',
    present: ''+
    '<li  >другий квиток до залу (пакет "Стандарт") </li>'+
    '<li  >відеокурс  <a href="/kadrovy_oblik2019" target="_blank">«Кадровий облік і аудит» </a> </li>'



    },

    {
    name: " зал ",
    modifier: "gold",
    format: 'GOLD',
    price: '820_1',
    priceOld: '3593',
    //-pricePlatform: '821_1',
    //-btnHidden: 'btn-hidden',
    list:
    '<li>семінар у залі</li>' +
    '<li>відеозапис семінару </li>' +
    '<li>відповіді на запитання</li>' +
    '<li>роздатковий матеріал</li>' +
    '<li>сертифікат учасника</li>' +
    '<li>майстер-клас</li>' +
    '<li>ранкова кава</li>' +
    '<li>бізнес-ланч</li>' +
    '<li>шампанське та десерт</li>' +
    '<li>місця з 1 по 4 ряд на семінарі та майстер-класі</li>',
    present: ''+
    '<li  >другий квиток до залу (пакет "Голд") </li>'+
    '<li  >відеокурс  <a href="/shkola_kadrovyka" target="_blank">"Online-школа сучасного кадровика"</a> </li>'



    },
    {
    name: "Online ",
    modifier: "gold order__package--three",
    format: 'GOLD',
    price: '819_1',
    priceOld: '1993',
    list:
    '<li>online-трансляція</li>' +
    '<li>відеозапис семінару </li>' +
    '<li>відповіді на запитання</li>' +
    '<li>роздатковий матеріал</li>' +
    '<li>сертифікат учасника</li>'+
    '<li>майстер-клас</li>',
    present: ''+
    '<li class="is-inactive" >другий квиток до залу (пакет "Стандарт") </li>'+
    '<li  >відеокурс  <a href="/shkola_kadrovyka" target="_blank">"Online-школа сучасного кадровика"</a> </li>'



    },

    {
    name: 'Online ',
    modifier: 'standart order__package--four',
    format: 'Стандарт',
    price: '819_0',
    priceOld: '794',
    list:
    '<li>online-трансляція</li>' +
    '<li>відеозапис семінару </li>' +
    '<li>відповіді на запитання</li>' +
    '<li>роздатковий матеріал</li>' +
    '<li>сертифікат учасника</li>'+
    '<li>майстер-клас</li>',
    present:  ''+
    '<li class="is-inactive" >другий квиток до залу (пакет "Стандарт") </li>'+
    '<li class="is-inactive"  >відеокурс «Кадровий облік і аудит»</li>'



    }
    ];
#order.order
    p.order__title акційна ціна діє до

        =" "
        span#timer-title
        //-p.order__sub-title та тільки для учасників вебінару "Життя без трудових книжок"
    .order__container.container


            +pricingTimer(landing_timer)
        p.order__sub-text Другий квиток до залу у подарунок
        .order__packages
            each package in packages
                .order__package.package(class="order__package--#{package.modifier}")
                    p(class="package__header  ") !{package.name}
                    .package__body
                        .package__head
                            p.package__format !{package.format}
                            p(class="package__price  package__price--#{package.modifier}") {price_#{package.price}}
                                =" "
                                span грн
                            p.package__old-price
                                s !{package.priceOld} грн
                        .package__btn
                            form(method="post" action="?new=1" data-validate="ajax")
                                input(type="hidden", name="price",  value= package.price)
                                button.btn(type="submit") Замовити
                        ul.package__list
                            !{package.list}

                    .package__footer
                        p.package__presents
                            svg(width="20" height="23" xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
                                path(d='M272.7 280.34h183.12V512H272.7zM56.19 280.34h183.12V512H56.19zM398.76 94.43a63.52 63.52 0 0 0 7.77-30.52A63.98 63.98 0 0 0 342.63 0c-26.07 0-52.74 13.47-73.17 36.95A130.25 130.25 0 0 0 256 55.51c-3.9-6.5-8.4-12.75-13.46-18.56C222.11 13.47 195.44 0 169.38 0a63.98 63.98 0 0 0-63.91 63.91 63.51 63.51 0 0 0 7.77 30.52H26.2v152.52h213.1V94.43h33.4v152.52h213.1V94.43h-87.04zm-229.38 0a30.56 30.56 0 0 1-30.52-30.52 30.55 30.55 0 0 1 30.52-30.52c30.3 0 59.1 31 67.49 61.04h-67.5zm173.24 0h-67.48c8.38-30.05 37.19-61.04 67.48-61.04a30.56 30.56 0 0 1 30.52 30.52 30.56 30.56 0 0 1-30.52 30.52z')
                            | Подарунок:
                        ul.package__list.package__list--footer
                            !{package.present}
                            //-if !package.present
                                li
                                    | відеозапис вебінару
                                    br
                                    a(href="/06062019" target="_blank") «Паливний» акциз:
                                        br
                                        | нові правила з 1 липня»
                                li
                                    a(href="#modal-present" data-toggle="modal" data-target="#modal-present") шарф-кольє

                                li
                                    | пляшка ігристого вина
                        //- else
                             li(class="is-inactive")
                                 | відеозапис вебінару
                                 br
                                 a(class="is-inactive") «Паливний» акциз:
                                     br
                                     | нові правила з 1 липня»
                             li(class="is-inactive")
                                 a(class="is-inactive") шарф-кольє

                             li(class="is-inactive")
                                 | пляшка ігристого вина
                        if package.btnHidden
                            .package__btn--footer.js-btn-hidden.is-hidden
                                form(method="post" action="?new=1" data-validate="ajax")
                                    input(type="hidden", name="price",  value= package.price)
                                    button.btn(type="submit") Замовити
                        else
                            .package__btn--footer
                                form(method="post" action="?new=1" data-validate="ajax")
                                    input(type="hidden", name="price",  value= package.price)
                                    button.btn(type="submit") Замовити
                        if package.pricePlatform
                            .package__btn.package__btn--platform.js-btn-platform
                                form(method="post" action="?new=1" data-validate="ajax")
                                    input(type="hidden", name="price",  value= package.pricePlatform)
                                    button.btn.btn--platform(type="submit")
                                        | {price_#{package.pricePlatform}} грн
                                        br
                                        span при передплаті 7eminar.ua
                                a.package__btn-details(href="https://7eminar.ua/?utm_source=7eminar.com&utm_medium=referral&utm_campaign=20191029_platforma&utm_%C2%ADcontent=link_page_vkadr" target="_blank") Детальніше про передплату
        .order__banner.js-platform-banner
            //-include _platform-banner


