{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
  <div class="top-line">
    <div class="container">
      <div class="top-line__logo logo">
        <a href="#">
          <img src="{{ page.url('/images/logo.svg') }}" width="186" height="42"
               alt="Курси, вебінари, уроки та онлайн-трансляції для бухгалтерів за передплатою">
        </a>
      </div>
      <div id="burger-page" class="top-line__burger burger-page"><span></span></div>
      <div class="menu">
        <div class="menu__container">
          <ul class="menu__list">
            <li><a href="#tour">Фото</a></li>
            <li><a href="#places">Програма туру</a></li>
            <li><a href="#order">Придбати квитки</a></li>
          </ul>
          <ul class="menu__list">
            <li><a href="/">Iнші семінари</a></li>
          </ul>
          <a href="#order" class="menu__btn btn js-scroll-to">ПРИДБАТИ</a>
        </div>
      </div>
    </div>
  </div>
  <section class="hero">
    <div class="container">
      <div class="hero__main">
        <h1 class="hero__title">Чудовий тур</h1>
        <h2 class="hero__subtitle">до Червоного <br> моря</h2>
        <p class="hero__date">27 листопада —  4 грудня 2020 року</p>
        <p class="hero__description">зустрінемо зиму в Єгипті</p>
      </div>
      <p class="hero__btn">
        <a href="#order" class="btn js-scroll-to"> Дізнатися деталі</a>
      </p>
    </div>
  </section>

  <section id="tour" class="tour">
    <div class="container">
      <h3 class="page-titles"><span>Що на вас чекає </span></h3>
      <ul class="tour__list">
        <li>
          <picture>
            <source srcset="{{ link }}/tour_1.webp" type="image/webp"/>
            <img src="{{ link }}/tour_1-min.png" alt="Що на вас чекає"/>
          </picture>
          <span>П’ятизірковий готель <br> <b>«Nubian Island Hotel»</b> </span>
        </li>
        <li>
          <picture>
            <source srcset="{{ link }}/tour_2.webp" type="image/webp"/>
            <img src="{{ link }}/tour_2-min.png" alt="Що на вас чекає"/>
          </picture>
          <span>Неймовірні<br> <b> краєвиди курорту</b> </span>
        </li>
        <li>
          <picture>
            <source srcset="{{ link }}/tour_3.webp" type="image/webp"/>
            <img src="{{ link }}/tour_3-min.png" alt="Що на вас чекає"/>
          </picture>
          <span> <b>Живий кораловий риф</b> <br> південного Синаю</span>
        </li>
        <li>
          <picture>
            <source srcset="{{ link }}/tour_4.webp" type="image/webp"/>
            <img src="{{ link }}/tour_4-min.png" alt="Що на вас чекає"/>
          </picture>
          <span> Повних <b>8 днів релаксу</b>  <br> та відпочинку</span>
        </li>
      </ul>
      <p class="tour__btn">
        <a href="#info" class="btn js-scroll-to">Детальніше</a>
      </p>
    </div>
  </section>

  <section id="places" class="places">
    <div class="container">
      <h3 class="page-titles">Запрошуємо <br> до східної казки</h3>
      <ul class="places__list">
        <li>
          <picture>
            <source srcset="{{ link }}/place_1.webp" type="image/webp"/>
            <img src="{{ link }}/place_1-min.png" alt="Запрошуємо до східної казки"/>
          </picture>
          <div class="places__body">
            <b>Один з найкращих <br> готелів Шарм-ель-Шейху</b>
            <p>Курортний готель «Nubian Island Hotel» розташований на самому березі моря в бухті Набк-Бей, де ніколи не буває вітру.</p>
            <p>Розміщення в одноповерхових бунгало. До ваших послуг 3 ресторани, 5 барів та зона з аквапарком і басейнами, частина яких із підігрівом.</p>
          </div>
        </li>

        <li>
          <picture>
            <source srcset="{{ link }}/place_2.webp" type="image/webp"/>
            <img src="{{ link }}/place_2-min.png" alt="Запрошуємо до східної казки"/>
          </picture>
          <div class="places__body">
            <b>Неповторна природа сходу</b>
            <p>Зелена територія, величні кактуси, екзотичні квіти та Синайські гори – все це вражає своєю чарівною красою.</p>
            <p>Власний пляж із піщаним заходом у море та понтон для тих, хто любить пірнати. Мальовничий риф із різноманіттям морських мешканців.
              <br> А ще сюди запливають дельфіни!</p>
          </div>
        </li>

        <li>
          <picture>
            <source srcset="{{ link }}/place_3.webp" type="image/webp"/>
            <img src="{{ link }}/place_3-min.png" alt="Запрошуємо до східної казки"/>
          </picture>
          <div class="places__body">
            <b>Безлімітні пригощання <br> з італійським присмаком</b>
            <p>Харчування в готелі відбувається за системою «шведська лінія» в декількох ресторанах.</p>
            <p>Готель «Nubian Island Hotel» дуже полюбляють італійці, тому в меню безліч смачних середземноморських страв, а також піци та пасти. Багато фруктів, десертів, а для гурманів – риба та морепродукти.</p>
          </div>
        </li>

        <li>
          <picture>
            <source srcset="{{ link }}/place_4.webp" type="image/webp"/>
            <img src="{{ link }}/place_4-min.png" alt="Запрошуємо до східної казки"/>
          </picture>
          <div class="places__body">
            <b>Розваги, анімаційні <br> програми, екскурсії</b>
            <p>Гостей готелю на пляжі розважають молоді та веселі аніматори. Щовечора проходять цікаві програми, концерти та дискотеки.</p>
            <p>А найбільш непосидючим сміливцям запропонують морські прогулянки, екскурсії в пустелю та на піраміди.<br> Є можливість відвідати Ізраїль.</p>
          </div>
        </li>
      </ul>
      <p class="tour__btn">
      <a href="https://7eminar.com/files/presentation_egypt26112020.pdf" target="_blank" class="btn js-scroll-to"> Всі деталі подорожі</a>
      </p>
    </div>
  </section>
  <section id="info" class="info">
    <div class="container">
      <h3 class="page-titles"><span>У вартість туру <br> входить</span></h3>
      <ul class="info__list">
        <li>
          <picture>
            <img src="{{ link }}/icon_1-min.png" alt="У вартість туру  входить"/>
          </picture>
          <p><b> Авіапереліт:</b><br>Київ – Шарм-ель-Шейх – Київ</p>
        </li>
        <li>
          <picture>
            <img src="{{ link }}/icon_2-min.png" alt="У вартість туру  входить"/>
          </picture>
          <p><b> Трансфер:</b><br>аеропорт – готель – аеропорт</p>
        </li>
        <li>
          <picture>
            <img src="{{ link }}/icon_3-min.png" alt="У вартість туру  входить"/>
          </picture>
          <p><b> Проживання:</b><br>двомісне поселення в номерах <br> Superior (8 днів / 7 ночей)</p>
        </li>
        <li>
          <picture>
            <img src="{{ link }}/icon_4-min.png" alt="У вартість туру  входить"/>
          </picture>
          <p><b> Харчування:</b><br>за системою «все включено» <br> (all inclusive)</p>

        </li>
        <li>
          <picture>
            <img src="{{ link }}/icon_5-min.png" alt="У вартість туру  входить"/>
          </picture>
          <p><b> Безпека:</b><br>страховий поліс на час подорожі</p>

        </li>
        <li>
          <picture>
            <img src="{{ link }}/icon_6-min.png" alt="У вартість туру  входить"/>
          </picture>
          <p><b> Супровід:</b><br>гід і керівник групи <br>від 7eminar.com протягом <br> всього туру</p>
        </li>



      </ul>
    </div>
  </section>
  <div class="safety">
    <div class="container">
      <p class="safety__info">
        Безмежна турбота під час подорожі <br>
        від івент-директора компанії – <br>
        Марини Нікуліної.
        <br>
        <br>
       <span>Пізнавайте світ з 7eminar.com!</span>
      </p>
    </div>
  </div>
  <section id="order" class="order">
    <div class="container">
      <h3 class="page-titles"><span>{{ page.options['order__title-top']|default('Останні 2 квитки!') }}</span><br><span>{{ page.options['order__title']|default('Тількі до 30 вересня') }}</span></h3>
      <div class="order__packages">
        {% set packages = [
          {
            name: 'standart',
            title: 'Вартість туру за одного учасника',
            price: 'тур-26112020Єгипет_2',
            link: 'https://7eminar.ua/',
            newprice: 'https://7eminar.ua/checkout/t-Egypt2020/action',
          }
        ] %}
        {% for package in packages %}
          <article class="package package--{{ package.name }}">
            <div class="package__header package__header--{{ package.name }}">
              {{ package.title }}
            </div>
            <div class="package__body package__body--{{ package.name }}">
              <p class="package__price-regular"><s>{{ shop_price(package.price,'line') }}</s></p>
              <p class="package__price"><span>{{ shop_price(package.price,'site') }}</span> грн</p>
              <p class="package__present package__present--{{ package.name }}">Подарунок:</p>
              <p class="package__present-name package__present-name--{{ package.name }}">Доступ до
                <a href="{{ package.link }}" target="_blank">Бухгалтерської Відеоплатформи №1</a> протягом трьох
                місяців
              </p>
              <div class="package__btn ">
                <form method="post" action="?new=1" data-validate="ajax" class="hide-kbs dk-show">
                  <input type="hidden" name="product" value="{{ package.price }}"/>
                  <button type="submit" rel="order" class="btn btn--package ">Хочу в тур</button>
                </form>
                <a class="btn btn--package dk-hide" href="{{ package.newprice }}" target="_blank">Хочу в тур</a>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
      <div class="order__info">
        <span>Важлива інформація:</span>
        <ul>
          <li>Оплачувати виїзні заходи можна частинами. 100% оплати повинні надійти не пізніше ніж за 7 днів до початку
            туру.
          </li>
          <li>У разі відмови від туру: за 14 днів&nbsp;– утримується 60% оплати, менш ніж за 13 днів – утримується 100%
            оплати.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div id="loader-page" class="loader-page">
    <div class="dots">
      <div class="loading">
        <span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span
            class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
  </div>
</div>