{% set link_platform_order = "/?utm_campaign=conference2605_platform&utm_content=knopka_tabl_tsin&utm_medium=refferal&utm_source=7eminar.ua" %}
{% set link_platform_info = "/?utm_campaign=conference2605_platform&utm_content=link_shapka&utm_medium=refferal&utm_source=7eminar.ua" %}
{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
       {# <canvas>

        </canvas>#}

        <div class="reboot">

            <div class="reboot__big">

            <div class="reboot__small">

            </div>
            </div>

        </div>
        <div class="hero__container container">
            <div class="menu ">
                <div class="menu__container">
                    <ul class="menu__list">
                        <li><a href="#lectors">Лектори</a></li>
                        <li><a href="#theme">теми</a></li>
                        <li><a href="#gift">Подарунки</a></li>
                        <li><a href="#form">Зареєструватися</a></li>
                    </ul>

                </div>
            </div>
            <div class="hero__content">
                <div class="hero__item">
                    <div class="hero__info">
                        <div class="information">
                            <p class="information__title">26 <span class="month"> травня </span> <span class="gray">|</span> <span class="time">10:15–14:00</span></p>
                            <p class="information__date">Безкоштовна ONLINE-конференція</p>
                        </div>
                    </div>
                   {# <div class="hero__date">
                        <p>Відеозапис ONLINE-КОНФЕРЕНЦІЇ</p>
                    </div>#}
                    <div class="hero__sub-title">
                        Бухгалтерське <span>перезавантаження</span>
                    </div>
                    <div class="hero__sub-title--mob">
                        перезавантаження
                    </div>
                    <div class="hero__title">
                        зарплата, кадри, податки,
                    </div>
                    <div class="hero__title">

                        перевірки, ФОПи
                    </div>

                    <div class="gift">
                        <p>Подарунок за реєстрацію:  </p>
                        <span>Чек-лист «10 довідників-таблиць <br>
                            для нарахування зарплати»</span>

                    </div>
                    <p  class="arrow"><span></span><span></span><span></span></p>
                </div>
                <div  class="hero__item  form-wr">
                        <div class="form" id="form">
                            <div class="form__title">Реєстрація діє ще</div>
                            <div class="timer">
                                <div class="timer__box">
                                    <div class="timer__mins">00</div><span> хв</span>
                                </div><span class="timer__separate">:</span>
                                <div class="timer__box">
                                    <div class="timer__secs">00 </div><span> сек</span>
                                </div>
                            </div>
                            <div class="form__body">
                                <form  class="free-demo" >
                                    <div class="form-group">
                                        <input  name="name" type="text" placeholder="Ім’я" maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                                    </div>

                                    <div class="form-group">
                                        <input  name="email" type="email" placeholder="Email" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                                    </div>

                                    <div class="form-group">
                                        <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Моб. телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                                    </div>
                                    <input class="article"  type="hidden" value="онлайн-demo26052020"/>
                                    <input class="utm" name="options[utm]" type="hidden" value=""/>
                                    <input class="dealer" name="dealer" type="hidden" value="4"/>
                                    <div class="form__btn">
                                        <button type="submit" class="btn btn-default">зареєструватися </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                </div>
               {# <div class="lectors hidden-md hidden-sm hidden-lg">
                    <div class="lectors__name ">
                        <p>Ірина <br> <span>Зубрицька</span></p>
                        <p>Олександр<br> <span>Смирнов</span> </p>
                        <p>Тетяна <br> <span> Мойсеєнко</span></p>
                        <p>Тимур<br> <span>Алієв</span>  </p>
                        <p>Сергій <br> <span>Дробоття</span>  </p>
                    </div>
                </div>
                <div class="lectors hidden-xs">
                    <div class="lectors__name ">
                        <p>Ірина <br> <span>Зубрицька</span></p>
                        <p>Олександр<br> <span>Смирнов</span> </p>
                        <p>Тетяна <br> <span> Мойсеєнко</span></p>
                        <p>Тимур<br> <span>Алієв</span>  </p>
                        <p>Сергій <br> <span>Дробоття</span>  </p>

                    </div>
                </div>
                <p class="lectors__title">лектори</p>#}
            </div>
        </div>
    </div>

    <div class="lectors"  id="lectors">
        <div class="lectors__container container">
            <div class="lectors__item">
                <picture><img class="hidden-xs" src="{{ link }}/lectors__1200-min.png" alt="lectors_" ></picture>
                <picture><img class="visible-xs" src="{{ link }}/lectors_320.png" alt="lectors_" ></picture>
            </div>
            <div class="lectors__item">
                <div class="lectors__title">ЛЕКТОРИ:</div>
                <div class="lectors__text">
                    <p class="lectors__name"> Олександр&nbsp;Смирнов</p>
                    <p class="lectors__name"> Тетяна&nbsp;Мойсеєнко</p>

                    <p class="lectors__name"> ірина&nbsp;губіна</p>

                    <p class="lectors__name"> Галина&nbsp;Морозовська</p>
                    <p class="lectors__name"> Ольга&nbsp;Гонзайк</p>
                </div>
            </div>
        </div>
    </div>

    <div class="info"  id="info">
        <div class="info__container container">
            <div class="info__content">
                <div class="info__item">
                    <div class="info__title info__title--online">Online-трансляція <br> <span>безкоштовно <br> 26 травня,<br> 10:15</span></div>
                    <a class="info__link" href="#form">Реєстрація обов’язкова</a>
                </div>
                <div class="info__item">
                    <div class="info__title info__title--rec"> Важливо!<br> <span>безкоштовного <br> Відеозапису <br> не буде</span></div>
                    <a class="info__link" href="#order">Дивитися online</a>

                </div>
                <div class="info__item info__item--questions">
                    <div class="info__title info__title--questions">У чаті трансляції <br> <span>Відповіді на <br> ваші запитання</span></div>
                    <a class="info__link" href="#form">Зареєструватися</a>

                </div>
                <div class="info__item info__item--platform">
                    <div class="info__title info__title--platform"> <span class="text-platform">Бухгалтерська  <br> відеоплатформа №1 </span> <span class="text-platform-two">Доступ до <br>160+ курсів </span>
                        <br><span class="price-platform"> 99 грн</span> </div>
                    <a class="info__link" href="{{ link_platform_info }}" target="_blank">Детальніше</a>

                </div>
            </div>
            <div class="info__content">

            </div>
        </div>
    </div>

    <div id="theme" class="themes">
        <div class="container theme__container">
          {#  <p class="themes__title" id="themes ">теми майстер-класу</p>#}
            <div class="themes__item">
                <div class="themes__header"><p>регламент <br> online-конференції</p></div>
                <div class="themes__body">

                    <ul class="themes__list lector">
                        <li class="lector__item lector__item--os ">
                            <div class="lector__body">
                                <p class="themes__time">10:15–11:15</p>
                                <p class="lector__title">Форс-мажор: невже кінець? Як визначити термін дії форс-мажору в умовах поетапного виходу з карантину.</p>
                                <p class="lector__title">Податкові запити і перевірки: коли почнеться натиск?</p>
                                <p class="lector__info"> Олександр Смирнов, адвокат, податковий консультант</p>
                            </div>
                        </li>
                        <li class="lector__item lector__item--gm">
                            <div class="lector__body">
                                <p class="themes__time">11:15–12:00</p>
                                <p class="lector__title"> Зіпсований товар: післякарантинне списання. Податкові наслідки, документальне оформлення.
                                    </p>
                                <p class="lector__title"> Основні засоби знову працюють! Розконсервування, документальне оформлення, особливості обліку.</p>
                                <p class="lector__info">  Галина Морозовська, незалежний бухгалтер-експерт, автор публікацій за тематикою податку на прибуток, бухобліку, ЗЕД, ПДВ</p>
                            </div>
                        </li>
                        <li class="lector__item lector__item--og">
                            <div class="lector__body">
                                <p class="themes__time">12:00–12:40</p>
                                <p class="lector__title">ФОП-зміни: ЄСВ, єдиний податок.</p>
                                <p class="lector__info"> Ольга Гонзайк, аудитор, податковий консультант, сертифікат IAB, автор статей в юридичних та бухгалтерських виданнях</p>
                            </div>
                        </li>
                        <li class="lector__item lector__item--tm">
                            <div class="lector__body">
                                <p class="themes__time">12:40–13:30</p>
                                <p class="lector__title">Кадрові документи для оформлення покрокового виходу працівників із карантину на роботу. Кадровий аудит документів за час карантину: виправляємо помилкові документи.
                                <p class="lector__title">  Облік робочого часу після карантинного виходу працівників: первинні документи.</p>
                                <p class="lector__title">  Оплата праці робочого часу: погодинна, поденна – як нараховувати зарплату.</p> </p>
                                <p class="lector__info">  Тетяна Мойсеєнко, шеф-редактор 7eminar.com, експерт із трудового права та кадрового обліку</p>
                            </div>
                        </li>

                        <li class="lector__item lector__item--ig">
                            <div class="lector__body">
                                <p class="themes__time">13:30–14:00</p>
                                <p class="lector__title">ТОП-10 важливих новацій для бухгалтера.</p>
                                <p class="lector__info"> Ірина Губіна, головний редактор 7eminar.com, експерт з податкового та бухгалтерського обліку</p>
                            </div>
                        </li>
                    </ul>
                    <div class="themes__description">письмові Відповіді на запитання у чаті надаватимуть висококваліфіковані експерти 7eminar.com
                    </div>
                    <a href="#order" class="themes__btn">Хочу дивитися</a>
                </div>
            </div>

        </div>
    </div>



    <div id="gift" class="gift">
        <div class="container gift__container">
            <div class="gift__item">
                <div class="gift__header">
                    <p class="gift__title">Подарунки під час <br> online-конференції</p></div>
                <div class="gift__body">
                    <ul class="gift__list">
                        <li>
                            <div class="gift__block">
                                <div class="gift__text"><span>Відеокурс</span> <br>   «Облік витрат в 1С»</div>
                            </div>
                        </li>
                        <li>
                            <div class="gift__block">
                                <div class="gift__text"><span>Чек-лист</span> <br>«10 довідників-таблиць для нарахування зарплати»</div>
                            </div>
                        </li>
                        <li>
                            <div class="gift__block">
                                <div class="gift__text"><span>Авторська брошура від Тетяни Мойсеєнко</span> <br>«Лікарняні/декретні: нарахування допомоги у 2020 році»</div>
                            </div>
                        </li>
                        <li>
                            <div class="gift__block">
                                <div class="gift__text"><span>Авторська брошура від Тетяни Мойсеєнко</span> <br>«Кадровий аудит»</div>
                            </div>
                        </li>

                    </ul>
                </div>
                <a href="#order" class="gift__btn">Отримати подарунки</a>
            </div>

            <div class="gift__item">
                <div class="gift__header">
                    <p class="certificate__title">Сертифікат учасника <br> online-конференції</p></div>
                <div class="certificate__body">
                    <div class="certificate__img">
                        <picture><img src="{{ link }}/certificate_on_page.jpg" alt="certificate" ></picture>
                    </div>

                    <div class="certificate__block"><p>Відповіді на ваші запитання, отримані на online-конференції, допоможуть в практичному житті, а сертифікат про здобутий рівень фахівця стане приємним закріпленням отриманих знань і навичок!

                        </p></div>
                </div>
                <a href="#order" class="gift__btn">Стати учасником</a>
            </div>

        </div>
    </div>

    <div id="order" class="order">
        <div class="order__container container">
            <div class="order__title">{{ page.options['order_title']|default('оберіть тип перегляду') }}</div>
            <div class="order__packages">
                <div class="order__package package order__package--gold">
                    <div class="package__head">
                        <p class="package__header  ">ONLINE</p>
                    </div>
                    <div class="package__body">
                        <p class="package__format"></p>
                        <ul class="package__list"><li>Online-трансляція</li><li>Відповіді на запитання</li><li >Сертифікат учасника</li><li >Подарунки від лекторів</li><li class="is-inactive">Відеозапис</li></ul>
                        <p class="package__price  package__price--gold">Безкоштовно</p>
                    </div>
                    <div class="package__footer">
                        <div class="package__presents--wr"></div>
                        <div class="package__btn--footer js-btn-hidden is-hidden">
                                <a href="#reg-bottom"  class="btn">реєстрація</a>
                        </div>
                    </div>
                </div>
               {# <div class="order__package package order__package--standart ">
                    <div class="package__head">
                        <p class="package__header  "> online + запис</p>
                    </div>
                    <div class="package__body">
                        <p class="package__format"></p>
                        <ul class="package__list"><li>Online-трансляція</li><li>Відповіді на запитання</li><li >Сертифікат учасника</li><li >Подарунки від лекторів</li><li >Відеозапис</li></ul>
                        <p class="package__price  package__price--standart "><span>{{ shop_price('онлайн-demo27042020_199') }} грн</span></p>
                    </div>
                    <div class="package__footer">
                        <div class="package__presents--wr"></div>
                        <div class="package__btn--footer">
                                <a href="shop/invoice?article=онлайн-demo26052020_199" target="_blank" class="btn">ЗАМОВИТИ</a>
                        </div>
                    </div>
                </div>#}
                <div class="order__package package order__package--platform ">
                    <div class="package__head">
                        <p class="package__header  "> online + запис
                            {#<br>
                            відеоплатформа №1#}</p>
                    </div>
                    <div class="package__body">
                        <p class="package__format"></p>
                        <ul class="package__list">
                            <li>Online-трансляція</li>
                            <li>Відповіді на запитання</li>
                            <li >Сертифікат учасника</li>
                            <li >Подарунки від лекторів</li>
                            <li >Відеозапис</li>
                            <li >Доступ до 160+
                                відеокурсів, вебінарів
                                та трансляцій
                                7eminar.com</li>
                        </ul>
                            {#<ul class="package__list"><li > <b>Доступ до цього
                                    відеопроєкту</b>, а також
                                ще до <b>160+</b>  відеокурсів,
                                вебінарів та трансляцій
                                на усі найважливіші
                                бухгалтерські теми
                                <b> за супервигідною ціною</b></li></ul>#}
                        <p class="package__price  package__price--platform "><span>99 грн/міс.</span></p>
                    </div>
                    <div class="package__footer">
                        <div class="package__presents--wr"></div>
                        <div class="package__btn--footer">
                            <a href="{{ link_platform_order }}" target="_blank" class="btn">Передплатити</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-bottom">
        <div id="reg-bottom" class="container">
            <div class="form-wr">
                <div class="form ">
                    <div class="form__title">Реєстрація діє ще</div>
                    <div class="timer">
                        <div class="timer__box">
                            <div class="timer__mins">00</div><span> хв</span>
                        </div><span class="timer__separate">:</span>
                        <div class="timer__box">
                            <div class="timer__secs">00 </div><span> сек</span>
                        </div>
                    </div>
                    <div class="form__body">
                        <form  class="free-demo-bottom" >
                            <div class="form-group">
                                <input  name="name" type="text" placeholder="Ім’я" maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                            </div>

                            <div class="form-group">
                                <input  name="email" type="email" placeholder="Email" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                            </div>

                            <div class="form-group">
                                <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Моб. телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                            </div>
                            <input class="article"  type="hidden" value="онлайн-demo26052020"/>
                            <input class="utm" name="options[utm]" type="hidden" value=""/>
                            <input class="dealer" name="dealer" type="hidden" value="4"/>
                            <div class="form__btn">
                                <button type="submit" class="btn btn-default">надіслати </button>
                            </div>
                        </form>
                    </div>
                </div>
                {#<div class="gift">
                    <p>Подарунок за реєстрацію: <br> <span> чек-лист «1ДФ на прикладах»</span></p>
                </div>#}
            </div>
        </div>
    </div>
    {#<div class="video" id="video">
        <div class="video__content" id="bar-1">
            <div class="slider">
                <div class="slide">
                    <p class="video__title">БУХГАЛТЕРСЬКА ВІДЕОПЛАТФОРМА №1<br /><span>ВСЕ НАЙКРАЩЕ ТУТ!</span></p>
                    <div class="video__player"><a class="video__link" href="https://youtu.be/gPAtxwrL5IQ">
                            <picture><img class="video__media" src="https://i.ytimg.com/vi/gPAtxwrL5IQ/maxresdefault.jpg" alt="Тетяна Мойсеєнко" /></picture>
                        </a>
                        <button class="video__button" aria-label="play">
                            <svg>
                                <path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path>
                                <path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
                {#   <li><a href="https://7eminar.com/" target="_blank"><img src="/modules/seminars/images/logos/kbs.png" width="145" height="38" alt="Київська Бухгалтерська Служба" /></a></li>#}
                <li><a class="logonoclik" href="https://7eminar.com/" target="_blank"><img class="img_partners1" style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" /></a></li>
                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит" /></a></li>


            </ul>
           {# <ul class="partners__list">
                 <li><a href=" https://medoc.ua/?utm_source=7eminar&utm_medium=referral&utm_campaign=seminar" target="_blank" rel="nofollow"><img src="/storage/pages/241_14042020/images/logo-medoc@4x.png" height="110" alt="medoc" /></a></li>
                #}{#<li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком" /></a></li>
                <li><a class="logonoclik" href="https://kraft.net.ua" target="_blank"><img class="img_partners1" style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" /></a></li>#}{#
            </ul>#}
        </div>
    </div>
    <div class="social">
        <div class="container social__container">
            <p class="social__title">Приєднуйтесь до нас у соцмережах!</p>
            <ul class="social__list">
                <li><a href="https://www.youtube.com/channel/UCctwZMxIcNTDrcHx597kwbg?sub_confirmation=1&amp;feature=iv&amp;src_vid=hw1bDtxtZs8" target="_blank" class="yt"></a></li>
                <li><a href="https://www.facebook.com/7eminar/" target="_blank" class="fb"></a></li>
                <li><a href="https://www.instagram.com/7eminar/" target="_blank" class="in"></a></li>
            </ul>
        </div>
    </div>
    <div class="loader-backdrop">
        <div class="loader-backdrop__btn">Реєстрація
            <div class="dots">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>

